<form autocomplete="off" [formGroup]="roleForm" (ngSubmit)="createRole()">
	<h3 mat-dialog-title>Новая роль</h3>
	<mat-dialog-content class="new-role">
		<div class="new-role__form">
			<div class="new-role__input-container">
				<mat-form-field appearance="fill">
					<mat-label>Название</mat-label>
					<input matInput type="text" id="name" formControlName="name" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Описание</mat-label>
					<input matInput type="text" id="description" formControlName="description" />
				</mat-form-field>
				<div class="new-role__input">
					<p>
						Выберите права<sup
							class="primary"
							matTooltip="Выберите хотя бы одно право"
							matTooltipPosition="right"
							>*</sup
						>
					</p>
					<ng-container *ngIf="rights$ | async as rights; else spinner">
						<p *ngFor="let right of rights">
							<mat-checkbox [value]="$any(right?.rightId)" (change)="onCheckboxChange($event)">{{
								right?.name
							}}</mat-checkbox>
						</p>
					</ng-container>
					<ng-template #spinner>
						<mat-spinner></mat-spinner>
					</ng-template>
				</div>
			</div>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions align="center">
		<button mat-button mat-dialog-close type="button">Отмена</button>
		<button mat-flat-button color="primary" type="submit" [disabled]="roleForm.invalid">Создать роль</button>
	</mat-dialog-actions>
</form>
