<form autocomplete="off" [formGroup]="officeForm" (ngSubmit)="onSubmit()">
	<h3 mat-dialog-title class="text-align_center">
		{{ this.isEditMode ? 'Редактирование офиса' : 'Создание офиса' }}
	</h3>
	<mat-dialog-content>
		<div class="form__container">
			<mat-form-field appearance="fill">
				<mat-label>Город</mat-label>
				<input matInput type="text" [formControlName]="EditPath.CITY" required />
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Адрес</mat-label>
				<input matInput type="text" [formControlName]="EditPath.ADDRESS" required />
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Название офиса</mat-label>
				<input matInput type="text" [formControlName]="EditPath.NAME" />
			</mat-form-field>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions class="flex flex_jc_center">
		<button mat-button mat-dialog-close type="button">Отмена</button>
		<button
			mat-flat-button
			color="primary"
			[loading]="(loading$$ | async) ?? false"
			type="submit"
			[disabled]="officeForm.invalid"
		>
			{{ isEditMode ? 'Редактировать офис' : 'Добавить офис' }}
		</button>
	</mat-dialog-actions>
</form>
