.dialog-title,
.entity-name {
	margin-bottom: 16px;
}

.search,
.user-count {
	margin-bottom: 18px;
}

.toggle {
	margin-left: 22px;
}

.list {
	margin: 0 -10px;
	padding: 0 10px;

	overflow-y: auto;

	height: 45vh;

	.table {
		padding: 0 0 12px;
	}
}

.actions {
	margin-top: 40px;
}
