.dialog-title,
.entity-name {
	margin-bottom: 16px;
}

.search,
.user-count {
	margin-bottom: 18px;
}

.toggle {
	margin-left: 22px;
}

.list {
	height: 50vh;

	.table {
		padding: 0 0 12px;
	}
}

.actions {
	margin-top: 40px;
}
