@use 'base/variables';
$height: 32px;

.search {
	display: flex;

	height: $height;

	background-color: inherit;
	border-radius: 5px;

	&__button {
		margin: 0 4px;

		display: flex;
		justify-content: center;
		align-items: center;

		height: $height;

		background-color: inherit;
		border: none;
		border-radius: 5px;

		.mat-button-wrapper {
			line-height: $height;
		}
	}

	&__input {
		padding: 0 6px;

		min-height: $height;

		color: variables.$dark_4;
		background-color: inherit;
		border: none;
		border-radius: 5px;
		outline: none;
		flex-grow: 1;
	}

	&__input::placeholder {
		font-size: 14px;
		text-align: center;

		color: variables.$gray;
	}

	.mat-icon-button {
		line-height: $height;

		border: none;
	}
}
