<p class="desc__title">Доска учета времени</p>
<div class="desc__content">
  <div class="content__period">8–15 июня</div>
  <div class="content__week">
    <app-dayperiod></app-dayperiod>
    <app-dateperiod></app-dateperiod>
  </div>
  <div class="desc__button">
    <button class="button__form">
      <p class="button__text">Выбрать другую дату 	&#8250;</p>
      <!--      <img class="button__foto" src="image/vector.svg" alt="vector">-->
    </button>
  </div>
  <div class="desc__foto">
    <img src="image/girl.svg" alt="girl" class="desc__foto">
  </div>
  </div>
<!--<img src="image/girl.svg" alt="girl" class="desc__foto">-->

