<ng-container *ngIf="validation$ | async as validation">
	<div class="mat-body-2 validation">
		<mat-icon class="validation-icon" [ngClass]="validation.minLength ? 'success' : 'warn'" inline>{{
			validation.minLength ? 'done' : 'clear'
		}}</mat-icon>
		<span>&nbsp;не менее 8 символов</span>
	</div>
	<div class="mat-body-2 validation">
		<mat-icon class="validation-icon" [ngClass]="validation.maxLength ? 'success' : 'warn'" inline>{{
			validation.maxLength ? 'done' : 'clear'
		}}</mat-icon>
		<span>&nbsp;не более 14 символов</span>
	</div>
	<div class="mat-body-2 validation">
		<mat-icon class="validation-icon" [ngClass]="validation.upperCase ? 'success' : 'warn'" inline>{{
			validation.upperCase ? 'done' : 'clear'
		}}</mat-icon
		>&nbsp;заглавные буквы
	</div>
	<div class="mat-body-2 validation">
		<mat-icon class="validation-icon" [ngClass]="validation.lowerCase ? 'success' : 'warn'" inline>{{
			validation.lowerCase ? 'done' : 'clear'
		}}</mat-icon
		>&nbsp;строчные буквы
	</div>
	<div class="mat-body-2 validation">
		<mat-icon class="validation-icon" [ngClass]="validation.hasDigit ? 'success' : 'warn'" inline>{{
			validation.hasDigit ? 'done' : 'clear'
		}}</mat-icon
		>&nbsp;минимум 1 цифра
	</div>
	<div class="mat-body-2 validation">
		<mat-icon class="validation-icon" [ngClass]="validation.hasSpecialChar ? 'success' : 'warn'" inline>{{
			validation.hasSpecialChar ? 'done' : 'clear'
		}}</mat-icon
		>&nbsp;минимум 1 специальный символ
	</div>
	<div class="mat-body-2 validation">
		<mat-icon class="validation-icon" [ngClass]="!validation.hasSpace ? 'success' : 'warn'" inline>{{
			!validation.hasSpace ? 'done' : 'clear'
		}}</mat-icon
		>&nbsp;нельзя использовать пробел
	</div>
</ng-container>
