@use 'base/variables';
$height: 32px;

.modal {
	max-width: 600px;
}

.modal__header {
	display: flex;
	justify-content: space-between;
}

.search {
	margin-bottom: 20px;

	display: flex;
	justify-content: space-between;

	&__button {
		align-self: center;
	}

	&__name {
		width: 100%;
	}

	&__position {
		margin-left: 50px;
		align-self: flex-end;
	}
}

.user-row {
	padding: 20px 0;

	display: flex;
	align-items: center;

	&__image,
	&__general-info {
		margin-left: 20px;
	}

	&__department-info {
		margin-left: 45px;
	}
}
