<div class='modal'>

    <div class='modal__header'>
        <h3>Добавление сотрудника в департамент Цифровых решений</h3>
        <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
    </div>

    <div class="search">
        <button
            mat-icon-button
            class="search__button"
        >
            <img src="/assets/svg/magnifier.svg" alt="magnifier" />
        </button>

        <mat-form-field class="search__name" appearance="fill">
            <mat-label>Введите фамилию и имя сотрудника</mat-label>
            <input matInput placeholder="Романов Владислав" value="">
        </mat-form-field>

        <mat-form-field appearance="fill" class="search__position">
            <mat-label>Выберите должность</mat-label>
            <mat-select>
                <mat-option *ngFor="let position of positions" [value]="position">
                    {{position}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <h4>Добавлено 0 сотрудников</h4>
    <mat-dialog-content>
        <div class="user-row" *ngFor="let member of membersAll">
            <mat-checkbox
                [value]="$any(member?.id)"
            ></mat-checkbox>
            <do-profile-image class="user-row__image" [image]="member?.avatar"></do-profile-image>
            <div class="user-row__general-info">
                <div>{{ member.firstName }} {{ member.lastName }}</div>
                <div class="mat-body-1">{{ member.position }}</div>
            </div>
            <div class='user-row__department-info'>{{member.department}}</div>
        </div>
    </mat-dialog-content>


</div>




