<div class="modal">
	<div class="modal__header">
		<h3>Добавление сотрудника в {{ openFromRu }} {{ moduleName }}</h3>
		<button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
	</div>

	<div class="search">
		<mat-form-field class="search__name" appearance="fill">
			<mat-icon matPrefix class="search__button">search</mat-icon>
			<mat-label>Введите фамилию и имя сотрудника</mat-label>
			<input matInput type="search" placeholder="Романов Владислав" />
		</mat-form-field>

		<mat-form-field appearance="fill" class="search__position">
			<mat-label>Выберите должность</mat-label>
			<mat-select>
				<mat-option *ngFor="let position of positions" [value]="position">
					{{ position }}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<h4>Добавлено 0 сотрудников</h4>
	<mat-dialog-content
		class="scrolled-content"
		infiniteScroll
		[infiniteScrollDistance]="3"
		[infiniteScrollThrottle]="50"
		(scrolled)="getPageUsers()"
		[scrollWindow]="false"
	>
		<table mat-table *ngIf="usersFound; else spinner" [dataSource]="dataSource" class="table">
			<ng-container matColumnDef="select">
				<td mat-cell *matCellDef="let row">
					<mat-checkbox
						(click)="$event.stopPropagation()"
						(change)="$event ? selection.toggle(row) : null"
						[checked]="selection.isSelected(row)"
					>
					</mat-checkbox>
				</td>
			</ng-container>

			<ng-container matColumnDef="name">
				<td mat-cell *matCellDef="let element">
					<div class="main-info">
						<do-profile-image class="profile-photo" [image]="element?.avatar"></do-profile-image>
						<div>
							<div>{{ element.firstName }} {{ element.lastName }}</div>
							<div class="mat-body-1">{{ element?.position?.name }}</div>
						</div>
					</div>
				</td>
			</ng-container>

			<ng-container matColumnDef="department">
				<td mat-cell *matCellDef="let element">
					<ng-container *ngIf="element?.department?.name; else empty">
						{{ element?.department?.name }}
					</ng-container>
				</td>
			</ng-container>

			<tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
		</table>
		<ng-template #spinner>
			<mat-spinner></mat-spinner>
		</ng-template>
		<ng-template #empty>
			<div>—</div>
		</ng-template>
	</mat-dialog-content>
	<div mat-dialog-actions>
		<button mat-button (click)="onClose()">Отмена</button>
		<button mat-flat-button color="primary" (click)="addUsers()" [disabled]="selection.selected.length < 1">
			Сохранить
		</button>
	</div>
</div>
