.nav-link__login {
  position: absolute;
  top: 33px;
  left: 50px;

  display: flex;
  align-items: center;

  text-decoration: none;

  cursor: pointer;

  opacity: 0.23;

  svg {
    margin-right: 20px;

    width: 48px;
    height: 16px;
    fill: none;

    .arrow {
      stroke: #fff;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-opacity: 1;
      stroke-width: 2px;
    }
  }

  &:hover {
    opacity: 0.5;
  }
}

#btn-reset-password {
  width: 172px;
}
