<a class="nav-link__login regular_text" routerLink="/auth/login">
  <svg transform="rotate(180)" xmlns="http://www.w3.org/2000/svg">
    <path class="arrow" d="M1 8 L47 8 M40 15 L47 8 L40 1" />
  </svg>
  К странице входа
</a>
<form
  class="form"
  [formGroup]="forgotPasswordForm"
  (ngSubmit)="resetPassword()"
  autocomplete="off"
>
  <label class="form__title h1 text_white">trrak!</label>
  <!--  <div class="form__error">-->
  <!--    <small *ngIf="!isEmailInputValid()"> Email is not valid.</small>-->
  <!--  </div>-->
  <div class="form__description">
    <p class="regular_text">
      {{
        isCompleted
          ? 'Новый пароль был отправлен на почту ' +
            this.forgotPasswordForm.get('email').value +
            '. Можешь использовать его, но после входа в систему советуем его поменять! ;)'
          : 'Введи свой e-mail, и в течение 10 минут мы вышлем тебе временный пароль. Не забудь его сменить!'
      }}
    </p>
  </div>
  <input
    *ngIf="!isCompleted"
    class="form__input-field regular_text"
    name="email"
    type="email"
    placeholder="Корпоративный e-mail"
    formControlName="email"
  />
  <div *ngIf="!isCompleted" class="form__submit">
    <button
      class="regular_text"
      *ngIf="!isWaiting; else spinner"
      type="submit"
      [disabled]="forgotPasswordForm.invalid"
      id="btn-reset-password"
    >
      Сбросить пароль
    </button>
    <ng-template #spinner>
      <svg class="spinner" viewBox="0 0 50 50">
        <circle
          class="path"
          cx="25"
          cy="25"
          r="20"
          fill="none"
          stroke-width="5"
        ></circle>
      </svg>
    </ng-template>
  </div>
</form>
