<form class="form" [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()" autocomplete="off">
	<a class="form__link nav-link__login" [routerLink]="AuthRoutes.SignIn">
		<img class="nav-link__arrow-back" src="assets/svg/arrow-login.svg" alt="To login page" />
		К странице входа
	</a>
	<div class="mat-body-1 form__description forget-description">
		{{
			(isCompleted$$ | async)
				? 'Ссылка для сброса пароля была отправлена на почту ' + this.forgotPasswordForm.get('email')?.value
				: 'Введи свой логин или e-mail, и в течение 10 минут мы вышлем тебе на почту ссылку для смены пароля.'
		}}
	</div>
	<ng-container *ngIf="(isCompleted$$ | async) === false">
		<mat-form-field class="form__input-field" appearance="standard">
			<input matInput type="email" placeholder="Логин или e-mail" formControlName="email" autocomplete="off" />
		</mat-form-field>
		<button
			[loading]="(isWaiting$$ | async) ?? false"
			mat-flat-button
			color="primary"
			class="form__submit"
			type="submit"
			[disabled]="forgotPasswordForm.invalid"
		>
			Сменить пароль
		</button>
	</ng-container>
</form>
