.nav-link__login {
	position: absolute;
	top: 33px;
	left: 50px;

	display: flex;
	align-items: center;

	text-decoration: none;

	cursor: pointer;

	opacity: 0.6;

	&:hover {
		opacity: 1;
	}
}

.nav-link__arrow-back {
	margin-right: 20px;
}

#btn-reset-password {
	width: 172px;
}
