@import 'abstracts/placeholders';
@import 'layouts/forms';

.nav-link__login{
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    opacity: 0.23;
    cursor: pointer;
    svg{
      margin-right:20px;
      width: 48px;
      height: 16px;
      fill: none;
      .arrow{
        stroke-width: 2px;
        stroke-opacity: 1;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: white;
      }
    }
    &:hover{
      opacity: 0.5;
    }
}

#btn-reset-password{
  width: 172px;
}
