@use '../../../../stylesheets/base/variables';

.content-container {
	padding: 0 32px;

	overflow: auto;

	.wrapper {
		margin: 0 auto;
		padding: 48px 0;

		width: 100%;
		max-width: 1440px;
	}
}

.sidenav-container {
	height: 100%;

	.sidenav {
		width: 92px;

		box-shadow: 1px (variables.$header-height + 1) 2px variables.$light_4;

		&.wide {
			width: 240px;
		}
	}

	.header {
		z-index: 15;

		box-shadow: 0 1px 2px variables.$light_4;
	}

	.content {
		display: flex;
		overflow: hidden;
		flex-direction: column;
	}
}
