<a class="nav-link regular_text" routerLink="/admin/dashboard">
  <img src="assets/svg/vector-arrow-back.svg" alt="back">
  К доске проектов
</a>

<h1 doText color='dark_2'>Новый проект</h1>
<div class="content-container card">
  <form
    [formGroup]="projectForm"
    autocomplete="off"
    class="project-info__form regular_text"
  >
    <fieldset class="content-container__section">
      <h3 class="project-info__title" doText color='dark_2' underlined underlinedSize='sm'>Общая информация</h3>
      <div class="project-info__name">
        <label class="project-info__label" for="name">Название проекта</label>
        <mat-form-field>
          <input matInput type="text" id="name" formControlName="name" />
        </mat-form-field>
      </div>
      <div class="project-info__abbr-name">
        <label class="project-info__label" for="department">Департамент</label>
        <mat-form-field class="mat-form-field_default-select" appearance="none">
          <mat-select id="department" formControlName="department">
            <mat-option *ngFor="let department of departments" [value]="department">
              {{ department }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="project-info__name">
        <label class="project-info__label" for="customer">Заказчик</label>
        <mat-form-field>
          <input matInput type="text" id="customer" formControlName="customer" />
        </mat-form-field>
      </div>
      <div class='project-info__date'>
        <do-datepicker
            controlName="date"
            label="Дата запуска"
            format='full'
            [isEdit]='true'
        ></do-datepicker>
      </div>
      <div class="project-info__status">
        <label class="project-info__label" for="status">Статус</label>
        <mat-form-field class="mat-form-field_default-select" appearance="none">
          <mat-select id="status" formControlName="status">
            <mat-option *ngFor="let department of departments" [value]="department">
              {{ department }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="project-info__description">
        <label class="project-info__label" for="description">Описание</label>
        <mat-form-field appearance="none">
          <textarea
            matInput
            id="description"
            formControlName="description"
            placeholder="Краткое описание сути проекта на его публичной карточке"
          ></textarea>
        </mat-form-field>
      </div>
    </fieldset>
    <fieldset class="content-container__section">
      <h3 class="project-info__title" doText color='dark_2' underlined underlinedSize='sm'>Участие</h3>
      <div class="project-info__name">
        <label class="project-info__label" for="name">Название проекта</label>
        <mat-form-field>
          <input matInput type="text" id="name" formControlName="name" />
        </mat-form-field>
      </div>
    </fieldset>
    <fieldset class="content-container__section">
      <div class='project-info__header'>
        <div class='left'>
          <h3 class="project-info__title" doText color='dark_2' underlined underlinedSize='sm'>Команда</h3>
          <h3 class="project-info__title" doText color='accent_positive'>{{ team.length }} человек</h3>
        </div>
        <div class='right'>
          <button mat-flat-button color="primary" (click)="showTeam()">Посмотреть всю команду</button>
        </div>
      </div>
      <div class="project-info__content">
          <do-team-card
              *ngFor="let team of teams"
              [teamCard]="team"
          ></do-team-card>
      </div>
    </fieldset>
    <section class="team">
      <h3 class="project-info__title" doText color='dark_2' underlined underlinedSize='sm'>Команда</h3>
      <p class="team__members-count regular_text text_dark_1">
        {{ team.length }} участников
      </p>
    </section>



    <div class="content-container__button">
      <button
        mat-stroked-button
        color="primary"
        class="border-accent_color_bright"
        (click)="saveDraft()"
      >
        Сохранить черновик
      </button>
      <button mat-flat-button color="primary" (click)="createProject()">
        Создать проект
      </button>
    </div>
  </form>
</div>
