@import 'base/variables';
@import 'base/fonts';

.h1 {
  margin: 17px 0 20px;
}

.h1_dark_2,
.h3 {
  color: $dark_2;
}

.content-container {
  padding: 60px 128px;

  width: 928px;

  border-radius: 5px;

  textarea {
    height: 82px;
  }

  .team {
    position: relative;

    padding-top: 42px;
    padding-bottom: 20px;

    &__members-count {
      position: absolute;
      top: 99px;
      right: 0;
    }

    &__tabs {
      margin-top: 25px;
    }

    .team-list {
      margin-top: 10px;

      display: flex;
      justify-content: flex-start;
      align-items: center;

      &__members-list {
        margin-bottom: 0;

        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        list-style: none;
        flex-wrap: wrap;
      }

      &__new-member {
        margin-top: 13px;
        margin-right: 13px;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 48px;
        height: 48px;
        align-self: flex-start;
      }

      &__member {
        position: relative;

        margin-top: 12px;
        margin-right: 12px;
      }

      &__icon-dummy {
        width: 48px;
        height: 48px;

        background-color: $gray;
        border-radius: 50%;
      }

      &__icon-dummy_lead {
        &::before {
          @extend .h6;
          @extend .text_white;
          content: 'lead';

          position: absolute;
          top: -6px;
          right: -14px;

          padding: 0 3px;

          text-align: center;
          text-transform: uppercase;

          background-color: $blue_3;
          border-radius: 6px;
        }
      }
    }

    .team-cards {
      margin: 40px 4px 4px 4px;

      display: grid;
      column-gap: 32px;
      grid-auto-rows: min-content;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      row-gap: 20px;
    }
  }
}

.project-info {
  margin-bottom: 45px;

  &__title {
    margin-bottom: 30px;
  }

  &__form {
    display: grid;
    grid-column-gap: 1.48%;
    grid-row-gap: 12%;
    grid-template-areas:
      'name abbr-name'
      'department .'
      'desc desc';
    grid-template-columns: 64.28% 34.24%;
    grid-template-rows: repeat(3, 25%);
  }

  &__name {
    grid-area: name;
  }

  &__abbr-name {
    grid-area: abbr-name;
  }

  &__department {
    grid-area: department;
  }

  &__description {
    grid-area: desc;
  }

  &__label {
    font-size: 14px;

    color: $dark_1;
  }
}

::ng-deep.mat-tab-link,
::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
  padding: 0 40px !important;

  min-width: 0 !important;
}
