
<div class="chart">
  <div class="chart__doughnut">
    <canvas #canvas width="184" height="182">
    </canvas>
    <div class="chart__hours">
      <p>
        <span class="all__hours" >{{allHoursValue}}</span>
        <span class="ch__char"> ч</span><br>
        <span class="time__diff" [style.background-color]="backgroundColor">{{hoursDiffValue}}</span>
      </p>
    </div>
  </div>

  <div class="chart__tags">
    <p>Проекты</p>
    <div *ngFor="let project of projectsData; index as i">
      <span class="color__pointer" [style.background-color]="colorsData[i]"></span>
      {{ project.projectName }}
    </div>
  </div>
</div>
