.chart {
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  display: flex;
  justify-content: space-around;

  &__doughnut {
    max-width: 184px;
    max-height: 183px;
    position: relative;
    margin: 39px 37px;
    z-index: 1;
    .chart__hours {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-family: "Gill Sans";
      font-size: 16px;
      .all__hours {
        font-family: "Gotham Pro";
        font-size: 22px;
        font-weight: bold;
        line-height: 127%;
      }
      .hour__char {
        color: #BDBDBD;
      }
      .time__descr {
        display: block;
        text-align: center;
        border-radius: 4px;
      }
    }
  }
  &__tags{
    font-size: 16px;
    p{
      font-size: 22px;
      font-family: "Gotham Pro";
      font-weight: bold;
      margin: 45px 5px 0;
    }
    .color__pointer{
      display: inline-block;
      margin: 20px 5px -2px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }
}

canvas {
  border-radius: 1px;
  max-width: 184px;
  max-height: 183px;
}
