
@import 'base/fonts';
@import 'abstracts/variables';

.chart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  &__doughnut {
    max-width: 184px;
    max-height: 183px;
    position: relative;
    z-index: 1;
    .chart__hours {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 16px;
      .all__hours {
      }
      .hour__char {
        color: #BDBDBD;
      }
      .time__description {
        display: block;
        text-align: center;
        border-radius: 4px;
      }
    }
  }
  &__tags{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 183px;
    p {
      color: $dark_1;
    }
    div {
      color: $dark_2;
    }
    .color__pointer{
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }
}

canvas {
  border-radius: 1px;
  max-width: 184px;
  max-height: 183px;
}
