
<div class="do-card bg-white chart">
  <div class="chart__doughnut">
    <canvas #canvas width="184" height="183">
    </canvas>
    <div class="chart__hours">
      <p>

        <span class="all__hours h3"
              [style.color]="allHoursColor"
              *ngIf="spentTime"
              >{{ spentTime?.hours }}:{{ spentTime?.minutes | number: '2.0' }}</span>

        <span class="all__hours h3"
              [style.color]="allHoursColor"
              *ngIf="!spentTime"
        >{{ recommendedTime?.hours }}:{{ recommendedTime?.minutes | number: '2.0' }}</span>

        <span class="hour__char"> ч</span><br>


        <span class="time__description"
              [style.background-color]="timeDescriptionBackgroundColor"
              [style.font-size]="timeDescriptionFontSize"
              [style.color]="timeDescriptionColor"
        >- {{ timeDescriptionValue?.hours | number: '2.0' }}:{{ timeDescriptionValue?.minutes | number: '2.0' }}</span>

      </p>
    </div>
  </div>

  <div class="chart__tags">
    <p class="h3">Проекты</p>
    <div class="regular_text" *ngFor="let project of _projects; index as i">
      <span class="color__pointer"
            [style.background-color]="COLORS[i]"
      ></span>
      {{ project.name }}
    </div>
  </div>
</div>

