@import 'base/fonts';
@import 'abstracts/variables';

.chart {
  display: flex;

  &__doughnut {
    max-width: 184px;
    max-height: 183px;
    position: relative;
    margin: 39px 37px;
    z-index: 1;
    .chart__hours {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 16px;
      .all__hours {
      }
      .hour__char {
        color: #BDBDBD;
      }
      .time__description {
        display: block;
        text-align: center;
        border-radius: 4px;
      }
    }
  }
  &__tags{
    font-size: 16px;
    p {
      color: $dark_1;
      margin: 45px 5px 0;
    }
    div {
      color: $dark_2;
    }
    .color__pointer{
      display: inline-block;
      margin: 20px 5px -2px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }
}

canvas {
  border-radius: 1px;
  max-width: 184px;
  max-height: 183px;
}
