<!--выпадающий список с выбором проекта-->
<div class="select__project">
  <p>Проект</p>
  <select name="project" >
    <option class="arrow"></option>
    <option value="chamomile">Ромашка</option>
    <option value="Kojima">Kojima</option>
    <option value="Mercury">Меркурий</option>
    <option value="outside">Вне проекта</option>
  </select>
</div>

<!--выпадающий список с выбором депаратамента-->
<div class="select__department">
  <p>Департамент</p>
  <select name="department" >
    <option  value="#">Департамент Цифровых решений</option>
    <option value=""></option>
    <option value="#"></option>
    <option value="#"></option>
  </select>
</div>

<!--выпадающий список с выбором уровня-->
<div class="select__level">
  <select name="level" >
    <option value="level"> Уровень</option>
    <option value="#"> </option>
    <option value="#"></option>
    <option value="#"></option>
  </select>
</div>

<!--выпадающий список с выбором месяца-->
<div class="select__month">
  <select name="month"  >
    <option>Месяц</option>
    <option value="December">Декабрь</option>
    <option value="January">Январь</option>
    <option value="February">Февраль</option>
    <option value="March">Март</option>
    <option value="April">Апрель</option>
    <option value="May">Май</option>
    <option value="June">Июнь</option>
    <option value="July">Июль</option>
    <option value="August">Август</option>
    <option value="September">Сентябрь</option>
    <option value="October">Октябрь</option>
    <option value="November">Ноябрь</option>
  </select>
</div>


<!--//выпадающий список с выбором имя-->
<div class="select__name">
  <select name="name" >
    <option value="name"> Имя</option>
    <option value="#"> </option>
    <option value="#"></option>
    <option value="#"></option>
  </select>
</div>


<div class="select__project-on-work">
  <select name="project-on-work" >
    <option value="project-on-work">Проекты в работе</option>
    <option value="#"> </option>
    <option value="#"></option>
    <option value="#"></option>
  </select>
</div>

<!--//выпадающий список с выбором статуса проекта-->
<div class="select__projectStatus">
  <select name="projectStatus" >
    <option value="All">Все</option>
    <option value="On progress">В работе</option>
    <option value="Stop">Приостановлены</option>
    <option value="Done">Завершены</option>
  </select>
</div>

<!--//выпадающий список с выбором роли-->
<div class="select__role">
  <select name="role" >
    <option value="role">Роль</option>
    <option value="#"> </option>
    <option value="#"></option>
    <option value="#"></option>
  </select>
</div>

<!--//выпадающий список с выбором специализации-->
<div class="select__specialization">
  <select name="specialization" >
    <option value="specialization"> Специализация</option>
    <option value="#"> </option>
    <option value="#"></option>
    <option value="#"></option>
  </select>
</div>


<!--//выпадающий список с выбором статуса-->
<div class="select__status">
  <select name="status" >
    <option value="status">Статус</option>
    <option value="#"> </option>
    <option value="#"></option>
    <option value="#"></option>
  </select>
</div>


<!--//выпадающий список с выбором Тега-->
<div class="select__tag">
  <p>Тег</p>
  <select name="tag"  >
    <option class="arrow"></option>
    <option value="Dev">Dev</option>
    <option value="Documentaion">Документация</option>
    <option value="PLaning">Планирование</option>
    <option value="Meeting">Митинги</option>
    <option value="internship">Стажировка</option>
  </select>
</div>

<!--//выпадающий список c выбором недели-->
<div class="select__week">
  <select name="week"  >
    <option>Неделя</option>
    <option value="#"></option>
    <option value="#"></option>
    <option value="#"></option>
    <option value="#"></option>
    <option value="#"></option>
    <option value="#"></option>
    <option value="#"></option>
    <option value="#"></option>
    <option value="#"></option>
    <option value="#"></option>
    <option value="#"></option>
    <option value="#"></option>
  </select>
</div>

<!--//выпадающий список c выбором года-->
<div class="select__year">
  <select name="year"  >
    <option>Год</option>
    <option value="#"></option>
    <option value="#"></option>
    <option value="#"></option>
    <option value="#"></option>
    <option value="#"></option>
    <option value="#"></option>
    <option value="#"></option>
    <option value="#"></option>
    <option value="#"></option>
    <option value="#"></option>
    <option value="#"></option>
    <option value="#"></option>
  </select>
</div>

<!--//выпадающий список с ввыбором недели без бордера-->
<div class="select__week_disabled">
  <select name="week__disabled" >
    <option value="week">Неделя</option>
    <option value="#"> </option>
    <option value="#"></option>
    <option value="#"></option>
  </select>
</div>


<!--//выпадающий список с ввыбором роли без бордера-->
<div class="select__role-disabled">
  <select name="role__disabled" >
    <option value="role">Роль</option>
    <option value="#"> </option>
    <option value="#"></option>
    <option value="#"></option>
  </select>
</div>

