@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import 'base/variables';

.header {
  margin-bottom: 52px;

  display: flex;
  justify-content: space-between;

  box-sizing: border-box;

  &__search {
    display: flex;
    align-items: stretch;

    .mat-form-field-infix {
      width: 0;
    }

    .select {
      padding: 4px 0 4px 8px;

      width: 134px;

      background-color: $accent_color;
    }
  }

  &__privacy {
    display: flex;
    align-items: center;

    &__greeting {
      display: flex;
      align-items: center;

      img {
        width: 36px;
        height: 36px;

        border-radius: 50%;
      }

      p {
        padding: 0 15px 0 19px;

        color: $dark_2;

        span {
          color: $dark_2;
        }
      }
    }

    &__notification {
      margin-top: 5px;

      cursor: pointer;

      &__bell {
        width: 18px;
        height: 23px;
      }

      &__light {
        width: 8px;
        height: 8px;
      }
    }
  }
}
