.modal {
	&__title {
		margin-bottom: 11px;
	}

	&__error {
		margin: 10px 0;
	}

	&__period {
		margin-left: 16px;
	}

	&__hours {
		margin-right: 5px;
		padding: 0;

		width: 150px;
	}

	&__description {
		width: 100%;
	}

	&__description-field {
		height: 142px;
	}
}

.content {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
}

.controls {
	margin-top: 20px;
	display: flex;
	justify-content: space-around;

	button {
		width: 180px;
	}
}
