<div class="modal">
	<h3 class="modal__title">
		Редактирование часов за проект
		<span class="mat-h3">
			{{ project.name }}
		</span>
	</h3>
	<form [formGroup]="editForm" (ngSubmit)="onSubmitClick()">
		<div>
			<mat-form-field appearance="fill">
				<input matInput formControlName="userHours" type="text" placeholder="0" />
				<mat-error *ngIf="editForm.controls['userHours']?.errors?.min; else errIntNum">
					Минимальное значение должно быть больше 0
				</mat-error>
				<ng-template #errIntNum>
					<mat-error *ngIf="editForm.controls['userHours']?.errors?.intNum; else errMax">
						Значение может быть только целым числом
					</mat-error>
				</ng-template>
				<ng-template #errMax>
					<mat-error *ngIf="editForm.controls['userHours']?.errors?.max; else errRequired">
						Превышено максимальное значение
					</mat-error>
				</ng-template>
				<ng-template #errRequired>
					<mat-error *ngIf="editForm.controls['userHours']?.errors?.required">
						Поле не может быть пустым
					</mat-error>
				</ng-template>
			</mat-form-field>
			<span class="mat-h3">ч за {{ projectDate | date: 'LLLL YYYY' }}</span>
		</div>
		<div>
			<mat-form-field appearance="fill" class="modal__description">
				<mat-label>Комментарий</mat-label>
				<textarea matInput formControlName="description" class="modal__description-field"></textarea>
			</mat-form-field>
		</div>
		<div class="controls">
			<button mat-flat-button type="button" class="controls__button" (click)="onClose()">Отмена</button>
			<button
				mat-flat-button
				color="primary"
				type="submit"
				class="controls__button"
				[loading]="(loading | async) ?? false"
				[disabled]="editForm.invalid"
			>
				Сохранить
			</button>
		</div>
	</form>
</div>
