<h3 mat-dialog-title class="title">Редактирование {{ dialogData.type }}</h3>
<mat-form-field appearance="fill" class="field" floatLabel="always">
	<mat-label>{{ contactName }}</mat-label>
	<mat-icon matPrefix *ngIf="dialogData.type === 'Telegram' || dialogData.type === 'Twitter'"
		>alternate_email
	</mat-icon>
	<input
		matInput
		*ngIf="dialogData.type !== 'Phone'; else phoneInput"
		[formControl]="control"
		[placeholder]="'Введите ' + (contactName | lowercase)"
	/>
	<ng-template #phoneInput>
		<input
			matInput
			[formControl]="control"
			(paste)="onPhonePaste($event)"
			(input)="onPhoneInput($event)"
			(keydown.backspace)="OnPhoneKeyDown($event)"
			[placeholder]="'Введите ' + (contactName | lowercase)"
		/>
	</ng-template>
	<mat-error *ngIf="control.errors?.['required']">Поле обязательно.</mat-error>
	<mat-error *ngIf="control.errors?.['email']">Введите корректный email.</mat-error>
	<mat-error *ngIf="control.errors?.['telegram']"
		>Имя пользователя telegram может содержать символы a-z, 0-9 и нижнее подчёркивание. Имя не может начинаться с
		цифры, а также начинаться и заканчиваться нижним подчёркиванием.
	</mat-error>
	<mat-error *ngIf="control.errors?.['skype']"
		>Имя пользователя skype может содержать символы a-z, 0-9, а также запятую, тире, точку и нижнее подчёркивание.
	</mat-error>
	<mat-error *ngIf="control.errors?.['twitter']"
		>Имя пользователя twitter может содержать символы a-z, 0-9 и нижнее подчёркивание.
	</mat-error>
	<mat-error *ngIf="control.errors?.['phone']">Введите корректный номер телефона в международном формате.</mat-error>
	<mat-error *ngIf="control.errors?.['maxlength']"
		>Имя пользователя не может быть длиннее
		{{control.errors?.['maxlength'].requiredLength | i18nPlural: symbolsCountMap }}.
	</mat-error>
	<mat-error *ngIf="control.errors?.['minlength']"
		>Имя пользователя не может быть короче
		{{control.errors?.['minlength'].requiredLength | i18nPlural: symbolsCountMap }}.
	</mat-error>
</mat-form-field>
<div class="controls">
	<button mat-flat-button (click)="onClose()" class="controls__button">Отменить</button>
	<button
		mat-flat-button
		color="primary"
		(click)="onSubmit()"
		class="controls__button"
		[disabled]="control.invalid"
		[loading]="(loading | async) ?? false"
	>
		Сохранить
	</button>
</div>
