@import 'base/variables';

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  background: linear-gradient(180deg, $dark_3 0%, $dark_4 100%);

  .admin-router {
    z-index: 10;
  }

  .waves-container {
    position: absolute;
    bottom: -15px;

    display: inline-block;

    width: 100%;

    &.wave1,
    &.wave2 {
      position: absolute;

      bottom: 0;

      display: inline-block;

      background-repeat: no-repeat;

      background-size: cover;
    }

    &.wave1 {
      top: 494px;

      background-image: url('../../../../../assets/svg/wave1.svg');
    }

    &.wave2 {
      top: 390px;

      background-image: url('../../../../../assets/svg/wave2.svg');
    }
  }
}
