@import 'base/variables';

.content-container {
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100vh;

	background: linear-gradient(180deg, $dark_3 0%, $dark_4 100%);

	.admin-router {
		z-index: 10;
	}

	.waves {
		position: absolute;
		bottom: -30px;

		width: 200%;

		background-repeat: no-repeat;

		background-size: cover;

		&.wave1 {
			top: 494px;

			background-image: url('/assets/svg/wave1.svg');
		}

		&.wave2 {
			top: 390px;

			background-image: url('/assets/svg/wave2.svg');
		}

		&.wave3 {
			top: 490px;

			background-image: url('/assets/svg/wave3.svg');
		}
	}
}
