/*переменные цветов*/
:host {
  --icon-orange1: #FA7D57;
  --icon-grey1: #c4c4c4;
}


/*иконка цепь*/
.addIconsChain {

}

.addIconsChain__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.addIconsChain__container img {
  width: 25px;
  height: 25px;
}

/*иконка файл*/
.addIconsPaper {

}

.addIconsPaper__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.addIconsPaper__container img {
  width: 25px;
  height: 25px;
}

/*лента оранжевая*/
.projectInfoFeed {
  display:flex;

}

.projectInfoFeed__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.projectInfoFeed__container img {
  width: 20px;
  height: 20px;
}

.projectInfoFeed__container>p {

  font-family: Gill Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--icon-orange1);
  align-items: center;
  text-align: center;
}

/*лента серая*/
.projectInfoFeedOff {
  display:flex;

}

.projectInfoFeedOff__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.projectInfoFeedOff__container img {
  width: 20px;
  height: 20px;
}

.projectInfoFeedOff__container>p {

  font-family: Gill Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--icon-grey1);
  align-items: center;
  text-align: center;
}

/*моя статистика оранжевая*/
.projectInfoMyStat {
  display:flex;
  width: 138px;
}

.projectInfoMyStat__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.projectInfoMyStat__container img {
  width: 20px;
  height: 20px;
}

.projectInfoMyStat__container>p {

  font-family: Gill Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--icon-orange1);
  align-items: center;
  text-align: center;
}

/*моя статистика серая*/
.projectInfoMyStatOff {
  display:flex;
  width: 138px;
}

.projectInfoMyStatOff__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.projectInfoMyStatOff__container img {
  width: 20px;
  height: 20px;
}

.projectInfoMyStatOff__container>p {

  font-family: Gill Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--icon-grey1);
  align-items: center;
  text-align: center;
}

/*команда оранжевая*/
.projectInfoTeam {
  display:flex;

}

.projectInfoTeam__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.projectInfoTeam__container img {
  width: 20px;
  height: 20px;
}

.projectInfoTeam__container>p {

  font-family: Gill Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--icon-orange1);
  align-items: center;
  text-align: center;
}

/*команда серая*/
.projectInfoTeamOff {
  display:flex;

}

.projectInfoTeamOff__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.projectInfoTeamOff__container img {
  width: 20px;
  height: 20px;
}

.projectInfoTeamOff__container>p {

  font-family: Gill Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--icon-grey1);
  align-items: center;
  text-align: center;
}

/*самолетик оранжевый*/
.respondIconsAirplane {

}

.respondIconsAirplane__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.respondIconsAirplane__container img {
  width: 20px;
  height: 20px;
}

/*иконка камера*/
.respondIconsCam {

}

.respondIconsCam__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.respondIconsCam__container img {
  width: 20px;
  height: 20px;
}

/*иконка смайл*/
.respondIconsSmiley {

}

.respondIconsSmiley__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.respondIconsSmiley__container img {
  width: 20px;
  height: 20px;
}

