<!--иконка цепь-->
<div class="addIconsChain">
  <div class="addIconsChain__container"><img src="https://img.icons8.com/ios-glyphs/50/c4c4c4/link.png"/></div>
</div>

<!--иконка файл-->
<div class="addIconsPaper">
  <div class="addIconsPaper__container"><img src="https://img.icons8.com/small/50/c4c4c4/file.png"/></div>
</div>

<!--лента оранжевая-->
<div class="projectInfoFeed">
  <div class="projectInfoFeed__container">
    <img src="https://img.icons8.com/material/50/FA7D57/megaphone--v1.png"/>
    <p>&nbsp;Лента</p>
  </div>
</div>

<!--лента серая-->
<div class="projectInfoFeedOff">
  <div class="projectInfoFeedOff__container">
    <img src="https://img.icons8.com/material/50/c4c4c4/megaphone--v1.png"/>
    <p>&nbsp;Лента</p>
  </div>
</div>

<!--моя статистика оранжевая-->
<div class="projectInfoMyStat">
  <div class="projectInfoMyStat__container">
    <img src="https://img.icons8.com/material-outlined/50/FA7D57/graph.png"/>
    <p>Моя статистика</p>
  </div>
</div>

<!--моя статистика серая-->
<div class="projectInfoMyStatOff">
  <div class="projectInfoMyStatOff__container">
    <img src="https://img.icons8.com/material-outlined/50/c4c4c4/graph.png"/>
    <p>Моя статистика</p>
  </div>
</div>

<!--команда оранжевая-->
<div class="projectInfoTeam">
  <div class="projectInfoTeam__container">
    <img src="https://img.icons8.com/material-rounded/50/FA7D57/conference-call.png"/>
    <p>&nbsp;Команда</p>
  </div>
</div>

<!--команда серая-->
<div class="projectInfoTeamOff">
  <div class="projectInfoTeamOff__container">
    <img src="https://img.icons8.com/material-rounded/50/c4c4c4/conference-call.png"/>
    <p>&nbsp;Команда</p>
  </div>
</div>

<!--иконка самолетик оранжевый-->
<div class="respondIconsAirplane">
  <div class="respondIconsAirplane__container"><img src="https://img.icons8.com/material-outlined/50/fa7d57/sent.png"/></div>
</div>

<!--иконка камера-->
<div class="respondIconsCam">
  <div class="respondIconsCam__container"><img src="https://img.icons8.com/ios/50/c4c4c4/compact-camera.png"/>
  </div>
</div>

<!--иконка смайл-->
<div class="respondIconsSmiley">
  <div class="respondIconsSmiley__container"><img src="https://img.icons8.com/ios-glyphs/50/c4c4c4/happy.png"/></div>
</div>
