/*переменные цветов*/
$icon-orange: hsl(14°, 94%, 66%);
$icon-grey: hsl(0°, 0%, 77%);


/*иконка цепь*/
.addIconsChain {

}

.addIconsChain__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 24px;
  height: 24px;
}

/*иконка файл*/
.addIconsPaper {

}

.addIconsPaper__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 19px;
  height: 24px;
}

/*лента оранжевая*/
.projectInfoFeed {
  display:flex;
  max-width: 81px;
  height: 17px;
}

.projectInfoFeed__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: $icon-orange;
    align-items: center;
    text-align: center;
  }
}


/*лента серая*/
.projectInfoFeedOff {
  display:flex;
  max-width: 81px;
  height: 17px;
}

.projectInfoFeedOff__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: $icon-grey;
    align-items: center;
    text-align: center;
  }
}


/*моя статистика оранжевая*/
.projectInfoMyStat {
  max-width: 141px;
  height: 17px;
}

.projectInfoMyStat__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: $icon-orange;
    align-items: center;
    text-align: center;
  }
}


/*моя статистика серая*/
.projectInfoMyStatOff {
  max-width: 141px;
  height: 17px;
}

.projectInfoMyStatOff__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: $icon-grey;
    align-items: center;
    text-align: center;
  }
}


/*команда оранжевая*/
.projectInfoTeam {
  display:flex;
  max-width: 111px;
  height: 18px;
}

.projectInfoTeam__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: $icon-orange;
    align-items: center;
    text-align: center;
  }
}


/*команда серая*/
.projectInfoTeamOff {
  display:flex;
  max-width: 111px;
  height: 18px;
}

.projectInfoTeamOff__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: $icon-grey;
    align-items: center;
    text-align: center;
  }
}


/*самолетик оранжевый*/
.respondIconsAirplane {
  max-width: 22px;
  height: 20px;
}

.respondIconsAirplane__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 25px;
  height: 25px;
}

/*иконка камера*/
.respondIconsCam {
  max-width: 25px;
  height: 20px;
}

.respondIconsCam__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 25px;
  height: 25px;
}

/*иконка смайл*/
.respondIconsSmiley {
  max-width: 21px;
  height: 20px;
}

.respondIconsSmiley__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 25px;
  height: 25px;
}

