<h4>Таблица проектов</h4>
<table class="table">
	<colgroup>
		<col class="column column_width_m" />
		<col class="column column_width_sm" />
		<col class="column column_width_sm" />
		<col class="column column_width_l" />
		<col class="column column_width_t" />
	</colgroup>
	<thead>
		<tr class="row">
			<th class="cell">
				<p>Название проекта</p>
			</th>
			<th class="cell">
				<p>Внесенные часы</p>
			</th>
			<th class="cell">
				<p>Дата внесения</p>
			</th>
			<th class="cell">
				<p>Комментарий</p>
			</th>
			<th class="cell">
				<p></p>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let project of projects" class="row">
			<td class="cell">
				<p>{{ project?.project?.name ?? 'Другое' }}</p>
			</td>
			<td class="cell">
				<ng-container *ngIf="project?.managerHours === null; else managerHours">
					<span>{{ project?.userHours ?? 0 }}</span>
				</ng-container>
				<ng-template #managerHours>
					<div class="flex flex_ai_center">
						<span>{{ project?.managerHours }}&nbsp;&nbsp;</span>
						<span class="mat-caption">
							Изменено
							<mat-icon
								class="vertical-align_middle"
								inline
								[mdePopoverTriggerFor]="popover"
								mdePopoverPositionY="above"
								[mdePopoverOffsetX]="-13"
								>info_outline
							</mat-icon>
						</span>
					</div>
					<mde-popover #popover="mdePopover" [mdePopoverOverlapTrigger]="false">
						<span class="mat-small">Автор изменения</span>
						<!--TODO replace with real name when backend will send this data-->
						<p>Имя Менеджера</p>
						<span class="mat-small">Дата изменения</span>
						<p>{{ project?.modifiedAtUtc | date: 'dd/MM/YYYY' }}</p>
						<span class="mat-small">Часы сотрудника</span>
						<p>{{ project?.userHours ?? 0 }}</p>
					</mde-popover>
				</ng-template>
			</td>
			<td class="cell">
				<p *ngIf="project?.modifiedAtUtc; else empty">{{ project?.modifiedAtUtc | date: 'd MMMM' }}</p>
			</td>
			<td class="cell">
				<do-comment *ngIf="project?.description; else empty" [text]="project?.description"></do-comment>
			</td>
			<td class="cell cell__icon">
				<button *ngIf="canEdit" mat-icon-button (click)="openEditModal(project)">
					<mat-icon>edit</mat-icon>
				</button>
			</td>
		</tr>
	</tbody>
</table>
<ng-template #empty>
	<span>—</span>
</ng-template>
