@import 'base/variables';
$height: 32px;

.search {
  display: flex;

  height: $height;

  background-color: $light_2;
  border-radius: 5px;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: $height;

    background-color: $light_2;
    border: none;
    border-radius: 5px;

    .mat-button-wrapper {
      line-height: $height;
    }
  }

  &__input {
    min-height: $height;

    background-color: $light_2;
    border: none;
    border-radius: 5px;
    outline: none;
    flex-grow: 1;
  }

  .mat-icon-button {
    line-height: $height;

    border: none;
  }
}
