@use '../../../../../stylesheets/base/variables' as variables;

.editor {
	display: flex;
	flex-direction: column;
	align-self: stretch;
}

.title-input {
	resize: none;

	overflow-y: hidden;

	text-align: center;

	border: none;

	&:focus {
		outline: none;
	}

	&::placeholder {
		overflow: hidden;

		white-space: nowrap;
		text-overflow: ellipsis;

		color: variables.$disabled;
	}

	&:placeholder-shown {
		text-overflow: ellipsis;
	}
}
