<div class="communications">
	<div class="header">
		<h4 class="header__title">Контакты</h4>
		<button type="button" mat-icon-button (click)="onAddClick()" class="mat-body-1">
			<mat-icon [svgIcon]="Icons.Add"></mat-icon>
		</button>
	</div>
	<div class="communications__contacts">
		<div
			*ngFor="let communication of communications"
			class="communications__contact"
			(click)="onCommunicationClick(communication)"
		>
			<div class="communications__info">
				<p class="mat-body-1 paragraph">{{ communication.type }}</p>
				<p class="paragraph">{{ communication.value }}</p>
			</div>
			<div class="communications__controls">
				<button type="button" mat-icon-button (click)="onEditClick(communication, $event)">
					<mat-icon [svgIcon]="Icons.Edit"></mat-icon>
				</button>
				<button
					*ngIf="!(communication.type === 'Email' && emailContactCount < 2)"
					type="button"
					mat-icon-button
					class="mat-body-1"
					(click)="onDeleteClick(communication, $event)"
				>
					<mat-icon [svgIcon]="Icons.Delete"></mat-icon>
				</button>
			</div>
		</div>
	</div>
</div>
