@use '~@angular/material' as mat;
@use 'base/palettes' as *;

.communications {
	height: 100%;

	background-color: mat.get-color-from-palette($do-grey, 50);

	&__contacts {
		overflow-y: auto;

		height: 100%;
	}

	&__contact {
		padding-left: 60px;

		display: flex;
		justify-content: space-between;
		align-items: center;

		width: 100%;
		height: 68px;

		cursor: pointer;

		&:hover {
			background-color: mat.get-color-from-palette($do-grey, 100);

			.communications__controls {
				display: inline-block;

				visibility: visible;
			}
		}
	}

	&__info {
		margin-right: 20px;
	}

	&__controls {
		display: inline-block;

		visibility: hidden;

		min-width: 80px;
	}
}

.header {
	padding: 0 46px 0 60px;

	display: flex;

	justify-content: space-between;
	align-items: center;

	&__title {
		margin-bottom: 0;
	}
}

.paragraph {
	margin: 0;

	overflow: hidden;

	white-space: nowrap;
	text-overflow: ellipsis;
}
