<form [formGroup]="passwordForm" (ngSubmit)="onChangePasswordSubmit()">
	<h4 doUnderline underlinedSize="sm">Смена пароля</h4>
	<mat-dialog-content>
		<div class="password_form__container">
			<mat-form-field appearance="fill">
				<mat-label>Старый пароль</mat-label>
				<input matInput type="password" formControlName="old_password" required />
				<mat-error *ngIf="passwordForm.get('old_password')?.errors?.required">
					Поле не должно быть пустым
				</mat-error>
			</mat-form-field>
			<mat-form-field
				appearance="fill"
				[matTooltipClass]="'password-custom-tooltip'"
				matTooltipPosition="right"
				matTooltip="
Длина пароля должна быть не менее 8 и не более 14 символов.
Пароль должен состоять из букв латинского алфавита, цифр и
не менее одного из следующих специальных символов:
. , : ; ? ! * + % - < > @ [ ] / \ _  $ # &#123; &#125;
Буквенная часть пароля должна содержать как строчные,
так и прописные буквы. Запрещено использование пробела"
			>
				<mat-label>Новый пароль</mat-label>
				<input matInput type="password" formControlName="new_password" required />
				<mat-error *ngIf="passwordForm.get('new_password')?.errors?.required">
					Поле не должно быть пустым
				</mat-error>
				<mat-error *ngIf="passwordForm.get('new_password')?.errors?.password"> Недопустимый пароль </mat-error>
			</mat-form-field>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions class="flex flex_jc_center">
		<button mat-button mat-dialog-close type="button">Отмена</button>
		<button mat-flat-button color="primary" type="submit" [disabled]="passwordForm.invalid">Изменить пароль</button>
	</mat-dialog-actions>
</form>
