.vertical-align {
	&_middle {
		vertical-align: middle;
	}
}

.text-align {
	&_center {
		text-align: center;
	}

	&_left {
		text-align: left;
	}

	&_right {
		text-align: right;
	}
}

.break-word {
	word-wrap: break-word;
}

.position-relative {
	position: relative;
}
