<h2 doUnderline mat-dialog-title>Добавить сотрудника в команду</h2>
<h5 *ngIf="data?.entityName as name">{{ name }}</h5>
<do-form-field class="search">
	<mat-form-field>
		<input
			matInput
			type="text"
			placeholder="Введите ФИО сотрудника"
			[formControl]="searchControl"
			data-test="search-user-input"
		/>
		<mat-icon class="text-secondary_default" matSuffix [svgIcon]="Icons.Search"></mat-icon>
	</mat-form-field>
</do-form-field>
<div class="flex user-count">
	<h5 class="text-accent_controls_default">Выделено {{ table.selection.selected.length }} сотрудников</h5>
	<mat-slide-toggle class="toggle" color="primary" [formControl]="toggleControl"
		>Посмотреть выбранных</mat-slide-toggle
	>
</div>
<mat-dialog-content>
	<div class="list">
		<do-table class="table" [dataSource]="dataSource" [tableOptions]="tableData"></do-table>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="center">
	<button doButton (click)="close()">Отменить</button>
	<button mat-flat-button color="primary" [loading]="loading$ | async" (click)="addUsers()">
		Добавить в команду
	</button>
</mat-dialog-actions>
