.header {
	margin-bottom: 24px;

	display: flex;
	align-items: baseline;

	.page-title {
		margin: 0 8px 0 0;
		flex-shrink: 0;
	}

	.project-name {
		margin-right: 8px;

		overflow: hidden;

		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.actions {
		margin-left: auto;
		flex-shrink: 0;
	}
}

.content {
	display: grid;
	gap: 12px;
	grid-template-columns: 0.8fr 1fr;
	grid-template-rows: auto auto 180px auto;
}

.description {
	align-self: start;
	grid-area: 1 / 2 / last / 3;
}

.card-heading {
	margin-bottom: 8px;
}

do-project-description {
	margin-bottom: 16px;
}
