<div class="modal">
	<h3>
		Редактирование часов
		<span class="mat-h3 primary">за {{ leaveTime.leaveType | leaveLabel: false | lowercase }}</span>
	</h3>
	<do-add-leave-time-base [hideLeaveTypeSelect]="true">
		<div actions class="controls">
			<button doButton type="button" (click)="close()" data-test="close-dialog-btn">Отменить</button>
			<button
				mat-flat-button
				color="primary"
				type="submit"
				[loading]="baseComponent.loadingState.loading$ | async"
				(click)="handleSubmit()"
				data-test="edit-leave-save-btn"
			>
				Сохранить
			</button>
		</div>
	</do-add-leave-time-base>
</div>
