<div class="modal">
	<h3>
		Редактирование часов
		<span class="mat-h3 primary">за {{ leave.leaveType | leaveLabel: false | lowercase }}</span>
	</h3>
	<form class="content" [formGroup]="editForm" (ngSubmit)="onSubmitClick()">
		<div class="flex flex-ai-end">
			<do-form-row class="modal__range-picker" label="Выберите диапазон отсутствия">
				<mat-form-field>
					<mat-date-range-input [rangePicker]="$any(picker)" [dateFilter]="disableWeekends">
						<input
							matStartDate
							placeholder="Начало"
							[formControlName]="LeaveTimePath.START_TIME"
							readonly
						/>
						<input matEndDate placeholder="Конец" [formControlName]="LeaveTimePath.END_TIME" readonly />
					</mat-date-range-input>
					<mat-datepicker-toggle matSuffix [for]="picker">
						<mat-icon matDatepickerToggleIcon>date_range</mat-icon>
					</mat-datepicker-toggle>
					<mat-date-range-picker #picker (closed)="dateSelected()"></mat-date-range-picker>
					<mat-error *ngIf="editForm.controls['/EndTime'].errors?.required"
						>Заполните конечную дату
					</mat-error>
				</mat-form-field>
			</do-form-row>
			<div class="modal__hours">
				<p class="mat-body-1">Выбрано</p>
				<h3 class="modal__selected-hours">
					{{ periodInHours }}&nbsp;<span class="mat-h3 text-secondary_default">ч</span>
				</h3>
			</div>
		</div>
		<do-form-row label="Комментарий">
			<mat-form-field>
				<textarea
					#comment
					cdkTextareaAutosize
					cdkAutosizeMinRows="3"
					cdkAutosizeMaxRows="3"
					matInput
					formControlName="comment"
					maxlength="500"
					placeholder="Оставьте комментарий для менеджера"
				></textarea>
				<mat-hint>{{ comment.value.length }}/500</mat-hint>
			</mat-form-field>
		</do-form-row>
		<div class="controls">
			<button mat-button class="controls__button" type="button" (click)="onClose()">Отмена</button>
			<button
				mat-flat-button
				color="primary"
				class="controls__button"
				type="submit"
				[loading]="(loading$$ | async) ?? false"
				[disabled]="editForm.invalid || !formHasChanged"
			>
				Сохранить
			</button>
		</div>
	</form>
</div>
