<div class="project__container">
  <div class="content-wrapper">
    <div class="h4 project__name">
      {{project.name}}
    </div>

    <div class="regular_text project__customer">
      {{project.consumer.name}}
    </div>

    <div class="regular_text project__comment">
      {{project.description}}
    </div>

    <div class="project__details">
      <div class="contribution">
        <p class="regular_text">
          Мой вклад<br>
          <span class="h4 hours">{{project.contributors[0].totalTime.hours | number: '3.0'}}
            :{{project.contributors[0].totalTime.minutes | number: '2.0'}} ч</span> <!--i need to get ID-->
        </p>
      </div>

      <div class="team">
        <div class="participant" *ngFor="let contributor of project.contributors | slice:0:5; let i = index"
             [style.background-image]="'url(' + contributor.user.photo + ')'">
          <div class="regular_text gray__circle" *ngIf="i == 4">
            +{{amountHiddenPhoto}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

