<div class="dashboard" xmlns="http://www.w3.org/1999/html">
  <div class="dashboard__logo">
    <a class="h3_light" routerLink="/user/attendance">Digital office</a>
  </div>
  <div class="dashboard__theme-switch">
    <input type="checkbox" class="switch-checkbox" />
    <div class="switch__container">
      <div class="round">
        <img src="../../../../assets/svg/switch.svg" alt="" />
      </div>
    </div>
  </div>
  <h4 class="regular_text">Дашборд</h4>
  <nav class="dashboard__links small_text">
    <a routerLink="/user/attendance">Учет заполнения</a>
    <a routerLink="/user/projects-table">Доска проектов</a>
  </nav>
</div>
