{
  "openapi": "3.0.0",
  "info": {
    "version": "1.2.5",
    "title": "AuthService",
    "description": "AuthService is an API intended to work with user authentication, create token for user."
  },
  "servers": [
    {
      "url": "https://auth.ltdo.xyz"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "login",
        "description": "User authentication.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully user authentication, returned a user id and token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.\n* Format error in the user email or password.\n"
          },
          "403": {
            "description": "Forbidden.\n* Wrong user credentials.\n"
          },
          "404": {
            "description": "Not Found.\n* User was not found.\n"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthenticationRequest": {
        "type": "object",
        "required": [
          "LoginData",
          "Password"
        ],
        "properties": {
          "LoginData": {
            "description": "User email or login.",
            "type": "string",
            "example": "ivan_ivanov123@mail.ru or ivan123"
          },
          "Password": {
            "description": "User password.",
            "type": "string"
          }
        }
      },
      "AuthenticationResponse": {
        "type": "object",
        "properties": {
          "UserId": {
            "description": "User global unique identifier.",
            "type": "string",
            "format": "uuid"
          },
          "Token": {
            "description": "User JWT.",
            "type": "string"
          }
        }
      }
    }
  }
}
