{
  "openapi": "3.0.0",
  "info": {
    "version": "1.6.4.0",
    "title": "CompanyService",
    "description": "CompanyService is an API that intended to work with positions and departments."
  },
  "servers": [
    {
      "url": "https://company.ltdo.xyz",
      "description": "Production server"
    },
    {
      "url": "https://company.dev.ltdo.xyz",
      "description": "Development server"
    }
  ],
  "paths": {
    "/company/create": {
      "post": {
        "tags": [
          "Company"
        ],
        "operationId": "createCompany",
        "description": "Adds a new company.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCompanyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Guid of the created company will be in response Body property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/company/get": {
      "get": {
        "parameters": [
          {
            "name": "includedepartments",
            "in": "query",
            "description": "Include departments info in answer.",
            "schema": {
              "type": "boolean"
            },
            "required": false
          },
          {
            "name": "includepositions",
            "in": "query",
            "description": "Include positions info in answer.",
            "schema": {
              "type": "boolean"
            },
            "required": false
          },
          {
            "name": "includeoffices",
            "in": "query",
            "description": "Include offices info in answer.",
            "schema": {
              "type": "boolean"
            },
            "required": false
          },
          {
            "name": "includesmtpcredentials",
            "in": "query",
            "description": "Include smtp credentials in answer.",
            "schema": {
              "type": "boolean"
            },
            "required": false
          }
        ],
        "tags": [
          "Company"
        ],
        "operationId": "getCompany",
        "responses": {
          "200": {
            "description": "Successfully returned a company.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponseCompanyInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/company/edit": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        }
      ],
      "patch": {
        "tags": [
          "Company"
        ],
        "operationId": "editCompany",
        "description": "update Company properties.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditCompanyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AddImageRequest": {
        "type": "object",
        "required": [
          "Content",
          "Extension"
        ],
        "properties": {
          "Content": {
            "description": "Image file content in base64 encoded string.",
            "type": "string"
          },
          "Extension": {
            "description": "Extension of the image.",
            "type": "string",
            "example": ".jpg"
          }
        }
      },
      "CreateCompanyRequest": {
        "type": "object",
        "required": [
          "PortalName",
          "CompanyName",
          "SiteUrl",
          "SmtpInfo",
          "AdminInfo"
        ],
        "properties": {
          "PortalName": {
            "type": "string"
          },
          "CompanyName": {
            "type": "string"
          },
          "SiteUrl": {
            "type": "string"
          },
          "SmtpInfo": {
            "$ref": "#/components/schemas/SmtpInfo"
          },
          "AdminInfo": {
            "$ref": "#/components/schemas/AdminInfo"
          },
          "IsDepartmentModuleEnabled": {
            "type": "boolean"
          },
          "WorkDaysApiUrl": {
            "type": "string"
          },
          "Logo": {
            "$ref": "#/components/schemas/AddImageRequest"
          }
        }
      },
      "CompanyInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "PortalName": {
            "type": "string"
          },
          "CompanyName": {
            "type": "string"
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "Tagline": {
            "type": "string",
            "nullable": true
          },
          "SiteUrl": {
            "type": "string"
          },
          "IsDepartmentModuleEnabled": {
            "type": "boolean"
          },
          "LogoContent": {
            "type": "string",
            "nullable": true
          },
          "LogoExtension": {
            "type": "string",
            "nullable": true
          },
          "SmtpInfo": {
            "$ref": "#/components/schemas/SmtpInfo"
          },
          "Departments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DepartmentInfo"
            },
            "nullable": true
          },
          "Positions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PositionInfo"
            },
            "nullable": true
          },
          "Offices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OfficeInfo"
            },
            "nullable": true
          }
        }
      },
      "OfficeInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "City": {
            "type": "string"
          },
          "Address": {
            "type": "string"
          },
          "Longitude": {
            "type": "number"
          },
          "Latitude": {
            "type": "number"
          }
        }
      },
      "ImageInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "ParentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "Type": {
            "type": "string"
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Content": {
            "type": "string",
            "format": "byte"
          },
          "Extension": {
            "type": "string"
          }
        }
      },
      "SmtpInfo": {
        "type": "object",
        "required": [
          "Host",
          "Port",
          "EnableSsl",
          "Email",
          "Password"
        ],
        "properties": {
          "Host": {
            "type": "string"
          },
          "Port": {
            "type": "integer"
          },
          "EnableSsl": {
            "type": "boolean"
          },
          "Email": {
            "type": "string"
          },
          "Password": {
            "type": "string"
          }
        }
      },
      "AdminInfo": {
        "type": "object",
        "required": [
          "FirstName",
          "LastName",
          "Email",
          "Login",
          "Password"
        ],
        "properties": {
          "FirstName": {
            "type": "string"
          },
          "MiddleName": {
            "type": "integer"
          },
          "LastName": {
            "type": "boolean"
          },
          "Email": {
            "type": "string"
          },
          "Login": {
            "type": "string"
          },
          "Password": {
            "type": "string"
          }
        }
      },
      "PositionInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "description": "Specific position id.",
            "type": "string",
            "format": "uuid"
          },
          "Name": {
            "description": "Position name.",
            "type": "string",
            "example": "IT projects consultant"
          }
        }
      },
      "DepartmentInfo": {
        "type": "object",
        "description": "Specific department data.",
        "properties": {
          "Id": {
            "description": "Department id.",
            "type": "string",
            "format": "guid"
          },
          "Name": {
            "description": "Department name.",
            "type": "string"
          }
        }
      },
      "FindResultResponseOfficeInfo": {
        "type": "object",
        "properties": {
          "Status": {
            "$ref": "#/components/schemas/OperationResultStatusType"
          },
          "Body": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OfficeInfo"
            }
          },
          "TotalCount": {
            "type": "integer"
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ErrorResponse": {
        "description": "Error information",
        "type": "object",
        "properties": {
          "UtcTime": {
            "type": "string"
          },
          "Header": {
            "type": "string"
          },
          "Message": {
            "description": "A human readable message providing more details about the error.",
            "type": "string"
          }
        }
      },
      "OperationResultStatusType": {
        "type": "string",
        "description": "Operation complition result status.",
        "enum": [
          "FullSuccess",
          "PartialSuccess",
          "Failed"
        ],
        "example": "FullSuccess",
        "default": "FullSuccess"
      },
      "OperationResultResponse": {
        "description": "Response object for action operations.",
        "type": "object",
        "properties": {
          "Body": {
            "type": "object",
            "nullable": true
          },
          "Status": {
            "$ref": "#/components/schemas/OperationResultStatusType"
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "OperationResultResponseCompanyInfo": {
        "type": "object",
        "properties": {
          "Body": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "portalName": {
                "type": "string"
              },
              "companyName": {
                "type": "string"
              },
              "description": {
                "type": "string",
                "nullable": true
              },
              "tagline": {
                "type": "string",
                "nullable": true
              },
              "siteUrl": {
                "type": "string"
              },
              "IsDepartmentModuleEnabled": {
                "type": "boolean"
              },
              "logo": {
                "$ref": "#/components/schemas/ImageInfo"
              },
              "smtpInfo": {
                "$ref": "#/components/schemas/SmtpInfo"
              },
              "departments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DepartmentInfo"
                },
                "nullable": true
              },
              "positions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PositionInfo"
                },
                "nullable": true
              },
              "offices": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OfficeInfo"
                },
                "nullable": true
              }
            }
          },
          "Status": {
            "$ref": "#/components/schemas/OperationResultStatusType"
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PatchCompanyDocument": {
        "type": "object",
        "required": [
          "op",
          "path"
        ],
        "properties": {
          "op": {
            "type": "string",
            "description": "The operation to be performed.",
            "enum": [
              "replace"
            ]
          },
          "path": {
            "type": "string",
            "description": "A JSON-Pointer.",
            "enum": [
              "/portalname",
              "/companyname",
              "/siteurl",
              "/tagline",
              "/description",
              "/logo",
              "/host",
              "/port",
              "/enablessl",
              "/email",
              "/password",
              "/isdepartmentmoduleenabled"
            ]
          },
          "value": {
            "type": "object",
            "description": "The value to be used within the operations."
          }
        }
      },
      "EditCompanyRequest": {
        "type": "array",
        "minItems": 1,
        "example": [
          {
            "op": "replace",
            "path": "/portalname",
            "value": {
              "description": "New portal name",
              "type": "string",
              "example": "portal"
            }
          }
        ],
        "items": {
          "$ref": "#/components/schemas/PatchCompanyDocument"
        }
      }
    },
    "parameters": {
      "securityToken": {
        "name": "token",
        "in": "header",
        "description": "The JWT token.",
        "schema": {
          "type": "string",
          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"
        },
        "required": true
      }
    }
  }
}
