{
  "openapi": "3.0.0",
  "info": {
    "version": "1.1.1.0",
    "title": "FileService",
    "description": "FileService is an API intended to work with files and images."
  },
  "servers": [
    {
      "url": "https://file.ltdo.xyz",
      "description": "Production server"
    },
    {
      "url": "https://file.dev.ltdo.xyz",
      "description": "Development server"
    }
  ],
  "paths": {
    "/file/get": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        }
      ],
      "get": {
        "tags": [
          "File"
        ],
        "operationId": "getFile",
        "summary": "Returns the file by Id.",
        "description": "The method attempts to get the file by id.",
        "parameters": [
          {
            "name": "filesIds",
            "in": "query",
            "description": "Files global unique identifiers.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned file.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "items": {
                    "$ref": "#/components/schemas/FileInfo"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found.\n* File with this id not found.\n"
          }
        }
      }
    },
    "/file/edit": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "$ref": "#/components/parameters/fileId"
        }
      ],
      "patch": {
        "tags": [
          "File"
        ],
        "operationId": "editFile",
        "description": "Editing file by Id.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditFileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "File respose.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.\n* Error in the field.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.\n* Token was not entered.\n* Invalid token.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FileInfo": {
        "type": "object",
        "required": [
          "Name",
          "Content",
          "Extension"
        ],
        "properties": {
          "Id": {
            "description": "File global unique identifier.",
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "Name": {
            "description": "File name.",
            "type": "string",
            "example": "Avatar"
          },
          "Content": {
            "description": "File content.",
            "type": "string",
            "format": "byte"
          },
          "Extension": {
            "description": "File extension.",
            "type": "string",
            "example": "txt"
          }
        }
      },
      "OperationResultStatusType": {
        "type": "string",
        "description": "Operation complition result status.",
        "enum": [
          "FullSuccess",
          "PartialSuccess",
          "Failed"
        ],
        "example": "FullSuccess",
        "default": "FullSuccess"
      },
      "ErrorResponse": {
        "description": "Error information",
        "type": "object",
        "properties": {
          "UtcTime": {
            "type": "string"
          },
          "Header": {
            "type": "string"
          },
          "Message": {
            "description": "A human readable message providing more details about the error.",
            "type": "string"
          }
        }
      },
      "OperationResultResponse": {
        "description": "Response object for action operations.",
        "type": "object",
        "properties": {
          "Body": {
            "type": "object"
          },
          "Status": {
            "$ref": "#/components/schemas/OperationResultStatusType"
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "EditFileRequest": {
        "type": "array",
        "minItems": 1,
        "required": [
          "op",
          "path",
          "value"
        ],
        "items": {
          "$ref": "#/components/schemas/FilePatchDocument"
        },
        "example": [
          {
            "op": "replace",
            "path": "/Name",
            "value": {
              "type": "string",
              "description": "new name"
            }
          }
        ]
      },
      "FilePatchDocument": {
        "required": [
          "op",
          "path",
          "value"
        ],
        "properties": {
          "op": {
            "type": "string",
            "description": "The operation to be performed",
            "enum": [
              "replace"
            ]
          },
          "path": {
            "type": "string",
            "description": "A JSON-Pointer.",
            "enum": [
              "/Name",
              "/Content"
            ]
          },
          "value": {
            "type": "object",
            "description": "The value to be used within the operations."
          }
        }
      }
    },
    "parameters": {
      "securityToken": {
        "name": "token",
        "in": "header",
        "description": "The JWT token.",
        "schema": {
          "type": "string",
          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkw"
        },
        "required": true
      },
      "fileId": {
        "name": "fileId",
        "in": "query",
        "description": "File global unique identifier.",
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "required": true
      }
    }
  }
}
