{
  "openapi": "3.0.0",
  "info": {
    "version": "1.3.1.1",
    "title": "MessageService",
    "description": "MessageService, is intended to work with the messages, emails and email templates."
  },
  "servers": [
    {
      "url": "https://message.ltdo.xyz",
      "description": "Production server"
    },
    {
      "url": "https://message.dev.ltdo.xyz",
      "description": "Development server"
    }
  ],
  "paths": {
    "/workspace/create": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        }
      ],
      "post": {
        "tags": [
          "Workspace"
        ],
        "operationId": "createWorkspace",
        "description": "Create a new workspace.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkspaceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "New workspace Id will be in response Body property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workspace/find": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "name": "skipCount",
          "in": "query",
          "description": "Number of entries to skip",
          "schema": {
            "type": "integer"
          },
          "required": true
        },
        {
          "name": "takeCount",
          "in": "query",
          "description": "Number of unsent email to take.",
          "schema": {
            "type": "integer"
          },
          "required": true
        },
        {
          "name": "includeDeactivated",
          "in": "query",
          "schema": {
            "type": "boolean"
          },
          "required": false
        }
      ],
      "get": {
        "tags": [
          "Workspace"
        ],
        "operationId": "findWorkspace",
        "description": "Returns all workspaces information with pagination.",
        "responses": {
          "200": {
            "description": "Ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FindResultResponseShortWorkspaceInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FindResultResponseShortWorkspaceInfo"
                }
              }
            }
          }
        }
      }
    },
    "/workspace/get": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "name": "workspaceId",
          "in": "query",
          "description": "Id of workspace.",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "required": true
        },
        {
          "name": "includeUsers",
          "in": "query",
          "schema": {
            "type": "boolean"
          },
          "required": false
        },
        {
          "name": "includeChannels",
          "in": "query",
          "schema": {
            "type": "boolean"
          },
          "required": false
        }
      ],
      "get": {
        "tags": [
          "Workspace"
        ],
        "operationId": "getWorkspace",
        "description": "Returns workspace information.",
        "responses": {
          "200": {
            "description": "Ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponseWorkspaceInfo"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workspace/edit": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "name": "workspaceId",
          "in": "query",
          "description": "User global unique identifier.",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "required": true
        }
      ],
      "patch": {
        "tags": [
          "Workspace"
        ],
        "operationId": "editWorkspace",
        "description": "Edit the specified workspace by id.\n* The user must have to be owner or admin.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditWorkspaceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/channel/create": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        }
      ],
      "post": {
        "tags": [
          "Channel"
        ],
        "operationId": "createChannel",
        "description": "Create a new channel.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChannelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "New workspace Id will be in response Body property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/channel/get": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "name": "channelid",
          "in": "query",
          "description": "Id of channel.",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "required": true
        },
        {
          "name": "skipcount",
          "in": "query",
          "schema": {
            "type": "integer"
          },
          "required": false
        },
        {
          "name": "takecount",
          "in": "query",
          "schema": {
            "type": "integer"
          },
          "required": true
        }
      ],
      "get": {
        "tags": [
          "Channel"
        ],
        "operationId": "getChannel",
        "description": "Returns channel information.",
        "responses": {
          "200": {
            "description": "Ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponseChannelInfo"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/message/create": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        }
      ],
      "post": {
        "tags": [
          "Message"
        ],
        "operationId": "createMessage",
        "description": "Create a new message.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMessageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/createworkspaceuser": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "name": "workspaceid",
          "in": "query",
          "description": "Workspace global unique identifier.",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "required": true
        }
      ],
      "post": {
        "tags": [
          "Workspace"
        ],
        "operationId": "addWorkspaceUsers",
        "description": "Adds a new users to workspace.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "description": "Specific user identifier.",
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/createchanneluser": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "name": "channelid",
          "in": "query",
          "description": "Channel global unique identifier.",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "required": true
        }
      ],
      "post": {
        "tags": [
          "Channel"
        ],
        "operationId": "addChannelUsers",
        "description": "Adds a new users to channel.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "description": "Specific user identifier.",
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/removeworkspaceuser": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "name": "workspaceid",
          "in": "query",
          "description": "workspace global unique identifier.",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "required": true
        }
      ],
      "delete": {
        "tags": [
          "Workspace"
        ],
        "operationId": "removeUsers",
        "description": "Remove users from Workspace.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "description": "Specific user identifier.",
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully removed users from workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "404": {
            "description": "NotFound.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/removechanneluser": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "name": "channelid",
          "in": "query",
          "description": "channel global unique identifier.",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "required": true
        }
      ],
      "delete": {
        "tags": [
          "Channel"
        ],
        "operationId": "removeUsers",
        "description": "Remove users from Channel.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "description": "Specific user identifier.",
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully removed users from channel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "404": {
            "description": "NotFound.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateWorkspaceRequest": {
        "type": "object",
        "required": [
          "Name",
          "Users"
        ],
        "properties": {
          "Name": {
            "description": "The workspace name.",
            "type": "string"
          },
          "Description": {
            "description": "The workspace description.",
            "type": "string"
          },
          "Image": {
            "$ref": "#/components/schemas/ImageConsist"
          },
          "Users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkspaceUserRequest"
            }
          }
        }
      },
      "CreateChannelRequest": {
        "type": "object",
        "required": [
          "Name",
          "WorkspaceId",
          "IsPrivate",
          "Users"
        ],
        "properties": {
          "Name": {
            "description": "The channel name.",
            "type": "string"
          },
          "WorkspaceId": {
            "description": "The workspase unique identifier.",
            "type": "string",
            "format": "uuid"
          },
          "IsPrivate": {
            "type": "boolean"
          },
          "Image": {
            "$ref": "#/components/schemas/ImageConsist"
          },
          "Users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateChannelUserRequest"
            }
          }
        }
      },
      "CreateMessageRequest": {
        "type": "object",
        "required": [
          "Content",
          "Status",
          "ChannelId"
        ],
        "properties": {
          "Content": {
            "description": "The message content.",
            "type": "string"
          },
          "Status": {
            "$ref": "#/components/schemas/StatusType"
          },
          "ChannelId": {
            "description": "The channel unique identifier.",
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "StatusType": {
        "type": "string",
        "description": "Message status.\nMay be empty, default value: 'Sent'.",
        "enum": [
          "Sent",
          "Read",
          "Removed"
        ],
        "nullable": false,
        "example": "Removed"
      },
      "CreateImageRequest": {
        "type": "object",
        "required": [
          "Content",
          "Extension"
        ],
        "properties": {
          "Name": {
            "type": "string"
          },
          "Content": {
            "type": "string"
          },
          "Extension": {
            "type": "string"
          }
        }
      },
      "CreateChannelUserRequest": {
        "type": "object",
        "properties": {
          "WorkspaceUserId": {
            "description": "Unique identifier of workspace user.",
            "type": "string",
            "format": "uuid"
          },
          "IsAdmin": {
            "description": "Is user admin of channel.",
            "type": "boolean"
          }
        }
      },
      "WorkspaceUserRequest": {
        "type": "object",
        "properties": {
          "UserId": {
            "description": "Unique user identifier.",
            "type": "string",
            "format": "uuid"
          },
          "IsAdmin": {
            "description": "Is user admin of channel.",
            "type": "boolean"
          }
        }
      },
      "ImageConsist": {
        "type": "object",
        "properties": {
          "Content": {
            "type": "string",
            "nullable": true
          },
          "Extension": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ImageInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "ParentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Content": {
            "type": "string"
          },
          "Extension": {
            "type": "string"
          }
        }
      },
      "UserInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "FirstName": {
            "type": "string"
          },
          "MiddleName": {
            "type": "string",
            "nullable": true
          },
          "LastName": {
            "type": "string"
          },
          "Avatar": {
            "$ref": "#/components/schemas/ImageInfo",
            "nullable": true
          }
        }
      },
      "MessageInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Content": {
            "type": "string"
          },
          "Status": {
            "type": "integer"
          },
          "ThreadMessagesCount": {
            "type": "integer"
          },
          "CreatedBy": {
            "$ref": "#/components/schemas/UserInfo",
            "nullable": true
          },
          "CreatedAtUtc": {
            "type": "string",
            "example": "2021-01-21T00:00:00.000Z",
            "format": "date"
          },
          "Images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageInfo"
            },
            "nullable": true
          },
          "FilesIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          }
        }
      },
      "ShortChannelInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Avatar": {
            "$ref": "#/components/schemas/ImageConsist",
            "nullable": true
          },
          "Name": {
            "type": "string"
          },
          "IsActive": {
            "type": "boolean"
          },
          "IsPrivate": {
            "type": "boolean"
          }
        }
      },
      "ShortWorkspaceInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Image": {
            "$ref": "#/components/schemas/ImageConsist"
          },
          "Name": {
            "type": "string"
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "IsActive": {
            "type": "boolean"
          }
        }
      },
      "OperationResultStatusType": {
        "type": "string",
        "description": "Operation complition result status.",
        "enum": [
          "FullSuccess",
          "PartialSuccess",
          "Failed"
        ],
        "example": "FullSuccess",
        "default": "FullSuccess"
      },
      "OperationResultResponse": {
        "description": "Response object for action operations.",
        "type": "object",
        "properties": {
          "Body": {
            "type": "object"
          },
          "Status": {
            "$ref": "#/components/schemas/OperationResultStatusType"
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "OperationResultResponseWorkspaceInfo": {
        "type": "object",
        "properties": {
          "body": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string",
                "nullable": true
              },
              "isActive": {
                "type": "boolean"
              },
              "image": {
                "$ref": "#/components/schemas/ImageConsist",
                "nullable": true
              },
              "createdBy": {
                "$ref": "#/components/schemas/UserInfo",
                "nullable": true
              },
              "createdAtUtc": {
                "type": "string",
                "example": "2021-01-21T00:00:00.000Z",
                "format": "date"
              },
              "users": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserInfo"
                },
                "nullable": true
              },
              "channels": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ShortChannelInfo"
                },
                "nullable": true
              }
            }
          },
          "Status": {
            "$ref": "#/components/schemas/OperationResultStatusType"
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "OperationResultResponseChannelInfo": {
        "type": "object",
        "properties": {
          "Body": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "avatar": {
                "$ref": "#/components/schemas/ImageConsist",
                "nullable": true
              },
              "name": {
                "type": "string"
              },
              "isPrivate": {
                "type": "boolean"
              },
              "users": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserInfo"
                },
                "nullable": true
              },
              "Messages": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MessageInfo"
                },
                "nullable": true
              }
            }
          },
          "Status": {
            "$ref": "#/components/schemas/OperationResultStatusType"
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FindResultResponseShortWorkspaceInfo": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/OperationResultStatusType"
          },
          "totalCount": {
            "type": "integer",
            "description": "Total number of finded by filter workspaces."
          },
          "body": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShortWorkspaceInfo"
            },
            "nullable": true
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "EditWorkspaceRequest": {
        "type": "array",
        "minItems": 1,
        "example": [
          {
            "op": "replace",
            "path": "/Name",
            "value": {
              "format": "string"
            }
          },
          {
            "op": "replace",
            "path": "/Description",
            "value": {
              "format": "string"
            }
          },
          {
            "op": "replace",
            "path": "/IsActive",
            "value": {
              "format": "string"
            }
          },
          {
            "op": "replace",
            "path": "/Image",
            "value": {
              "format": "string"
            }
          }
        ],
        "items": {
          "$ref": "#/components/schemas/PatchWorkspaceDocument"
        }
      },
      "PatchWorkspaceDocument": {
        "type": "object",
        "required": [
          "op",
          "path",
          "value"
        ],
        "properties": {
          "op": {
            "type": "string",
            "description": "The operation to be performed.",
            "enum": [
              "replace"
            ]
          },
          "path": {
            "type": "string",
            "description": "A JSON-Pointer.",
            "enum": [
              "/Name",
              "/Description",
              "/IsActive",
              "/Image"
            ]
          },
          "value": {
            "type": "object",
            "description": "The value to be used within the operations."
          }
        }
      }
    },
    "parameters": {
      "securityToken": {
        "name": "token",
        "in": "header",
        "description": "The JWT token.",
        "schema": {
          "type": "string",
          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"
        },
        "required": true
      }
    }
  }
}
