{
  "openapi": "3.0.0",
  "info": {
    "version": "1.2.5.1",
    "title": "NewsService",
    "description": "NewsService, is intended to work with the news - create them, update info and etc."
  },
  "servers": [
    {
      "url": "https://news.ltdo.xyz"
    }
  ],
  "paths": {
    "/news/create": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        }
      ],
      "post": {
        "tags": [
          "News"
        ],
        "operationId": "createNews",
        "description": "Adds news and returns its Id.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNewsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "New news Id, Satus and Errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/news/edit": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "$ref": "#/components/parameters/newsId"
        }
      ],
      "patch": {
        "tags": [
          "News"
        ],
        "operationId": "editNews",
        "description": "Edit the specified news by id.\n* The user must have to be owner or has right.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "minItems": 1,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EditNewsRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/news/get": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "$ref": "#/components/parameters/newsId"
        }
      ],
      "get": {
        "tags": [
          "News"
        ],
        "operationId": "getNews",
        "responses": {
          "200": {
            "description": "Successfully returned news information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponseNewsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/news/find": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "name": "skipCount",
          "in": "query",
          "description": "Number of entries to skip.",
          "schema": {
            "type": "integer"
          },
          "required": true
        },
        {
          "name": "takeCount",
          "in": "query",
          "description": "Number of users to take.",
          "schema": {
            "type": "integer"
          },
          "required": true
        },
        {
          "name": "authorId",
          "in": "query",
          "description": "Author global unique identifier.",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "required": false
        },
        {
          "name": "departmentId",
          "in": "query",
          "description": "Department global unique identifier.",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "required": false
        },
        {
          "name": "includeDeactivated",
          "in": "query",
          "schema": {
            "type": "boolean"
          },
          "required": false
        }
      ],
      "get": {
        "tags": [
          "News"
        ],
        "operationId": "findNews",
        "description": "Returns all news information by filter.",
        "responses": {
          "200": {
            "description": "Successfully returned list of news.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FindResultResponseNewsInfo"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateNewsRequest": {
        "type": "object",
        "required": [
          "Preview",
          "Content",
          "Subject",
          "AuthorId"
        ],
        "properties": {
          "Preview": {
            "description": "The news' preview.",
            "type": "string"
          },
          "Content": {
            "description": "The news content.",
            "type": "string"
          },
          "Subject": {
            "description": "The news subject.",
            "type": "string"
          },
          "Pseudonym": {
            "description": "The news author name.",
            "type": "string"
          },
          "AuthorId": {
            "description": "Id of the news author.",
            "type": "string",
            "format": "uuid"
          },
          "DepartmentId": {
            "description": "Id of department the news sender.",
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "EditNewsRequest": {
        "type": "array",
        "minItems": 1,
        "example": [
          {
            "op": "replace",
            "path": "/Preview",
            "value": {
              "format": "string"
            }
          },
          {
            "op": "replace",
            "path": "/Content",
            "value": {
              "format": "string"
            }
          },
          {
            "op": "subject",
            "path": "/Content",
            "value": {
              "format": "string"
            }
          },
          {
            "op": "pseudonum",
            "path": "/Content",
            "value": {
              "format": "string"
            }
          },
          {
            "op": "replace",
            "path": "/Author",
            "value": {
              "$ref": "#/components/schemas/User"
            }
          },
          {
            "op": "replace",
            "path": "/Department",
            "value": {
              "$ref": "#/components/schemas/Department"
            }
          },
          {
            "op": "replace",
            "path": "/IsActive",
            "value": {
              "format": "string"
            }
          }
        ],
        "items": {
          "$ref": "#/components/schemas/PatchOperation"
        }
      },
      "PatchOperation": {
        "type": "object",
        "required": [
          "op",
          "path",
          "value"
        ],
        "properties": {
          "op": {
            "type": "string",
            "description": "The operation to be performed.",
            "enum": [
              "replace"
            ]
          },
          "path": {
            "type": "string",
            "description": "A JSON-Pointer.",
            "enum": [
              "/Preview",
              "/Content",
              "/Subject",
              "/Pseudonum",
              "/Description",
              "/Description",
              "/IsActive"
            ]
          },
          "value": {
            "type": "object",
            "description": "The value to be used within the operations."
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "FullName": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Department": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Name": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "OperationResultResponseNewsResponse": {
        "description": "Response object for action operations.",
        "type": "object",
        "properties": {
          "Body": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "preview": {
                "type": "string"
              },
              "content": {
                "type": "string"
              },
              "subject": {
                "type": "string"
              },
              "author": {
                "$ref": "#/components/schemas/User"
              },
              "department": {
                "$ref": "#/components/schemas/Department",
                "nullable": true
              },
              "isactive": {
                "type": "boolean"
              },
              "CreatedAtUtc": {
                "type": "string",
                "format": "date",
                "nullable": true
              }
            }
          },
          "Status": {
            "$ref": "#/components/schemas/OperationResultStatusType"
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FindResultResponseNewsInfo": {
        "type": "object",
        "properties": {
          "Status": {
            "$ref": "#/components/schemas/OperationResultStatusType"
          },
          "TotalCount": {
            "type": "integer",
            "description": "Total number of finded by filter news."
          },
          "Body": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "preview": {
                "type": "string"
              },
              "subject": {
                "type": "string"
              },
              "pseudonum": {
                "type": "string"
              },
              "author": {
                "$ref": "#/components/schemas/User"
              },
              "department": {
                "$ref": "#/components/schemas/Department",
                "nullable": true
              },
              "isactive": {
                "type": "boolean"
              },
              "createdatutc": {
                "type": "string",
                "format": "date"
              },
              "createdby": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "OperationResultResponse": {
        "description": "Response object for action operations.",
        "type": "object",
        "properties": {
          "Body": {
            "type": "object"
          },
          "Status": {
            "$ref": "#/components/schemas/OperationResultStatusType"
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "OperationResultStatusType": {
        "type": "string",
        "description": "Operation complition result status.",
        "enum": [
          "FullSuccess",
          "PartialSuccess",
          "Failed"
        ],
        "example": "FullSuccess",
        "default": "FullSuccess"
      }
    },
    "parameters": {
      "newsId": {
        "name": "newsId",
        "in": "query",
        "description": "News global unique identifier.",
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "required": true
      },
      "securityToken": {
        "name": "token",
        "in": "header",
        "description": "The JWT token.",
        "schema": {
          "type": "string",
          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"
        },
        "required": true
      }
    }
  }
}
