{
  "openapi": "3.0.0",
  "info": {
    "version": "1.1.11",
    "title": "ProjectService",
    "description": "ProjectService, is intended to work with the projects - create them, assign people to them, update info."
  },
  "servers": [
    {
      "url": "https://project.ltdo.xyz"
    }
  ],
  "paths": {
    "/project/find": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "name": "name",
          "in": "query",
          "description": "The part that the project name should contain.",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "shortname",
          "in": "query",
          "description": "The part that the project shortname should contain.",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "departmentname",
          "in": "query",
          "description": "The part that should be contained in the name of the department to which the project belongs.",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "skipCount",
          "in": "query",
          "description": "Number of pages to skip.",
          "schema": {
            "type": "integer"
          },
          "required": true
        },
        {
          "name": "takeCount",
          "in": "query",
          "description": "Number of users on one page.",
          "schema": {
            "type": "integer"
          },
          "required": true
        }
      ],
      "get": {
        "tags": [
          "Project"
        ],
        "operationId": "findprojects",
        "responses": {
          "200": {
            "description": "Successfully returned a project information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.\n* Token was not entered.\n* Invalid token.\n"
          }
        }
      }
    },
    "/project/getProjectById": {
      "parameters": [
        {
          "$ref": "#/components/parameters/projectId"
        },
        {
          "$ref": "#/components/parameters/securityToken"
        }
      ],
      "get": {
        "tags": [
          "Project"
        ],
        "operationId": "getProjectById",
        "responses": {
          "200": {
            "description": "Successfully returned a project information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectExpandedResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.\n* Token was not entered.\n* Invalid token.\n"
          },
          "404": {
            "description": "Not Found.\n* Project with this id not found.\n"
          }
        }
      }
    },
    "/project/create": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        }
      ],
      "post": {
        "tags": [
          "Project"
        ],
        "operationId": "createProject",
        "description": "Creating new project.\n*  __The user must have access right__ -- Add/Edit/Remove projects.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Base info new project.\n  * OK\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.\n* Token was not entered.\n* Invalid token.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/project/edit": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "$ref": "#/components/parameters/projectId"
        }
      ],
      "patch": {
        "tags": [
          "Project"
        ],
        "operationId": "editProject",
        "description": "Editing specific project by Id.\n*  __The user must have access right__ -- Add/Edit/Remove projects. \n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "minItems": 1,
                "type": "array",
                "items":{
                  "$ref" : "#/components/schemas/EditProjectRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Is success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.\n* Error in the field.\n"
          },
          "403": {
            "description": "Forbidden.\n* Token was not entered.\n* Invalid token.\n"
          },
          "404": {
            "description": "Not Found. * Project with this id not found."
          }
        }
      }
    },
    "/task/find": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "name": "number",
          "in": "query",
          "description": "The part that the task name should contain.",
          "schema": {
            "type": "integer"
          },
          "required": false
        },
        {
          "name": "projectId",
          "in": "query",
          "description": "The part that the task shortname should contain.",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "required": false
        },
        {
          "name": "assign",
          "in": "query",
          "description": "The part that the user assigned task should contain.",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "skipCount",
          "in": "query",
          "description": "Number of pages to skip.",
          "schema": {
            "type": "integer"
          },
          "required": true
        },
        {
          "name": "takeCount",
          "in": "query",
          "description": "Number of users on one page.",
          "schema": {
            "type": "integer"
          },
          "required": true
        }
      ],
      "get": {
        "tags": [
          "Task"
        ],
        "operationId": "findTask",
        "description": "Find specific task by parameters: projectId, number, assign.",
        "responses": {
          "200": {
            "description": "Successfully returned a base task information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TasksResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.\n* Token was not entered.\n* Invalid token.\n"
          }
        }
      }
    },
    "/task/create": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        }
      ],
      "post": {
        "tags": [
          "Task"
        ],
        "operationId": "createTask",
        "description": "Creating new task",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created task Id (uuid) will be in response Body property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.\n* Token was not entered.\n* Invalid token.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/addUsersToProject": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        }
      ],
      "post": {
        "tags": [
          "User"
        ],
        "operationId": "addUsersToProject",
        "description": "Adding specific users to project.\n*  __The user must have access right__ -- Add/Edit/Remove projects.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddUsersToProjectReques"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Users of specific project added successfully."
          },
          "204": {
            "description": "Project's Id.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.\n* Error in the field.\n"
          },
          "403": {
            "description": "Forbidden.\n* Token was not entered.\n* Invalid token.\n"
          },
          "404": {
            "description": "Not Found.\n* Project with this id not found.\n"
          }
        }
      }
    },
    "/user/removeUsersFromProject": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "$ref": "#/components/parameters/projectId"
        },
        {
          "name": "userIds",
          "in": "query",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/parameters/userId"
                }
              }
            }
          },
          "required": true
        }
      ],
      "delete": {
        "tags": [
          "User"
        ],
        "operationId": "removeUsersFromProject",
        "description": "Remove specific users from specific project.\n* __The user must have access right__ -- Add/Edit/Remove project. \n",
        "responses": {
          "200": {
            "description": "Removed users by id successful.\n  * OK\n"
          },
          "204": {
            "description": "No Content."
          },
          "403": {
            "description": "Forbidden.\n* Token was not entered.\n* Invalid token.\n"
          },
          "404": {
            "description": "Not Found. * User or Project with this id not found."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PatchDocument": {
        "required": [
          "op",
          "path",
          "value"
        ],
        "properties": {
          "op": {
            "type": "string",
            "description": "The operation to be performed",
            "enum": [
              "add",
              "remove",
              "replace"
            ]
          },
          "path": {
            "type": "string",
            "description": "A JSON-Pointer"
          },
          "value": {
            "type": "object",
            "description": "The value to be used within the operations."
          },
          "from": {
            "type": "string",
            "description": "A string containing a JSON Pointer value."
          }
        }
      },
      "DepartmentInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Name": {
            "type": "string"
          }
        }
      },
      "TaskInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "description": "The task's Id.",
            "type": "string",
            "format": "uuid",
            "example": "20d13a19-872e-45bc-b1ed-a01d6fac3c0f"
          },
          "TypeId": {
            "description": "The task's type Id.",
            "type": "string",
            "format": "uuid",
            "example": "20d13a19-872e-45bc-b1ed-a01d6fac3c0f"
          },
          "AuthorId": {
            "description": "The task's author Id.",
            "type": "string",
            "format": "uuid",
            "example": "20d13a19-872e-45bc-b1ed-a01d6fac3c0f"
          },
          "StatusId ": {
            "description": "The task's status Id.",
            "type": "string",
            "format": "uuid",
            "example": "20d13a19-872e-45bc-b1ed-a01d6fac3c0f"
          },
          "ParentId ": {
            "description": "The task's parent Id.",
            "type": "string",
            "format": "uuid",
            "example": "20d13a19-872e-45bc-b1ed-a01d6fac3c0f"
          },
          "PriorityId ": {
            "description": "The task's priority Id.",
            "type": "string",
            "format": "uuid",
            "example": "20d13a19-872e-45bc-b1ed-a01d6fac3c0f"
          },
          "ProjectId ": {
            "description": "The task's project Id.",
            "type": "string",
            "format": "uuid",
            "example": "20d13a19-872e-45bc-b1ed-a01d6fac3c0f"
          },
          "AssignedTo   ": {
            "description": "The task's assigned user Id.",
            "type": "string",
            "format": "uuid",
            "example": "20d13a19-872e-45bc-b1ed-a01d6fac3c0f"
          },
          "Name": {
            "description": "The task's name.",
            "type": "string"
          },
          "Description": {
            "description": "The task's description.",
            "type": "string"
          },
          "Number ": {
            "type": "integer",
            "description": "Specific task's number."
          },
          "PlannedMinutes": {
            "type": "integer",
            "description": "Planed time at completed task."
          },
          "CreatedAt": {
            "description": "Data and time created task.",
            "pattern": "YYYY-MM-DDTHH:mm",
            "example": "2021-12-10 03:13"
          },
          "Deadline": {
            "description": "Data and time deadline task.",
            "pattern": "YYYY-MM-DDTHH:mm",
            "example": "2020-12-10 04:13"
          }
        }
      },
      "UserInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "description": "The project's Id.",
            "type": "string",
            "format": "uuid",
            "example": "80d13a19-872e-45bc-b1ed-a01d6fac3c0f"
          },
          "FirstName": {
            "type": "string"
          },
          "MiddleName": {
            "type": "string"
          },
          "LastName": {
            "type": "string"
          },
          "AddedOn": {
            "pattern": "YYYY-MM-DDTHH:mm",
            "example": "2021-12-10 03:13"
          },
          "RemovedOn": {
            "pattern": "YYYY-MM-DDTHH:mm",
            "example": "2020-12-10 04:13"
          },
          "IsActive": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "ProjectUser": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Role": {
            "$ref": "#/components/schemas/UserRoleType"
          }
        }
      },
      "ProjectUserInfo": {
        "type": "object",
        "properties": {
          "ProjectId": {
            "type": "string",
            "format": "uuid"
          },
          "User": {
            "$ref": "#/components/schemas/UserInfo"
          },
          "Role": {
            "$ref": "#/components/schemas/UserRoleType"
          }
        }
      },
      "ProjectFileInfo": {
        "type": "object",
        "properties": {
          "ProjectId": {
            "type": "string",
            "format": "uuid"
          },
          "FileId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ProjectInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "AuthorId": {
            "type": "string",
            "format": "uuid"
          },
          "Name": {
            "type": "string",
            "example": "Digital Office"
          },
          "ShortName": {
            "type": "string",
            "example": "DO"
          },
          "Status": {
            "$ref": "#/components/schemas/ProjectStatusType"
          },
          "Department": {
            "$ref": "#/components/schemas/DepartmentInfo"
          },
          "Description": {
            "type": "string"
          },
          "ShortDescription": {
            "type": "string"
          }
        }
      },
      "ProjectStatusType": {
        "type": "string",
        "description": "Project status.\nMay be empty, default value: 'Active'.\n\n,Enum numbers description\n* 0 - Active,\n* 1 - Failed,\n* 2 - Abandoned,\n* 3 - Rejected,\n* 4 - Closed,\n* 5 - Suspend",
        "enum": [
          "Active",
          "Closed",
          "Suspend"
        ],
        "example": "Suspend"
      },
      "UserRoleType": {
        "type": "string",
        "description":"User role\n\n,Enum numbers description\n* 1 - Admin\n"
      ,
        "enum": [
          "ProjectAdmin"
        ],
        "example": "ProjectAdmin"
      },
      "ProjectExpandedRequest": {
        "type": "object",
        "required": [
          "Project",
          "Users"
        ],
        "properties": {
          "Project": {
            "$ref": "#/components/schemas/ProjectRequest"
          },
          "Users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectUserRequest"
            }
          }
        }
      },
      "ProjectRequest": {
        "type": "object",
        "required": [
          "Name",
          "ShortName",
          "DepartmentId"
        ],
        "properties": {
          "Name": {
            "type": "string"
          },
          "ShortName": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "ShortDescription": {
            "type": "string"
          },
          "Status": {
            "$ref": "#/components/schemas/ProjectStatusType"
          },
          "DepartmentId": {
            "type": "string",
            "format": "uuid"
          },
          "Users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectUser"
            }
          }
        }
      },
      "AddUsersToProjectReques": {
        "type": "object",
        "required": [
          "ProjectId",
          "Users"
        ],
        "properties": {
          "ProjectId": {
            "type": "string",
            "format": "uuid"
          },
          "Users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectUserRequest"
            }
          }
        }
      },
      "EditProjectRequest": {
        "type": "object",
        "required": [
          "op",
          "path",
          "value"
        ],
        "properties": {
          "op": {
            "type": "string",
            "description": "The operation to be performed.",
            "enum": [
              "replace"
            ]
          },
          "path": {
            "type": "string",
            "description": "A JSON-Pointer.",
            "enum": [
              "/Name",
              "/ShortName",
              "/Description",
              "/ShortDescription",
              "/Status",
              "/DepartmentId"
            ]
          },
          "value": {
            "type": "object",
            "description": "The value to be used within the operations."
          }
        }
      },
      "ProjectUserRequest": {
        "type": "object",
        "required": [
          "Role",
          "User"
        ],
        "properties": {
          "UserId": {
            "type": "string",
            "format": "uuid"
          },
          "Role": {
            "$ref": "#/components/schemas/UserRoleType"
          }
        }
      },
      "CreateTaskRequest": {
        "type": "object",
        "properties": {
          "Id": {
            "description": "The task's Id.",
            "type": "string",
            "format": "uuid",
            "example": "20d13a19-872e-45bc-b1ed-a01d6fac3c0f"
          },
          "TypeId": {
            "description": "The task's type Id.",
            "type": "string",
            "format": "uuid",
            "example": "20d13a19-872e-45bc-b1ed-a01d6fac3c0f"
          },
          "AuthorId": {
            "description": "The task's author Id.",
            "type": "string",
            "format": "uuid",
            "example": "20d13a19-872e-45bc-b1ed-a01d6fac3c0f"
          },
          "StatusId ": {
            "description": "The task's status Id.",
            "type": "string",
            "format": "uuid",
            "example": "20d13a19-872e-45bc-b1ed-a01d6fac3c0f"
          },
          "ParentId ": {
            "description": "The task's parent Id.",
            "type": "string",
            "format": "uuid",
            "example": "20d13a19-872e-45bc-b1ed-a01d6fac3c0f"
          },
          "PriorityId ": {
            "description": "The task's priority Id.",
            "type": "string",
            "format": "uuid",
            "example": "20d13a19-872e-45bc-b1ed-a01d6fac3c0f"
          },
          "ProjectId ": {
            "description": "The task's project Id.",
            "type": "string",
            "format": "uuid",
            "example": "20d13a19-872e-45bc-b1ed-a01d6fac3c0f"
          },
          "AssignedTo   ": {
            "description": "The task's assigned user Id.",
            "type": "string",
            "format": "uuid",
            "example": "20d13a19-872e-45bc-b1ed-a01d6fac3c0f"
          },
          "Name": {
            "description": "The task's name.",
            "type": "string"
          },
          "Description": {
            "description": "The task's description.",
            "type": "string"
          },
          "Number ": {
            "type": "integer",
            "description": "Specific task's number."
          },
          "PlannedMinutes": {
            "type": "integer",
            "description": "Planed time at completed task."
          },
          "CreatedAt": {
            "description": "Data and time created task.",
            "pattern": "YYYY-MM-DDTHH:mm",
            "example": "2021-12-10 03:13"
          }
        }
      },
      "ProjectExpandedResponse": {
        "type": "object",
        "properties": {
          "Project": {
            "$ref": "#/components/schemas/ProjectInfo"
          },
          "Department": {
            "$ref": "#/components/schemas/DepartmentInfo"
          },
          "Users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectUserInfo"
            }
          },
          "ProjectFile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectFileInfo"
            }
          }
        }
      },
      "ErrorResponse": {
        "description": "Error information",
        "type": "object",
        "properties": {
          "UtcTime": {
            "type": "string"
          },
          "Header": {
            "type": "string"
          },
          "Message": {
            "description": "A human readable message providing more details about the error.",
            "type": "string"
          }
        }
      },
      "OperationResultResponse": {
        "description": "Response object for action operations.",
        "type": "object",
        "properties": {
          "Body": {
            "type": "object"
          },
          "Status": {
            "$ref": "#/components/schemas/OperationResultStatusType"
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "OperationResultStatusType": {
        "type": "string",
        "description": "Operation complition result status.",
        "enum": [
          "FullSuccess",
          "PartialSuccess",
          "Failed"
        ],
        "example": "FullSuccess",
        "default": "FullSuccess"
      },
      "ProjectsResponse": {
        "type": "object",
        "properties": {
          "TotalCount": {
            "type": "integer",
            "description": "Total number of finded by filter projects."
          },
          "Body": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectInfo"
            }
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TasksResponse": {
        "type": "object",
        "properties": {
          "TotalCount": {
            "type": "integer",
            "description": "Total number of finded by filter tasks."
          },
          "Body": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskInfo"
            }
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "parameters": {
      "projectId": {
        "name": "projectId",
        "in": "query",
        "description": "Project global unique identifier.",
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "required": true
      },
      "userId": {
        "name": "userId",
        "in": "query",
        "description": "User global unique identifier.",
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "required": true
      },
      "fileId": {
        "name": "fileId",
        "in": "query",
        "description": "File global unique identifier.",
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "required": true
      },
      "roleId": {
        "name": "roleId",
        "in": "query",
        "description": "Role global unique identifier.",
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "required": true
      },
      "securityToken": {
        "name": "token",
        "in": "header",
        "description": "The JWT token.",
        "schema": {
          "type": "string",
          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"
        },
        "required": true
      }
    }
  }
}
