{
  "openapi": "3.0.0",
  "info": {
    "version": "1.3.1",
    "title": "RightsService",
    "description": "RightsService, is intended to work with the user rights - create them, assign them to people, remove."
  },
  "servers": [
    {
      "url": "https://rights.ltdo.xyz"
    }
  ],
  "paths": {
    "/rights/addRightsForUser": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        }
      ],
      "post": {
        "tags": [
          "Rights"
        ],
        "operationId": "addRightsForUser",
        "description": "Add rights for user.",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "User global unique identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "name": "rightIds",
            "in": "query",
            "description": "Right identifiers.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Ok.\n* true will be in response Body property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rights/getRightsList": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        }
      ],
      "get": {
        "tags": [
          "Rights"
        ],
        "operationId": "getRightsList",
        "description": "Get all rights.",
        "responses": {
          "200": {
            "description": "List of all Rights.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RightResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Rights were not found"
          }
        }
      }
    },
    "/rights/removeRightsFromUser": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        }
      ],
      "delete": {
        "tags": [
          "Rights"
        ],
        "operationId": "removeRightsFromUser",
        "description": "Remove rights from user.",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "User global unique identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "name": "rightIds",
            "in": "query",
            "description": "Right identifiers.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Rights were removed."
          },
          "401": {
            "description": "Forbridden"
          },
          "404": {
            "description": "rights not found"
          }
        }
      }
    },
    "/roles/find": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "name": "skipCount",
          "in": "query",
          "description": "Number of entries to skip",
          "schema": {
            "type": "integer"
          },
          "required": true
        },
        {
          "name": "takeCount",
          "in": "query",
          "description": "Number of roles on one page.",
          "schema": {
            "type": "integer"
          },
          "required": true
        }
      ],
      "get": {
        "tags": [
          "Role"
        ],
        "operationId": "findRoles",
        "description": "Returns all roles information with pagination.",
        "responses": {
          "200": {
            "description": "Ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RolesResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/roles/get": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "name": "roleId",
          "in": "query",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "required": true
        }
      ],
      "get": {
        "tags": [
          "Role"
        ],
        "operationId": "getRole",
        "responses": {
          "200": {
            "description": "Ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/roles/create": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        }
      ],
      "post": {
        "tags": [
          "Role"
        ],
        "operationId": "createRole",
        "description": "The method attempts to create the role. The user must be admin.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Ok.\n* Created role Id (uuid) will be in response Body property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RightResponse": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          },
          "Description": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CreateRoleRequest": {
        "type": "object",
        "required": [
          "Name",
          "Rights"
        ],
        "properties": {
          "Name": {
            "description": "Role name.",
            "type": "string",
            "example": "NewsWriter"
          },
          "Description": {
            "description": "Role description.",
            "type": "string",
            "nullable": true
          },
          "Rights": {
            "description": "Number of rights.",
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "RolesResponse": {
        "type": "object",
        "properties": {
          "TotalCount": {
            "type": "integer",
            "description": "Total number of all roles."
          },
          "Roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoleInfo"
            }
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "RoleResponse": {
        "type": "object",
        "properties": {
          "Role": {
            "$ref": "#/components/schemas/RoleInfo"
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "RoleInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "Name": {
            "type": "string"
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "CreatedAt": {
            "type": "string"
          },
          "CreatedBy": {
            "type": "string",
            "format": "uuid"
          },
          "Rights": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RightResponse"
            }
          },
          "Users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserInfo"
            }
          }
        }
      },
      "UserInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "FirstName": {
            "type": "string"
          },
          "LastName": {
            "type": "string"
          },
          "MiddleName": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "description": "Error information",
        "type": "object",
        "properties": {
          "UtcTime": {
            "type": "string"
          },
          "Header": {
            "type": "string"
          },
          "Message": {
            "description": "A human readable message providing more details about the error.",
            "type": "string"
          }
        }
      },
      "OperationResultResponse": {
        "description": "Response object for action operations.",
        "type": "object",
        "properties": {
          "Body": {
            "type": "object"
          },
          "Status": {
            "$ref": "#/components/schemas/OperationResultStatusType"
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "OperationResultStatusType": {
        "type": "string",
        "description": "Operation complition result status.",
        "enum": [
          "FullSuccess",
          "PartialSuccess",
          "Failed"
        ],
        "example": "FullSuccess",
        "default": "FullSuccess"
      }
    },
    "parameters": {
      "securityToken": {
        "name": "token",
        "in": "header",
        "description": "The JWT token.",
        "schema": {
          "type": "string",
          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"
        },
        "required": true
      }
    }
  }
}
