{
  "openapi": "3.0.0",
  "info": {
    "version": "1.3.8.0",
    "title": "RightsService",
    "description": "RightsService, is intended to work with the user rights - create them, assign them to people, remove."
  },
  "servers": [
    {
      "url": "https://rights.ltdo.xyz",
      "description": "Production server"
    },
    {
      "url": "https://rights.dev.ltdo.xyz",
      "description": "Development server"
    }
  ],
  "paths": {
    "/rights/get": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "name": "locale",
          "in": "query",
          "description": "Localization of rights.",
          "schema": {
            "type": "string"
          },
          "required": true
        }
      ],
      "get": {
        "tags": [
          "Rights"
        ],
        "operationId": "getRightsList",
        "description": "Get all rights.",
        "responses": {
          "200": {
            "description": "List of all Rights.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponseRights"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/roles/find": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "name": "locale",
          "in": "query",
          "description": "Localization of rights.",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "includeDeactivated",
          "in": "query",
          "description": "Include deactivated roles",
          "schema": {
            "type": "boolean"
          },
          "required": false
        },
        {
          "name": "skipCount",
          "in": "query",
          "description": "Number of entries to skip",
          "schema": {
            "type": "integer"
          },
          "required": true
        },
        {
          "name": "takeCount",
          "in": "query",
          "description": "Number of roles on one page.",
          "schema": {
            "type": "integer"
          },
          "required": true
        }
      ],
      "get": {
        "tags": [
          "Role"
        ],
        "operationId": "findRoles",
        "description": "Returns all roles information with pagination.",
        "responses": {
          "200": {
            "description": "Ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FindResultResponseRoleInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/roles/get": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "name": "roleId",
          "in": "query",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "required": true
        }
      ],
      "get": {
        "tags": [
          "Role"
        ],
        "operationId": "getRole",
        "responses": {
          "200": {
            "description": "Ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponseRoleResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/roles/create": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        }
      ],
      "post": {
        "tags": [
          "Role"
        ],
        "operationId": "createRole",
        "description": "The method attempts to create the role. The user must be admin.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Ok.\n* Created role Id (uuid) will be in response Body property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/roles/editstatus": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "name": "roleId",
          "in": "query",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "required": true
        },
        {
          "name": "isActive",
          "in": "query",
          "schema": {
            "type": "boolean"
          },
          "required": true
        }
      ],
      "put": {
        "tags": [
          "Role"
        ],
        "operationId": "editRoleStatus",
        "description": "The method attempts to change role's status. The user must be admin.",
        "responses": {
          "200": {
            "description": "Ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/roles/updaterightsset": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        }
      ],
      "post": {
        "tags": [
          "Role"
        ],
        "operationId": "editRoleRights",
        "description": "The method attempts to update the role's rights set. The user must be admin.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRoleRightsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rolelocalization/create": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        }
      ],
      "post": {
        "tags": [
          "RoleLocalization"
        ],
        "operationId": "createRoleLocalization",
        "description": "The method attempts to create the role's localization. The user must be admin.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoleLocalizationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rolelocalization/edit": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        },
        {
          "name": "roleLocalizationId",
          "in": "query",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "required": true
        }
      ],
      "patch": {
        "tags": [
          "RoleLocalization"
        ],
        "operationId": "editRoleLocalization",
        "description": "Editing role's localization by Id. The user must be admin.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditRoleLocalizationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/edit": {
      "parameters": [
        {
          "$ref": "#/components/parameters/securityToken"
        }
      ],
      "put": {
        "tags": [
          "UserRole"
        ],
        "operationId": "editUserRole",
        "description": "Chage user role.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditUserRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success of operation will be in response Body property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResultResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RightInfo": {
        "type": "object",
        "properties": {
          "RightId": {
            "type": "integer"
          },
          "Locale": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Description": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CreateRoleRequest": {
        "type": "object",
        "required": [
          "Localizations",
          "Rights"
        ],
        "properties": {
          "Localizations": {
            "description": "Role name.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateRoleLocalizationRequest"
            }
          },
          "Rights": {
            "description": "Number of rights.",
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "CreateRoleLocalizationRequest": {
        "type": "object",
        "required": [
          "Locale",
          "Name"
        ],
        "properties": {
          "RoleId": {
            "description": "Role id.",
            "type": "string",
            "format": "uuid"
          },
          "Locale": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          }
        }
      },
      "EditRoleLocalizationRequest": {
        "type": "array",
        "minItems": 1,
        "example": [
          {
            "op": "replace",
            "path": "/Name",
            "value": {
              "description": "New roleLocalization's name",
              "type": "string",
              "example": "Admin"
            }
          },
          {
            "op": "replace",
            "path": "/Description",
            "value": {
              "description": "New roleLocalization's description",
              "type": "string",
              "example": "Role with all available rights."
            }
          },
          {
            "op": "replace",
            "path": "/IsActive",
            "value": {
              "description": "RoleLocalization's status. If Role already has one localization with same locale, the status will not change from not active to active.",
              "type": "bool",
              "example": "false"
            }
          }
        ],
        "items": {
          "$ref": "#/components/schemas/PatchRoleLocalizationDocument"
        }
      },
      "PatchRoleLocalizationDocument": {
        "type": "object",
        "required": [
          "op",
          "path"
        ],
        "properties": {
          "op": {
            "type": "string",
            "description": "The operation to be performed.",
            "enum": [
              "replace"
            ]
          },
          "path": {
            "type": "string",
            "description": "A JSON-Pointer.",
            "enum": [
              "/Name",
              "/Description",
              "/IsActive"
            ]
          },
          "value": {
            "type": "object",
            "description": "The value to be used within the operations."
          }
        }
      },
      "UpdateRoleRightsRequest": {
        "type": "object",
        "required": [
          "RoleId",
          "Rights"
        ],
        "properties": {
          "RoleId": {
            "description": "Role id.",
            "type": "string",
            "format": "uuid"
          },
          "Rights": {
            "description": "Role's rights ids",
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "EditUserRoleRequest": {
        "type": "object",
        "required": [
          "UserId"
        ],
        "properties": {
          "UserId": {
            "description": "User id",
            "type": "string",
            "format": "uuid"
          },
          "RoleId": {
            "description": "Role id.",
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "RoleInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "IsActive": {
            "type": "boolean"
          },
          "CreatedAtUtc": {
            "type": "string"
          },
          "CreatedBy": {
            "type": "string",
            "format": "uuid"
          },
          "ModifiedAtUtc": {
            "type": "string",
            "nullable": true
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/UserInfo"
          },
          "Rights": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RightInfo"
            }
          },
          "Localizations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoleLocalizationInfo"
            }
          }
        }
      },
      "UserInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "FirstName": {
            "type": "string"
          },
          "LastName": {
            "type": "string"
          },
          "MiddleName": {
            "type": "string"
          }
        }
      },
      "RoleLocalizationInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "format": "uuid"
          },
          "RoleId": {
            "type": "string",
            "format": "uuid"
          },
          "Locale": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "IsActive": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "description": "Error information",
        "type": "object",
        "properties": {
          "UtcTime": {
            "type": "string"
          },
          "Header": {
            "type": "string"
          },
          "Message": {
            "description": "A human readable message providing more details about the error.",
            "type": "string"
          }
        }
      },
      "OperationResultResponse": {
        "description": "Response object for action operations.",
        "type": "object",
        "properties": {
          "Body": {
            "type": "object"
          },
          "Status": {
            "$ref": "#/components/schemas/OperationResultStatusType"
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "OperationResultStatusType": {
        "type": "string",
        "description": "Operation complition result status.",
        "enum": [
          "FullSuccess",
          "PartialSuccess",
          "Failed"
        ],
        "example": "FullSuccess",
        "default": "FullSuccess"
      },
      "OperationResultResponseRoleResponse": {
        "type": "object",
        "properties": {
          "Status": {
            "$ref": "#/components/schemas/OperationResultStatusType"
          },
          "Body": {
            "type": "object",
            "properties": {
              "role": {
                "$ref": "#/components/schemas/RoleInfo"
              },
              "users": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "OperationResultResponseRights": {
        "type": "object",
        "properties": {
          "Status": {
            "$ref": "#/components/schemas/OperationResultStatusType"
          },
          "Body": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RightInfo"
            }
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FindResultResponseRoleInfo": {
        "type": "object",
        "properties": {
          "Status": {
            "$ref": "#/components/schemas/OperationResultStatusType"
          },
          "TotalCount": {
            "type": "integer",
            "description": "Total number of all roles."
          },
          "Body": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RoleInfo"
            }
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "parameters": {
      "securityToken": {
        "name": "token",
        "in": "header",
        "description": "The JWT token.",
        "schema": {
          "type": "string",
          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"
        },
        "required": true
      }
    }
  }
}
