<mat-card class="team-card bg-light_1">
  <div class="team-card__header">
    <mat-card-title class="team-card__name h4 text_bold text_dark_1">{{
      teamCard.name
    }}</mat-card-title>
    <div class="team-card__people-count-container">
      <mat-icon class="team-card__people-count-icon">
        <img src="assets/svg/members-count.svg" alt="user icon" />
      </mat-icon>
      <p class="team-card__people-count regular_text text_dark_1">
        {{ teamCard.members.length }}
      </p>
    </div>
  </div>
  <p class="team-card__level-labels regular_text">
    {{ countLevels(teamCard.members) | titlecase }}
  </p>
  <div class="team-card__team-members">
    <button
      mat-mini-fab
      class="team-card__new-member mat-mini-fab-override mat-elevation-z0"
      (click)="addMember(teamCard.members)"
    >
      <img src="assets/svg/add.svg" alt="add icon" />
    </button>
    <ul class="team-card__members-list">
      <li class="team-card__member" *ngFor="let member of teamCard.members">
        <a href="#" [title]="member.name">
          <do-profile-image
            [src]="member.profileImgSrc"
            *ngIf="member.profileImgSrc; else iconDummy"
          ></do-profile-image>
          <ng-template #iconDummy>
            <div
              class="team-card__icon-dummy"
              [class.team-card__icon-dummy_lead]="member.lead"
            ></div>
          </ng-template>
        </a>
      </li>
    </ul>
  </div>
</mat-card>
