@import 'base/fonts';

.team-card {
    margin-bottom: 12px;
    padding: 12px 24px;

    display: flex;
    align-items: center;

    width: 100%;
    height: 74px;

    cursor: pointer;

    background-color: $light_2;
    border-radius: 8px;

    &__general-info {
        width: 25%;
        min-width: 25%;

        white-space: nowrap;
    }

    &__button_edit {
        margin-right: 7px;
    }

    &__members {
        display: flex;

        width: 66%;
        max-width: 66%;

        .member {
            margin-right: 7px;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 32px;
            min-width: 32px;
            height: 32px;

            border-radius: 50%;

            &_empty {
                margin-left: 0;

                color: $gray1;
                background-color: map-get($colors, 'light_4');

                .counter {
                    white-space: nowrap;
                }
            }

            &__image {
                border-radius: 50%;
            }
        }
    }

    &__button_delete {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        width: 65px;
    }

    &:hover {
        background-color: $accent_color_light;
    }
}
