<ng-container *ngIf="isEdit; else textBlock">
	<mat-form-field class="mat-form-field__form-control datepicker__form-field" appearance="fill">
		<mat-label>{{ label }}</mat-label>
		<input
			matInput
			[id]="controlName"
			[required]="required"
			[formControl]="control"
			[matDatepicker]="picker"
			[placeholder]="placeholder"
            [ngStyle]="{ display: 'none' }"
		/>
		<div style="padding: 0 15px;">{{ control?.value | date: dateFormat }}</div>
		<mat-datepicker-toggle matSuffix [for]="picker">
			<mat-icon matDatepickerToggleIcon>date_range</mat-icon>
		</mat-datepicker-toggle>
		<mat-datepicker (yearSelected)="onYearSelected($event)" [startView]="startView" #picker></mat-datepicker>
	</mat-form-field>
</ng-container>

<ng-template #textBlock>
	<h3>{{ label }}</h3>
	<div>{{ control?.value | date: dateFormat }}</div>
</ng-template>
