@import '../../../../stylesheets/base/variables';

.datepicker {
  &__label {
    align-self: flex-start;

    display: block;
  }

  &__required {
    margin-left: 1px;

    vertical-align: top;

    color: $negative_accent;
  }

  &__form-field {
    display: block;

    input {
      display: none;
    }

    p {
      margin: 6px 0 6px 12px;
    }
  }


}

.small_text {
  margin: 14px 0 3px 0;
}
