<ng-container *ngIf="isEdit; else textBlock">
  <mat-form-field class="mat-form-field__form-control datepicker__form-field" appearance="fill">
    <mat-label *ngIf='label'>{{ label }}</mat-label>
    <input
      matInput
      [required]='required'
      [formControl]="control"
      [matDatepicker]="picker"
      [placeholder]="placeholder"
    />
    <p *ngIf='control.value' doText color='dark_1'>
      {{ control.value | date: dateFormat }}
    </p>
    <p *ngIf='!control.value' doText color='gray1'>
      {{ placeholder }}
    </p>
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker (yearSelected)="onYearSelected($event)" [startView]='startView' #picker></mat-datepicker>
  </mat-form-field>
</ng-container>

<ng-template #textBlock>
  <h3 class="small_text text-gray">{{ label }}</h3>
  <div doText>{{ control.value | date: dateFormat }}</div>
</ng-template>
