<div class="new-employee-container">
  <div class="content-container">
    <a
      class="nav-link__dashboard regular_text regular_text_dark_1"
      routerLink="/admin/dashboard"
    >
      <svg xmlns="http://www.w3.org/2000/svg">
        <path class="arrow" d="M4 1 L1 5 L4 9" />
      </svg>
      К дашборду
    </a>
    <span class="title h1 h1_dark_2">Новый сотрудник</span>
    <div class="form-container">
      <form
        [formGroup]="userForm"
        (ngSubmit)="createEmployee()"
        class="data-form"
      >
        <h2 class="data-form__title h3 h3_dark_1">1. Основная информация</h2>
        <div class="main-info">
          <div class="content__photo">
            <div class="photo-container">
              <label for="choose-avatar">
                <img
                  [src]="
                    imgURL
                      ? imgURL
                      : '../../../../../assets/admin/new-employee/empty-photo-icon.png'
                  "
                  [ngClass]="imgURL ? 'filled_avatar' : 'empty_avatar'"
                  alt="empty-photo-icon"
                />
              </label>
              <input
                type="file"
                id="choose-avatar"
                accept="image/jpeg,image/png"
                #file
                (change)="preview(file.files)"
              />
              <span class="text-negative_accent regular_text" *ngIf="message">{{
                message
              }}</span>
            </div>
          </div>
          <div class="content__inputs">
            <div class="data-form__input-content">
              <label class="h5 h5_dark_1" for="lastName">Фамилия</label>
              <input type="text" id="lastName" formControlName="lastName" />
              <mat-error
                *ngIf="userForm.controls.lastName.hasError('required')"
              >
                The last name is invalid
              </mat-error>
            </div>
            <div class="data-form__input-content">
              <label class="h5 h5_dark_1" for="firstName">Имя</label>
              <input type="text" id="firstName" formControlName="firstName" />
              <mat-error
                *ngIf="userForm.controls.firstName.hasError('required')"
              >
                The first name is invalid
              </mat-error>
            </div>
            <div class="data-form__input-content">
              <label class="h5 h5_dark_1" for="middleName">Отчество</label>
              <input type="text" id="middleName" formControlName="middleName" />
              <mat-error
                *ngIf="userForm.controls.middleName.hasError('required')"
              >
                The middle name is invalid
              </mat-error>
            </div>
          </div>
        </div>
        <h2 class="data-form__title h3 h3_dark_1">2. Рабочая информация</h2>
        <div class="job-info">
          <div class="position-info">
            <div class="data-form__input-content">
              <label class="h5 h5_dark_1" for="position">Позиция</label>
              <select id="position" formControlName="position">
                <option *ngFor="let position of positions" [ngValue]="position">
                  {{ position.name }}
                </option>
              </select>
            </div>
            <div class="data-form__input-content">
              <label class="h5 h5_dark_1" for="rate">Ставка</label>
              <select id="rate" formControlName="rate">
                <option *ngFor="let rate of rates" [ngValue]="rate">
                  {{ rate }}
                </option>
              </select>
            </div>
          </div>
          <div class="department-info">
            <div class="data-form__input-content">
              <label class="h5 h5_dark_1" for="department">Департамент</label>
              <select id="department" formControlName="department">
                <option
                  *ngFor="let department of departments"
                  [ngValue]="department"
                >
                  {{ department.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <h2 class="data-form__title h3 h3_dark_1">3. Данные для входа</h2>
        <div class="login-info">
          <div class="content__inputs">
            <div class="data-form__input-content">
              <label class="h5 h5_dark_1" for="email">Почта</label>
              <input type="email" id="email" formControlName="email" />
              <mat-error *ngIf="userForm.controls.email.hasError('required')">
                The email is invalid
              </mat-error>
            </div>
            <div class="data-form__input-content">
              <label class="h5 h5_dark_1" for="login">Логин</label>
              <input type="text" id="login" formControlName="login" />
              <mat-error *ngIf="userForm.controls.login.hasError('required')">
                The login is invalid
              </mat-error>
            </div>
            <div class="data-form__input-content">
              <label class="h5 h5_dark_1" for="password">Пароль</label>
              <input type="password" id="password" formControlName="password" />
              <mat-error
                *ngIf="userForm.controls.password.hasError('required')"
              >
                The password is invalid
              </mat-error>
            </div>
          </div>
        </div>
        <div class="buttons">
          <button
            mat-flat-button
            class="btn-generate-credentials"
            type="button"
            (click)="generateCredentials()"
          >
            <img
              src="../../../../../assets/admin/new-employee/lock-icon.png"
              alt="lock-icon"
            />
            <span class="regular_text regular_text_accent_color_bright"
              >Сгенерировать пароль</span
            >
          </button>
          <button
            mat-flat-button
            color="primary"
            class="btn-create-employee"
            type="submit"
            (click)="createEmployee()"
            [disabled]="userForm.invalid"
          >
            <span class="regular_text regular_text_light_1"
              >Создать сотрудника</span
            >
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
