<mat-dialog-content class="new-employee">
  <form [formGroup]="userForm" (ngSubmit)="createEmployee()" autocomplete="off">
    <h2 doText underlined underlinedSize="sm" color="dark_1">
      Новая карточка сотрудника
    </h2>
    <div class="new-employee__personal-info">
      <div class="new-employee__heading new-employee__label_flex">
        <h3 doText color="dark_1">Личные данные</h3>
        <span doText color="negative_accent"
          ><sup>*</sup>Обязательные поля</span
        >
      </div>
      <div class="new-employee__inputs">
        <div class="new-employee__form-element">
          <label class="new-employee__label" doText color="gray1" for="lastName"
            >Фамилия<sup
              class="new-employee__required"
              doText
              color="negative_accent"
              >*</sup
            ></label
          >
          <mat-form-field class="new-employee__form-field" appearance="fill">
            <input
              id="lastName"
              matInput
              placeholder="Введите фамилию"
              formControlName="lastName"
              required
            />
          </mat-form-field>
        </div>
        <div class="new-employee__form-element">
          <label
            class="new-employee__label"
            doText
            color="gray1"
            for="firstName"
            >Имя<sup
              class="new-employee__required"
              doText
              color="negative_accent"
              >*</sup
            ></label
          >
          <mat-form-field class="new-employee__form-field" appearance="fill">
            <input
              id="firstName"
              matInput
              placeholder="Введите имя"
              formControlName="firstName"
              required
            />
          </mat-form-field>
        </div>
        <div class="new-employee__form-element">
          <label
            class="new-employee__label"
            doText
            color="gray1"
            for="middleName"
            >Отчество</label
          >
          <mat-form-field class="new-employee__form-field" appearance="fill">
            <input
              id="middleName"
              matInput
              placeholder="Введите отчество"
              formControlName="middleName"
            />
          </mat-form-field>
        </div>
        <div class="new-employee__form-element">
          <label class="new-employee__label" doText color="gray1" for="sex"
            >Пол</label
          >
          <mat-form-field
            class="mat-form-field_default-select new-employee__form-field"
            appearance="fill"
          >
            <mat-select
              id="sex"
              placeholder="Выберите пол"
              formControlName="sex"
            >
              <mat-option *ngFor="let option of sex" [value]="option">{{
                option
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="new-employee__form-element">
          <do-datepicker
            controlName="birthDate"
            label="Дата рождения"
            format='full'
            [isEdit]='true'
          ></do-datepicker>
        </div>
        <div class="new-employee__form-element">
          <label class="new-employee__label" doText color="gray1" for="city"
            >Город<sup
              class="new-employee__required"
              doText
              color="negative_accent"
              >*</sup
            ></label
          >
          <mat-form-field class="new-employee__form-field" appearance="fill">
            <input
              id="city"
              matInput
              placeholder="Введите город"
              formControlName="city"
              required
            />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="new-employee__working-info">
      <h3 doText color="dark_1" class="new-employee__heading">
        Рабочая информация
      </h3>
      <div class="new-employee__inputs">
        <div class="new-employee__form-element">
          <label class="new-employee__label" doText color="gray1" for="position"
            >Должность<sup
              class="new-employee__required"
              doText
              color="negative_accent"
              >*</sup
            ></label
          >
          <mat-form-field
            class="mat-form-field_default-select new-employee__form-field"
            appearance="fill"
          >
            <mat-select
              id="position"
              placeholder="Выберите должность"
              formControlName="position"
              required
            >
              <mat-option
                *ngFor="let position of positions"
                [value]="position"
                >{{ position }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="new-employee__form-element">
          <label
            class="new-employee__label"
            doText
            color="gray1"
            for="department"
            >Департмент<sup
              class="new-employee__required"
              doText
              color="negative_accent"
              >*</sup
            ></label
          >
          <mat-form-field
            class="mat-form-field_default-select new-employee__form-field"
            appearance="fill"
          >
            <mat-select
              id="department"
              placeholder="Выберите департамент"
              formControlName="department"
              required
            >
              <mat-option
                *ngFor="let department of departments"
                [value]="department"
                >{{ department }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="new-employee__form-element">
          <label class="new-employee__label" doText color="gray1" for="rate"
            >Ставка<sup
              class="new-employee__required"
              doText
              color="negative_accent"
              >*</sup
            ></label
          >
          <mat-form-field class="new-employee__form-field" appearance="fill">
            <button
              class="new-employee__rate-button"
              mat-icon-button
              matPrefix
              type="button"
              (click)="changeWorkingRate(-0.25)"
              [disabled]="rate.value === '0.25'"
            >
              -
            </button>
            <input
              #rate
              id="rate"
              class="new-employee__rate"
              matInput
              formControlName="rate"
              readonly
            />
            <button
              class="new-employee__rate-button"
              mat-icon-button
              matSuffix
              type="button"
              (click)="changeWorkingRate(0.25)"
              [disabled]="rate.value === '1'"
            >
              +
            </button>
          </mat-form-field>
        </div>
        <div class="new-employee__form-element">
          <do-datepicker
            controlName="workingSince"
            label="Начало работы"
            format='full'
            [isEdit]='true'
            [required]='true'
          ></do-datepicker>
        </div>
        <div class="new-employee__form-element new-employee__form-element_span_2">
          <label class="new-employee__label" doText color="gray1" for="office"
            >Офис<sup
              class="new-employee__required"
              doText
              color="negative_accent"
              >*</sup
            ></label
          >
          <mat-form-field
            class="mat-form-field_default-select new-employee__form-field"
            appearance="fill"
          >
            <mat-select
              id="office"
              placeholder="Выберите офис"
              formControlName="office"
              required
            >
              <mat-option *ngFor="let office of offices" [value]="office">{{
                office
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="new-employee__auth">
      <h3 doText color="dark_1" class="new-employee__heading">
        Аутентификация
      </h3>
      <div class="new-employee__inputs">
        <div class="new-employee__form-element new-employee__form-element_span_2">
          <label class="new-employee__label" doText color="gray1" for="email"
            >E-mail<sup
              class="new-employee__required"
              doText
              color="negative_accent"
              >*</sup
            >
            <mat-icon
              class="new-employee__hint"
              aria-label="Hint"
              matTooltipClass="tooltip"
              matTooltip="На эту почту пользователю придет ссылка для регистрации"
              [matTooltipPosition]="'above'"
            >help_outline
            </mat-icon></label
          >
          <mat-form-field class="new-employee__form-field" appearance="fill">
            <input
              id="email"
              matInput
              placeholder="Введите E-mail"
              formControlName="email"
              required
            />
          </mat-form-field>
        </div>
        <button
          mat-flat-button
          mat-dialog-close
          type="button"
          class="text-gray new-employee__reset new-employee__buttons"
        >
          Отмена
        </button>
        <button
          mat-flat-button
          type="submit"
          [disabled]="userForm.invalid"
          class="bg-accent_color_bright text-light_1 new-employee__submit new-employee__buttons"
        >
          Сохранить
        </button>
      </div>
    </div>
  </form>
</mat-dialog-content>
