@import 'base/variables';

.new-employee {
  &__inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 6px;
  }

  &__office {
    grid-column: span 2;
  }

  &__heading {
    margin-top: 32px;
    margin-bottom: 12px;
  }

  &__buttons {
    margin-top: 35px;

    width: 216px;
  }

  &__reset {
    justify-self: end;
  }

  &__submit {
    justify-self: start;
  }

  &__flex-label {
    display: flex;
    justify-content: space-between;
  }

  &__hint {
    margin-left: 2px;

    width: 16px;
    height: 16px;

    font-size: 16px;

    vertical-align: -20%;
  }

  &__generate {
    padding: 0;
    align-self: center;

    height: 24px;
  }

  &__stepper-button:disabled {
    padding: 0;

    min-width: 0;

    background-color: transparent;
  }
}
