@import 'base/variables';

.new-employee-container {
  display: flex;

  width: 100%;

  background-color: $light_2;

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;

    .regular_text_dark_1 {
      color: $dark_1;
    }

    .regular_text_accent_color_bright {
      color: $accent_color_bright;
    }

    .regular_text_accent_color {
      color: $accent_color;
    }

    .regular_text_light_1 {
      color: $light_1;
    }

    .h1_dark_2 {
      color: $dark_2;
    }

    .nav-link__dashboard {
      margin-bottom: 24px;

      display: flex;
      align-items: center;

      text-decoration: none;

      cursor: pointer;

      svg {
        margin-right: 13px;

        width: 5px;
        height: 10px;
        fill: none;
      }

      &:hover {
        opacity: 0.5;
      }
    }

    .title {
      margin-bottom: 26.5px;
    }

    .form-container {
      padding-top: 66px;
      padding-bottom: 66px;

      display: flex;
      justify-content: center;

      width: 100%;
      min-height: 884px;

      background-color: #fff;
      border-radius: 5px;
      align-self: center;

      .data-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 75%;

        .h3_dark_1,
        .h5_dark_1 {
          color: $dark_1;
        }

        &__input-content {
          display: flex;
          flex-direction: column;
          min-width: 220px;
        }

        &__title::after {
          content: '';
          display: block;

          width: 123px;
          height: 4px;

          background-color: $accent_color_bright;
        }

        .main-info {
          display: flex;
          flex-direction: row;

          min-height: 216px;

          .content {
            &__photo {
              display: flex;
              justify-content: center;
              align-items: center;

              width: 30%;

              .photo-container {
                position: relative;

                display: flex;
                overflow: hidden;
                justify-content: center;
                align-items: center;

                width: 128px;
                height: 128px;

                cursor: pointer;

                background: linear-gradient(180deg, #ffa386 0%, #ffd3b8 100%);
                border-radius: 50%;

                label {
                  cursor: pointer;
                }

                img {
                  width: auto;
                  height: 100%;

                  cursor: pointer;
                }

                .filled_avatar {
                  width: 140px;
                }

                #choose-avatar {
                  display: none;
                }
              }
            }

            &__inputs {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              flex: 1 0 auto;
            }
          }
        }

        .job-info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          min-height: 140px;

          .position-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            div {
              width: 48%;
            }
          }
        }

        .login-info {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .content__inputs {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
          }
        }

        .buttons {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          width: 100%;

          .btn-generate-credentials, .btn-create-employee {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
          .btn-generate-credentials{
            background-color: transparent;
            border: 1px solid $accent_color_bright;
            margin-right: 15px;
            img {
              margin-right: 11px;
            }
          }

          .btn-create-employee {
            background-color: $accent_color_bright;
            padding: 0 30px;
          }
        }
      }
    }
  }
}
