@import 'base/variables';

.new-employee {
  position: relative;

  &__inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  &__office {
    grid-column: span 2;
  }

  &__title::after {
    content: '';

    display: block;

    width: 237px;
    height: 4px;

    background-color: $accent_color_bright;
  }

  &__heading {
    margin-top: 30px;
  }

  &__buttons {
    margin-top: 35px;

    width: 216px;
  }

  &__reset {
    justify-self: end;
  }

  &__submit {
    justify-self: start;
  }

  &__memo {
    position: absolute;
    top: 60px;
    right: 24px;
  }
}
