<mat-dialog-content class="new-employee">
  <form [formGroup]="userForm" (ngSubmit)="createEmployee()" autocomplete="off">
    <h1 class="new-employee__title h2 text_dark_1">
      Новая карточка сотрудника
    </h1>
    <div class="new-employee__personal-info">
      <h2 class="new-employee__heading h3 text_dark_1 new-employee__flex-label">
        <span>Личные данные</span>
        <span class="regular_text text-negative_accent"
          ><sup>*</sup>Обязательные поля</span
        >
      </h2>
      <div class="new-employee__inputs">
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Фамилия</mat-label>
          <input
            matInput
            placeholder="Введите фамилию"
            formControlName="lastName"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Имя</mat-label>
          <input
            matInput
            placeholder="Введите имя"
            formControlName="firstName"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Отчество</mat-label>
          <input
            matInput
            placeholder="Введите отчество"
            formControlName="middleName"
          />
        </mat-form-field>
        <mat-form-field
          class="mat-form-field_default-select"
          appearance="fill"
          floatLabel="always"
        >
          <mat-label>Пол</mat-label>
          <mat-select
            class="select"
            placeholder="Выберите пол"
            formControlName="sex"
          >
            <mat-option *ngFor="let option of sex" [value]="option">{{
              option
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          class="mat-form-field__form-control"
          appearance="fill"
          floatLabel="always"
        >
          <mat-label>Дата рождения</mat-label>
          <input
            matInput
            formControlName="birthDate"
            [matDatepicker]="picker_birth"
            placeholder="ДД месяц ГГГГ"
          />
          <mat-datepicker-toggle matSuffix [for]="picker_birth">
            <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker_birth></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Город</mat-label>
          <input
            matInput
            placeholder="Введите город"
            formControlName="city"
            required
          />
        </mat-form-field>
      </div>
    </div>
    <div class="new-employee__working-info">
      <h2 class="new-employee__heading h3 text_dark_1">Рабочая информация</h2>
      <div class="new-employee__inputs">
        <mat-form-field
          class="mat-form-field_default-select"
          appearance="fill"
          floatLabel="always"
        >
          <mat-label>Должность</mat-label>
          <mat-select
            class="select"
            placeholder="Выберите должность"
            formControlName="position"
            required
          >
            <mat-option *ngFor="let position of positions" [value]="position">{{
              position
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          class="mat-form-field_default-select"
          appearance="fill"
          floatLabel="always"
        >
          <mat-label>Департмент</mat-label>
          <mat-select
            class="select"
            placeholder="Выберите департамент"
            formControlName="department"
            required
          >
            <mat-option
              *ngFor="let department of departments"
              [value]="department"
              >{{ department }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Ставка</mat-label>
          <button
            mat-icon-button
            matPrefix
            type="button"
            (click)="changeWorkingRate(-0.25)"
            [disabled]="rate.value === '0.25'"
          >
            -
          </button>
          <input #rate matInput readonly formControlName="rate" required />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="changeWorkingRate(0.25)"
            [disabled]="rate.value === '1'"
          >
            +
          </button>
        </mat-form-field>
        <mat-form-field
          class="mat-form-field__form-control"
          appearance="fill"
          floatLabel="always"
        >
          <mat-label>Начало работы</mat-label>
          <input
            matInput
            formControlName="workingSince"
            [matDatepicker]="picker_work"
            placeholder="ДД месяц ГГГГ"
            required
          />
          <mat-datepicker-toggle matSuffix [for]="picker_work">
            <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker_work></mat-datepicker>
        </mat-form-field>
        <mat-form-field
          class="mat-form-field_default-select new-employee__office"
          appearance="fill"
          floatLabel="always"
        >
          <mat-label>Офис</mat-label>
          <mat-select
            class="select"
            placeholder="Выберите офис"
            formControlName="office"
            required
          >
            <mat-option *ngFor="let office of offices" [value]="office">{{
              office
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="new-employee__auth">
      <h2 class="new-employee__heading h3 text_dark_1">Аутентификация</h2>
      <div class="new-employee__inputs">
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>E-mail</mat-label>
          <input
            matInput
            placeholder="Введите E-mail"
            formControlName="lastName"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>
            Пароль
            <mat-icon
              class="new-employee__hint"
              aria-label="Hint"
              matTooltipClass="tooltip"
              matTooltip="Пароль будет отправлен сотруднику автоматически"
              [matTooltipPosition]="'above'"
              >help_outline
            </mat-icon>
          </mat-label>
<!--          <div class="new-employee__flex-label">-->
<!--            <mat-label-->
<!--            >Пароль-->
<!--              <mat-icon-->
<!--                class="new-employee__hint"-->
<!--                aria-label="Hint"-->
<!--                matTooltipClass="tooltip"-->
<!--                matTooltip="Пароль будет отправлен сотруднику автоматически"-->
<!--                [matTooltipPosition]="'above'"-->
<!--              >help_outline-->
<!--              </mat-icon>-->
<!--            </mat-label>-->
<!--            <button-->
<!--              mat-flat-button-->
<!--              class="text-negative_accent new-employee__generate"-->
<!--              type="button"-->
<!--              (click)="generateCredentials()"-->
<!--            >-->
<!--              Сгенерировать-->
<!--            </button>-->
<!--          </div>-->
          <input
            matInput
            formControlName="password"
            [type]="passwordType"
            placeholder="Сгенерируйте пароль"
            required
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="toggleVisibility()"
          >
            <mat-icon class="text-gray1">{{ passwordIcon }}</mat-icon>
          </button></mat-form-field
        >
        <button
          mat-flat-button
          mat-dialog-close
          type="button"
          class="text-gray new-employee__reset new-employee__buttons"
        >
          Отмена
        </button>
        <button
          mat-flat-button
          type="submit"
          [disabled]="userForm.invalid"
          class="bg-accent_color_bright text-light_1 new-employee__submit new-employee__buttons"
        >
          Сохранить
        </button>
      </div>
    </div>
  </form>
</mat-dialog-content>
