@import 'base/variables';

button {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  overflow: visible;
  background: transparent;
  width: 19px;
  height: 19px;
  svg {
    height: 100%;
    width: 100%;
  }
  &:hover {
    outline: none;
    box-shadow: none;
  }
}

p {
  margin: 0;
}

.task-row {
  display: flex;
  flex-direction: row;
  padding: 25px 24px 16px 24px;
  border-radius: 5px;
  background: $light_1;

  .time {
    width: 12%;
    &__period {
      font-weight: bold;
      color: $dark_2;
    }
  }

  .note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    &__head {
      font-weight: 600;
      color: $dark_1;
      margin-bottom: 12px;
    }
    &__text {
      color: $dark_1;
      margin-bottom: 8px;
    }
    &__date {
      height: 24px;
      font-size: 14px;
    }
  }

  .icons {
    width: 13%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
  }
}

.col {
  border-radius: inherit;
}

.col-1 {
  width: 10%;
  min-width: 60px;
  padding-right: 24px;
}

.col-2 {
  width: 57%;
  padding-right: 42px;
}

.col-3 {
  margin-left: auto;
  min-width: auto;
}
