<div class="wiki-search-bar">
	<img src="./assets/images/search.png" alt="Searchbar" class="wiki-search-bar__image" />
	<h1 class="wiki-search-bar__title">База знаний</h1>
	<do-form-field class="wiki-search-bar__search">
		<mat-form-field>
			<mat-icon class="text-secondary_default" matPrefix [svgIcon]="Icons.Search"></mat-icon>
			<input matInput type="text" placeholder="Задайте свой вопрос" />
		</mat-form-field>
	</do-form-field>
	<button doButton class="wiki-search-bar__button" mat-flat-button color="primary">Найти</button>
</div>
