.modal {
	&__error {
		margin: 10px 0;
	}

	&__range-picker {
		margin-right: 33px;
		width: 270px;
	}

	&__hours {
		display: flex;
		flex-direction: column;
	}

	&__selected-hours {
		margin-bottom: 0;
	}
}

.content {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
}

.controls {
	margin-top: 20px;

	display: flex;
	justify-content: space-around;

	button {
		width: 180px;
	}
}
