<div class="flex flex_column form" [formGroup]="form">
	<do-form-field label="Что вы хотите добавить?" labelClass="main">
		<mat-form-field>
			<mat-select [value]="0" disabled>
				<mat-option [value]="0">Статью</mat-option>
			</mat-select>
		</mat-form-field>
	</do-form-field>
	<do-form-field label="Выберите рубрику" labelClass="main">
		<mat-form-field>
			<mat-select formControlName="rubricId" placeholder="Выберите из списка">
				<mat-option *ngFor="let rubric of rubrics$ | async" [value]="rubric.id">{{ rubric.name }}</mat-option>
			</mat-select>
			<mat-error>{{ form.controls.rubricId.errors | controlErrors }}</mat-error>
		</mat-form-field>
	</do-form-field>
	<do-form-field label="Выберите подрубрику" labelClass="main">
		<mat-form-field>
			<mat-select formControlName="subRubricId" placeholder="Выберите из списка (необязательно)">
				<mat-option>Не выбрано</mat-option>
				<mat-option *ngFor="let rubric of subRubrics$ | async" [value]="rubric.id">
					{{ rubric.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</do-form-field>
</div>
