@import '../../../../stylesheets/abstracts/variables';

/*основной класс*/
.button {
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  p {
    margin: 0;
  }
}

.button-lg {
height: 40px;
}

.button-md {
  height: 32px;
}

/*цвета кнопок, шрифтов и бордеров*/

.border-accent_color {
  border: 1px solid $accent_color;
}

.border-accent_color_bright {
  border: 1px solid $accent_color_bright;
}

.bg-accent_color {
  background: $accent_color;
}

.bg-accent_color_bright {
  background: $accent_color_bright;
}

.bg-dark_1 {
  background: $dark_1;
}

.bg-light_2 {
  background: $light_2;
}

.font-dark_1 {
  color: $dark_1;
}

.font-white_1 {
  color: $font_color;
}

.font-gray {
  color: $gray;
}

.font-light_1 {
  color: $light_1;
}
.font-regular_font {
  font-family: $regular_font;
}
