@import "base/variables";

.gradient__graphics {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 48px 48px 40px;
  width: 100%;
  height: 100%;

  .time__period .h3 {
    text-align: right;
    color: $dark_1;
  }

  .graphics__container {
    display: flex;
    justify-content: space-between;
    margin: 10px 18px 0;
    border-bottom: solid 1px $gray;

    .graphic__column {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .hours__processing {
        text-align: center;
        color: $gray;
      }

      .item__description {
        display: block;
        height: 6px;
        width: 32px;
        border-radius: 10px;
        margin: 5px 0 0;
      }
    }

    .graphic__column:first-child {
      margin-left: 2px; // to cut button line
    }

    .graphic__column:last-child {
      margin-right: 2px; //to cut button line
    }
  }

  .dates__container {
    display: flex;
    justify-content: space-between;
    margin: 3px 20px 0;

    .column__date {
      text-align: center;
      width: 32px;
      font-family: $regular_font;
      font-size: 14px;
    }
  }
}
