<div class="form" [formGroup]="form">
	<do-form-field label="Название проекта" required class="long-field">
		<mat-form-field>
			<input matInput formControlName="name" type="text" placeholder="Название проекта" />
		</mat-form-field>
	</do-form-field>
	<do-form-field label="Сокращенное название" required>
		<mat-form-field>
			<input matInput formControlName="shortName" type="text" placeholder="Сокр. название" />
		</mat-form-field>
	</do-form-field>
	<do-form-field label="Департамент">
		<do-infinite-autocomplete
			formControlName="department"
			placeholder="Департамент"
			[loadOptions$]="departmentAutocompleteConfig.loadOptions$"
			[displayValueGetter]="departmentAutocompleteConfig.displayValueGetter"
			[displayWithFn]="departmentAutocompleteConfig.displayWithFn"
			[valueGetter]="departmentAutocompleteConfig.valueGetter"
		></do-infinite-autocomplete>
	</do-form-field>
	<do-form-field label="Заказчик" class="long-field">
		<mat-form-field>
			<input matInput formControlName="customer" type="text" placeholder="Наименование заказчика" />
		</mat-form-field>
	</do-form-field>
</div>
