<div class="form">
	<do-form-field label="Название проекта" class="long-field">
		<mat-form-field>
			<input matInput type="text" placeholder="Название проекта" />
		</mat-form-field>
	</do-form-field>
	<do-form-field label="Сокращенное название">
		<mat-form-field>
			<input matInput type="text" placeholder="Сокр. название" />
		</mat-form-field>
	</do-form-field>
	<do-form-field label="Департамент">
		<do-autocomplete placeholder="Департамент"></do-autocomplete>
	</do-form-field>
	<do-form-field label="Заказчик" class="long-field">
		<mat-form-field>
			<input matInput type="text" placeholder="Наименование заказчика" />
		</mat-form-field>
	</do-form-field>
</div>
