:host {
	display: block;
}

.section-title {
	margin-bottom: 24px;
}

.projects {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(256px, 0.25fr));
	grid-gap: 32px;
}

.project {
	box-shadow: 0 1px 10px 0 #00000026;
	align-self: start;
}

.show-all-button {
	margin-top: 24px;

	display: flex;
	align-items: center;

	cursor: pointer;

	&:hover {
		color: #808080;
	}
}
