<h1 class='heading' doText>Доска проектов</h1>
<div class="card card_standard">
    <div class="table__header">
        <button mat-flat-button color="orange" (click)="onAddProjectClick()">+ Создать проект</button>
    </div>
	<table doText class="table__content" matSort>
		<tr>
			<th mat-sort-header="name">Наименование</th>
			<th mat-sort-header="description">Описание</th>
			<th mat-sort-header="director">Департамент</th>
			<!-- <th mat-sort-header="amount">Количество участников</th> -->
		</tr>
		<tr class="table__row" *ngFor="let project of projectList" (click)="onProjectClick(project?.id)">
			<td>{{ project.name }}</td>
			<td>{{ project.description ? project.description : '—' }}</td>
			<td>{{ project.department?.name ? project.department?.name : '—' }}</td>
			<!-- <td>{{ project?.users?.length }}</td> -->
		</tr>
	</table>
    <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50]" (page)="onPageChange($event)"></mat-paginator>
</div>
