<div class="projects-table__container">
  <h1 class="h1">Доска проектов</h1>
  <mat-form-field class="mat-form-field_default-select" appearance="none">
    <mat-select
      class="select"
      placeholder="Все"
      (selectionChange)="onSelect($event)"
    >
      <mat-option *ngFor="let group of groups" [value]="group.groupName">
        {{ group.groupName }}
      </mat-option>
      <mat-option value=""> Все </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="projects-table__projects-group" *ngFor="let group of groups">
    <ng-container
      *ngIf="visiblyGroup === '' || group.groupName === visiblyGroup"
    >
      <h2 class="group-name h3">{{ group.groupName }}</h2>
      <div class="group-container">
        <do-project-card
          showStatisticsBtn="true"
          *ngFor="let project of group.groupData"
          [project]="project"
        ></do-project-card>
      </div>
    </ng-container>
  </div>
</div>
