<div class="new-department">
	<span class="title h1 h1_dark_2">Новый департамент</span>
	<div class="form__container">
		<form autocomplete="off" class="data-form" [formGroup]="departmentForm" (ngSubmit)="postDepartment()">
			<div class="new-department__input-container">
				<mat-form-field appearance="fill">
					<mat-label>Название</mat-label>
					<input matInput type="text" id="name" formControlName="name" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Описание</mat-label>
					<input matInput type="text" id="description" formControlName="description" />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Директор</mat-label>
					<mat-select id="director" formControlName="directorId">
						<mat-option *ngFor="let director of directors" [value]="director.id">
							{{ director.lastName + ' ' + director.firstName }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<button mat-flat-button color="primary" class="btn-create-department" type="submit" [disabled]="departmentForm.invalid">
				<span class="regular_text regular_text_light_1">Добавить департамент</span>
			</button>
		</form>
	</div>
</div>
