<form autocomplete="off" class="data-form" [formGroup]="departmentForm" (ngSubmit)="postDepartment()">
	<h3 mat-dialog-title>Новый департамент</h3>
	<mat-dialog-content class="new-department">
		<div class="form__container">
			<div class="new-department__input-container">
				<mat-form-field appearance="fill">
					<mat-label>Название</mat-label>
					<input matInput type="text" id="name" formControlName="name" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Описание</mat-label>
					<input matInput type="text" id="description" formControlName="description" />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Директор</mat-label>
					<mat-select id="director" formControlName="directorId">
						<mat-option *ngFor="let director of directors$ | async" [value]="director.id">
							{{ director.lastName + ' ' + director.firstName }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions align="center">
		<button class="text-gray" mat-flat-button mat-dialog-close type="button">Отмена</button>
		<button mat-flat-button color="primary" type="submit" [disabled]="departmentForm.invalid">Создать департамент</button>
	</mat-dialog-actions>
</form>
