<h4>Таблица проектов</h4>
<table class="table">
	<colgroup>
		<col class="column column_width_m" />
		<col class="column column_width_sm" />
		<col class="column column_width_sm" />
		<col class="column column_width_l" />
		<col class="column column_width_t" />
	</colgroup>
	<thead>
		<tr class="row">
			<th class="cell">
				<p>Название проекта</p>
			</th>
			<th class="cell">
				<p>Внесенные часы</p>
			</th>
			<th class="cell">
				<p>Дата внесения</p>
			</th>
			<th class="cell">
				<p>Комментарий</p>
			</th>
			<th class="cell">
				<p></p>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let project of projects" class="row">
			<td class="cell">
				<p>{{ project?.project?.name }}</p>
			</td>
			<td class="cell">
				<p>{{ project?.userHours ? project?.userHours : 0 }} ч</p>
			</td>
			<td class="cell">
				<p *ngIf="project?.modifiedAtUtc; else empty">{{ project?.modifiedAtUtc | date: 'd MMMM' }}</p>
			</td>
			<td class="cell">
				<do-comment *ngIf="project?.description; else empty" [text]="project?.description"></do-comment>
			</td>
			<td class="cell cell__icon">
				<button *ngIf="canEdit" mat-icon-button (click)="openEditModal(project)">
					<mat-icon>edit</mat-icon>
				</button>
			</td>
		</tr>
	</tbody>
</table>

<ng-template #empty>
	<span>—</span>
</ng-template>
