<h4 class='h4'>Таблица проектов</h4>
<table class='task-table'>
  <thead doText color='gray1'>
    <tr class='row'>
      <th class='cell row__name'>
        <div class='cell__content'>
          <p class='cell__text regular_text'>Название проекта</p>
        </div>
      </th>
      <th class='cell row__hours'>
        <div class='cell__content'>
          <p class='cell__text regular_text'>Внесенные часы</p>
        </div>
      </th>
      <th class='cell row__period'>
        <div class='cell__content'>
          <p class='cell__text regular_text'>Дата внесения</p>
        </div>
      </th>
      <th class='cell row__comment'>
        <div class='cell__content'>
          <p class='cell__text regular_text'>Комментарий</p>
        </div>
      </th>
      <th class='cell row__icon'>
        <div class='cell__content'>
          <p class='cell__text regular_text'></p>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects" class='row'>
      <td class='cell'>
        <div class='cell__content'>
          <p class='cell__text regular_text'>{{project.name}}</p>
        </div>
      </td>
      <td class='cell'>
        <div class='cell__content'>
          <p class='cell__text regular_text'>{{project.userHours? project.userHours : 0}} ч</p>
        </div>
      </td>
      <td class='cell'>
        <div class='cell__content'>
          <p class='cell__text regular_text'>{{getDate(project.year, project.month - 1) | date: 'd MMMM'}}</p>
        </div>
      </td>
      <do-comment [text]="project.description"></do-comment>
      <td class='cell cell_icon'>
        <button *ngIf="canEdit" mat-icon-button (click)="openEditModal(project)">
          <mat-icon doText color='gray1'>edit</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>