.header {
	font-size: 18px;
}

.task-table {
	border-collapse: collapse;

	font-size: 16px;
	text-align: left;
	//width: 100%;
}

.cell {
	font-weight: normal;
	vertical-align: top;

	border-bottom: 1px solid #f5f5f5;

	&_size-t {
		width: 5%;
	}

	&_size-sm {
		width: 15%;
	}

	&_size-m {
		width: 20%;
	}

	&_size-l {
		width: 30%;
	}

	&__text {
		margin: 13px 35px 13px 0;

		line-height: 24px;
	}

	&_wrappable {
		word-break: break-all;
	}

	&_icon {
		text-align: right;
	}
}

.menu-item {
	font-size: 16px;
}
