<h4 class='header'>Таблица проектов</h4>
<div class='wrapper'>
  <table class='task-table'>
    <thead doText color='gray1'>
      <th class='cell cell_size-m'>
        <p class='cell__text'>Название проекта</p>
      </th>
      <th class='cell cell_size-sm'>
        <p class='cell__text'>Внесенные часы</p>
      </th>
      <th class='cell cell_size-sm'>
        <p class='cell__text'>Дата внесения</p>
      </th>
      <th class='cell cell_size-l'>
        <p class='cell__text'>Комментарий</p>
      </th>
      <th class='cell cell_size-t'>
        <p class='cell__text'></p>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td class='cell cell_size-m'>
          <p class='cell__text cell_wrappable'>{{project.name}}</p>
        </td>
        <td class='cell cell_size-sm'>
          <p class='cell__text cell_wrappable'>{{project.userHours? project.userHours : 0}} ч</p>
        </td>
        <td class='cell cell_size-sm'>
          <p class='cell__text cell_wrappable'>{{getDate(project.year, project.month) | date: 'd MMMM'}}</p>
        </td>
        <td class='cell cell_size-l'>
          <p class='cell__text cell_wrappable'>{{project.description}}</p>
        </td>
        <td class='cell cell_size-t cell_icon'>
          <button mat-icon-button (click)="openDeleteModal(project)">
            <mat-icon doText color='gray1'>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>