@import 'abstracts/variables';
@import 'base/fonts';

.project__container{
  max-width: 300px;
  max-height: 349px;
  border-radius: 5px;
  padding: 32px;
  background-color: #FFFFFF;

  .project__name,
  .project__comment,
  .hours,
  .gray__circle{
    color: $dark_1;
  }

  .project__customer{
    margin: 8px 0 20px;
  }

  .project__details{
    margin: 79px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contribution{
      text-align: center;
    }

    .team{
      display: flex;
    }

    .participant,
    .gray__circle{
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: contain;
      width: 36px;
      height: 36px;
      margin: 0 0 0 -10px;
      border-radius: 50%;

      .gray__circle {
        margin: 0;
        background-color: #E8E8E8;
      }
    }
  }
}


