<div class="project__container">

  <div class="h4 project__name">
    {{projectName}}
  </div>

  <div class="regular_text project__customer">
    {{consumer}}
  </div>

  <div class="regular_text project__comment">
    {{comment}}
  </div>

  <div class="project__details">

    <div class="contribution">
      <p class="regular_text">
        Мой вклад<br>
        <span class="h4 hours">{{myHours}} ч</span>
      </p>
    </div>

    <div class="team">
      <div class="participant" *ngFor="let participant of participants | slice:0:5; let i = index"
           [style.background-image]="'url(' + participant + ')'">
        <div class="regular_text gray__circle" *ngIf="i == 4">
          +{{amountHiddenPhoto}}
        </div>
      </div>
    </div>

  </div>
</div>

