<!--<div class="toolbar">
  <div class="toolbar_container">
    <ul>
      <li class="toolbar_menu"><a class="menu_link" href="#"></a><img src="../../assets/Vector (1).svg" alt="menu"></a></li>
      <li class="toolbar_logo"><a class="logo_link" href="#"><img src="../../assets/trrak!.svg" alt="logo"></a></li>
      <li class="toolbar_mood"><a class="mood_link" href="#">темный режим<img src="../../assets/mode.svg" alt="mood"></a></li>
      <li class="toolbar_greeting"><a class="greeting_link" href="#">Привет,</a>
      <li class="toolbar_notification"><a href="#"><img src="../../assets/notification.svg" alt="notification"></a></li>
    </ul>
  </div>
</div>-->
<div class="toolbar">
  <div class="toolbar_container">
    <div class="toolbar_menu">
      <a href="#"><img src="../../assets/Vector (1).svg" alt="menu"></a></div>
    <div class="toolbar_logo">
      <a href="#"><img src="../../assets/trrak!.svg" alt="logo"></a></div>
    <div class="toolbar_mood">
      <div class="theme-button" id="theme-button">темный режим<img src="../../assets/mode.svg" alt=""></div>
    </div>

    <div class="toolbar_greeting">
      <a href="#">Привет,Иа</a>

    </div>
    <div class="toolbar_notification">
      <a href="#"><img src="../../assets/notification.svg" alt="notification"></a></div>
  </div>
</div>
