@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import 'abstracts/variables';
@import 'base/fonts';

.toolbar_container {
  position: fixed;
  background: #F6F6F4;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 56px;
  width: 100%;
  top: 0;
  a {
    text-decoration: none;
  }

  .toolbar_menu {
    position: absolute;
    width: 20px;
    height: 18px;
    left: 48px;
    top: 19px;
  }

  .toolbar_logo {
    left: 128px;
    top: 14px;
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    align-items: center;
    a {
    font-family: $header_font;
    color: $dark_2;
    }
  }

  .toolbar_mood {
    position: absolute;
    left: 240px;
    justify-content: space-between;
    max-width: 100%;
    display: inline-block;

    p {
      font-size: 16px;
      color: $gray;
      margin-top: 19px;
      float: left;
      font-family: $regular_font;
    }
    img {
      width: 20px;
      height: 20px;
      margin-top: 19px;
      padding-left: 10px;
    }
  }

  .toolbar_greeting {
    position: absolute;
    max-width: 100%;
    right: 128px;

    .toolbar_greeting_nav-link{
      display: flex;
      align-items: center;
      img {
        width: 36px;
        height: 35.25px;
      }
      p {
        color: $dark_2;
        line-height: 24px;
        font-size: 16px;
        font-family: $regular_font;
        margin-left: 10px;
      }
    }

  }
  .toolbar_notification {
    position: fixed;
    width: 22px;
    height: 23.83px;
    right: 48px;
    top: 17.63px;

  }
}
