@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import 'abstracts/variables';
@import 'base/fonts';

.toolbar {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background: #F6F6F4;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 56px;
  width: 100%;
  min-width: 700px;

  &__menu {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    left: 48px;
  }

  &__logo {
    left: 128px;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    a {
      font-family: $header_font;
      color: $dark_2;
      text-decoration: none;
    }
  }

  &__mood {
    position: absolute;
    justify-content: space-between;
    left: 240px;
    max-width: 100%;
    cursor: pointer;

    &__change {
      display: flex;
      align-items: center;
    }
    p {
      color: $gray;
      font-family: $regular_font;
      float: left;
    }
    img {
      width: 20px;
      height: 20px;
      padding-left: 10px;
    }
  }

  &__greeting {
    position: absolute;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    right: 128px;

    &__nav-link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
      img {
        width: 36px;
        height: 35.25px;
        margin-right: 10px;
      }
      p {
        color: $dark_2;
        font-family: $regular_font;
        span {
          color: $dark_2;
          font-family: $header_font;
        }
      }
    }
  }
  &__notification {
    position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;
    right: 48px;
    height: 100%;

    &__bell {
      width: 22px;
      height: 23.83px;
    }
    &__light {
      position: absolute;
      width: 8px;
      height: 8px;
      right: 1px;
    }
  }
}
