@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import 'abstracts/variables';
@import 'base/fonts';

.toolbar_container {
  position: fixed;
  background: #F6F6F4;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 56px;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
  }

  .toolbar_menu {
    position: absolute;
    width: 20px;
    height: 18px;
    left: 48px;
    display: flex;
    align-items: baseline;
  }

  .toolbar_logo {
    left: 128px;
    position: absolute;
    display: flex;
    align-items: baseline;
    a {
      font-family: $header_font;
      color: $dark_2;
    }
  }

  .toolbar_mood {
    position: absolute;
    left: 240px;
    justify-content: space-between;
    max-width: 100%;

    .toolbar_mood_nav-link {
      display: flex;
      align-items: center;
    }
    p {
      color: $gray;
      float: left;
      font-family: $regular_font;
    }
    img {
      width: 20px;
      height: 20px;
      padding-left: 10px;
    }
  }

  .toolbar_greeting {
    position: absolute;
    max-width: 100%;
    right: 128px;

    .toolbar_greeting_nav-link{
      display: flex;
      align-items: center;
      img {
        width: 36px;
        height: 35.25px;
        margin-right: 10px;
      }
      p {
        color: $dark_2;
        font-family: $regular_font;
      }
    }
  }
  .toolbar_notification {
    position: absolute;

    .toolbar_notification_bell {
      position: fixed;
      width: 22px;
      height: 23.83px;
      right: 48px;
      top: 18px;
    }
    .toolbar_notification_light {
      position: fixed;
      width: 8px;
      height: 8px;
      right: 48px;
      top: 18px;
    }
  }
}
