
<div class="toolbar">
  <div class="toolbar_container">
    <div class="toolbar_menu">
      <a href="#"><img src="../../assets/Vector (1).svg" alt="menu"></a></div>
    <div class="toolbar_logo">
      <a href="#">trrak!</a></div>
    <div class="toolbar_mood">
      <a href="#">
        <p>темный режим</p>
        <img src="../../assets/mode.svg" alt=""></a>
    </div>

    <div class="toolbar_greeting">
      <a href="#">
        <p>Привет, Ева</p></a>

    </div>
    <div class="toolbar_notification">
      <a href="#"><img src="../../assets/notification.svg" alt="notification"></a></div>
  </div>
</div>

