.profile-image {
	display: flex;
	overflow: hidden;

	justify-self: center;

	align-items: center;

	width: 180px;
	height: 180px;

	border-radius: 50%;

	&_size_sm {
		width: 48px;
		height: 48px;
	}
}
