.profile-image {
	display: flex;
	overflow: hidden;

	justify-content: center;

	width: 48px;
	height: 48px;

	border-radius: 50%;

	&_size {
		&_s {
			width: 40px;
			height: 40px;
		}

		&_l {
			width: 180px;
			height: 180px;
		}
	}
}
