@use 'base/variables' as variables;

.avatar {
	overflow: hidden;

	border-radius: 50%;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.initials {
		user-select: none;
		display: flex;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 100%;

		color: #fff;
		background: variables.$accent_color;

		span {
			text-transform: uppercase;
		}
	}
}
