.table {
	&-header {
		margin-bottom: 20px;

		display: flex;
		justify-content: space-between;
	}

	&-content {
		width: 100%;
	}

	&-filters {
		display: flex;
		justify-content: space-between;
	}
}

input {
	width: 50%;
}

th,
.role_description,
a {
	font: 400 16px/1.5 'GillSansWGL', sans-serif;

	color: #a3a3a2;
}

.navigation {
	margin-bottom: 50px;

	mat-icon {
		vertical-align: middle;
	}

	a {
		display: inline-block;

		height: 24px;

		vertical-align: middle;
	}

	a:hover {
		text-decoration: underline;
	}
}

.role_name {
	font: 400 16px/1.5 'GillSansWGL', sans-serif;
}

span {
	color: #a3a3a2;
}
