<mat-card class="chart" *ngIf="selectedDate$ | async as selectedDate">
	<h3 doText underlined underlinedSize="sm">
		Часы за&nbsp;
		<mat-form-field appearance="fill" class="chart__hidden">
			<input matInput [matDatepicker]="picker" />
			<mat-datepicker #picker startView="year" (monthSelected)="chosenMonthHandler($event, picker)"></mat-datepicker>
		</mat-form-field>

		<a (click)="picker.open()" class="mat-h3 chart__month-picker text-accent_color_bright">
			{{ selectedDate | date: 'LLLL YYYY' }}
			<mat-icon>keyboard_arrow_down</mat-icon>
		</a>
	</h3>

	<div class="chart__diagram-wrapper">
		<button (click)="onPreviousMonthClicked(selectedDate)" class="bg-light_3" mat-mini-fab [class.mat-elevation-z0]="true">
			<mat-icon>chevron_left</mat-icon>
		</button>
		<div class="chart__doughnut">
			<do-doughnut-chart></do-doughnut-chart>
		</div>
		<button (click)="onNextMonthClicked(selectedDate)" class="bg-light_3" mat-mini-fab [class.mat-elevation-z0]="true">
			<mat-icon>chevron_right</mat-icon>
		</button>
	</div>
</mat-card>
