@use 'base/variables';

.chart {
	padding: 0 50px 32px;

	display: flex;
	flex-direction: column;

	height: 100%;

	&__doughnut {
		position: relative;

		height: 185px;
	}

	&__diagram-wrapper {
		padding-bottom: 30px;

		display: flex;
		justify-content: space-between;
		align-items: center;

		width: 100%;
	}

	&__hidden {
		visibility: hidden;

		width: 0;
		height: 0;
	}

	&__month-picker {
		display: inline-flex;
		align-items: center;

		cursor: pointer;
	}
}
