@import 'base/variables';
@import 'base/fonts';

.desc {
	display: flex;
	flex-direction: column;

	background: url('/assets/svg/fon.svg') repeat;

	&__title {
		margin-bottom: 16px;

		text-align: left;

		color: $dark_1;
	}

	&__content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		height: 240px;

		background-size: cover;
	}

	.desc__calender {
		margin: 36px 0 0 48px;
	}

	&__photo {
		margin-right: 65px;

		width: 189px;
		align-self: flex-end;
	}
}

.content__week {
	margin-top: 16px;
	margin-bottom: 24px;

	display: flex;

	color: $dark_1;

	&__day {
		margin-right: 12px;

		flex-direction: column;

		cursor: pointer;

		&-single {
			margin-bottom: 10px;

			text-align: center;
		}
	}
}

.choose_date__wrapper {
	position: relative;

	display: flex;
	align-items: center;

	width: 179px;
	height: 32px;

	.dropdown-menu {
		background: #fff;

		&.d-none {
			display: none;
		}
	}

	.btn_choose-date {
		width: 179px;
		height: 32px;
	}

	ngb-datepicker {
		position: absolute;
		z-index: 10;
		top: 28px;
	}
}
