@import 'base/variables';
@import 'base/fonts';

.desc {
  display: flex;
  flex-direction: column;

  &__title {
    color: $dark_1;
    margin-bottom: 16px;
    text-align: left;
  }
  &__content {
    background: url('../../../../../assets/svg/fon.svg') no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .desc__calender {
    margin: 36px 0 0 48px;
  }
  &__photo {
    width: 189px;
    margin-right: 65px;
    align-self: flex-end;
  }
}
.content__period {
  color: $dark_2;
}
.content__week {
  display: flex;
  width: 380px;
  color: $dark_1;
  margin-top: 16px;
  margin-bottom: 24px;

  &__day {
    flex-direction: column;
    margin-right: 43.9px;
    &-single {
      margin-bottom: 10px;
      text-align: center;
    }
    &_orange {
      background: $accent_color_bright;
      text-align: center;
      border-radius: 50%;
      width: 25px;
      color: $light_1;
    }
  }
}
.choose_date__wrapper {
  height: 32px;
  width: 179px;
  display: flex;
  align-items: center;
  position: relative;
  .dropdown-menu {
    background: white;
    &.d-none {
      display: none;
    }
  }
  .btn_choose-date {
    height: 32px;
    width: 179px;
  }
  ngb-datepicker {
    position: absolute;
    top: 28px;
    z-index: 10;
  }
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  outline: none;
  &.focused {
    background-color: #e6e6e6;
  }
  &.range,
  &:hover {
    background-color: $accent_color_bright;
    color: white;
    outline: none;
    border: none;
  }

  &.faded {
    background-color: $light_1;
    border-top: 1px solid $accent_color_bright;
    border-bottom: 1px solid $accent_color_bright;
    border-radius: 0;
    color: black;
  }
}

.datepicker {
  &__form {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  &__btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: $accent_color;
  }
  &__btn-text {
    display: inline;
    margin: 0;
    font-family: $regular_font;
  }
  &__btn-icon {
    display: inline;
    margin-left: 5px;
  }
}
