<form [formGroup]="addLeaveForm" autocomplete="off" (ngSubmit)="onSubmit()">
	<mat-form-field appearance="fill">
		<mat-label>Выберите диапазон отсутствия</mat-label>
		<mat-date-range-input
			[min]="minDate"
			[max]="maxDate"
			[dateFilter]="disableWeekends"
			[rangePicker]="$any(picker)"
			required
		>
			<input matStartDate formControlName="startDate" readonly />
			<input matEndDate formControlName="endDate" readonly />
		</mat-date-range-input>
		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-date-range-picker #picker (closed)="onClose()"></mat-date-range-picker>
	</mat-form-field>
	<div class="add-hours__absence-time">
		<p>Выбрано</p>
		<h3>{{ recommendedTime$$ | async }} ч</h3>
	</div>
	<mat-form-field appearance="fill">
		<mat-label>Выберите тип отсутствия</mat-label>
		<mat-select formControlName="leaveType" required>
			<mat-option *ngFor="let absence of absences" [value]="absence.leaveType">
				{{ absence.leaveInRussian }}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field appearance="fill">
		<mat-label>Комментарий</mat-label>
		<textarea matInput formControlName="comment" placeholder="Оставьте комментарий для менеджера"></textarea>
	</mat-form-field>
	<button
		mat-flat-button
		color="primary"
		[loading]="(loading$$ | async) ?? false"
		[disabled]="addLeaveForm.invalid || addLeaveForm.disabled"
	>
		Добавить часы
	</button>
</form>
