<h3 mat-dialog-title class="header">
	<span class="title">Загрузка новой фотографии</span>
	<button mat-icon-button mat-dialog-close>
		<mat-icon class="text-secondary_default">close</mat-icon>
	</button>
</h3>
<mat-dialog-content class="text-align_center">
	<ng-container *ngIf="!isImageUploaded; else preview">
		<div class="dropzone" doDnd (fileDropped)="onFileDropped($event)">
			<span class="upload-message">
				Коллегам будет проще узнать вас, если вы загрузите свою настоящую фотографию. Вы можете загрузить
				изображение в формате JPG, GIF или PNG.
			</span>
			<span class="drag-hint text-secondary_default">Перетащите файл сюда или</span>
			<button mat-flat-button (click)="uploadFile.click()" color="primary">Выбрать файл</button>
			<input
				#uploadFile
				hidden
				type="file"
				accept="image/png, image/jpeg, image/gif"
				(change)="onFileChanged($event)"
			/>
		</div>
		<span class="mat-body-2 text-secondary_default">
			Если у вас возникают проблемы с загрузкой, попробуйте выбрать фотографию меньшего размера.
		</span></ng-container
	>
</mat-dialog-content>
<div *ngIf="isImageUploaded" class="actions">
	<button mat-button type="button" (click)="isImageUploaded = false">Вернуться назад</button>
	<button mat-flat-button (click)="saveImage()" [loading]="loading$ | async" type="submit" color="primary">
		Сохранить изменения
	</button>
</div>

<ng-template #preview>
	<div class="preview">
		<span class="upload-message">
			Выбранная область будет показываться на вашей странице и на миниатюрах. Если изображение ориентировано
			неправильно, фотографию можно повернуть.
		</span>
		<div *ngIf="image$ | async as image" class="flex">
			<img [src]="image | imageUrl" alt="User photo" height="180" />
			<div class="miniatures">
				<do-profile-image [image]="image" size='m'></do-profile-image>
				<do-profile-image [image]="image" size='s'></do-profile-image>
			</div>
		</div>
	</div>
</ng-template>
