@use 'base/variables';

.upload-photo {
	&__dropzone {
		margin-bottom: 18px;

		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		width: 650px;
		height: 300px;

		text-align: center;

		border: 1px dashed variables.$accent_color;
		border-radius: 10px;
	}

	&__preview {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		width: 650px;
		height: 300px;

		text-align: center;
	}

	&__images {
		display: flex;
	}

	&__miniatures {
		margin-left: 38px;
	}

	&__hint {
		font-size: 14px;
		text-align: center;
	}

	&__heading {
		margin-bottom: 24px;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__miniature {
		overflow: hidden;

		border-radius: 50%;

		&_size {
			&_small {
				width: 36px;
				height: 36px;
			}

			&_medium {
				margin-bottom: 14px;

				width: 48px;
				height: 48px;
			}
		}
	}
}
