<h3 mat-dialog-title class="upload-photo__heading">
	Загрузка новой фотографии
	<button mat-icon-button>
		<mat-icon mat-dialog-close>close</mat-icon>
	</button>
</h3>
<mat-dialog-content class="upload-photo">
	<ng-container *ngIf="!isImageUploaded; else preview">
		<div class="upload-photo__dropzone" doDnd (fileDropped)="onFileDropped($event)">
			<p>
				Коллегам будет проще узнать вас, если вы загрузите свою настоящую фотографию. Вы можете загрузить
				изображение в формате JPG, GIF или PNG.
			</p>
			<p>Перетащите файл сюда или</p>
			<button mat-flat-button (click)="uploadFile.click()" color="primary">Выбрать файл</button>
			<input
				#uploadFile
				hidden
				type="file"
				accept="image/png, image/jpeg, image/gif"
				(change)="onFileChanged($event)"
			/>
		</div>
		<p class="upload-photo__hint">
			Если у вас возникают проблемы с загрузкой, попробуйте выбрать фотографию меньшего размера.
		</p></ng-container
	>
</mat-dialog-content>
<mat-dialog-actions *ngIf="isImageUploaded" align="center">
	<button mat-button type="button" (click)="isImageUploaded = false">Вернуться назад</button>
	<button mat-flat-button [mat-dialog-close]="resultFile$ | async" type="submit" color="primary">
		Сохранить изменения
	</button>
</mat-dialog-actions>

<ng-template #preview>
	<div class="upload-photo__preview">
		<p>
			Выбранная область будет показываться на вашей странице и на миниатюрах. Если изображение ориентировано
			неправильно, фотографию можно повернуть.
		</p>
		<div *ngIf="imagePreview$ | async as imagePreview" class="upload-photo__images">
			<img [src]="imagePreview" alt="User photo" height="180" />
			<div class="upload-photo__miniatures">
				<div class="upload-photo__miniature upload-photo__miniature_size_medium">
					<img [src]="imagePreview" alt="Photo miniature" height="48" />
				</div>
				<div class="upload-photo__miniature upload-photo__miniature_size_small">
					<img [src]="imagePreview" alt="Photo miniature" height="36" />
				</div>
			</div>
		</div>
	</div>
</ng-template>
