.email {
	&-container {
		display: flex;

		width: 100%;
	}

	&-input {
		flex: 1;
	}

	&-save {
		cursor: pointer;
	}

	&-edit-btn {
		line-height: 20px;
		height: 20px;
	}

	&-error {
		position: relative;
		top: 2px;
		left: 26px;
	}
}
