<ng-container *ngIf="!isEditMode; else emailInput">
	<mat-checkbox (change)="handleCheck()" [checked]="value.checked" color="primary">{{ value.email }}</mat-checkbox>
	<button class="email-edit-btn" *ngIf="canEdit" mat-icon-button (click)="isEditMode = true" data-test="edit-email">
		<mat-icon color="warn" [svgIcon]="Icons.Edit"></mat-icon>
	</button>
	<div *ngIf="ngControl.errors?.['emailExists']" class="mat-body-2 warn email-error">
		E-mail уже зарегистрирован в системе!
	</div>
</ng-container>
<ng-template #emailInput>
	<div class="email-container">
		<do-form-row class="email-input">
			<mat-form-field>
				<input
					matInput
					type="text"
					[formControl]="emailControl"
					placeholder="Введите e-mail"
					doAutofocus
					autocomplete="off"
					(keyup.enter)="editEmail()"
					data-test="email-input"
				/>
				<mat-error>Некорректный e-mail!</mat-error>
				<button class="email-save" matSuffix mat-icon-button (click)="editEmail()" data-test="save-email">
					<mat-icon color="primary" [svgIcon]="Icons.Done"></mat-icon>
				</button>
			</mat-form-field>
		</do-form-row>
		<button mat-icon-button (click)="cancelEdit()" data-test="close-input">
			<mat-icon color="warn" [svgIcon]="Icons.Close"></mat-icon>
		</button>
	</div>
</ng-template>
