@import 'base/variables';

.employee-info {
  overflow: hidden;

  &__form {
    display: flex;
    justify-content: space-evenly;
  }

  &__main {
    padding: 52px 0 42px 47px;

    text-align: center;

    flex-basis: 25%;
  }

  &__general {
    margin-right: 32px;
    margin-left: 32px;

    padding: 52px 0 42px;

    flex-basis: 50%;
  }

  &__additional {
    padding: 52px 74px 42px 73px;

    flex-basis: 25%;

    .h4:last-of-type {
      margin: 42px 0 13px 0;
    }
  }

  &__photo {
    overflow: hidden;

    width: 180px;
    height: 180px;

    border-radius: 50%;
  }

  &__edit-button {
    padding: 52px 47px 42px 0;
  }

  &__submit-buttons {
    margin-top: 32px;

    display: flex;
    justify-content: center;
  }

  &__label {
    display: block;
  }

  &__form-field {
    display: block;
  }

  &__working-hours {
    display: inline-block;

    width: 80px;
  }

  &__stepper {
    text-align: center;
  }

  &__input {
    font-family: $regular_font !important;
  }

  &__about-me {
    line-height: 21px;
  }

  &__columns {
    margin-right: 32px;

    display: flex;
    justify-content: space-between;
  }

  &__border {
    margin: 50px 50px 0 50px;

    height: 320px;

    border-left: 1px solid $light_3;
  }

  &__hint {
    margin-left: 2px;

    width: 16px;
    height: 16px;

    vertical-align: -14%;
  }

  &__edit-icon {
    width: 20px;
    height: 20px;
  }

  &__required {
    color: $negative_accent;
  }

  .small_text {
    margin: 14px 0 3px 0;
  }

  .h3 {
    line-height: 33px;
  }

  .h4 {
    margin-bottom: 25px;

    font-size: 18px;
  }
}
