<mat-dialog-content class="archive">
  <h3 doText color="dark_1">Добавить эту карточку в архив?</h3>
  <mat-dialog-actions align='center'>
    <button
      mat-flat-button
      mat-dialog-close
      type="button"
      class="archive__button"
      doText
      color='gray1'
    >
      Отменить
    </button>
    <button
      mat-flat-button
      [mat-dialog-close]="'Карточка успешно добавлена в архив'"
      type="submit"
      class="archive__button bg-dark_1"
      doText
      color='light_1'
    >
      Добавить
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
