.header {
	margin-bottom: 24px;

	display: flex;
	align-items: baseline;

	.page-title {
		margin: 0;
	}

	.controls {
		margin-left: auto;
	}
}

.form {
	display: grid;
	grid-template-rows: auto auto;
	grid-gap: 8px;

	.name-group {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 16px;
	}

	.card-title {
		margin-bottom: 18px;
	}

	mat-card {
		padding: 20px;
	}
}
