<mat-dialog-content class="new-employee">
	<form [formGroup]="userForm" (ngSubmit)="createEmployee()" autocomplete="off">
		<h2 doUnderline underlinedSize="sm">Новая карточка сотрудника</h2>
		<div class="section new-employee__personal-info">
			<div class="new-employee__heading new-employee__label_flex">
				<h3>Личные данные</h3>
				<span class="text-negative_accent"><sup>*</sup>Обязательные поля</span>
			</div>
			<div class="new-employee__inputs">
				<mat-form-field appearance="fill">
					<mat-label>Имя</mat-label>
					<input id="firstName" matInput placeholder="Введите имя" formControlName="firstName" required />
					<mat-error *ngIf="userForm.get('firstName')?.hasError('required')">Имя обязательно!</mat-error>
					<mat-error *ngIf="userForm.get('firstName')?.hasError('whitespace')">Имя не может состоять только из пробелов!</mat-error>
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Фамилия</mat-label>
					<input id="lastName" matInput placeholder="Введите фамилию" formControlName="lastName" required />
					<mat-error *ngIf="userForm.get('lastName')?.hasError('required')">Фамилия обязательна!</mat-error>
					<mat-error *ngIf="userForm.get('lastName')?.hasError('whitespace')">Фамилия не может состоять только из пробелов!</mat-error>
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Отчество</mat-label>
					<input id="middleName" matInput placeholder="Введите отчество" formControlName="middleName" />
                    <mat-error *ngIf="userForm.get('middleName')?.hasError('whitespace')">Отчество не может состоять только из пробелов!</mat-error>
				</mat-form-field>
			</div>
		</div>
		<div class="section new-employee__working-info">
			<h3 class="new-employee__heading">Рабочая информация</h3>
			<div class="new-employee__inputs">
				<ng-container *ngIf="position$ | async as positionList">
					<mat-form-field appearance="fill">
						<mat-label>Должность</mat-label>
						<mat-select id="positionId" placeholder="Выберите должность" formControlName="positionId"
							required>
							<mat-option *ngFor="let position of positionList.body" [value]="position.id">
								{{ position?.name }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</ng-container>
				<ng-container *ngIf="department$ | async as departmentList">
					<mat-form-field appearance="fill">
						<mat-label>Департамент</mat-label>
						<mat-select id="departmentId" placeholder="Выберите департамент" formControlName="departmentId">
							<mat-option *ngFor="let department of departmentList.body" [value]="department.id">
								{{ department?.name }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</ng-container>
				<mat-form-field appearance="fill">
					<mat-label>Ставка</mat-label>
					<button class="new-employee__rate-button" mat-icon-button matPrefix type="button"
						(click)="changeWorkingRate(-0.25)" [disabled]="rate.value === '0.25'">
						-
					</button>
					<input #rate id="rate" class="new-employee__rate" matInput formControlName="rate" readonly />
					<button class="new-employee__rate-button" mat-icon-button matSuffix type="button"
						(click)="changeWorkingRate(0.25)" [disabled]="rate.value === '1'">
						+
					</button>
				</mat-form-field>
				<do-datepicker controlName="startWorkingAt" label="Начало работы" format="full" [isEdit]="true">
				</do-datepicker>
				<mat-form-field appearance="fill">
					<mat-label>Офис</mat-label>
					<mat-select id="office" placeholder="Выберите офис" formControlName="officeId" required>
						<mat-option *ngFor="let office of offices" [value]="office.id"> {{ office.city }}, {{
							office.address }} </mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Роль</mat-label>
					<mat-select id="roleId" placeholder="Выберите роль" formControlName="roleId">
						<mat-option *ngFor="let role of roles" [value]="role.id">
							{{ role?.name }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<div>
					<mat-checkbox color='accent' formControlName="isAdmin">Дать права администратора</mat-checkbox>
				</div>
			</div>
		</div>
		<div class="section new-employee__auth">
			<h3 class="new-employee__heading">Аутентификация</h3>
			<div class="new-employee__inputs">
				<mat-form-field class="new-employee__form-element_span_2" appearance="fill">
					<mat-label>E-mail
						<mat-icon class="new-employee__hint" aria-label="Hint" matTooltipClass="tooltip"
							matTooltip="На эту почту пользователю придет ссылка для регистрации"
							[matTooltipPosition]="'above'">help_outline
						</mat-icon>
					</mat-label>
					<input id="email" matInput placeholder="Введите E-mail" formControlName="email" required />
					<mat-error *ngIf="userForm.get('email')?.hasError('required')">Электронная почта обязательна!
					</mat-error>
					<mat-error *ngIf="userForm.get('email')?.hasError('email')">Неправильный формат почты!</mat-error>
				</mat-form-field>
			</div>
		</div>
		<div class="new-employee__actions">
			<button class="text-gray new-employee__reset new-employee__button" mat-flat-button mat-dialog-close
				type="button" (click)="onCancelClick()">
				Отмена
			</button>
			<button class="bg-accent_color_bright text-light_1 new-employee__submit new-employee__button" type="submit"
				mat-flat-button [disabled]="userForm.invalid">
				Сохранить
			</button>
		</div>
	</form>
</mat-dialog-content>
