@import 'abstracts/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 928px;
  height: 893px;
  margin: 0 auto;
  background: #eeeeee; /*заменить на transparent*/
  h2 {
    font-family: $header_font;
    color: $dark_1;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
  }
}

h3 {
  font-family: Gotham Pro;
  color: $dark_1;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
}


.project-container {
  display: flex;
  flex-direction: column;
  width: 837px;
  height: 182px;
  right: 92px;
  bottom: 579px;
  background: $light_1;
  border-radius: 5px;
}

.project-content {
  display: flex;
  flex-direction: row;
}

.time h4 {
  font-family: Gotham Pro;
  color: $dark_2;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.note__head {
  font-family: Gill Sans;
  color: $dark_1;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.note__text p {
  font-family: Gill Sans;
  color: $dark_2;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.note__date p {
  font-family: Gill Sans;
  color: $gray;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.column-1 {
  max-width: 70px;
}

.column-2 {
  max-width: 559px;
}

.icons {

}

