<div class="content-container">
  <a *ngIf="forgotPassword"
      class="nav-link__signup regular_text" 
      (click)="this.forgotPassword = false;">
      <svg transform="rotate(180)" xmlns="http://www.w3.org/2000/svg">
        <path class="arrow" d="M1 8 L47 8 M40 15 L47 8 L40 1"/>
      </svg>
      К странице входа
  </a>
  <form class="form" 
          [formGroup]="loginForm" 
          (ngSubmit)="signin()" 
          autocomplete="off">
    <label class="form__title h1">trrak!</label>
    <div class="form__error">
      <small *ngIf="!isUsernameInputValid()"> Username is requered.</small>
      <small *ngIf="!isPasswordInputValid()"> Password is requered.</small>
      <small *ngIf="loginError">{{loginError}}</small>
    </div>
    <div *ngIf="forgotPassword"
          class="form__description">
      <p class="regular_text">Введи свой e-mail, и в течение 10 минут вы вышлем тебе временный пароль. Не забудь его сменить!</p>
    </div>
    <input class="form__input-field regular_text" 
            name="username" 
            type="text" 
            placeholder="Корпоративный e-mail"
            formControlName="username">
    <input *ngIf="!forgotPassword"
            class="form__input-field regular_text"
            name="password"
            type="password" 
            placeholder="Пароль" 
            formControlName="password">
    <div class="form__submit">
      <button *ngIf="!isWaiting"
                type="submit" 
                [disabled]="loginForm.invalid">{{ forgotPassword ? 'Сбросить пароль' : 'Войти'}}</button>
      <svg *ngIf="isWaiting"
            class="spinner" 
            viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
      </svg>
    </div>
    <a *ngIf="!forgotPassword"
        class="nav-link__forgot-password regular_text" 
        (click)="this.forgotPassword = true;">О нет! Я забыл пароль</a>
  </form>
  <div class="waves-conteiner">
    <img src="../../assets/login/light_wave.png">
    <img src="../../assets/login/dark_wave.png">
  </div>
</div>
