<button doButton class="attach-file">
	Добавить файлы&nbsp;
	<mat-icon [svgIcon]="Icons.Attachment"></mat-icon>
</button>
<div class="file-list" *ngIf="files.length">
	<div *ngFor="let file of files; even as isEven" class="file" [class.even]="isEven">
		<mat-icon class="text-secondary_default" [svgIcon]="file.icon"></mat-icon>
		<span class="text-secondary_default name">{{ file.name }}</span>
		<button class="remove-file" doButton>
			<mat-icon [svgIcon]="Icons.Close"></mat-icon>
		</button>
	</div>
</div>
