@use 'base/variables' as variables;

:host {
	display: flex;
	flex-direction: column;
}

.attach-file {
	align-self: flex-end;
}

.file-list {
	margin-top: 14px;
}

.file {
	padding: 0 25px;

	display: flex;
	align-items: center;

	.name {
		margin-left: 12px;
	}

	.remove-file {
		margin-left: auto;
	}
}

.even {
	background: variables.$light_1;
	border-radius: 5px;
}
