@import '../../../../../../../stylesheets/base/variables';
@import '../../../../../../../stylesheets/base/fonts';
@import '../../../user-row';

$select-height: 36px;

.members-board {
    position: relative;

    padding: 10px;

    display: flex;
    flex-direction: column;

    background: #fff;

    &__title {
        margin-bottom: 16px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.users {
    padding-bottom: 10px;

    overflow-x: hidden;
    overflow-y: auto;

    height: 333px;

    max-height: 333px;
}

.members-form {
    margin-top: 16px;

    &__search {
        margin-bottom: 14px;
    }

    do-search {
        background-color: $light_2;
    }

    .filters-section {
        margin-bottom: 20px;

        &__content {
            display: flex;
            justify-content: space-between;

            width: 100%;
            height: $select-height;

            .name {
                margin-right: 10px;

                width: 100%;
            }

            .level {
                width: 40%;
            }
        }
    }

    &__background {
        margin-bottom: 14px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 424px;

        &--image {
            height: 35%;
        }
    }

    &__button-container {
        display: flex;
        justify-content: flex-end;
    }
}

.new-members-icon {
    display: flex;
    flex-direction: column;

    text-align: center;

    &__-dummy {
        width: 36px;
        height: 36px;

        background-color: $gray;
        border-radius: 50%;
    }
}

::ng-deep .members-board {
    .mat-form-field-wrapper,
    .mat-form-field-flex,
    .mat-form-field-appearance-legacy,
    .mat-form-field-label-wrapper {
        padding: 0;
    }

    .mat-select-value {
        padding: 0 0 0 0.5em;

        line-height: $select-height;

        .mat-select-placeholder {
            @extend .regular_text;
            @extend .text_color_dark-1;
        }
    }

    .mat-select-arrow {
        margin: 0 14px 0 4px;

        width: 10px;
        height: 6px;

        background-image: url('/assets/svg/arrow-down-dark.svg');
        border: none;
    }

    .mat-form-field-infix {
        padding: 0;

        border: none;

        .mat-form-field-label-wrapper {
            position: static;

            overflow: visible;

            height: 0;
        }
    }
}
