<div class="members-board">
  <div class='members-board__title' mat-dialog-title>
    <h3 doText color='dark_1' [ngSwitch]='data.mode'>
      <ng-container *ngSwitchCase='WorkFlowMode.ADD'>Добавить участника</ng-container>
      <ng-container *ngSwitchCase='WorkFlowMode.EDIT'>Редактирование направления<br/>"{{ data.team.name }}"</ng-container>
      <ng-container *ngSwitchCase='WorkFlowMode.VIEW'>Просмотр команды</ng-container>
    </h3>
    <button mat-icon-button class="members-board__close-button" mat-dialog-close><mat-icon>close</mat-icon></button>
  </div>
  <mat-form-field class='select members-form__select-spec' appearance='none' *ngIf='data.mode === WorkFlowMode.ADD'>
    <mat-select class='regular_text text_color_dark-1' placeholder='Выберите название направления'
                disableOptionCentering='true'>
      <mat-option value='' class='regular_text text_color_dark-1'>Все специализации</mat-option>
      <mat-option class='regular_text text_color_dark-1' *ngFor='let spec of specializations' [value]='spec'>
        {{ spec }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <form class="members-form">
    <div class="filters-section">
      <h4 doText *ngIf='data.mode === WorkFlowMode.ADD'>Поиск сотрудников</h4>
      <div class='filters-section__content'>
        <div class="name">
          <do-search placeholder='Введите фамилию и имя сотрудника' (searchClick)="onSearchClick($event)"></do-search>
        </div>
        <div class="position">
          <mat-form-field class="select members-form__select-lvl" appearance="none">
            <mat-select class="regular_text text_color_dark-1" placeholder="Уровень">
              <mat-option value="" class="regular_text text_color_dark-1">Все уровни</mat-option>
              <mat-option class="regular_text text_color_dark-1" *ngFor="let level of levels" [value]="level">
                {{ level }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class='users' *ngIf='membersAll; else empty'>
      <!--   TODO: Добавить вывод отфильтрованных пользователей  -->
      <div class="user-row" *ngFor="let member of membersAll">
        <div class='user-row__checkbox' *ngIf='data.mode !== WorkFlowMode.VIEW'>
          <mat-checkbox class='new-member__checkbox' [checked]='isMember(member)'></mat-checkbox>
        </div>
        <div class="user-row__image">
          <img [src]='member.profileImgSrc' width='48' height='48' alt="user image">
        </div>
        <div class="user-row__general-info">
          <div class='name'>{{ member.name }}</div>
          <div class='position' doText color="gray1"> {{ member.level }}</div>
        </div>
        <div class="user-row__projects-count"><span doText color="gray1">1 проект</span></div>
        <div class="user-row__lead" *ngIf='data.mode'>
         <!-- TODO: Сделать оотображение стилей кнопки для просмотра / редактирования-->
          <span class="label_lead" [ngClass]='{"label_lead_l": !member.lead }'
                doText regularTextSize="small"
                (click)='assignLead(member)'>Лидер направления</span>
        </div>
      </div>
    </div>

    <mat-dialog-actions align="center" *ngIf='data.mode !== WorkFlowMode.VIEW'>
        <div class="members-form__button-container">
          <button mat-flat-button mat-dialog-close>Отмена</button>
          <button mat-flat-button color="primary">Сохранить</button>
        </div>
    </mat-dialog-actions>
  </form>
</div>

<!--TODO: Добавить темплейты для просмотра / для редактирования-->
<ng-template #empty>
  <div class="members-form__background">
      <img class='members-form__background--image' src='../assets/images/tumbleweed.png' alt="tumbleweed" />
      <span doText color='gray'>Пока тут никого...</span>
  </div>
</ng-template>
