<div class="new-department">
  <a class="nav-link regular_text" routerLink="/admin/dashboard">
    <svg xmlns="http://www.w3.org/2000/svg">
      <path d="M4 1 L1 5 L4 9" />
    </svg>
    К дашборду
  </a>
  <span class="title h1 h1_dark_2">Новый департамент</span>
  <div class="form__container">
    <form
      [formGroup]="departmentForm"
      (ngSubmit)="postDepartment()"
      autocomplete="off"
      class="data-form"
    >
      <div class="inputs__container">
        <div class="department-name">
          <label class="h5 h5_dark_1" for="name">Название</label>
          <mat-form-field>
            <input matInput type="text" id="name" formControlName="name" />
          </mat-form-field>
        </div>
        <div class="department-description">
          <label class="h5 h5_dark_1" for="description">Описание</label>
          <mat-form-field>
            <input
              matInput
              type="text"
              id="description"
              formControlName="description"
            />
          </mat-form-field>
        </div>
      </div>
      <section class="team">
        <h2 class="team__section-title h3 text_bold text_dark_1">Участники</h2>
        <p class="team__members-count regular_text text_dark_1">
          {{ team.length }} участников
        </p>
        <mat-tab-group
          class="team__tabs mat-tab-group-override mat-tab-shadow-fix"
        >
          <mat-tab label="Список" class="mat-tab-first team__tab">
            <div class="team-list">
              <button
                mat-mini-fab
                class="team-list__new-member mat-mini-fab-override mat-elevation-z0"
                (click)="onAddMembersClick()"
              >
                <img
                  src="assets/svg/plus.svg"
                  width="26"
                  height="26"
                  alt="Добавить сотрудника."
                />
              </button>
              <ul class="team-list__members-list">
                <li class="team-list__member" *ngFor="let member of team">
                  <a href="#" [title]="member.name">
                    <do-profile-image
                      [src]="member.profileImgSrc"
                      *ngIf="member.profileImgSrc; else iconDummy"
                    ></do-profile-image>
                    <ng-template #iconDummy>
                      <div class="team-list__icon-dummy"></div>
                    </ng-template>
                  </a>
                </li>
              </ul>
            </div>
          </mat-tab>
        </mat-tab-group>
      </section>
      <button
        mat-flat-button
        color="primary"
        class="btn-create-department"
        type="submit"
        (click)="postDepartment()"
        [disabled]="departmentForm.invalid"
      >
        <span class="regular_text regular_text_light_1"
          >Добавить департамент</span
        >
      </button>
    </form>
  </div>
</div>
