@use '@angular/material' as mat;
@use 'base/variables' as variables;
@use '../theme' as theme;
@use 'sass:map';

$typography: mat.get-typography-config(theme.$custom-typography);

$primary: (
	'default': variables.$secondary_default,
	'hover': variables.$secondary_hover,
	'active': variables.$secondary_active,
);

$accent: (
	'default': variables.$accent_controls_default,
	'hover': variables.$accent_controls_hover,
	'active': variables.$accent_controls_active,
);

@mixin button-colors($theme) {
	color: map.get($theme, 'default');

	&:hover:not(:disabled, [disabled]) {
		color: map.get($theme, 'hover');
	}

	&:active,
	&:focus:active {
		&:not(:disabled, [disabled]) {
			color: map.get($theme, 'active');
		}
	}
}

.do-button {
	margin: 0;
	padding: 0 12px;

	display: inline-block;
	overflow: visible;

	box-sizing: border-box;
	min-width: 32px;
	height: 36px;

	font-family: mat.font-family($typography);

	font-size: mat.font-size($typography, 'button');

	line-height: 36px;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;
	text-decoration: none;

	cursor: pointer;
	user-select: none;

	background: none;
	border: none;
	border-radius: 5px;
	outline: none;
	-webkit-tap-highlight-color: transparent;

	> * {
		vertical-align: middle;
	}

	&:disabled,
	&[disabled] {
		cursor: default;

		color: variables.$typo;

		background: variables.$bg_2;
	}

	&:focus-visible {
		color: variables.$accent_controls_default;
		outline: 2px solid variables.$accent_controls_default;
	}
}

.do-button-primary {
	@include button-colors($primary);
}

.do-button-accent {
	@include button-colors($accent);
}
