@use 'base/variables';

.-underlined {
	position: relative;

	&::after {
		content: '';

		position: absolute;

		margin-bottom: 35px;

		display: block;

		height: 4px;

		background-color: variables.$secondary_focus;
	}
}

.-underlined-sm {
	&::after {
		width: 50px;
	}
}

.-underlined-l {
	&::after {
		width: 100%;
	}
}
