<div class="new-position">
	<span class="title h1 h1_dark_2">Создание должности</span>
	<div class="form__container">
		<form autocomplete="off" class="data-form" [formGroup]="positionForm" (ngSubmit)="createPosition()">
			<div class="new-position__input-container">
				<mat-form-field appearance="fill">
					<mat-label>Название должности</mat-label>
					<input matInput type="text" id="name" formControlName="name" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Описание</mat-label>
					<input matInput type="text" id="description" formControlName="description" />
				</mat-form-field>
			</div>
			<button mat-flat-button color="primary" class="btn-create-department" type="submit" [disabled]="positionForm.invalid">
				<span class="regular_text regular_text_light_1">Создать должность</span>
			</button>
		</form>
	</div>
</div>
