<mat-card class="card">
    <div class="header h3">
        <h3 doText underlined underlinedSize="sm">Статистика за
            <mat-form-field class="header__period-input">
                <input matInput [matDatepicker]="picker" />
                <mat-datepicker #picker startView="year" (monthSelected)="chosenMonthHandler($event); picker.close()">
                </mat-datepicker>
            </mat-form-field>
            <span (click)="picker.open()" class="text-accent_color_bright header__period">
                {{selectedPeriod.startDate | date: 'LLLL YYYY' | titlecase }}
                <mat-icon class='header__icon'>keyboard_arrow_down</mat-icon>
            </span>
        </h3>
    </div>
    <ng-container *ngIf="employees$ | async as employees; else loader">
        <table class="table">
            <colgroup>
                <col class="column column_width_m">
                <col class="column column_width_sm">
                <col class="column column_width_sm">
                <col class="column column_width_sm">
                <col class="column column_width_t">
            </colgroup>
            <thead class='text-gray1'>
                <tr>
                    <th class="regular_text">Имя</th>
                    <th class="regular_text">Часы за проект/Норма</th>
                    <th class="regular_text">Отсутствия</th>
                    <th class="regular_text">Кол-во проектов</th>
                    <th class="regular_text"></th>
                </tr>
            </thead>
            <tbody [formGroup]="hoursGroup">
                <ng-container *ngFor="let employee of employees">
                    <tr [ngClass]="{row: !employee.editMode}">
                        <td class="cell avatar">
                            <img class="avatar__photo" src='assets/images/smallPhoto/Ellipse91.png'>
                            <div>
                                <div>{{ employee?.firstName }} {{ employee?.lastName }}</div>
                                <div doText color="gray1">{{ employee?.position }}</div>
                            </div>
                        </td>
                        <td class='cell'>
                            <div class='cell__hours'>
                                <ng-container *ngIf="!employee?.editMode; else input">
                                    <ng-container *ngIf="!employee?.managerHours; else managerHours">
                                        <strong>{{ employee?.projectHours }}/<span class='text-gray1'>{{
                                                employee?.normHours? employee?.normHours : 0
                                                }}</span></strong>
                                    </ng-container>
                                    <ng-template #managerHours>
                                        <strong>
                                            {{ employee?.managerHours }}/<span class='text-gray1'>{{employee?.normHours?
                                                employee?.normHours : 0}}</span>
                                        </strong>
                                        <span class='text-gray1'>
                                            &nbsp;Изменено&nbsp;
                                        </span>
                                        <img src="../../../../../assets/svg/ant-design_info-circle-outlined.svg"
                                            alt="info-circle">
                                    </ng-template>
                                </ng-container>
                                <ng-template #input>
                                    <div>
                                        <mat-form-field appearance="fill">
                                            <mat-error *ngIf="hoursGroup.controls['hours_' + employee.id].errors?.min">
                                                Минимальное значение должно быть не меньше нуля
                                            </mat-error>
                                            <mat-error
                                                *ngIf="hoursGroup.controls['hours_' + employee.id].errors?.number">
                                                Введите число
                                            </mat-error>
                                            <mat-error *ngIf="hoursGroup.controls['hours_' + employee.id].errors?.max">
                                                Превышено максимальное значение
                                            </mat-error>
                                            <input matInput [formControlName]="'hours_'+employee?.id" ngDefaultControl
                                                class='text_bold'>
                                        </mat-form-field>/{{ employee?.normHours? employee?.normHours : 0 }}
                                    </div>
                                </ng-template>
                            </div>
                        </td>
                        <td [ngClass]="{'cell': true, 'cell__leaves': employee.leaves?.length! > 1}">
                            <ng-container *ngIf="employee.leaves?.length; else empty">
                                <div *ngFor='let leave of employee.leaves' class='cell__leave-label'>
                                    {{ leave.leaveType | leaveLabel }}&nbsp;
                                    <img src='../../../../../assets/svg/ant-design_info-circle-outlined.svg'
                                        alt='info-circle'>
                                </div>
                            </ng-container>
                            <ng-template #empty>
                                <span class='text-gray1'>{{ "-" }}</span>
                            </ng-template>
                        </td>
                        <td class='cell'>
                            <p>{{ employee?.projectsCount }}</p>
                        </td>
                        <td class='cell cell__icon'>
                            <button mat-icon-button (click)="toggleEditMode(true, employee)">
                                <img src='assets/svg/edit.svg' alt='edit' />
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="employee.editMode" class='row'>
                        <td colspan="5">
                            <div class='controls'>
                                <button mat-flat-button (click)="toggleEditMode(false, employee)"
                                    class='controls__button'>
                                    <span class='regular_text text-gray1'>Отменить</span>
                                </button>
                                <button mat-flat-button color='accent' class='controls__button'
                                    (click)="onSubmit('submit', employee)">
                                    <span class='regular_text text-light_1'>Сохранить</span>
                                </button>
                                <button mat-flat-button class='controls__button bg-dark_1'
                                    (click)="onSubmit('reset', employee)">
                                    <span class='text-light_1'>Сбросить</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </ng-container>
    <ng-template #loader>
        <div class='loader'>
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
</mat-card>