<mat-card class="card">
        <div class="datepicker h3">
            <h3 doText underlined underlinedSize="sm">Статистика за

                <mat-form-field class="datepicker-hidden">
                    <input matInput [matDatepicker]="picker"/>
                    <mat-datepicker #picker startView="year" (monthSelected)="chosenMonthHandler($event); picker.close()"></mat-datepicker>
                </mat-form-field>

                <a (click)="picker.open()" class="text-accent_color_bright">
                {{selectedDate | date: 'LLLL YYYY' | titlecase }}
                    <mat-icon class='datepicker__arrow'>keyboard_arrow_down</mat-icon>
                </a>
            </h3>
        </div>
        <table doText class="table__content regular_text" >
            <thead>
                <tr class='table__row'>
                    <th class="h4 text-gray1" *ngFor="let header of displayedColumns">
                        {{ header }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class='table__row' *ngFor="let user of DATA">
                    <td class="table__column-first">
                        <img class="table__photo" src='assets/images/smallPhoto/Ellipse91.png'>
                        <div class='first-column__description'>
                            <p>{{ user?.name }} {{ user?.lastName }}</p>
                            <p doText color="gray1">{{user?.position}}</p>
                        </div>
                    </td>
                    <td>
                        <p>{{ user?.projectHours }}/{{ user?.norm }}</p>
                    </td>
                    <td>
                    <div *ngIf='user.absence; else defis'>
                        <p>{{ user?.absence }}</p>
                    </div>
                    <ng-template #defis>
                        <p class='text-gray1'>{{ "-" }}</p>
                    </ng-template>
                    </td>

                    <td>
                        <p>{{ user?.projectsCount }}</p>
                    </td>
                    <td>
                        <img src='assets/svg/edit.svg'><img>
                    </td>
                </tr>
            </tbody>
        </table>

</mat-card>
