.projects-table {
  &__card-title {
    margin-bottom: -10px;
  }

  &__section {
    margin-top: 48px;
  }

  &__group-title {
    margin-bottom: 26px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 40px;

    &_overflow_hidden {
      grid-auto-rows: 0;
      row-gap: 0;

      overflow-y: hidden;
    }

    &_overflow_visible {
      grid-auto-rows: auto;
      row-gap: 40px;

      overflow-y: visible;
    }
  }

  &__project {
    padding: 32px 32px 20px;

    .regular_text {
      &:nth-of-type(2) {
        margin: 20px 0;
      }

      &:nth-of-type(4) {
        margin-bottom: 12px;
      }

      &:last-of-type {
        margin-top: 17px;
      }
    }
  }

  &__arrow {
    vertical-align: middle;
  }

  &__arrow-button {
    margin-top: 30px;

    cursor: pointer;

    &:hover {
      color: #808080;
    }
  }
}
