<form class="form" [formGroup]="resetForm" (ngSubmit)="resetPassword()" autocomplete="off">
	<span *ngIf="resetForm.controls['email']?.hasError('required')" class="mat-caption warn">Логин обязателен </span>
	<ng-container *ngIf="(isCompleted | async) === false; else completed">
		<mat-form-field appearance="standard" class="form__input-field">
			<input matInput type="text" placeholder="Логин" formControlName="login" />
		</mat-form-field>
		<mat-form-field appearance="standard" class="form__input-field">
			<input matInput type="password" placeholder="Пароль" formControlName="password" />
		</mat-form-field>
		<mat-form-field appearance="standard" class="form__input-field">
			<input matInput type="text" placeholder="Секрет" formControlName="secret" />
		</mat-form-field>
		<div class="form__submit">
			<button
				*ngIf="(isLoading | async) === false; else spinner"
				mat-flat-button
				class="submit-button"
				type="submit"
				[disabled]="resetForm.invalid"
			>
				Сбросить пароль
			</button>
			<ng-template #spinner>
				<svg class="spinner" viewBox="0 0 50 50">
					<circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
				</svg>
			</ng-template>
		</div>
	</ng-container>
	<ng-template #completed>
		<div class="form__description">Пароль был успешно изменен.</div>
		<div class="form__submit">
			<button mat-flat-button color="primary" class="submit-button" type="button" routerLink="/auth/login">
				На страницу входа
			</button>
		</div>
	</ng-template>
</form>
