<form class="form" [formGroup]="resetForm" (ngSubmit)="resetPassword()" autocomplete="off">
	<ng-container *ngIf="(isCompleted$$ | async) === false; else completed">
		<span *ngIf="resetForm.errors?.['invalidLoginSecret']" class="mat-caption warn"
			>Неверный логин или секретный пароль :(</span
		>
		<span *ngIf="resetForm.errors?.['noMatch']" class="mat-caption warn">Пароли не совпадают!</span>
		<mat-form-field appearance="standard" class="form__input-field">
			<input
				[errorStateMatcher]="loginSecretErrorMatcher"
				matInput
				type="text"
				placeholder="Логин"
				formControlName="login"
				autocomplete="off"
			/>
		</mat-form-field>
		<mat-form-field
			#trigger="mdePopoverTrigger"
			appearance="standard"
			class="form__input-field"
			[mdePopoverTriggerFor]="popover"
			mdePopoverTriggerOn="none"
			mdePopoverPositionX="before"
			[mdePopoverOffsetX]="270"
			[mdePopoverOffsetY]="-70"
		>
			<do-password
				[errorStateMatcher]="passwordErrorMatcher"
				placeholder="Новый пароль"
				formControlName="password"
				(focusin)="trigger.openPopover()"
				(focusout)="trigger.closePopover()"
			></do-password>
		</mat-form-field>
		<mde-popover #popover="mdePopover" [mdePopoverOverlapTrigger]="false">
			<do-password-hint [control]="resetForm.controls['password']"></do-password-hint>
		</mde-popover>
		<mat-form-field appearance="standard" class="form__input-field">
			<do-password
				[errorStateMatcher]="passwordErrorMatcher"
				placeholder="Повторить пароль"
				formControlName="repeatPassword"
			></do-password>
		</mat-form-field>
		<mat-form-field appearance="standard" class="form__input-field">
			<input
				[errorStateMatcher]="loginSecretErrorMatcher"
				matInput
				type="text"
				placeholder="Секретный пароль"
				formControlName="secret"
				autocomplete="off"
			/>
		</mat-form-field>
		<button
			[loading]="(isLoading$$ | async) ?? false"
			mat-flat-button
			class="form__submit"
			type="submit"
			color="primary"
			[disabled]="resetForm.invalid"
		>
			Сменить пароль
		</button>
		<span *ngIf="resetForm.errors?.['noMatch']" class="mat-caption form__error">О нет! Пароли не совпадают</span>
	</ng-container>
	<ng-template #completed>
		<div class="mat-body-1 form__description text-align_center">Пароль был успешно изменён.</div>
		<button mat-flat-button color="primary" class="form__submit submit" type="button" routerLink="/auth/login">
			Войти
		</button>
	</ng-template>
</form>
