
<div class="select__month">

  <select name="month"  >
    <option>Месяц</option>
    <option value="December">Декабрь</option>
    <option value="January">Январь</option>
    <option value="February">Февраль</option>
    <option value="March">Март</option>
    <option value="April">Апрель</option>
    <option value="May">Май</option>
    <option value="June">Июнь</option>
    <option value="July">Июль</option>
    <option value="August">Август</option>
    <option value="September">Сентябрь</option>
    <option value="October">Октябрь</option>
    <option value="November">Ноябрь</option>
  </select>


</div>
