$textColor: #BDBDBD;
$backgroundColor: #FFFFFF;
$borderColor: #BDBDBD;

.select__month {
  position: relative ;
  overflow: hidden;
  width: 100px;
  height: 50px;
  background-color: #FCFCFC;

  &:after {
    background: url("../grey.svg") no-repeat;
    content: "";
    height: 38px;
    pointer-events: none;
    position: absolute;
    right: 7px;
    top: 12px;
    width: 28px;
    display: block;
  }

  select {
    border: 1px solid $borderColor;
    width: 83px;
    height: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: $backgroundColor;
    margin-left: 10px;
    padding-left: 10px;
    color: $textColor;
    font-family: "Gill Sans";
    font-size: 13px;
    border-radius: 5px;
    outline: none;
  }
}

