<h1 doUnderline class="page-title">Статистика команды</h1>
<h5 class="project-name">{{ projectName$ | async }}</h5>
<div class="period flex flex_jc_space-between flex_ai_center">
	<do-title-datepicker-v2 [maxDate]="maxDate" [dateStyle]="{ 'text-transform': 'capitalize' }">
		<h4 [style.margin]="0">Период:&nbsp;</h4>
	</do-title-datepicker-v2>
	<button mat-flat-button color="primary" (click)="handleDownload()">Выгрузить часы</button>
</div>
<do-dynamic-filter [filters]="filterConfig"></do-dynamic-filter>
<do-table [dataSource]="dataSource" [tableOptions]="tableData" [expandedRowTemplate]="details">
	<ng-template #details let-workTimes="workTimes" let-leaveTimes="leaveTimes">
		<div class="additional-info">
			<h5 class="heading">Детализация по проектам</h5>
			<do-table [dataSource]="workTimes" [tableOptions]="expandedRow.workTimes">
				<ng-template cdkNoDataRow>
					<div [style.padding-left.px]="34">Нет данных о проектах</div>
				</ng-template>
			</do-table>
			<ng-container *ngIf="leaveTimes.length">
				<h5 class="heading">Детализация по отсутствиям</h5>
				<do-table [dataSource]="leaveTimes" [tableOptions]="expandedRow.leaveTimes"></do-table>
			</ng-container>
		</div>
	</ng-template>
</do-table>
