/*переменные цветов*/
$border-style1: 1px solid hsl(14°, 94%, 66%);
$border-style2: 1px solid hsl(22°, 100%, 77%);

$button-color-orange1: hsl(14°, 94%, 66%);
$button-color-orange2: hsl(22°, 100%, 77%);
$button-color-orange3: hsl(22°, 80%, 62%);

$button-color-grey: hsl(60°, 10%, 96%);
$button-color-white1: hsl(0°, 0%, 100%);

$font-grey1: hsl(0°, 0%, 74%);
$font-grey2: hsl(240°, 4%, 27%);
$font-orange1: hsl(14°, 94%, 66%);
$font-orange2: hsl(22°, 100%, 77%);
$font-white: hsl(0°, 0%, 100%);


/*кнопка плюс*/
.addButton {
  max-width: 48px;
  height: 48px;
  background: $button-color-orange1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addButton__plusIcon {
  display:flex;
}


/*загрузите с устройства*/
.addFile {
  display:flex;
  justify-content: center;
  background: $button-color-white1;
  border: $border-style1;
  border-radius: 5px;
  max-width:178px;
  height:32px;
  border-radius: 5px;
}

.addFile__container {
  display:flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    color: $font-orange1;
    align-items: center;
    text-align: center;
  }
}


/*добавить участников оранжевая*/
.addMemberOn {
  display:flex;
  justify-content: center;
  background: $button-color-orange1;
  border-radius: 5px;
  max-width:169px;
  height:32px;
  border-radius: 5px;
}

.addMemberOn__container {
  display:flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    color: $font-white;
    align-items: center;
    text-align: center;
  }
}


/*добавить участников серая*/
.addMemberOff {
  display:flex;
  justify-content: center;
  background: $button-color-grey;
  border-radius: 5px;
  max-width:169px;
  height:32px;
  border-radius: 5px;
}

.addMemberOff__container {
  display:flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    color: $font-grey1;
    align-items: center;
    text-align: center;
  }
}


/*добавить проект*/
.addProject {
  max-width: 164px;
  height: 32px;
  background: $button-color-orange1;
  border-radius: 5px;
  display:flex;
  justify-content: center;
}

.addProject__container {
  display:flex;
  align-items: center;
  justify-content: center;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    color: $font-white;
    align-items: center;
    text-align: center;
  }
}


/*выбрать другую дату*/
.chooseDate {
  display:flex;
  justify-content: center;
  background: $button-color-orange2;
  border-radius: 5px;
  max-width:179px;
  height:32px;
  border-radius: 5px;
}

.chooseDate__container {
  display:flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    color: $font-grey2;
    align-items: center;
    text-align: center;
  }
}


/*выбрать другой интервал*/
.chooseInt {
  display:flex;
  justify-content: center;
  background: $button-color-orange2;
  border-radius: 5px;
  max-width:209px;
  height:32px;
  border-radius: 5px;
}

.chooseInt__container {
  display:flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    color: $font-grey2;
  }
  svg {
    position:relative;
    bottom: -1px;
  }
}



/*создать проект*/
.createProject {
  display:flex;
  justify-content: center;
  background: $button-color-orange1;
  border-radius: 5px;
  max-width:192px;
  height:32px;
  border-radius: 5px;
}

.createProject__container {
  display:flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    color: $font-white;
    align-items: center;
    text-align: center;
  }
}



/*войти*/
.logIn {
  display:flex;
  justify-content: center;
  background: $button-color-orange3;
  border-radius: 5px;
  max-width:132px;
  height:36px;
  border-radius: 5px;
}

.logIn__container{
  display:flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    color: $font-white;
    align-items: center;
    text-align: center;
  }
}


/*редактировать*/
.projectEdit {
  display:flex;
  justify-content: center;
  background: $button-color-orange1;
  border-radius: 5px;
  max-width:132px;
  height:32px;
  border-radius: 5px;
}

.projectEdit__container {
  display:flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    color: $font-white;
    align-items: center;
    text-align: center;
  }
}


/*статистика*/
.projectStats {
  display:flex;
  justify-content: center;
  background: $button-color-orange1;
  border-radius: 5px;
  max-width:236px;
  height:32px;
  border-radius: 5px;
}

.projectStats__container {
  display:flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    color: $font-white;
    align-items: center;
    text-align: center;
  }
}


/*сохранить черновик*/
.saveDraft {
  display:flex;
  justify-content: center;
  background: $button-color-white1;
  border: $border-style2;
  border-radius: 5px;
  max-width:160px;
  height:32px;
  border-radius: 5px;
}

.saveDraft__container {
  display:flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    color: $font-orange2;
    align-items: center;
    text-align: center;
  }
}


/*отправить*/
.sendPost {
  display:flex;
  justify-content: center;
  background: $button-color-orange1;
  border-radius: 5px;
  max-width:140px;
  height:32px;
  border-radius: 5px;
}

.sendPost__container {
  display:flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    color: $font-white;
    align-items: center;
    text-align: center;
  }
}


/*сортировка: карточки оранжевая*/
.sortCards {
  display:flex;
  justify-content: center;
  background: $button-color-orange1;
  max-width: 125px;
  height: 32px;
  border-radius: 0 5px 5px 0;
}

.sortCards__container {
  display:flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    color: $font-white;
    align-items: center;
    text-align: center;
  }
}


/*сортировка: карточки серая*/
.sortCardsOff {
  display:flex;
  justify-content: center;
  background: $button-color-grey;
  max-width: 125px;
  height: 32px;
  border-radius: 0 5px 5px 0;
}

.sortCardsOff__container {
  display:flex;
  justify-content: center;
  align-items: center;
  p{
    font-family: Gill Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    color: $font-grey1;
    align-items: center;
    text-align: center;
  }
}


/*сортировка: список оранжевая*/
.sortList {
  display:flex;
  justify-content: center;
  background: $button-color-orange1;
  max-width:125px;
  height:32px;
  border-radius: 5px 0 0 5px;
}

.sortList__container {
  display:flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    color: $font-white;
    align-items: center;
    text-align: center;
  }
}


/*сортировка: список серая*/
.sortListOff {
  display:flex;
  justify-content: center;
  background: $button-color-grey;
  max-width:125px;
  height:32px;
  border-radius: 5px 0 0 5px;
}

.sortListOff__container {
  display:flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    color: $font-grey1;
    align-items: center;
    text-align: center;
  }
}


/*сортировка: по проектам оранжевая*/
.sortProject {

  display:flex;
  justify-content: center;
  background: $button-color-orange1;
  border-radius: 5px;
  max-width:125px;
  height:32px;
  border-radius: 5px;
}

.sortProject__container {
  display:flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    color: $font-white;
    align-items: center;
    text-align: center;
  }
}


/*сортировка: по проектам серая*/
.sortProjectOff {
  display:flex;
  justify-content: center;
  background: $button-color-grey;
  max-width:125px;
  height:32px;
  border-radius: 5px;
}

.sortProjectOff__container {
  display:flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    color: $font-grey1;
    align-items: center;
    text-align: center;
  }
}



/*сортировка: по тегам оранжевая*/
.sortTag {
  display:flex;
  justify-content: center;
  background: $button-color-orange1;
  border-radius: 5px;
  max-width:125px;
  height:32px;
  border-radius: 5px;
}

.sortTag__container {
  display:flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    color: $font-white;
    align-items: center;
    text-align: center;
  }
}


/*сортировка: по тегам серая*/
.sortTagOff {
  display:flex;
  justify-content: center;
  background: $button-color-grey;
  border-radius: 5px;
  max-width:125px;
  height:32px;
}

.sortTagOff__container {
  display:flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 24px;
    color: $font-grey1;
    align-items: center;
    text-align: center;
  }
}
