@import 'abstracts/variables';

/*основной класс*/
.button {
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid $accent_color;
  &__container {
    p {
      font-family: $regular_font;
      color: $accent_color_bright;
      font-style: normal;
      font-weight: lighter;
      font-size: 16px;
      line-height: 24px;
      align-items: center;
      text-align: center;
    }
  }
}

/*цвета кнопок и шрифтов*/

.border-accent_color_bright {
  background: $accent_color_bright;
}

.bg-accent_color {
  background: $accent_color;
}

.bg-accent_color_bright {
  background: $accent_color_bright;
}

.bg-dark_1 {
  background: $dark_1;
}

.bg-light_2 {
  background: $light_2;
}

.font-dark_1 {
  color: $dark_1;
}

.font-white_1 {
  color: $font_color;
}

.font-gray {
  color: $gray;
}

.font-regular_font {
  font-family: $regular_font;
}
