<!--кнопка плюс-->
<div class="addButton">
  <div class="addButton__plusIcon">
    <svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px"><path fill-rule="evenodd" d="M 11 2 L 11 11 L 2 11 L 2 13 L 11 13 L 11 22 L 13 22 L 13 13 L 22 13 L 22 11 L 13 11 L 13 2 Z"/></svg>
  </div>
</div>

<!--кнопка загрузить-->
<div class="addFile">
  <div class="addFile__container">
    <p>Загрузите с устройства</p>
  </div>
</div>

<!--добавить участников оранжевая-->
<div class="addMemberOn">
  <div class="addMemberOn__container">
    <p>Добавить участников</p>
  </div>
</div>

<!--добавить участников серая-->
<div class="addMemberOff">
  <div class="addMemberOff__container">
    <p>Добавить участников</p>
  </div>
</div>

<!--добавить проект-->
<div class="addProject">
  <div class="addProject__container">
    <p>+ Добавить проект</p>
  </div>
</div>

<!--выбрать другую дату-->
<div class="chooseDate">
  <div class="chooseDate__container">
    <p>Выбрать другую дату</p>
  </div>
</div>

<!--выбрать другой интервал-->
<div class="chooseInt">
  <div class="chooseInt__container">
    <p>Выбрать другой интервал &nbsp;</p>
    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 1L5 5L1 9" stroke="#434348" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
</div>

<!--создать проект-->
<div class="createProject">
  <div class="createProject__container">
    <p>Создать проект</p>
  </div>
</div>

<!--войти-->
<div class="logIn">
  <div class="logIn__container">
    <p>Войти</p>
  </div>
</div>

<!--редактировать-->
<div class="projectEdit">
  <div class="projectEdit__container">
    <p>Редактировать</p>
  </div>
</div>

<!--статистика-->
<div class="projectStats">
  <div class="projectStats__container">
    <p>Статистика</p>
  </div>
</div>

<!--сохранить черновик-->
<div class="saveDraft">
  <div class="saveDraft__container">
    <p>Сохранить черновик</p>
  </div>
</div>

<!--отправить-->
<div class="sendPost">
  <div class="sendPost__container">
    <p>Отправить</p>
  </div>
</div>

<!--сортировака: карточки оранжевая-->
<div class="sortCards">
  <div class="sortCards__container">
    <p>Карточки</p>
  </div>
</div>

<!--сортировака: карточки серая-->
<div class="sortCardsOff">
  <div class="sortCardsOff__container">
    <p>Карточки</p>
  </div>
</div>

<!--сортировка: список оранжевая-->
<div class="sortList">
  <div class="sortList__container">
    <p>Список</p>
  </div>
</div>

<!--сортировка: список серая-->
<div class="sortListOff">
  <div class="sortListOff__container">
    <p>Список</p>
  </div>
</div>

<!--сортировка: по проектам оранжевая-->
<div class="sortProject">
  <div class="sortProject__container">
    <p>По проектам</p>
  </div>
</div>

<!--сортировка: по проектам серая-->
<div class="sortProjectOff">
  <div class="sortProjectOff__container">
    <p>По проектам</p>
  </div>
</div>

<!--сортировка: по тегам оранжевая-->
<div class="sortTag">
  <div class="sortTag__container">
    <p>По тегам</p>
  </div>
</div>

<!--сортировка: по тегам серая-->
<div class="sortTagOff">
  <div class="sortTagOff__container">
    <p>По тегам</p>
  </div>
</div>


