@use 'base/variables';

.edit-workinfo {
	&__edit-section {
		display: grid;
		align-items: baseline;

		min-width: 672px;
		gap: 10px;
	}

	&__heading {
		margin-bottom: 24px;
	}

	&__container {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 15px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex: 1 1 300px;
		place-self: center stretch;
	}

	&__admin-checkbox {
		color: #9e9e9e;
	}

	&__edit-workinfo {
		padding-right: 10px;
	}
}
