<h3 class="edit-workinfo__heading" doUnderline underlinedSize="sm" mat-dialog-title>Редактирования профиля</h3>

<h4>Рабочая информация</h4>

<div class="edit-workinfo__container" *ngFor="let item of userDates">
	<div class="edit-workifo__userdate-name mat-body-2 text-secondary_default">
		{{ item.name }}
	</div>

	<div class="edit-workinfo__userdate-value mat-body text-main">
		{{ item.value ? item.value : 'Не указано' }}
	</div>

	<button mat-button (click)="testClick()">
		<span class="mat-body-2 text-secondary_default">Pедактировать </span>
		<img src="../../../../../assets/svg/edit.svg" alt="edit_info" />
	</button>
</div>
<div class="edit-workinfo__admin-checkbox">
	<mat-checkbox class="text-secondary_default" [disabled]="true" [checked]="true"
		>Дать права администратора</mat-checkbox
	>
</div>
