@import 'base/variables';

.employee-info {
  padding: 52px 47px;

  &__section {
    margin-top: 66px;

    .header {
      display: flex;
      justify-content: space-between;

      &__title {
        display: flex;

        .h2 {
          position: relative;

          &_underlined {
            &::after {
              content: '';

              position: absolute;

              margin-bottom: 35px;

              display: block;

              width: 50px;
              height: 4px;

              background-color: $accent_color_bright;
            }
          }
        }
      }
    }
  }

  &__section:first-child {
    margin-top: 0;
  }
}
