@import 'base/variables';

.employee-info {
  padding: 52px 47px;

  .section {
    margin-top: 66px;

    &__header {
      display: flex;
      justify-content: space-between;

      .title {
        display: flex;

        .h2 {
          position: relative;

          &_underlined {
            &::after {
              content: '';

              position: absolute;

              margin-bottom: 35px;

              display: block;

              width: 50px;
              height: 4px;

              background-color: $accent_color_bright;
            }
          }
        }
      }
    }

    &__content {
      margin-top: 33px;

      .w-100 {
        width: 100%;
      }

      .row {
        margin-bottom: 32px;

        display: flex;
        justify-content: space-between;

        .edit-form {
          display: grid;

          width: 100%;
          grid-template-columns: repeat(8, auto);
          grid-gap: 6px 31px;

          &__institution {
            grid-column: 1 / 5;
          }

          &__specialization {
            grid-column: 5 / 9;
          }

          &__action {
            display: flex;
            grid-column: 1 / span 8;

            justify-content: center;

            button:first-child {
              margin-right: 38px;
            }
          }
        }

        &__button {
          align-self: center;
        }

        &__main-info {
          display: flex;

          .col:nth-child(2) {
            min-width: 270px;
          }

          .col {
            margin-right: 57px;

            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
              min-width: 64px;
            }
          }

          .col:last-child {
            margin-right: 0;
          }
        }
      }

      .row:last-child {
        margin-bottom: 0;
      }
    }
  }

  .section:first-child {
    margin-top: 0;
  }
}
