<do-employee-info></do-employee-info>
<div class="card employee-info bg-white">
  <!--  Навыки  -->
  <div class="employee-info__section">
    <div class="header">
      <div class="header__title">
        <span class="h2 h2_underlined">Навыки</span>
        <do-search magnifierLocation="left" placeholder="поиск"></do-search>
      </div>
      <div class="header__action">
        <button mat-icon-button>
          <img src="assets/svg/edit.svg" alt="edit" />
        </button>
      </div>
    </div>
  </div>
  <!--  Образование  -->
  <div class="employee-info__section">
    <div class="header">
      <div class="header__title">
        <span class="h2 h2_underlined">Образование</span>
      </div>
      <div class="header__action">
        <button mat-flat-button color="primary">+ Добавить образование</button>
      </div>
    </div>
  </div>
  <!--  Сертификаты  -->
  <div class="employee-info__section">
    <div class="header">
      <div class="header__title">
        <span class="h2 h2_underlined">Сертификаты</span>
        <do-search magnifierLocation="left" placeholder="поиск"></do-search>
      </div>
      <div class="header__action">
        <button mat-flat-button color="primary">+ Добавить сертификат</button>
      </div>
    </div>
  </div>
</div>
