<form [formGroup]="departmentForm" (ngSubmit)="onSubmitDepartmentForm()">
	<h3 mat-dialog-title class="text-align_center">
		{{ isEdit ? 'Редактирование департамента' : 'Создание департамента' }}
	</h3>
	<mat-dialog-content class="new-department">
		<div class="form__container">
			<div class="new-department__input-container">
				<mat-form-field appearance="fill">
					<mat-label>Название департамента</mat-label>
					<input matInput type="text" id="name" formControlName="name" required />
					<mat-error *ngIf="departmentForm.controls['name']?.errors?.['required']">
						Поле не должно быть пустым
					</mat-error>
					<mat-error *ngIf="departmentForm.controls['name']?.errors?.['minlength']">
						Минимум 3 символа
					</mat-error>
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Директор</mat-label>
					<mat-select id="director" formControlName="directorid">
						<mat-option *ngFor="let director of directors$ | async" [value]="director.id">
							{{ director.lastName + ' ' + director.firstName }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Описание</mat-label>
					<textarea
						#description
						matInput
						id="description"
						formControlName="description"
						placeholder="Напишите немного о новом департаменте"
						maxlength="1000"
					></textarea>
					<mat-hint align="end">{{ description.value.length }}/1000</mat-hint>
				</mat-form-field>
			</div>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions class="flex flex_jc_center">
		<button mat-button mat-dialog-close type="button">Отмена</button>
		<button
			*ngIf="!isEdit; else editDepartamentButton"
			mat-flat-button
			color="primary"
			type="submit"
			[disabled]="departmentForm.invalid"
		>
			Создать департамент
		</button>
		<ng-template #editDepartamentButton>
			<button
				mat-flat-button
				color="primary"
				type="submit"
				[disabled]="departmentForm.invalid || departmentForm.pristine"
			>
				Сохранить
			</button>
		</ng-template>
	</mat-dialog-actions>
</form>
