@import 'abstracts/variables';
@import 'base/fonts';

.task-row {
  display: flex;
  flex-flow: row nowrap;

  margin: 25px 24px 16px 24px;
  border-radius: 5px;
  background: $light_1;

}

.col {
  border-radius: inherit;
}

.col-1 {

  max-width: 150px;
  padding-right: 24px;

}

.col-2 {
  max-width: 586px;
  padding-right: 42px;
}

.col-3 {
  margin-left: auto;
  min-width: auto;
}

.time {
  max-width: 150px;
  display: flex;
  padding-top: 3px;
  h4 {
  }
  /*p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    color: $gray;
  }*/
}

.note__head {
  width: 586px;
  height: 22.48px;
  right: 225px;
  bottom: 714.52px;
  margin-bottom: 13px;

  /*p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $dark_1;

  }*/
}

.note__text {
  width: 559px;
  height: 74px;
  right: 252px;
  bottom: 627px;
  /*p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $dark_2;
  }*/
}
.note__date {
  max-width: 200px;
  height: 24px;
  right: 716px;
  bottom: 595px;
  /*p {
    font-family: Gill Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $gray;
  }*/
}

.icons {
  width: 60px;
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
}
