.addFile {
  --border-color1: 1px solid #fa7d57;
  --button-color-white1: #fff;
  display:flex;
  justify-content: center;
  background: var(--button-color-white1);
  border: var(--border-color1);
  border-radius: 5px;
  width:178px;
  height:32px;
  border-radius: 5px;
}

.addFile__container {
  display:flex;
  justify-content: center;
  align-items: center;
}

.addFile__container>p {
  --font-orange1: #FA7D57;
  font-family: Gill Sans;
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  line-height: 24px;
  color: var(--font-orange1);
  align-items: center;
  text-align: center;
}
