@import '../../../../../stylesheets/abstracts/variables';
@import '../../../../../stylesheets/base/fonts';
@import '../../../../../stylesheets/material/input';
@import '../../../../../stylesheets/material/textarea';
.h3,
.regular_text{
  color: $dark_1;
}
.regular_text{
  font-size: 14px;
}

.newCompany__container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 12px 0;
  .newCompany__inputsContainer{
    .companyName,
    .companyDescription{
      width: 100%;
    }
  }
  .newCompany__buttonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    button {
      width: 185px;
    }
  }
}


