<div class="new-company__container">
  <div>
    <span class="h3">Новая компания</span>
  </div>
  <div class="new-company__inputs-container">
    <form class="new-company__form">
      <mat-form-field>
        <p class="regular_text">Название</p>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <p class="regular_text">Описание</p>
        <textarea matInput></textarea>
      </mat-form-field>
    </form>
  </div>
  <div class="new-company__buttons-container">
    <button mat-flat-button>Отмена</button>
    <button mat-flat-button color="primary" class="bg-accent_color">Добавить</button>
  </div>
</div>


