<div class="content-container">
  <div class="header-content">
    <span class="h3 header-content">Новая компания</span>
  </div>
  <form class="form-container">
    <mat-form-field class="company-name h5">
      <mat-label>Название</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field class="company-description h5">
      <mat-label>Описание</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </form>
  <div class="buttons-container">
    <button mat-flat-button class="addEmploye">Добавить</button>
    <button mat-flat-button class="bg-accent_color">Отмена</button>
  </div>
</div>


