<div class="new-company__container">
  <div class="new-company__inputs-container">
    <div>
      <span class="h3">Новая компания</span>
    </div>
    <form>
      <mat-form-field appearance="none">
        <p class="regular_text">Название</p>
        <input matInput class="mat-custom-input">
      </mat-form-field>
      <br>
      <mat-form-field appearance="none">
        <p class="regular_text">Описание</p>
        <textarea matInput class="mat-custom-textarea"></textarea>
      </mat-form-field>
    </form>
  </div>

  <div class="new-company__buttons-container">
    <button mat-flat-button>Добавить</button>
    <button mat-flat-button class="bg-accent_color">Отмена</button>
  </div>
</div>


