@import 'abstracts/variables';
@import 'base/fonts';

.team-card {
  min-width: 320px;
  background-color: $light_1;
  padding: 24px;
  height: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__name {
    color: $dark_1;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
  &__people-count-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__people-count-icon {
    display: block;
    fill: $accent_color_bright;
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
  &__people-count {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
  &__level-labels {
    color: $gray;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    margin-top: 6px;
  }
  &__team-members {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;
  }
  &__members-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    list-style: none;
  }
  &__new-member {
    margin-right: 12px;
    margin-top: 12px;
    align-self: flex-start;
  }
  &__member {
    position: relative;
    margin-right: 12px;
    margin-top: 12px;
  }
  &__icon-dummy {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $gray;
  }
  &__icon-dummy_lead {
    &:before {
      content: "lead";
      position: absolute;
      top: -5px;
      right: -12px;
      width: 33px;
      text-align: center;
      text-transform: uppercase;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 1.5;
      color: $light_1;
      background-color: #56CCF2;
      border-radius: 5px;
    }
  }
}

