.field {
	display: flex;
	justify-content: center;

	width: 100%;

	text-align: center;

	&__input {
		height: 18px;

		vertical-align: middle;
	}

	&__button {
		width: 18px;
		height: 18px;

		line-height: 18px;
	}
}
