@use 'base/variables';

.stepper {
	&__label {
		display: block;

		text-align: start;
	}

	&__button {
		&:disabled {
			padding: 0;

			min-width: 0;

			background-color: transparent;
		}
	}

	&__required {
		margin-left: 1px;

		vertical-align: top;
	}

	&__form-field {
		display: block;

		text-align: center;
	}
}
