<mat-form-field appearance="fill" class='field'>
    <mat-label>{{label}}</mat-label>
    <button mat-icon-button matPrefix type="button" [disabled]="disabled" class='field__button'
        (click)="onChangeClick(-step)">-</button>
    <button mat-icon-button matSuffix type="button" [disabled]="disabled" class='field__button'
        (click)="onChangeClick(step)">+</button>
    <input type="text" matInput [formControl]="stepperControl" readonly [placeholder]="placeholder"
        [required]="required" class='field__input'>
</mat-form-field>
