<form class="auth" [formGroup]="loginForm" (ngSubmit)="signUp()" autocomplete="off">
	<do-form-field
		#trigger="doPopoverTrigger"
		class="auth-input"
		label="Придумай логин"
		[doPopoverTrigger]="popover"
		position="after"
	>
		<mat-form-field>
			<input
				#login
				matInput
				name="login"
				type="text"
				placeholder="Новый логин"
				formControlName="login"
				autocomplete="off"
				(focusin)="trigger.show()"
				(focusout)="trigger.hide(); login.blur()"
			/>
		</mat-form-field>
	</do-form-field>
	<do-form-field class="auth-input" label="Введи пароль из письма">
		<mat-form-field>
			<do-password placeholder="Пароль" formControlName="password"></do-password>
		</mat-form-field>
	</do-form-field>
	<button
		[loading]="loading$ | async"
		mat-flat-button
		color="primary"
		class="submit"
		type="submit"
		[disabled]="loginForm.invalid"
	>
		Войти
	</button>
</form>
<do-popover #popover>
	<do-validation-hint [validations]="hintValidations$ | async"></do-validation-hint>
</do-popover>
