<form class="form" [formGroup]="loginForm" (ngSubmit)="signUp()" autocomplete="off">
	<h1 class="form__title">{{ portalName }}</h1>
	<div class="form__description"><p>Придумайте логин и введите пароль из письма</p></div>
	<div
		class="form__error"
		*ngIf="loginForm.hasError('busy') || (login?.touched && password?.touched && loginForm.invalid)"
	>
		<small *ngIf="login?.dirty && login?.invalid">Логин обязателен :(</small>
		<small *ngIf="password?.dirty && password?.invalid">Пароль обязателен :(</small>
		<small *ngIf="loginForm.hasError('busy')">{{ loginForm.getError('busy').error }}</small>
	</div>
	<mat-form-field class="form__input-field">
		<input matInput name="login" type="text" placeholder="Логин" formControlName="login" />
	</mat-form-field>
	<mat-form-field class="form__input-field">
		<input matInput name="password" type="password" placeholder="Пароль" formControlName="password" />
	</mat-form-field>
	<div class="form__submit">
		<button
			*ngIf="(isWaiting | async) === false; else spinner"
			mat-flat-button
			color="primary"
            class="submit-button"
			type="submit"
			[disabled]="loginForm.invalid"
		>
			Войти
		</button>
		<ng-template #spinner>
			<svg class="spinner" viewBox="0 0 50 50">
				<circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
			</svg>
		</ng-template>
	</div>
</form>
