<div class="content-container">
    <a class="nav-link__dashboard regular_text regular_text_dark_1"
    routerLink="/admin/dashboard" >
        <svg xmlns="http://www.w3.org/2000/svg">
            <path class="arrow" d="M4 0 L0 4 L4 8"/>
        </svg>
    К дашборду
    </a>
    <span class="title h1 h1_dark_2">Новый сотрудник</span>
    <div class="form-container">
        <form class="data-form"
                [formGroup]="userForm"
                (ngSubmit)="createEmployee()">
            <span class="data-form__title h3 h3_dark_1">1. Основная информация</span>
            <div class="main-info" >
                <div class="content__photo">
                    <div class="photo-container">
                        <img src="../../../assets/admin/new-employee/empty-photo-icon.png" alt="empty-photo-icon">
                    </div>
                </div>
                <div class="content__inputs">
                    <div class="data-form__input-content">
                        <label class="h5 h5_dark_1">Фамилия</label>
                        <input class="data-form__input-field"
                                type="text"
                                formControlName="lastName">
                    </div>
                    <div class="data-form__input-content">
                        <label class="h5 h5_dark_1">Имя</label>
                        <input class="data-form__input-field"
                                type="text"
                                formControlName="firstName">
                    </div>
                    <div class="data-form__input-content">
                        <label class="h5 h5_dark_1">Отчество</label>
                        <input class="data-form__input-field"
                                type="text"
                                formControlName="middleName">
                    </div>
                </div>
            </div>
            <span class="data-form__title h3 h3_dark_1">2. Рабочая информация</span>
            <div class="job-info">
                <div class="position-info">
                    <div class="data-form__input-content">
                        <label class="h5 h5_dark_1">Позиция</label>
                        <select formControlName="position"
                                class="data-form__select-field">
                            <option *ngFor="let position of positions" 
                                    [ngValue]="position">
                                {{ position.name }}
                                </option>
                        </select>
                    </div>
                    <div class="data-form__input-content">
                        <label class="h5 h5_dark_1">Ставка</label>
                        <select formControlName="rate"
                                class="data-form__select-field">
                            <option *ngFor="let rate of rates" 
                                    [ngValue]="rate">
                                {{ rate }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="department-info">
                    <div class="data-form__input-content">
                        <label class="h5 h5_dark_1">Департамент</label>
                        <select formControlName="department"
                                class="data-form__select-field">
                            <option *ngFor="let department of departments" 
                                    [ngValue]="department">
                                {{ department.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <span class="data-form__title h3 h3_dark_1">3. Данные для входа</span>
            <div class="login-info">
                <div class="content__inputs" >
                    <div class="data-form__input-content">
                        <label class="h5 h5_dark_1">Почта</label>
                        <input class="data-form__input-field"
                                type="email"
                                formControlName="email">
                    </div>
                    <div class="data-form__input-content">
                        <label class="h5 h5_dark_1">Пароль</label>
                        <input class="data-form__input-field"
                                type="password"
                                formControlName="password">
                    </div>
                </div>
                <button class="btn-generate-credentials"
                        type="button"
                        (click)="generateCredentials()">
                    <img src="../../../assets/admin/new-employee/lock-icon.png" alt="lock-icon">
                    <span class="regular_text regular_text_accent_color_bright">Сгенерировать</span>
                </button>
            </div>
            <div class="submit-buttons">
                <button class="btn-send-credentials"
                        type="button"
                        (click)="sendCredentials()"
                        [disabled]="userForm.invalid">
                    <span class="regular_text regular_text_accent_color">Отправить данные для входа</span>
                </button>
                <button class="btn-create-employee"
                        type="submit"
                        [disabled]="userForm.invalid">
                    <span class="regular_text regular_text_light_1">Создать сотрудника</span>
                </button>
            </div>
        </form>
    </div>
</div>
