<!--шрифты-->
<link href="//db.onlinewebfonts.com/c/07a38bbad54db72a40b406bed1c72f53?family=Gotham+Pro" rel="stylesheet" type="text/css"/>

<!--разметка-->
<div class="wrapper">

  <div class="content">

    <div class="head">
      <p>Грaфик тегов</p>
    </div>


    <div class="main">
      <p>Всего</p>
      <div class="row row1">
        <div class="main__column1">
          <div class="rowName">
            <p>Ромашка</p>
          </div>
        </div>
        <div class="main__column2">
          <div class="bar bar1"><p>24:00 ч.</p></div>
          <div class="bar bar2"><p>04:00</p></div>
        </div>
        <div class="main__column3">
          <div class="time"><p>28:00</p></div>
        </div>
      </div>
      <div class="row row2">
        <div class="rowName">
          <p>Меркурий</p>
        </div>
        <div class="barBlock">
          <div class="bar bar3"><p>08:00</p></div>
        </div>
        <div class="time"><p>08:00</p></div>
      </div>
      <div class="row row3">
        <div class="rowName">
          <p>Kojima</p>
        </div>
        <div class="barBlock">
          <div class="bar bar4"><p>04:00</p></div>
        </div>
        <div class="time"><p>04:00</p></div>
      </div>


    </div>
    <div class="tags">
      <div class="tagsRow">
        <div class="tags__column1">
          <div class="tagsName">
            <p>Теги:</p>
          </div>
        </div>
        <div class="tags__column2">
          <div class="tag tag1"><p>Dev</p></div>
          <div class="tag tag2"><p>Документация</p></div>
          <div class="tag tag3"><p>Планирование</p></div>
        </div>
      </div>
    </div>

  </div>



</div>
