.form {
	display: flex;
	flex-direction: column;
	gap: 16px;

	.has-hint {
		margin-bottom: 22px;
	}
}

.title {
	margin-bottom: 8px;
}

.category {
	max-width: 257px;
}

mat-dialog-actions {
	button {
		width: 176px;

		&:not(:last-child) {
			margin-right: 20px;
		}
	}
}
