@import "../../stylesheets/base/fonts";
p {
  margin: 0;
}

.desc {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: $dark_1;
    margin-bottom: 16px;
    width: 928px;
  }
  &__content {
    background: url("../../assets/image/fon.svg") no-repeat;
    background-size: cover;
    width: 928px;
    height: 240px;
    display: flex;
    flex-direction: row;
  }
  .desc__calender {
    margin: 36px 219px 0 48px;

  }
  &__photo {
    width: 189px;
    align-self: flex-end;
  }
}
.content__period {
  color: $dark_2;
}
.content__week {
  display: flex;
  width: 380px;
  color: $dark_1;
  margin-top: 16px;
  margin-bottom: 24px;

  &__day {
    flex-direction: column;
    margin-right: 43.9px;
    &-single {
      margin-bottom: 10px;
    }
    &_orange {
      background: $accent_color_bright;
      text-align: center;
      border-radius: 50%;
      width: 25px;
      color: $light_1;
    }
  }
}
.chooseDate {
  background: $accent_color;
  border-radius: 5px;
  border-color: transparent;
  height: 32px;
  width: 179px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    color: $dark_1;
    svg {
      height: 8px;
      width: 4px;
    }
}
}

