<div class="dashboard">
	<h1 doText>Администрирование</h1>
	<div class="section">
		<h3 doText color="dark_1" underlined underlinedSize="sm">Быстрый доступ</h3>
		<div class="section__content">
			<button class="section__button" (click)="openModalClick.next(modalType.NEW_EMPLOYEE)">
				<img src="assets/admin/dashboard/add-employee-icon.png" alt="add-employee-icon" />
				<h4 doText>Добавить сотрудника</h4>
			</button>
			<button class="section__button" (click)="openModalClick.next(modalType.NEW_PROJECT)">
				<img src="assets/admin/dashboard/add-project-icon.png" alt="add-project-icon" />
				<h4 doText>Создать проект</h4>
			</button>
			<button class="section__button" (click)="openModalClick.next(modalType.NEW_DEPARTMENT)">
				<img src="assets/admin/dashboard/add-project-icon.png" alt="add-project-icon" />
				<h4 doText>Добавить департамент</h4>
			</button>
			<button class="section__button" (click)="openModalClick.next(modalType.NEW_SPECIALIZATION)">
				<img src="assets/admin/dashboard/add-project-icon.png" alt="add-project-icon" />
				<h4 doText>Добавить специализацию</h4>
			</button>
		</div>
	</div>
	<div class="section">
		<h3 doText color="dark_1" underlined underlinedSize="sm">Сервисы администрирования</h3>
		<div class="section__content">
			<button class="section__button" (click)="openModalClick.next(modalType.NEW_DEPARTMENT)">
				<img src="assets/admin/dashboard/add-project-icon.png" alt="add-project-icon" />
				<h4 doText>Управление сотрудниками</h4>
			</button>
			<button class="section__button" (click)="openModalClick.next(modalType.NEW_SPECIALIZATION)">
				<img src="assets/admin/dashboard/add-project-icon.png" alt="add-project-icon" />
				<h4 doText>Управление ролями</h4>
			</button>
		</div>
	</div>
</div>
