@import 'base/variables';

.content-container {
  display: flex;
  justify-content: center;

  min-height: 1100px;

  background-color: $light_2;

  .board {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    max-width: 928px;

    .user-board {
      position: relative;

      margin-top: 6.36%;

      width: 100%;

      &__content {
        position: relative;
        bottom: 0;

        width: 100%;
        max-height: 100%;

        border-radius: 5px;
      }

      &__photo {
        position: absolute;
        right: 24px;
        bottom: 0;

        height: 125%;
      }

      &__date {
        position: absolute;
        top: 40px;
        left: 48px;

        display: flex;
        flex-direction: column;

        .h2_ultimate-orange {
          color: $ultimate_orange;
        }

        span {
          margin: 6px 0 6px 0;
        }
      }
    }

    .manage-board {
      margin-top: 3.38%;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .h3_dark_1 {
        color: $dark_1;
      }

      &__content {
        margin-top: 14px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .h4_ultimate-orange {
          color: $ultimate_orange;
        }

        .h4_dark_1 {
          color: $dark_1;
        }

        button {
          margin: 0 16px 0 16px;
          padding: 0;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          width: 288px;
          height: 272px;

          cursor: pointer;

          border-style: none;
          border-radius: 5px;
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);

          span {
            position: relative;
            top: 30px;
          }
        }

        .btn-first {
          margin-left: 0;

          background-color: $light_1;
          background-image: url('../../../../../assets/admin/dashboard/add-employee-background.png');
        }

        .btn-last {
          margin-right: 0;

          background-color: $accent_color;
          background-image: url('../../../../../assets/admin/dashboard/add-project-background.png');
        }
      }
    }

    .projects-board {
      margin-top: 6.36%;

      .h3_dark_1 {
        color: $dark_1;
      }

      &__content {
        margin-top: 14px;

        display: flex;
        flex-direction: row;

        .component-my-project {
          margin-right: 20px;
        }
      }
    }
  }
}
