.modal__header {
	display: flex;
	justify-content: space-between;
}

.search {
	margin-bottom: 20px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	&__name {
		flex: 0 0 75%;
	}

	&__position {
		margin-left: 16px;
		flex: 1 0 25%;
	}
}

.table {
	width: 100%;
}

.scrolled-content {
	max-height: 300px;
}

.main-info {
	display: flex;
}

.profile-photo {
	margin-right: 20px;
}

.mat-column {
	&-select {
		width: 5%;
	}

	&-name {
		width: 55%;
	}

	&-department {
		width: 40%;
	}
}

.mat-cell,
.mat-header-cell {
	padding: 0 15px;
}

.mat-row {
	height: 76px;

	cursor: pointer;
}

.mat-header-row {
	height: 50px;
}

td.mat-cell:first-of-type {
	padding-left: 0;
}
