@use 'base/variables';
@use 'base/palettes' as *;
@use '~@angular/material' as mat;

.employee-info {
	display: flex;

	&__wrapper {
		display: grid;

		min-width: 600px;
		max-width: 848px;

		grid-template-columns: 30fr 40fr;
	}

	&__form {
		width: 100%;
	}

	&__main {
		margin: 56px 15px 0 47px;

		display: flex;
		flex-direction: column;

		text-align: center;
	}

	&__general {
		margin: 52px 32px 0 15px;
	}

	&__general-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__additional {
		width: 100%;
		max-width: 393px;

		background-color: mat.get-color-from-palette($do-grey, 50);

		&_editing {
			grid-row: 1 / 3;
			grid-column: 3 / 4;
		}
	}

	&__avatar {
		position: relative;

		margin-bottom: 12px;

		overflow: hidden;

		width: 180px;
		height: 180px;

		align-self: center;

		border-radius: 50%;
	}

	&__upload-button {
		position: absolute;
		left: 0;
		bottom: 0;

		padding-top: 8px;

		width: 180px;
		height: 60px;

		cursor: pointer;

		background-color: rgba(67, 67, 72, 0.6);
	}

	&__upload-icon {
		width: 16px;
		height: 16px;
	}

	&__form-field {
		display: block;
	}

	&__about {
		line-height: 21px;
	}

	&__columns {
		display: flex;
		justify-content: space-between;
	}

	&__second-column {
		margin-left: 32px;

		width: 185px;
	}

	&__hint {
		margin-left: 2px;

		width: 16px;
		height: 16px;

		font-size: 16px;

		vertical-align: -20%;
	}

	&__required-block {
		margin: 32px 0 0 57px;
	}
}

.controls {
	padding: 32px 0 52px;

	display: flex;
	justify-content: center;
	align-items: center;

	&__button {
		margin: 0 35px;

		width: 180px;
	}
}

.title {
	margin: 0;
}
