<div class="employee-info">
	<ng-container *ngIf="user">
		<ng-container *ngIf="!canEdit() || !isEditing; else editForm">
			<div class="employee-info__wrapper">
				<div class="employee-info__main">
					<div class="employee-info__avatar">
						<do-profile-image [image]="user?.avatarImage" size="l"></do-profile-image>
					</div>
					<h3 class="employee-info__name">
						{{ user.getFullName }}&nbsp;<span
							matTooltipClass="tooltip"
							[matTooltip]="user.firstName + ' ' + (user.statusEmoji?.statusInRussian | lowercase)"
							[matTooltipPosition]="'above'"
							>{{ user.statusEmoji?.emojiIcon }}</span
						>
					</h3>
					<q *ngIf="user?.about" class="mat-body-1 employee-info__about">{{ user?.about }}</q>
				</div>
				<div class="employee-info__general">
					<h4>Общие сведения</h4>
					<div class="employee-info__columns">
						<div class="employee-info__first-column">
							<div *ngIf="user?.position">
								<p class="mat-caption">Должность</p>
								<p>{{ user?.position?.name }}</p>
							</div>
							<div *ngIf="user?.department">
								<p class="mat-caption">Департамент</p>
								<p>{{ user.department?.name }}</p>
							</div>
							<div *ngIf="user?.city">
								<p class="mat-caption">Местоположение</p>
								<p>{{ user?.city }}</p>
							</div>
							<div *ngIf="user?.office?.city">
								<p class="mat-caption">Офис</p>
								<p>{{ user?.office?.city }}, {{ user?.office?.address }}</p>
							</div>
						</div>
						<div class="employee-info__second-column">
							<div *ngIf="user?.rate">
								<p class="mat-caption">Ставка</p>
								<p>{{ user?.rate }}</p>
							</div>
							<div>
								<p class="mat-caption">Пол</p>
								<p>{{ user?.gender?.genderInRussian }}</p>
							</div>
							<div *ngIf="user?.role?.name">
								<p class="mat-caption">Роль</p>
								<p>{{ user.role?.name }}</p>
							</div>
							<div *ngIf="user?.startWorkingAt">
								<p class="mat-caption">В компании с</p>
								<p>{{ user.startWorkingAt | date: dateType.FULL }}</p>
							</div>
							<div *ngIf="user?.dateOfBirth">
								<p class="mat-caption">Дата рождения</p>
								<p>{{ user?.dateOfBirth | date: dateType.FULL }}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="employee-info__additional">
					<mat-divider class="additional__line" vertical></mat-divider>
					<div class="form__column">
						<h4>Контакты</h4>
						<div class="employee-info__columns">
							<div>
								<div *ngFor="let communication of user?.communications">
									<p class="mat-caption">{{ communication.type }}</p>
									<p>{{ communication.value }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="employee-info__edit-button">
					<button type="button" mat-icon-button aria-label="Edit employee info" (click)="toggleEditMode()">
						<img src="../../../../../assets/svg/edit.svg" alt="Edit" />
					</button>
				</div>
			</div>
		</ng-container>
	</ng-container>
</div>

<ng-template #nameEdit [formGroup]="employeeInfoForm">
	<mat-form-field class="employee-info__form-field" appearance="fill">
		<mat-label>Фамилия</mat-label>
		<input matInput formControlName="/LastName" required />
	</mat-form-field>
	<mat-form-field class="employee-info__form-field" appearance="fill">
		<mat-label>Имя</mat-label>
		<input matInput formControlName="/FirstName" required />
	</mat-form-field>
	<mat-form-field class="employee-info__form-field" appearance="fill">
		<mat-label>Отчество</mat-label>
		<input matInput formControlName="/MiddleName" />
	</mat-form-field>
</ng-template>

<ng-template #about [formGroup]="employeeInfoForm">
	<ng-container *ngIf="user?.isAdmin">
		<mat-form-field class="employee-info__form-field" appearance="fill">
			<mat-label>О себе</mat-label>
			<textarea
				#about
				formControlName="/About"
				matInput
				placeholder="Напишите немного о себе или оставьте заметку коллегам"
				maxlength="150"
				cdkTextareaAutosize="true"
			></textarea>
			<mat-hint align="end">{{ about.value.length }}/150</mat-hint>
		</mat-form-field>
	</ng-container>
</ng-template>

<ng-template #stepper [formGroup]="employeeInfoForm">
	<mat-form-field appearance="fill">
		<mat-label>Ставка</mat-label>
		<do-stepper [step]="0.25" [max]="1" [min]="0.25" formControlName="/Rate" required></do-stepper>
	</mat-form-field>
</ng-template>

<ng-template #emoji [formGroup]="employeeInfoForm">
	<mat-form-field
		class="employee-info__form-field"
		appearance="fill"
		matTooltipClass="tooltip"
		matTooltip="Статус будет отображаться рядом с именем пользователя"
		[matTooltipPosition]="'above'"
	>
		<mat-label>
			Эмодзи-статус
			<mat-icon class="employee-info__hint">help_outline</mat-icon>
		</mat-label>
		<mat-select formControlName="/Status">
			<mat-option *ngFor="let option of statuses" [value]="option.statusType">
				{{ option.emojiIcon }} {{ option.statusInRussian | titlecase }}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<!--    <ng-container *ngIf="isEditing && employeeInfoForm.get('status')?.value === userStatus.Vacation">-->
	<!--        <label class='small_text text-gray'>Замещает: </label>-->
	<!--        <span class='small_text text-gray employee-info__substitute'>Назначить замещающего</span>-->
	<!--    </ng-container>-->
</ng-template>

<ng-template #editForm>
	<form class="employee-info__form" [formGroup]="employeeInfoForm" (ngSubmit)="onSubmit()">
		<div class="employee-info__wrapper">
			<div class="employee-info__main">
				<div class="employee-info__avatar">
					<do-profile-image [image]="employeeInfoForm.get('/AvatarImage')?.value" size="l"></do-profile-image>
					<label class="mat-body-1 employee-info__upload-button" (click)="onOpenDialog()">
						<mat-icon class="employee-info__upload-icon">
							<img src="../../../../../assets/svg/arrow-upload-file.svg" alt="Upload photo" />
						</mat-icon>
						Обновить фото
					</label>
				</div>
				<ng-container *ngIf="!user?.isAdmin; else nameEdit">
					<h3 class="employee-info__name">
						{{ user?.getFullName }}&nbsp;<span
							matTooltipClass="tooltip"
							[matTooltip]="user?.firstName + ' ' + (user?.statusEmoji?.statusInRussian | lowercase)"
							[matTooltipPosition]="'above'"
							>{{ user?.statusEmoji?.emojiIcon }}</span
						>
					</h3>
				</ng-container>
				<ng-container *ngTemplateOutlet="about"></ng-container>
			</div>
			<div class="employee-info__general">
				<h4>Общие сведения</h4>
				<div class="employee-info__columns">
					<div class="employee-info__first-column">
						<mat-form-field class="employee-info__form-field" appearance="fill">
							<mat-label> Должность </mat-label>
							<mat-select formControlName="/PositionId" required>
								<mat-option *ngFor="let position of positions$ | async" [value]="position.id">
									{{ position.name }}
								</mat-option>
							</mat-select>
						</mat-form-field>
						<mat-form-field class="employee-info__form-field" appearance="fill">
							<mat-label> Департамент </mat-label>
							<mat-select formControlName="/DepartmentId">
								<mat-option *ngFor="let department of departments$ | async" [value]="department.id">
									{{ department.name }}
								</mat-option>
							</mat-select>
						</mat-form-field>
						<mat-form-field class="employee-info__form-field" appearance="fill">
							<mat-label>Местоположение</mat-label>
							<input matInput formControlName="/City" />
						</mat-form-field>
						<mat-form-field class="employee-info__form-field" appearance="fill">
							<mat-label>Офис </mat-label>
							<mat-select formControlName="/OfficeId" required>
								<mat-option *ngFor="let office of offices$ | async" [value]="office.id">
									{{ office.city }}, {{ office.address }}
								</mat-option>
							</mat-select>
						</mat-form-field>
						<ng-container *ngTemplateOutlet="emoji"></ng-container>
					</div>
					<div class="employee-info__second-column">
						<ng-container *ngIf="canEdit()">
							<ng-container *ngIf="!user?.isAdmin; else stepper">
								<p>Ставка</p>
								<div>{{ user?.rate }}</div>
							</ng-container>
						</ng-container>
						<mat-form-field class="employee-info__form-field" appearance="fill">
							<mat-label>Пол </mat-label>
							<mat-select formControlName="/Gender">
								<mat-option *ngFor="let gender of genders" [value]="gender.genderType">
									{{ gender.genderInRussian }}
								</mat-option>
							</mat-select>
						</mat-form-field>
						<mat-form-field class="employee-info__form-field" appearance="fill">
							<mat-label> Роль </mat-label>
							<mat-select formControlName="/RoleId">
								<mat-option *ngFor="let role of roles$ | async" [value]="role.id">
									{{ role.localizations?.[0]?.name }}
								</mat-option>
							</mat-select>
						</mat-form-field>
						<mat-form-field class="employee-info__form-field" appearance="fill">
							<mat-label>В компании с</mat-label>
							<input
								matInput
								formControlName="/StartWorkingAt"
								[matDatepicker]="picker1"
								placeholder="ДД месяц ГГГГ"
							/>
							<mat-datepicker-toggle matSuffix [for]="picker1">
								<mat-icon matDatepickerToggleIcon>date_range</mat-icon>
							</mat-datepicker-toggle>
							<mat-datepicker #picker1></mat-datepicker>
						</mat-form-field>
						<mat-form-field class="employee-info__form-field" appearance="fill">
							<mat-label>Дата рождения</mat-label>
							<input
								matInput
								formControlName="/DateOfBirth"
								[matDatepicker]="picker2"
								placeholder="ДД месяц ГГГГ"
							/>
							<mat-datepicker-toggle matSuffix [for]="picker2">
								<mat-icon matDatepickerToggleIcon>date_range</mat-icon>
							</mat-datepicker-toggle>
							<mat-datepicker #picker2></mat-datepicker>
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="employee-info__additional">
				<mat-divider class="additional__line" vertical></mat-divider>
				<div class="form__column">
					<h4>Контакты</h4>
					<div class="employee-info__columns">
						<div>
							<div *ngFor="let communication of user?.communications">
								<p>{{ communication.type }}</p>
								<p>{{ communication.value }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="employee-info__form-buttons">
				<button type="button" mat-button (click)="onReset()">Отменить</button>
				<button
					[disabled]="employeeInfoForm.invalid"
					type="submit"
					color="primary"
					class="employee-info__submit"
					mat-flat-button
				>
					Сохранить
				</button>
				<div class="employee-info__required-block">
					<span class="warn"> <sup>*</sup>&nbsp;Обязательное поле</span>
				</div>
			</div>
		</div>
	</form>
</ng-template>
