<div class="employee-info">
	<ng-container *ngIf="user$ | async as user">
		<div class="employee-info__wrapper">
			<div class="employee-info__main">
				<div class="employee-info__avatar" (click)="onAvatarUploadDialog()">
					<do-profile-image [image]="user?.avatar" size="l"></do-profile-image>
					<label class="mat-body-1 employee-info__upload-button">
						<mat-icon class="employee-info__upload-icon">
							<img src="../../../../../assets/svg/arrow-upload-file.svg" alt="Upload photo" />
						</mat-icon>
						Обновить фото
					</label>
				</div>
				<h3 class="employee-info__name">
					{{ user | fullName }}&nbsp;<span
						matTooltipClass="tooltip"
						[matTooltip]="user.firstName + ' ' + (user.status | userStatus: false:true | lowercase)"
						[matTooltipPosition]="'above'"
						>{{ user.status | userStatus }}</span
					>
				</h3>
				<q *ngIf="user?.about" class="mat-body-2 text-secondary_default employee-info__about">{{
					user?.about
				}}</q>
			</div>
			<div class="employee-info__general">
				<div class="employee-info__general-header">
					<h4>Общие сведения</h4>
					<div class="employee-info__edit-button">
						<button mat-button (click)="editUser(user)">
							<span class="employee-info__edit mat-body-2 text-light_4">Редактировать профиль</span>
							<img src="../../../../../assets/svg/edit.svg" alt="edit_info" />
						</button>
					</div>
				</div>

				<div class="employee-info__columns">
					<div class="employee-info__first-column">
						<div>
							<span class="employee-info__field mat-body-2 text-secondary_default">Гендер</span>
							<p>{{ user.genderName | placeholder }}</p>
						</div>
						<div>
							<span class="employee-info__field mat-body-2 text-secondary_default">Дата рождения</span>
							<p>{{ user.dateOfBirth | date: dateType.FULL | placeholder }}</p>
						</div>
					</div>
					<div class="employee-info__second-column">
						<div>
							<span class="employee-info__field mat-body-2 text-secondary_default">Местоположение</span>
							<p>Не указано</p>
						</div>
						<div>
							<span class="employee-info__field mat-body-2 text-secondary_default">Часы работы</span>
							<p>{{ user.businessHoursFromUtc | placeholder }}</p>
						</div>
					</div>
				</div>

				<div class="employee-info__general-header">
					<h4>Рабочая информация</h4>
				</div>

				<div class="employee-info__columns">
					<div class="employee-info__first-column">
						<div>
							<span class="employee-info__field mat-body-2 text-secondary_default">Департамент</span>
							<p class="mat-body">{{ user.department?.name | placeholder }}</p>
						</div>
						<div>
							<span class="employee-info__field mat-body-2 text-secondary_default">Должность</span>
							<p>{{ user?.position?.name | placeholder }}</p>
						</div>
						<div>
							<span class="employee-info__field mat-body-2 text-secondary_default">В компании с</span>
							<p>Не указано</p>
						</div>
					</div>
					<div class="employee-info__second-column">
						<div>
							<span class="employee-info__field mat-body-2 text-secondary_default">Офис</span>
							<p>{{ user?.office?.address | placeholder }}</p>
						</div>
						<div>
							<span class="employee-info__field mat-body-2 text-secondary_default">Роль</span>
							<p>{{ user?.role?.name | placeholder }}</p>
						</div>

						<div>
							<span class="employee-info__field mat-body-2 text-secondary_default">Ставка</span>
							<p>Не указано</p>
						</div>
					</div>
				</div>
			</div>
			<div class="employee-info__additional">
				<do-communications class="employee-info__communications"></do-communications>
			</div>
		</div>
	</ng-container>
</div>
