<div class="employee-info">
	<ng-container *ngIf="user$ | async as user">
		<div class="employee-info__wrapper">
			<div class="employee-info__main">
				<div class="employee-info__avatar">
					<do-profile-image
						[image]="user?.avatar"
						size="xl"
						[userInitials]="user"
						[progressive]="true"
					></do-profile-image>
					<label class="mat-body-1 employee-info__upload-button" (click)="onAvatarUploadDialog()">
						<mat-icon class="employee-info__upload-icon">upload</mat-icon>
						Обновить фото
					</label>
				</div>
				<h3 class="employee-info__name">
					{{ user | fullName: true }}
				</h3>
				<q
					*ngIf="user.additionalInfo?.about as about"
					class="mat-body-2 text-secondary_default employee-info__about"
					>{{ about }}</q
				>
			</div>
			<div class="employee-info__general">
				<div class="employee-info__general-header">
					<h4>Общие сведения</h4>
					<div class="employee-info__edit-button">
						<button doButton (click)="editUser()">
							<span class="employee-info__edit">Редактировать профиль</span>
							<mat-icon [svgIcon]="Icons.Edit"></mat-icon>
						</button>
					</div>
				</div>

				<div class="employee-info__columns">
					<div class="employee-info__first-column">
						<div>
							<span class="employee-info__field mat-body-2 text-secondary_default">Гендер</span>
							<p>{{ user.additionalInfo.genderName | placeholder }}</p>
						</div>
						<div>
							<span class="employee-info__field mat-body-2 text-secondary_default">Дата рождения</span>
							<p>{{ user.additionalInfo.dateOfBirth | date: dateType.FULL | placeholder }}</p>
						</div>
					</div>
					<div class="employee-info__second-column">
						<div>
							<span class="employee-info__field mat-body-2 text-secondary_default">Местоположение</span>
							<p>Не указано</p>
						</div>
						<div>
							<span class="employee-info__field mat-body-2 text-secondary_default">Часы работы</span>
							<p>
								{{ user.additionalInfo.businessHoursFromUtc | date: 'shortTime' | placeholder }} -
								{{ user.additionalInfo.businessHoursToUtc | date: 'shortTime' | placeholder }}
							</p>
						</div>
					</div>
				</div>

				<div class="employee-info__general-header">
					<h4>Рабочая информация</h4>
				</div>

				<div class="employee-info__columns">
					<div class="employee-info__first-column">
						<div>
							<span class="employee-info__field mat-body-2 text-secondary_default">Департамент</span>
							<p class="mat-body">{{ user.department?.name | placeholder }}</p>
						</div>
						<div>
							<span class="employee-info__field mat-body-2 text-secondary_default">Должность</span>
							<p>{{ user?.position?.name | placeholder }}</p>
						</div>
						<div>
							<span class="employee-info__field mat-body-2 text-secondary_default">В компании с</span>
							<p>{{ user.company?.startWorkingAt | date: 'dd MMMM y' | placeholder }}</p>
						</div>
					</div>
					<div class="employee-info__second-column">
						<div>
							<span class="employee-info__field mat-body-2 text-secondary_default">Офис</span>
							<p>{{ user?.office?.address | placeholder }}</p>
						</div>
						<div>
							<span class="employee-info__field mat-body-2 text-secondary_default">Роль</span>
							<p>{{ user?.role?.name | placeholder }}</p>
						</div>

						<div>
							<span class="employee-info__field mat-body-2 text-secondary_default">Ставка</span>
							<p>{{ user.company?.rate | placeholder }}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="employee-info__additional">
				<do-communications class="employee-info__communications"></do-communications>
			</div>
		</div>
	</ng-container>
</div>
