@import '../../../../../stylesheets/base/variables';

.employee-info {
  &__form {
    display: flex;
    justify-content: space-evenly;
  }

  &__main {

    display: flex;
    flex-direction: column;

    width: 26%;

    text-align: center;
  }

  &__general {
    margin-right: 32px;
    margin-left: 32px;

    width: 41%;
  }

  &__additional {
    position: relative;


    width: 33%;

    .h4:last-of-type {
      margin: 42px 0 13px 0;
    }
  }

  &__memo {
    position: absolute;
    right: 47px;
    bottom: 42px;
  }

  &__photo {
    align-self: center;

    position: relative;

    overflow: hidden;

    width: 180px;
    height: 180px;

    border-radius: 50%;
  }

  &__upload-button {
    position: absolute;
    bottom: 0;

    padding-top: 8px;

    width: 180px;
    height: 60px;

    background-color: rgba(67, 67, 72, 0.6);
  }

  &__upload-icon {
    width: 16px;
    height: 16px;
  }

  &__edit-button {
  }

  &__form-buttons {
    position: relative;

    margin-top: 32px;

    display: flex;
    justify-content: center;
  }

  &__submit {
    margin-left: 87px;

    width: 185px;
  }

  &__label {
    align-self: flex-start;

    display: block;

    &_for_textarea {
      align-self: stretch;

      display: flex;
      justify-content: space-between;
    }
  }

  &__form-field {
    display: block;
  }

  &__working-hours {
    display: inline-block;

    width: 80px;
  }

  &__substitute {
    text-decoration: underline;
    text-underline-offset: 1px;
  }

  &__stepper {
    text-align: center;
  }

  &__stepper-button {
    font-family: $header_font;

    &:disabled {
      padding: 0;

      min-width: 0;

      background-color: transparent;
    }
  }

  &__input {
    font-family: $regular_font !important;
  }

  &__about {
    line-height: 21px;
  }

  &__columns {
    margin-top: -14px;

    display: flex;
    justify-content: space-between;
  }

  &__first-column {
    width: 100%;
  }

  &__second-column {
    margin-left: 32px;

    width: 185px;
  }

  &__border {
    margin: 50px 50px 0 50px;

    height: 320px;

    border-left: 1px solid $light_3;
  }

  &__hint {
    margin-left: 2px;

    width: 16px;
    height: 16px;

    font-size: 16px;

    vertical-align: -20%;
  }

  &__required {
    margin-left: 1px;

    vertical-align: top;

    color: $negative_accent;
  }

  &__required-block {
    position: absolute;

    right: 0;
  }


  .small_text {
    margin: 14px 0 3px 0;
  }

  .h3 {
    line-height: 33px;
  }

  .h4 {
    margin-bottom: 25px;

    font-size: 18px;
  }
}
