<mat-card class="time-widget" *ngIf="selectedDate$ | async as selectedDate">
	<do-title-datepicker
		title="Часы за"
		[selectDate]="selectedDate"
		[maxDate]="maxDate"
		(dateSelection)="chosenMonthHandler($event)"
	></do-title-datepicker>
	<div class="chart">
		<button
			(click)="onPreviousMonthClicked(selectedDate)"
			class="fab-button"
			mat-mini-fab
			[class.mat-elevation-z0]="true"
			data-test="previous-month-btn"
		>
			<mat-icon fontSet="material-icons-round">chevron_left</mat-icon>
		</button>
		<do-doughnut-chart (chartLegend)="chartData = $event"></do-doughnut-chart>
		<button
			(click)="onNextMonthClicked(selectedDate)"
			class="fab-button"
			mat-mini-fab
			[disabled]="nextMonthButtonDisabled"
			[class.mat-elevation-z0]="true"
			data-test="next-month-btn"
		>
			<mat-icon fontSet="material-icons-round">chevron_right</mat-icon>
		</button>
	</div>
	<do-legend class="legend" [labels]="chartData.labels" [colors]="chartData.colors"></do-legend>
</mat-card>
