@import 'base/variables';
@import 'base/fonts';

.add-hours-choice {
  &__title {
    color: $dark_1;

    &::after {
      content: '';

      margin-bottom: 10px;

      display: block;

      width: 123px;
      height: 2px;

      background-color: $accent_color_bright;
    }
  }

  &__button_light3 {
    font-size: 32px;

    color: $dark_2;
    background-color: $light_3;
  }

  &__radio {
    width: inherit;

    font-family: $header_font;

    color: $gray;

    &.mat-radio-button.mat-radio-checked {
      color: $dark_1;
    }
  }
}

button.mat-menu-item {
  padding: 0;
}
