<h1>{{ departmentInfo?.name }}</h1>
<mat-card class="card card_standard department">
	<div class="department__info">
		<div class="department__header">
			<h3 doUnderline underlinedSize="sm">Общая информация</h3>
			<div>
				<button
					*ngIf="canAccessTimelist$ | async"
					mat-flat-button
					color="primary"
					routerLink="timelist"
					[style.margin-right.px]="16"
				>
					Таймлист ДД
				</button>
				<button mat-icon-button (click)="onEditDepartmentClick()">
					<mat-icon [svgIcon]="Icons.Edit"></mat-icon>
				</button>
			</div>
		</div>
		<!--		<div class="department__label">-->
		<!--			<p class="mat-body-1">Директор</p>-->
		<!--			<ng-container *ngIf="departmentInfo?.director; else empty">-->
		<!--				<p>{{ departmentInfo?.director?.firstName }} {{ departmentInfo?.director?.user?.lastName }}</p>-->
		<!--			</ng-container>-->
		<!--		</div>-->
		<div class="department__label">
			<p class="mat-body-1">Описание</p>
			<ng-container *ngIf="departmentInfo?.description; else empty">
				<p>{{ departmentInfo?.description }}</p>
			</ng-container>
		</div>
	</div>
	<!--	<mat-divider [inset]="true"></mat-divider>-->
	<!--	<div class="department__table table">-->
	<!--		<div class="table__header">-->
	<!--			<h3 doUnderline underlinedSize="sm">-->
	<!--				Сотрудники <span class="mat-h3 primary">{{ totalCount | i18nPlural: peopleCountMap }}</span>-->
	<!--			</h3>-->
	<!--			<button mat-flat-button color="accent" (click)="openAddEmployeeModal()">+ Добавить сотрудников</button>-->
	<!--		</div>-->
	<!--		<div class="search-actions">-->
	<!--			<div class="search">-->
	<!--				<mat-form-field class="search__name" appearance="fill">-->
	<!--					<mat-icon matPrefix [svgIcon]="Icons.Search"></mat-icon>-->
	<!--					<mat-label>Поиск по фамилии и имени</mat-label>-->
	<!--					<input matInput type="search" placeholder="Романов Владислав" />-->
	<!--				</mat-form-field>-->

	<!--				<mat-form-field appearance="fill" class="search__position">-->
	<!--					<mat-label>Выберите должность</mat-label>-->
	<!--					<mat-select>-->
	<!--						<mat-option *ngFor="let position of positions" [value]="position">-->
	<!--							{{ position }}-->
	<!--						</mat-option>-->
	<!--					</mat-select>-->
	<!--				</mat-form-field>-->
	<!--			</div>-->

	<!--			<div class="actions" *ngIf="selection.selected.length > 0">-->
	<!--				<div>{{ selection.selected.length | i18nPlural: employeeCountMap }}</div>-->
	<!--				<div [matMenuTriggerFor]="menu" class="actions__menu">-->
	<!--					<div>Действия</div>-->
	<!--					<div><mat-icon [svgIcon]="Icons.ArrowDown"></mat-icon></div>-->
	<!--				</div>-->
	<!--				<mat-menu #menu>-->
	<!--					<button (click)="removeFromDepartment()" mat-menu-item>Удалить сотрудников</button>-->
	<!--				</mat-menu>-->
	<!--			</div>-->
	<!--		</div>-->

	<!--		<table *ngIf="totalCount > 0; else emptyList" mat-table [dataSource]="dataSource" class="table">-->
	<!--			<ng-container matColumnDef="select">-->
	<!--				<th mat-header-cell *matHeaderCellDef>-->
	<!--					<mat-checkbox-->
	<!--						(change)="$event ? masterToggle() : null"-->
	<!--						[checked]="selection.hasValue() && isAllSelected()"-->
	<!--						[indeterminate]="selection.hasValue() && !isAllSelected()"-->
	<!--					>-->
	<!--					</mat-checkbox>-->
	<!--				</th>-->
	<!--				<td-->
	<!--					mat-cell-->
	<!--					*matCellDef="let row"-->
	<!--					(click)="$event.stopPropagation(); $event ? selection.toggle(row) : null"-->
	<!--				>-->
	<!--					<mat-checkbox-->
	<!--						(click)="$event ? selection.toggle(row) : null"-->
	<!--						(change)="$event ? selection.toggle(row) : null"-->
	<!--						[checked]="selection.isSelected(row)"-->
	<!--					>-->
	<!--					</mat-checkbox>-->
	<!--				</td>-->
	<!--			</ng-container>-->

	<!--			<ng-container matColumnDef="name">-->
	<!--				<th mat-header-cell *matHeaderCellDef>Имя</th>-->
	<!--				<td mat-cell *matCellDef="let departmentUser" class="erasable">-->
	<!--					<div class="main-info">-->
	<!--						<do-profile-image-->
	<!--							class="profile-photo"-->
	<!--							[image]="departmentUser.user.avatarImage"-->
	<!--							[userInitials]="departmentUser.user"-->
	<!--						></do-profile-image>-->
	<!--						<div>-->
	<!--							<div>{{ departmentUser.user.firstName }} {{ departmentUser.user.lastName }}</div>-->
	<!--							<div class="mat-body-1">{{ departmentUser.user.position?.name }}</div>-->
	<!--						</div>-->
	<!--					</div>-->
	<!--				</td>-->
	<!--			</ng-container>-->

	<!--			<ng-container matColumnDef="role">-->
	<!--				<th mat-header-cell *matHeaderCellDef>Роль</th>-->
	<!--				<td mat-cell *matCellDef="let element">-->
	<!--					<ng-container *ngIf="element?.role?.name; else empty">-->
	<!--						{{ element?.role?.name }}-->
	<!--					</ng-container>-->
	<!--				</td>-->
	<!--			</ng-container>-->

	<!--			<ng-container matColumnDef="rate">-->
	<!--				<th mat-header-cell *matHeaderCellDef>Ставка</th>-->
	<!--				<td mat-cell *matCellDef="let element">-->
	<!--					<ng-container *ngIf="element?.rate; else empty">-->
	<!--						{{ element.rate }}-->
	<!--					</ng-container>-->
	<!--				</td>-->
	<!--			</ng-container>-->

	<!--			<ng-container matColumnDef="status">-->
	<!--				<th mat-header-cell *matHeaderCellDef>Статус</th>-->
	<!--				<td mat-cell *matCellDef="let element">-->
	<!--					<ng-container *ngIf="element?.isActive; else archived">-->
	<!--						<div class="user-status">Активен</div>-->
	<!--					</ng-container>-->
	<!--					<ng-template #archived>-->
	<!--						<div class="user-status user-status_archived">В архиве</div>-->
	<!--					</ng-template>-->
	<!--				</td>-->
	<!--			</ng-container>-->

	<!--			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
	<!--			<tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onUserClick(row.user.id)"></tr>-->
	<!--		</table>-->
	<!--		<ng-template #emptyList>-->
	<!--			<do-empty-list [emptyMessage]="'В данном департаменте нет сотрудников'"></do-empty-list>-->
	<!--		</ng-template>-->
	<!--	</div>-->
</mat-card>

<ng-template #empty>
	<div>—</div>
</ng-template>
