<cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
	<cdk-tree-node
		*cdkTreeNodeDef="let node"
		cdkTreeNodePadding
		[cdkTreeNodePaddingIndent]="TREE_PADDING"
		class="navigation-tree-node"
	>
		<div class="node-body" [class.active]="node.id === activeArticleId" (click)="activeArticleChange.emit(node.id)">
			<mat-icon class="node-icon" [svgIcon]="Icons.Article"></mat-icon>
			<span class="node-name">{{ node.name }}</span>
		</div>
	</cdk-tree-node>
	<cdk-tree-node
		*cdkTreeNodeDef="let node; when: hasChild"
		cdkTreeNodePadding
		[cdkTreeNodePaddingIndent]="TREE_PADDING"
		class="navigation-tree-node"
	>
		<div cdkTreeNodeToggle class="node-body">
			<mat-icon class="node-icon" [svgIcon]="Icons.Rubric"></mat-icon>
			<span class="node-name">{{ node.name }}</span>
		</div>
	</cdk-tree-node>
</cdk-tree>
