<mat-card class="card card_standard">
	<div class="header">
		<h3 doUnderline underlinedSize="sm">Сотрудники</h3>
		<button mat-flat-button color="accent" (click)="onAddEmployeeClick()">+ Добавить сотрудника</button>
	</div>
	<div class="filters" [formGroup]="filters">
		<mat-form-field class="filters__status">
			<mat-label>Статус</mat-label>
			<mat-select formControlName="showDeactivatedUsers">
				<mat-option [value]="false">Активные</mat-option>
				<mat-option [value]="true">Все</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<ng-container *ngIf="users$ | async as users">
		<table *ngIf="users.totalCount ?? 0 > 0; else emptyList" class="table">
			<colgroup>
				<col class="column column_width_little" />
				<!-- <col class='column column_width_sm'>
                    <col class='column column_width_sm'>
                    <col class='column column_width_m'>
                    <col class='column column_width_sm'>
                    <col class='column column_width_t'>
                    <col class='column column_width_t'> -->
			</colgroup>
			<thead>
				<tr class="row">
					<th class="cell heading"></th>
					<th class="cell heading" mat-header-row="name">
						<p class="heading__content">Имя</p>
					</th>
					<th class="cell heading" mat-header-row="department">
						<p class="heading__content">Департамент</p>
					</th>
					<th class="cell heading" mat-header-row="role">
						<p class="heading__content">Роль</p>
					</th>
					<th class="cell heading" mat-header-row="rate">
						<p class="heading__content">Ставка</p>
					</th>
					<th class="cell heading" mat-header-row="status">
						<p class="heading__content">Статус</p>
					</th>
					<th class="cell heading"></th>
				</tr>
			</thead>
			<tbody>
				<tr class="row row_activable" *ngFor="let user of users.body" [routerLink]="[user?.id]">
					<td class="cell cell_vertical-middle">
						<do-profile-image [image]="user?.avatar"></do-profile-image>
					</td>
					<td class="cell cell_vertical-middle">
						<p>{{ user?.firstName }} {{ user?.lastName }}</p>
						<!--						<p>{{ user?.position?.name }}</p>-->
					</td>
					<td class="cell cell_vertical-middle">
						<!--						<ng-container *ngIf="user?.department?.name; else empty">-->
						<!--							<p>{{ user?.department?.name }}</p>-->
						<!--						</ng-container>-->
						<p>BROKEN</p>
					</td>
					<td class="cell cell_vertical-middle">
						<!--						<p class="cell__content_breakable">{{ user?.role?.name }}</p>-->
						<p class="cell__content_breakable">Broken</p>
					</td>
					<td class="cell">
						<!--						<p>{{ user?.rate }}</p>-->
						<p>Broken</p>
					</td>
					<td class="cell cell_vertical-middle">
						<ng-container *ngIf="user?.isActive; else archived">
							<p class="user-status">Активен</p>
						</ng-container>
						<ng-template #archived>
							<p class="user-status user-status_archived">В архиве</p>
						</ng-template>
					</td>
					<td class="cell table__delete-button cell_vertical-middle">
						<button
							*ngIf="user.isActive; else restore"
							mat-mini-fab
							color="primary"
							(click)="$event.stopPropagation(); archiveUser(user.id)"
						>
							<mat-icon>archive</mat-icon>
						</button>
						<ng-template #restore>
							<button
								mat-mini-fab
								color="primary"
								(click)="$event.stopPropagation(); restoreUser(user.id)"
							>
								<mat-icon>unarchive</mat-icon>
							</button>
						</ng-template>
					</td>
				</tr>
			</tbody>
		</table>
		<ng-template #emptyList>
			<do-empty-list [emptyMessage]="'Нет данных о сотрудниках'"></do-empty-list>
		</ng-template>
	</ng-container>
	<mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
</mat-card>

<ng-template #empty>
	<p>—</p>
</ng-template>
