
<mat-form-field class="w-100">
    <mat-chip-list #chipList>
        <mat-chip
            color="accent"
            *ngFor="let skill of skills"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(skill)"
        >
            {{ skill }}
<!--            <mat-icon matChipRemove *ngIf="sectionModes.skills === workFlowMode.EDIT">cancel</mat-icon>-->
            <mat-icon matChipRemove >cancel</mat-icon>
        </mat-chip>
        <input
            placeholder="Введите навык, например, Google Analytics"
            #skillsInput
            [formControl]="skillsCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
        />
    </mat-chip-list>
    <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selected($event)"
    >
        <mat-option
            *ngFor="let skill of filteredSkills | async"
            [value]="skill"
        >
            {{ skill }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<!--
<mat-form-field
    *ngIf="sectionModes.skills === workFlowMode.VIEW"
    class="mat-form-field_default-select"
    appearance="none"
>
    <mat-select class="select" placeholder="Показать все">
        <mat-option></mat-option>
    </mat-select>
</mat-form-field>-->
