@use 'base/variables' as var;

.wiki-headings {
	position: relative;

	display: flex;
	flex-direction: column;

	&__title {
		margin: 24px 0;
	}

	&__container {
		margin-bottom: 20px;

		display: inline-flex;

		overflow: visible;
		flex-direction: row;

		height: initial;

		flex-wrap: wrap;
		gap: 24px;
	}

	&__container-hidden {
		margin-bottom: 20px;

		display: inline-flex;
		overflow: hidden;
		flex-direction: row;

		height: 156px;

		flex-wrap: wrap;
		gap: 24px;
	}

	&__expand {
		top: 0;

		margin: 0 auto;

		display: block;
		align-self: center;
	}

	&__expand-hidden {
		display: none;
	}
}
