@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';
@import 'abstracts/variables';
@import 'base/fonts';
@import 'layouts/card';
@import 'layouts/forms';
@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    padding: 0;
}
