<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<style>
  body {

    background-color: #E5E5E5 !important;


  }
</style>
<app-select-project></app-select-project>
<app-select-tag></app-select-tag>
<app-select-project-status></app-select-project-status>
<app-select-department></app-select-department>
<app-select-specialization></app-select-specialization>
<app-select-level></app-select-level>
<app-select-name></app-select-name>
<app-select-role></app-select-role>
<app-select-status></app-select-status>
<app-select-month></app-select-month>
<app-select-project-on-work></app-select-project-on-work>
<app-select-week></app-select-week>
<app-select-role-disabled></app-select-role-disabled>
<app-select-year></app-select-year>
<app-select-week-disabled></app-select-week-disabled>
</body>
</html>
