<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>


<div class="addTimes">
  <p class="addTimes__title">Внести часы</p>
  <div class="addTimes__underline"></div>
<!--  пока в теге p-->
  <div class="addTimes__period"><p>48:00 ч</p></div>

  <div class="addTimes__select">
    <div class="selectProject">
    <app-select [className]="'select__project'" [title]="'Проект'"> </app-select>
    </div>
    <div class="selectTag">
    <app-select [className]="'select__tag'" [title]="'Тег'" ></app-select>
  </div>

    <div class="addTimes__comment">
    Комментарий
      <input type="text" >
      <div class="addBigButton">
        <div class="addBigButton__container">
        <p>Добавить</p>
        </div>
    </div>
</div>
  </div>
  </div>



</body>
</html>
