<router-outlet></router-outlet>
<!--<div class="wrapper">-->
<app-add-button></app-add-button>
<app-add-project></app-add-project>
<app-sort-list></app-sort-list>
<app-sort-list-off></app-sort-list-off>
<app-sort-cards></app-sort-cards>
<app-sort-cards-off></app-sort-cards-off>
<app-sort-project></app-sort-project>
<app-sort-project-off></app-sort-project-off>
<app-sort-tag></app-sort-tag>
<app-sort-tag-off></app-sort-tag-off>
<app-send-post></app-send-post>
<app-choose-date></app-choose-date>
<app-choose-int></app-choose-int>
<app-log-in></app-log-in>
<app-project-stats></app-project-stats>
<app-project-edit></app-project-edit>
<app-add-member-on></app-add-member-on>
<app-add-member-off></app-add-member-off>
<app-create-project></app-create-project>
<app-add-file></app-add-file>
<app-save-draft></app-save-draft>
<app-add-icons-paper></app-add-icons-paper>
<app-add-icons-chain></app-add-icons-chain>
<app-respond-icons-smiley></app-respond-icons-smiley>
<app-respond-icons-cam></app-respond-icons-cam>
<app-respond-icons-airplane></app-respond-icons-airplane>
<app-project-info-my-stat></app-project-info-my-stat>
<app-project-info-my-stat-off></app-project-info-my-stat-off>
<app-project-info-team></app-project-info-team>
<app-project-info-team-off></app-project-info-team-off>
<app-project-info-feed></app-project-info-feed>
<app-project-info-feed-off></app-project-info-feed-off>
<!--</div>-->
