<h4>Таблица отсутствий</h4>

<table class="table">
	<colgroup>
		<col class="column column_width_m" />
		<col class="column column_width_sm" />
		<col class="column column_width_sm" />
		<col class="column column_width_mx" />
		<col class="column column_width_t" />
	</colgroup>

	<thead>
		<tr class="row">
			<th class="cell">
				<p>Отсутствие</p>
			</th>
			<th class="cell">
				<p>Внесенные часы</p>
			</th>
			<th class="cell">
				<p>Дата отсутствия</p>
			</th>
			<th class="cell">
				<p>Комментарий</p>
			</th>
			<th class="cell">
				<p></p>
			</th>
		</tr>
	</thead>

	<tbody>
		<tr *ngFor="let leave of leaves" class="row">
			<td class="cell">
				<p>
					{{ leave.leaveType | leaveLabel: false }}
				</p>
			</td>

			<td class="cell">
				<p>{{ leave.hours }} ч</p>
			</td>

			<td class="cell">
				<p>{{ leave.startTime | date: 'd' }} - {{ leave.endTime | date: 'd MMMM' }}</p>
			</td>

			<td class="cell">
				<do-comment [text]="leave?.comment"></do-comment>
			</td>

			<td class="cell cell__icon">
				<button class="cell__btn" mat-menu-item (click)="openEditModal(leave)">
					<mat-icon class="cell__btn-icon">
						<img class="cell__btn-img" src="../assets/svg/edit.svg" alt="иконка редактирования" />
					</mat-icon>
				</button>

				<button class="cell__btn" mat-menu-item (click)="openDeleteModal(leave)">
					<mat-icon class="cell__btn-icon">
						<img class="cell__btn-img" src="../assets/svg/delete.svg" alt="иконка удаления" />
					</mat-icon>
				</button>
			</td>
		</tr>
	</tbody>
</table>
