<h4 class='header'>Таблица отсутствий</h4>
<table class='task-table'>
    <thead doText color='gray1'>
        <th class='cell cell_size-m'>
            <div class='cell__content'>
                <p class='cell__text'>Отсутствие</p>
            </div>
        </th>
        <th class='cell cell_size-m'>
            <div class='cell__content'>
                <p class='cell__text'>Внесенные часы</p>
            </div>
        </th>
        <th class='cell cell_size-m'>
            <div class='cell__content'>
                <p class='cell__text'>Дата отсутствия</p>
            </div>
        </th>
        <th class='cell cell_size-l'>
            <div class='cell__content'>
                <p class='cell__text'>Комментарий</p>
            </div>
        </th>
        <th class='cell cell_size-m'>
            <div class='cell__content'>
                <p class='cell__text'></p>
            </div>
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let leave of leaves">
            <td class='cell cell_size-m'>
                <div class='cell__content'>
                    <p class='cell__text'>{{getRusType(leave.leaveType!)}}</p>
                </div>
            </td>
            <td class='cell cell_size-m'>
                <div class='cell__content'>
                    <p class='cell__text'>{{leave.minutes! / 60}} ч</p>
                </div>
            </td>
            <td class='cell cell_size-m'>
                <div class='cell__content'>
                    <p class='cell__text'>{{leave.startTime | date: 'd'}} - {{leave.endTime | date: 'd MMMM'}}</p>
                </div>
            </td>
            <td class='cell cell_size-l'>
                <div class='cell__content'>
                    <p class='cell__text cell__comment' #comment>{{leave.comment}}</p>
                    <button *ngIf="commentCollapsed && buttonShowed" mat-flat-button class='cell__button'
                        (click)="expandComment()">
                        <span doText color='gray1'>Раскрыть полностью</span>
                        <mat-icon doText color='gray1'>keyboard_arrow_down</mat-icon>
                    </button>
                    <button *ngIf="!commentCollapsed && buttonShowed" mat-flat-button class='cell__button'
                        (click)="collapseComment()">
                        <span doText color='gray1'>Свернуть</span>
                        <mat-icon doText color='gray1'>keyboard_arrow_up</mat-icon>
                    </button>
                </div>
            </td>
            <td class='cell cell_size-sm'>
                <button mat-icon-button [matMenuTriggerFor]='menu'>
                    <mat-icon doText color='gray1'>more_horiz</mat-icon>
                </button>
                <mat-menu #menu='matMenu'>
                    <button mat-menu-item class='menu-item' (click)="openEditModal(leave)">
                        <mat-icon>edit</mat-icon>
                        <span>Редактировать</span>
                    </button>
                    <button mat-menu-item class='menu-item' (click)="openDeleteModal(leave)">
                        <mat-icon>delete</mat-icon>
                        <span>Удалить</span>
                    </button>
                </mat-menu>
            </td>
        </tr>
    </tbody>
</table>