.header {
	font-size: 18px;
}

.task-table {
	border-collapse: collapse;

	font-size: 16px;
	text-align: left;
}

.cell {
	font-weight: normal;
	vertical-align: top;

	border-bottom: 1px solid #f5f5f5;

	&_size-sm {
		width: 2%;

		text-align: right;
	}

	&_size-m {
		width: 20%;
	}

	&_size-l {
		width: 38%;
	}

	&__content {
		margin: 13px 35px 13px 0;
	}

	&__text {
		min-width: 75px;

		line-height: 24px;

		&_collapsed {
			overflow: hidden;

			height: 50px;
		}
	}

	&__comment {
		margin-bottom: 0;
	}

	&__button {
		padding: 0;

		font-size: 16px;
		font-weight: normal;
		line-height: 24px;
	}
}

.menu-item {
	font-size: 16px;
}
