<form [formGroup]="passwordForm" (ngSubmit)="onChangePasswordSubmit()">
	<h4 doUnderline underlinedSize="sm">Смена пароля</h4>
	<mat-dialog-content>
		<div class="password_form__container">
			<mat-form-field appearance="fill">
				<mat-label>Старый пароль</mat-label>
				<input matInput type="password" formControlName="old_password" />
				<mat-error *ngIf="passwordForm.controls['old_password']?.errors?.required">
					Поле не должно быть пустым
				</mat-error>
			</mat-form-field>
			<mat-form-field appearance="fill" matTooltipPosition="right" matTooltip="{{ toolTipText }}">
				<mat-label>Новый пароль</mat-label>
				<input matInput type="password" formControlName="new_password" />
				<mat-error *ngIf="passwordForm.controls['new_password']?.errors?.required">
					Поле не должно быть пустым
				</mat-error>
				<mat-error *ngIf="passwordForm.controls['new_password']?.errors?.password">
					Недопустимый пароль
				</mat-error>
			</mat-form-field>
			<mat-form-field appearance="fill" matTooltipPosition="right" matTooltip="{{ toolTipText }}">
				<mat-label>Подтвердите пароль</mat-label>
				<input
					matInput
					[errorStateMatcher]="errorMatcher"
					type="password"
					formControlName="confirm_password"
					blockPaste
				/>
				<mat-error *ngIf="passwordForm.controls['confirm_password']?.errors?.required">
					Поле не должно быть пустым
				</mat-error>
				<mat-error *ngIf="passwordForm?.errors?.noMatch"> Пароли должны совпадать </mat-error>
			</mat-form-field>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions class="flex flex_jc_center">
		<button mat-button mat-dialog-close type="button">Отмена</button>
		<button mat-flat-button color="primary" type="submit" [disabled]="passwordForm.invalid">Изменить пароль</button>
	</mat-dialog-actions>
</form>
