.title {
	margin-bottom: 32px;

	text-align: center;
}

.form {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	.hint {
		position: absolute;
		top: -24px;
	}

	do-form-field {
		width: 100%;
		max-width: 302px;
	}
}

.actions {
	margin-top: 40px;

	button {
		width: 100%;
		max-width: 224px;
	}
}
