<h3 class="title">Смена пароля</h3>
<form class="form" [formGroup]="form" (ngSubmit)="changePassword()">
	<span *ngIf="form.errors?.['noMatch']" class="mat-body-2 text-alert hint">Пароли не совпадают :(</span>
	<do-form-field label="Введите старый пароль">
		<mat-form-field>
			<do-password formControlName="oldPassword" placeholder="Старый пароль"></do-password>
			<mat-error>{{ form.controls['oldPassword'].errors | controlErrors }}</mat-error>
		</mat-form-field>
	</do-form-field>
	<do-form-field label="Придумайте новый пароль">
		<mat-form-field
			#trigger="doPopoverTrigger"
			[doPopoverTrigger]="popover"
			[disableHoverEvent]="true"
			position="after"
		>
			<do-password
				formControlName="newPassword"
				placeholder="Новый пароль"
				[errorStateMatcher]="errorMatcher"
				(focusin)="trigger.show()"
				(focusout)="trigger.hide()"
			></do-password>
			<mat-error>{{ form.controls['newPassword'].errors | controlErrors }}</mat-error>
		</mat-form-field>
	</do-form-field>
	<do-form-field label="Повторите новый пароль">
		<mat-form-field>
			<do-password
				formControlName="confirmPassword"
				placeholder="Новый пароль"
				[errorStateMatcher]="errorMatcher"
			></do-password>
			<mat-error>{{ form.controls['confirmPassword'].errors | controlErrors }}</mat-error>
		</mat-form-field>
	</do-form-field>
	<do-actions class="actions">
		<button
			mat-flat-button
			color="primary"
			type="submit"
			[loading]="loadingState.loading$ | async"
			[disabled]="form.invalid"
		>
			Сменить пароль
		</button>
	</do-actions>
</form>
<do-popover #popover>
	<do-validation-hint [validations]="hintValidations$ | async"></do-validation-hint>
</do-popover>
