<do-breadcrumbs
	[paths]="[{ title: 'Администрирование', url: 'admin/dashboard' }, { title: 'Управление должностями' }]"
></do-breadcrumbs>
<mat-card class="card card_standard">
	<div class="header">
		<h3 doUnderline underlinedSize="sm">Должности</h3>
		<button mat-flat-button color="accent" (click)="onAddEditPosition()">+ Создать должность</button>
	</div>
	<div class="filters" [formGroup]="filters">
		<mat-form-field class="filters__status" appearance="fill">
			<mat-label>Статус</mat-label>
			<mat-select formControlName="showDeactivated">
				<mat-option [value]="false">Активные</mat-option>
				<mat-option [value]="true">Все</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<ng-container *ngIf="positions$ | async as positions">
		<table *ngIf="positions.totalCount ?? 0 > 0; else emptyList" class="table" matSort>
			<colgroup>
				<col class="column column_width_m" />
				<col class="column column_width_l" />
				<col class="column column_width_l" />
			</colgroup>
			<thead>
				<tr class="row">
					<th mat-header-row="name" class="cell">
						<p>Название</p>
					</th>
					<th mat-header-row="description" class="cell">
						<p>Описание</p>
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let position of positions.body" class="row">
					<td class="cell">
						<p class="cell__content cell__content_ellipsissed">{{ position.name ? position.name : '—' }}</p>
					</td>
					<td class="cell">
						<do-comment [text]="position.description"></do-comment>
					</td>
					<td class="cell text-align_right">
						<button mat-icon-button (click)="onAddEditPosition(position)">
							<mat-icon>
								<img src="assets/svg/edit.svg" alt="edit" />
							</mat-icon>
						</button>
						<button mat-icon-button (click)="onDeletePosition(position)">
							<mat-icon>
								<img src="assets/svg/delete.svg" alt="edit" />
							</mat-icon>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<ng-template #emptyList>
			<do-empty-list [emptyMessage]="'Нет данных о должностях'"></do-empty-list>
		</ng-template>
	</ng-container>
	<mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
</mat-card>
