<mat-card class="add-hours card_grid">
	<h3 class="add-hours__heading" doText underlined underlinedSize="sm">
		<span>Внести часы за&nbsp;</span>
		<mat-form-field class="add-hours__hidden-picker" appearance="none">
			<mat-date-range-input [dateFilter]="disableWeekends" [rangePicker]="picker" [max]="getLastDayOfMonth()">
				<!--                TODO разобраться с ошибкой-->
				<input matStartDate (dateChange)="onStartDateChange($event.value)" [value]="startDate" />
				<input matEndDate (dateChange)="onEndDateChange($event.value)" [value]="endDate" />
			</mat-date-range-input>
			<mat-date-range-picker #picker (closed)="onClose()"></mat-date-range-picker>
		</mat-form-field>

		<a class="add-hours__date-picker" doText color="accent_color_bright" (click)="picker.open()"
			><span *ngIf="startDate?.getTime() !== endDate?.getTime()">{{ startDate | date: 'd' }} -&nbsp;</span>{{ endDate | date: 'd MMMM' }}
			<mat-icon>expand_more</mat-icon></a
		>
	</h3>
	<form [formGroup]="addHoursForm" (ngSubmit)="onSubmit()" autocomplete="off" class="add-hours__form">
		<div class="add-hours__row">
			<mat-form-field class="add-hours__time" appearance="fill">
				<input matInput formControlName="time" type="text" maxlength="3" placeholder="08:00" />
				<mat-icon matSuffix aria-label="time">schedule</mat-icon>
				<!--				<mat-error *ngIf="addHoursForm.get('time').invalid">{{ getTimePeriodErrorMessage() }}</mat-error>-->
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Куда</mat-label>
				<mat-select formControlName="activity">
					<mat-optgroup label="Проекты">
						<mat-option *ngFor="let project of projects" (onSelectionChange)="setFormType($event)" [value]="project.id">
							{{ project.name }}
						</mat-option>
					</mat-optgroup>
					<mat-optgroup label="Отсутствия">
						<mat-option *ngFor="let absence of absences" (onSelectionChange)="setFormType($event)" [value]="absence.leaveType">
							{{ absence.leaveInRussian }}
						</mat-option>
					</mat-optgroup>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="add-hours__row" *ngIf="isProjectForm">
			<mat-form-field appearance="fill">
				<mat-label>Задача</mat-label>
				<input #task matInput id="task" formControlName="task" placeholder="Кратко опишите задачу" maxlength="50" required />
				<mat-hint align="end">{{ task.value?.length || 0 }}/50</mat-hint>
			</mat-form-field>
		</div>
		<mat-form-field appearance="fill">
			<mat-label>Комментарий</mat-label>
			<textarea id="description" matInput formControlName="description" placeholder="Оставьте комментарий по выполненной задаче"></textarea>
		</mat-form-field>
		<button mat-flat-button color="primary" [disabled]="addHoursForm.invalid">Добавить часы</button>
	</form>
</mat-card>
