@import 'base/variables';
@import 'base/fonts';

.add-hours {
	padding: 32px 48px;

	&__form {
		display: flex;
		flex-direction: column;
	}

	&__row {
		display: flex;
		align-items: flex-start;
		gap: 32px;

		mat-form-field {
			flex-grow: 1;
		}
	}

	&__time {
		width: 15%;
	}

	&__header {
		margin-bottom: 22px;
	}
}
