@import 'base/variables';
@import 'base/fonts';

.add-hours {
  padding: 48px;

  &__title {
    color: $dark_1;

    &::after {
      content: '';

      margin-bottom: 35px;

      display: block;

      width: 123px;
      height: 4px;

      background-color: $accent_color_bright;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-bottom: 8px;
  }

  &__form-element {
    &_ctrl_time {
      display: block;

      width: 100%;
      max-width: 40px;
    }

    &_ctrl_project {
      margin-bottom: 12px;
    }

    &_ctrl_task {
      margin-bottom: 8px;
    }

    &_ctrl_description {
      margin-bottom: 21px;

      textarea {
        resize: none;

        height: 86px;
      }
    }
  }

  &__period {
    margin-bottom: 16px;

    display: flex;
    justify-content: left;
    align-items: end;

    span {
      line-height: 32px;

      color: $dark_1;
    }
  }

  &__hours-char {
    margin-left: 10px;
  }
}
