@import 'base/variables';
@import 'base/fonts';

.add-hours {
  padding: 9.6%;

  &__title {
    color: $dark_1;

    &::after {
      content: '';

      margin-bottom: 35px;

      display: block;

      width: 123px;
      height: 4px;

      background-color: $accent_color_bright;
    }
  }

  &__period {
    display: flex;
    align-items: center;

    height: 32px;

    color: $dark_1;

    span {
      margin: 0;
      padding: 0;
    }

    input {
      margin: 0;
      padding: 0;
    }
  }

  &__select {
    margin-top: 10px;

    .select-project {
      margin-bottom: 20px;
    }

    .select-tag {
      margin-bottom: 20px;

      .do-input {
        padding: 5px;

        input[type='text'] {
          padding: 0;

          width: 100%;
          height: 50px;

          border: none;
          border-radius: 5px;
          outline: none;
          -webkit-appearance: none;
          -moz-appearance: none;
        }
      }
    }
  }

  &__comment {
    color: #bdbdbd;

    textarea {
      padding: 0;

      width: 100%;
      height: 135px;

      border: none;
      border-radius: 5px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
}

.add_time {
  width: 40px;

  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  outline: none;

  &::placeholder {
    @extend %header_font_basic;
    font-size: 28px;
    line-height: 32px;
  }
}
