.add-hours {
	padding: 32px 48px;

	&__form {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__time {
		width: 80px;
	}

	&__heading {
		margin-bottom: 25px;
	}

	&__menu {
		display: inline-flex;
		align-items: center;

		cursor: pointer;
	}

	&__absence-time {
		margin-left: 32px;

		display: inline-block;
	}

	&__date-picker {
		display: inline-flex;

		align-items: center;

		cursor: pointer;
	}
}
