<div class='modal'>
    <h3 class='modal__title h3'>Удаление записи</h3>
    <div class='modal__message'>
        <p class='regular_text'>Вы действительно хотите удалить часы из отсутствия
            "{{getRusType(leave.leaveType!)?.toLowerCase()}}" за
            {{leave.date | date: 'LLLL YYYY'}}? Отменить это действие будет невозможно.
        </p>
    </div>
    <div class='controls'>
        <button mat-flat-button (click)="onClose()" class='controls__button'><span
                class="regular_text text-gray1">Отменить</span></button>
        <button mat-flat-button class='controls__button bg-dark_1' (click)="onSubmit()"><span
                class='regular_text text-light_1'>Да,
                удалить</span></button>
    </div>
</div>