$backgroundColor: #FFFFFF;
$textColor: #BDBDBD;
.select__projectStatus {
  position: relative ;
  overflow: hidden;
  width: 170px;
  height: 70px;

  &:after {
    background: url("../grey.svg") no-repeat;
    content: "";
    height: 38px;
    pointer-events: none;
    position: absolute;
    right: 8px;
    top: 15px;
    width: 28px;
    display: block;
  }

  select{
    border: none;
    width: 155px;
    height: 32px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: $backgroundColor;
    padding-left: 10px;
    color: $textColor;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
  }
}
