:host {
	padding: 16px;

	display: flex;
	align-items: center;
}

.user-list {
	margin-left: 64px;

	display: grid;
	align-items: center;

	width: 100%;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(max-content, 40px));
}
