<div *ngIf="selectedUser$ | async as selectedUser" class="employee-page__header flex flex_jc_end">
	<ng-container *ngIf="userLogged$ | async">
		<button
			mat-button
			class="employee-page__button mat-body-1 flex"
			*ngIf="selectedUser?.isActive; else restore"
			(click)="archiveUser(selectedUser.id)"
		>
			<mat-icon fontSet="material-icons-outlined">archive</mat-icon>
			<span class="employee-page__button-label">Добавить в архив</span>
		</button>
		<ng-template #restore>
			<button
				mat-button
				class="employee-page__button mat-body-1"
				(click)="restoreUser(selectedUser, selectedUser.communications)"
			>
				<mat-icon fontSet="material-icons-outlined">unarchive</mat-icon>
				<span class="employee-page__button-label">Восстановить из архива</span>
			</button>
		</ng-template>
	</ng-container>
</div>
<mat-card class="card card_employee card_employee__info">
	<do-employee-page-main-info></do-employee-page-main-info>
</mat-card>
<mat-card class="card card_employee card_employee__projects">
	<do-employee-page-projects></do-employee-page-projects>
</mat-card>
