.card_employee {
	margin: 0 0 32px 0;
	padding: 48px;
	border-radius: 8px;

	&__info {
		padding: 0;
	}

	&__projects {
	}

	&__characteristic {
	}
}

.card_employee:last-child {
	margin-bottom: 0;
}

.flex {
	display: flex;
	justify-content: flex-end;
}

.employee-page {
	&__header {
		margin: 24px auto 4px auto;

		width: 100%;
		min-height: 36px;
	}

	&__button {
		margin: 0;
		padding: 0;

		display: flex;
		justify-content: center;
		align-items: center;

		width: 186px;
		min-height: 36px;
	}

	&__button-icon {
		margin: 9px 12px 9px 15px;
		padding: 0;
		color: #9d9d9d;
	}

	&__button-label {
		margin: 0 12px 0 0;
		color: #9d9d9d;
	}
}
