<div class="desc">
  <p class="desc__title h3">Доска учета времени</p>
  <div class="desc__content">
    <div class="desc__calender">
      <div class="content__period h1">8–15 июня</div>
      <div class="content__week regular_text">
        <div class="content__week__day" *ngFor="let day of days" (click)="selectDay(day)">
          <p class="content__week__day-single">{{day.date | date:'EEEEEE'}}</p>
          <p [ngClass]="{ content__week__day_orange: day.selected }">{{day.date | date:'dd'}}</p>
        </div>
      </div>
      <div class="choose_date__wrapper">
        <do-button (click)="onChooseDateClick()"
                   [title]="'Выбрать другую дату'"
                   [className]="'button bg-accent_color font-regular_font'">
          <img src="../../assets/svg/arrow-right.svg">
        </do-button>
      </div>

    </div>
    <div class="desc__photo">
      <img src="../../assets/svg/girl.svg" alt="girl">
    </div>
  </div>
</div>


