.add-hours {
	
	&__form {
		display: flex;
		flex-direction: column;
		grid-gap: 0px;
		
	}
	
	&__dates-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		gap: 8px;
		
	}

	&__menu {
		display: inline-flex;
		align-items: center;

		cursor: pointer;
	}
}
