<form [formGroup]="addHoursForm" (ngSubmit)="onSubmit()" autocomplete="off" class="add-hours__form">
	<div class="add-hours__dates-container">
		<do-form-field label="Количество часов">
			<mat-form-field class="add-hours__time">
				<input matInput formControlName="time" type="text" placeholder="0" />
				<mat-error *ngIf="addHoursForm.controls['time']?.errors?.min; else errIntNum">
					Мин. значение: 0
				</mat-error>
				<ng-template #errIntNum>
					<mat-error *ngIf="addHoursForm.controls['time']?.errors?.intNum; else errMax">
						Значение может быть только целым числом
					</mat-error>
				</ng-template>
				<ng-template #errMax>
					<mat-error *ngIf="addHoursForm.controls['time']?.errors?.max; else errRequired">
						Макс. значение: 744
					</mat-error>
				</ng-template>
				<ng-template #errRequired>
					<mat-error *ngIf="addHoursForm.controls['time']?.errors?.required"> Поле обязательно! </mat-error>
				</ng-template>
			</mat-form-field>
		</do-form-field>

		<do-form-field label="Месяц">
			<mat-form-field>
				<mat-select [formControl]="dateControl" [compareWith]="compareDate">
					<mat-option *ngFor="let month of monthOptions" [value]="month">
						{{ month | dateTime: 'LLLL y' | titlecase }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</do-form-field>
	</div>

	<do-form-field label="Проект">
		<mat-form-field>
			<mat-select formControlName="activity" placeholder="Выберите проект">
				<mat-option
					*ngFor="let workTime of workTimes$ | async"
					[value]="workTime?.id"
					(onSelectionChange)="patchWorkTimeInfoIntoForm(workTime, $event)"
				>
					{{ workTime?.project?.name ?? 'Другое' }}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</do-form-field>
	<do-form-field label="Комментарий">
		<mat-form-field>
			<textarea
				#comment
				cdkTextareaAutosize
				cdkAutosizeMinRows="3"
				cdkAutosizeMaxRows="3"
				matInput
				formControlName="comment"
				maxlength="500"
				placeholder="Оставьте комментарий для менеджера"
			></textarea>
			<mat-hint>{{ comment.value.length }}/500</mat-hint>
		</mat-form-field>
	</do-form-field>
	<button
		class="submit-button"
		mat-flat-button
		color="primary"
		[loading]="(loading$$ | async) ?? false"
		[disabled]="addHoursForm.invalid || addHoursForm.disabled"
	>
		Сохранить часы
	</button>
</form>
