.add-hours {
	//   padding: 32px 48.5px;
	&__form {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__div {
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;

		justify-content: space-between;
	}

	&__time {
		width: 240px;
		//min-width: 240px;
	}

	&__date {
		width: 240px;
		//min-width: 240px;
	}

	&__menu {
		display: inline-flex;
		align-items: center;

		cursor: pointer;
	}
}
