.add-hours {
	&__form {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__dates-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		gap: 8px;
		// flex-direction: row;
		// flex-wrap: wrap;

		// justify-content: space-between;
	}

	&__time {
		// min-width: 240px;
	}

	&__date {
		// min-width: 240px;
	}

	&__menu {
		display: inline-flex;
		align-items: center;

		cursor: pointer;
	}
}
