:host {
	display: block;
}

.page-title {
	margin-bottom: 8px;
}

.entity-name {
	margin-bottom: 16px;
}

.period {
	margin-bottom: 36px;
}

do-dynamic-filter {
	margin-bottom: 24px;
}

.additional-info {
	padding-top: 16px;

	.header {
		margin-bottom: 8px;
		padding: 0 34px;
	}

	.title {
		margin: 0;
	}
}
