<h1 doUnderline class="page-title">{{ pageTitle }}</h1>
<h5 class="entity-name">{{ entityInfo.name }}</h5>
<div class="period flex flex_jc_space-between flex_ai_center">
	<do-title-datepicker-v2
		[minDate]="minDate$ | async"
		[maxDate]="maxDate"
		[dateStyle]="{ 'text-transform': 'capitalize' }"
	>
		<h4 [style.margin]="0">Период:&nbsp;</h4>
	</do-title-datepicker-v2>
	<button mat-flat-button color="primary" (click)="handleDownload()" [loading]="loading$ | async">
		Выгрузить часы
	</button>
</div>
<do-dynamic-filter [filters]="filterConfig$ | async"></do-dynamic-filter>
<do-table
	[dataSource]="dataSource"
	[tableOptions]="tableOptions"
	[expandedRowTemplate]="details"
	(rowClick)="handleRowClick($event)"
>
	<ng-template #details let-user="user" let-workTimes="workTimes" let-leaveTimes="leaveTimes">
		<div *ngIf="expandedRow$ | async as expandedRow" class="additional-info">
			<h5 class="header">Детализация по проектам</h5>
			<do-table [dataSource]="workTimes" [tableOptions]="expandedRow.workTimes">
				<ng-template cdkNoDataRow>
					<div [style.padding]="'0 0 10px 34px'">Нет данных о проектах</div>
				</ng-template>
			</do-table>
			<div class="header flex flex_ai_center">
				<h5 class="title">Детализация по отсутствиям</h5>
				<button *ngIf="canAddLeaveTime$ | async" doButton (click)="addLeaveTimeDialog(user.id)">
					<mat-icon [svgIcon]="Icons.Add"></mat-icon>
				</button>
			</div>
			<do-table [dataSource]="leaveTimes" [tableOptions]="expandedRow.leaveTimes">
				<ng-template cdkNoDataRow>
					<div [style.padding]="'0 0 10px 34px'">Нет данных об отсутствиях</div>
				</ng-template>
			</do-table>
		</div>
	</ng-template>
</do-table>
