<div class="wrapper">
  <div class="tasks">
    <span class="tasks__header h2">
      {{ tasksCount }} записи за
      <span
        *ngIf="!endDate || this.attendanceService.isSameDay(startDate, endDate)"
      >
        {{ startDate | date: 'd MMMM' }}
      </span>
      <span
        *ngIf="
          endDate &&
          this.attendanceService.isSameMonth(startDate, endDate) &&
          !this.attendanceService.isSameDay(startDate, endDate)
        "
      >
        {{ startDate | date: 'd' }} – {{ endDate | date: 'd MMMM' }}
      </span>
      <span
        *ngIf="
          endDate && !this.attendanceService.isSameMonth(startDate, endDate)
        "
      >
        {{ startDate | date: 'd MMMM' }} – {{ endDate | date: 'd MMMM' }}
      </span>
    </span>
    <div class="tasks__search">
      <span class="regular_text">Сортировка</span>
      <div class="buttons">
        <do-button
          class="button-shape"
          (click)="sortByProject()"
          [title]="'По проектам'"
          className="{{
            isOrderedByProject
              ? 'button bg-accent_color_bright font-light_1 font-regular_font'
              : 'button bg-light_2 font-gray font-regular_font'
          }}"
        >
        </do-button>
        <do-button
          class="button-shape"
          (click)="sortByHours()"
          [title]="'По часам'"
          className="{{
            isOrderedByHours
              ? 'button bg-accent_color_bright font-light_1 font-regular_font'
              : 'button bg-light_2 font-gray font-regular_font'
          }}"
        >
        </do-button>
      </div>
      <div class="tasks__search__text">
        <do-search [placeholder]="'Поиск по тексту комментария'"></do-search>
      </div>
    </div>
    <div>
      <ng-container *ngFor="let project of projects">
        <do-project [project]="project"></do-project>
      </ng-container>
    </div>
  </div>
</div>
