@import 'base/variables';

.wrapper {
  padding: 48px;

  background: #fff;

  .tasks {
    display: flex;
    flex-direction: column;

    &__header {
      margin: 0 0 64px 0;

      color: $dark_1;
    }

    &__search {
      display: flex;
      align-items: center;

      .buttons {
        margin-left: 24px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 266px;

        .button-shape {
          width: 125px;
          height: 32px;
        }

        .button-inactive {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 125px;
          height: 32px;

          color: $gray;
          background: $light_2;
          border-color: transparent;
          border-radius: 5px;
        }
      }

      &__text {
        margin-left: auto;

        align-items: center;

        width: 272px;
        height: 32px;

        background: $light_2;
        border-radius: 5px;

        .button__magnifier {
          margin-left: 16px;
          padding: 0;

          display: flex;
          overflow: visible;
          align-items: center;

          width: 16px;
          height: 16px;

          cursor: pointer;

          background: transparent;
          border: none;
        }

        #text__search {
          margin-right: 16px;
          padding: 0;

          width: 216px;

          background: $light_2;
          border: none;
        }

        input::placeholder {
          color: $gray;
        }
      }
    }
  }
}
