<mat-card>
  <h3>
    Записи за
    <mat-form-field class='date-input'>
      <input matInput [matDatepicker]="dp">
      <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
        (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>
    <span doText color='accent_color_bright' class="period-span" (click)="openDatepicker()">
      {{selectedPeriod.startTime | date: "LLLL YYYY"}}
    </span>
  </h3>
  <h4 class="records-count">Внесено <span doText color='accent_color_bright'>{{ tasksCount | i18nPlural: plural
      }}</span></h4>
  <ng-container *ngFor="let project of projects">
    <do-project [project]="project" [selectedPeriod]="selectedPeriod"></do-project>
  </ng-container>
  <ng-container *ngIf="leaves.length > 0">
    <do-leaves [leaves]="leaves" [selectedPeriod]="selectedPeriod">
    </do-leaves>
  </ng-container>
</mat-card>