@import '../../../../../stylesheets/abstracts/variables';
@import '../../../../../stylesheets/base/fonts';

.wrapper {
  background: #ffffff;
  padding: 48px;
  .tasks {
    display: flex;
    flex-direction: column;


    &__header {
      color: $dark_1;
      margin: 0 0 64px 0;
    }

    &__search {
      display: flex;
      align-items: center;

      .buttons {
        margin-left: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 266px;

        .button-shape {
          height: 32px;
          width: 125px;
        }

        .button-inactive {
          background: $light_2;
          border-color: transparent;
          border-radius: 5px;
          color: $gray;
          height: 32px;
          width: 125px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &__text {
        background: $light_2;
        border-radius: 5px;
        width: 272px;
        height: 32px;
        align-items: center;
        margin-left: auto;

        .button__magnifier {
          display: flex;
          align-items: center;
          background: transparent;
          border: none;
          cursor: pointer;
          width: 16px;
          height: 16px;
          margin-left: 16px;
          overflow: visible;
          padding: 0;
        }

        #text__search {
          background: $light_2;
          border: none;
          width: 216px;
          margin-right: 16px;
          padding: 0;
        }

        input::placeholder {
          color: $gray;
        }
      }
    }
  }
}






