<h3 mat-dialog-title>Редактирование проекта</h3>
<mat-dialog-content class="content">
	<form class="project-info" [formGroup]="projectForm" autocomplete="off">
		<div class="project-info__section">
			<div class="section__content section__content_general">
				<mat-form-field appearance="fill">
					<mat-label>Название проекта</mat-label>
					<input
						matInput
						type="text"
						[formControlName]="ProjectPath.NAME"
						placeholder="Введите название проекта"
						maxlength="150"
						required
					/>
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Департамент</mat-label>
					<mat-select
						[formControlName]="ProjectPath.DEPARTMENT_ID"
						placeholder="Выберите департамент"
						required
					>
						<mat-option *ngFor="let department of departments | async" [value]="department.id">
							{{ department.name }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Короткое описание</mat-label>
					<input
						matInput
						type="text"
						[formControlName]="ProjectPath.SHORT_DESCRIPTION"
						maxlength="100"
						placeholder="Короткое описание"
					/>
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Статус</mat-label>
					<mat-select [formControlName]="ProjectPath.STATUS">
						<mat-option *ngFor="let status of statuses" [value]="status.type">
							{{ status.type | projectType | titlecase }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field class="project-info__description" appearance="fill">
					<mat-label>Описание</mat-label>
					<textarea
						matInput
						[formControlName]="ProjectPath.DESCRIPTION"
						placeholder="Дайте описание проекту"
						maxlength="300"
					></textarea>
				</mat-form-field>
			</div>
		</div>
	</form>
</mat-dialog-content>
<div mat-dialog-actions class="actions">
	<button mat-button class="actions__cancel" (click)="onClose()">Отмена</button>
	<button
		mat-flat-button
		class="actions__save"
		color="primary"
		[loading]="(loading$$ | async) ?? false"
		(click)="editProject(); onClose()"
	>
		Сохранить
	</button>
</div>
