<div class="wrapper">
  <div class="tasks">
    <span class ="tasks__header h2">{{tasksCount}} записи за {{startPeriod | date: 'd'}} – {{endPeriod | date: 'd'}} {{startPeriod | date: 'MMMM'}}</span>
    <div class="tasks__search">
      <span class="regular_text">Сортировка</span>
      <div class="buttons">
          <do-button class="button-shape"
            (click)="sortByProject()"
            [title] = "'По проектам'"
            className = "{{isOrderedByProject ?
            'button bg-accent_color_bright font-light_1 font-regular_font' :
            'button bg-light_2 font-gray font-regular_font'}}">
          </do-button>
          <do-button class="button-shape"
            (click)="sortByHours()"
            [title] = "'По часам'"
            className = "{{isOrderedByHours ?
            'button bg-accent_color_bright font-light_1 font-regular_font' :
            'button bg-light_2 font-gray font-regular_font'}}">
          </do-button>
      </div>
      <div class="tasks__search__text">
        <button type="submit" class="button__magnifier">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.94286 0C7.519 0 9.03059 0.62612 10.1451 1.74062C11.2596 2.85512 11.8857 4.36671 11.8857 5.94286C11.8857 7.41486 11.3463 8.768 10.4594 9.81029L10.7063 10.0571H11.4286L16 14.6286L14.6286 16L10.0571 11.4286V10.7063L9.81029 10.4594C8.73193 11.3799 7.36065 11.8856 5.94286 11.8857C4.36671 11.8857 2.85512 11.2596 1.74062 10.1451C0.62612 9.03059 0 7.519 0 5.94286C0 4.36671 0.62612 2.85512 1.74062 1.74062C2.85512 0.62612 4.36671 0 5.94286 0ZM5.94286 1.82857C3.65714 1.82857 1.82857 3.65714 1.82857 5.94286C1.82857 8.22857 3.65714 10.0571 5.94286 10.0571C8.22857 10.0571 10.0571 8.22857 10.0571 5.94286C10.0571 3.65714 8.22857 1.82857 5.94286 1.82857Z" fill="#BDBDBD"/>
          </svg>
        </button>
        <label>
          <input type="text" id="text__search" class="regular_text" placeholder="Поиск по тексту комментария">
        </label>
      </div>
    </div>
    <div *ngFor="let project of projects">
      <do-project [project]="project"></do-project>
    </div>
  </div>
</div>
