@import 'base/variables';

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;

  background: $light_2;

  .toolbar {
    position: fixed;
    z-index: 2;
    top: 0;

    width: 100%;
  }

  .wrapper {
    z-index: 1;

    margin-top: 56px;
    padding: 38px 48px;

    width: 100%;
    max-width: 1024px;
    height: 100%;
  }
}
