@use 'variables';

%header_font_basic {
	font-family: variables.$header_font;
	font-weight: bold;
	font-style: normal;
}

%regular_font_basic {
	font-family: variables.$regular_font;
	font-weight: normal;
	font-style: normal;
}

.h1 {
	@extend %header_font_basic;
	font-size: 35px;
	line-height: 40px;
}

.h2 {
	@extend %header_font_basic;
	font-size: 28px;
	line-height: 32px;
}

.h3 {
	@extend %header_font_basic;
	font-size: 22px;
	line-height: 28px;
}

.h4 {
	@extend %header_font_basic;
	margin-bottom: 12px;

	font-size: 16px;
	line-height: 24px;
}

.h5 {
	@extend %header_font_basic;
	font-size: 14px;
	line-height: 24px;
}

.h6 {
	@extend %header_font_basic;
	font-size: 10px;
	font-weight: normal;
	line-height: 15px;
}

.regular_text {
	@extend %regular_font_basic;
	font-size: 16px;
	line-height: 24px;
}

.small_text {
	@extend %regular_font_basic;
	font-size: 14px;
	line-height: 24px;
}

.h3_light {
	@extend %header_font_basic;
	font-size: 22px;
	font-weight: 500;
	line-height: 28px;
}

.text_bold {
	font-weight: bold;
}

.text_color {
	&_white {
		color: #fff;
	}

	&_dark-1 {
		color: variables.$dark_1;
	}

	&_light-1 {
		color: variables.$light_1;
	}

	&_gray {
		color: variables.$gray;
	}

	&_gray1 {
		color: variables.$gray1;
	}
}

.text_white {
	color: #fff;
}
