//@import url('https://db.onlinewebfonts.com/c/07a38bbad54db72a40b406bed1c72f53?family=Gotham+Pro');
//@import url('https://db.onlinewebfonts.com/c/5e8964a3ad15aac170f1c13c0e3afeba?family=GillSansWGL');

//Colors
$accent_color: #ffb78c;
$accent_color_bright: #fa7d57;
$accent_color_light: #fff4ed;
$accent_positive: #21d373;
$accent_positive_dark: #10bc60;
$positive_accent_bright: #cdf4df;
$light_1: #fcfcfc;
$light_2: #f6f6f4;
$light_3: #f1f1ef;
$gray: #bdbdbd;
$gray1: #9d9d9d;
$dark_1: #434348;
$dark_2: #323137;
$dark_3: #2c2c2c;
$dark_4: #202020;
$dark_5: #424242;
$overtime: #bc7bfa;
$negative_accent: #eb5757;
$preza_dc: #ffbe97;
$ultimate_orange: #c25432;
$font_color: #c4c4c4;
$button_orange: #ec8b52;
$blue_3: #56ccf2;

$colors: (
	'accent_color': #ffb78c,
	'accent_color_bright': #fa7d57,
	'accent_color_light': #fff4ed,
	'accent_positive': #21d373,
	'accent_positive_dark': #10bc60,
	'positive_accent_bright': #cdf4df,
	'light_1': #fcfcfc,
	'light_2': #f6f6f4,
	'light_3': #f1f1ef,
	'light_4': #cecece,
	'gray': #bdbdbd,
	'gray1': #9d9d9d,
	'dark_1': #434348,
	'dark_2': #323137,
	'dark_3': #2c2c2c,
	'dark_4': #202020,
	'overtime': #bc7bfa,
	'negative_accent': #eb5757,
	'preza_dc': #ffbe97,
	'ultimate_orange': #c25432,
	'font_color': #c4c4c4,
	'button_orange': #ec8b52,
	'blue_3': #56ccf2,
);

//Fonts
$header_font: 'Gotham Pro', sans-serif;
$regular_font: 'GillSansWGL';

//Colors classes

// text color
.text {
	@each $color-name, $color-value in $colors {
		&-#{$color-name} {
			color: $color-value;
		}
	}
}

/* background colors */
.bg {
	@each $color-name, $color-value in $colors {
		&-#{$color-name} {
			background-color: $color-value;
		}
	}
}
