@use 'base/variables';

.admin-request {
	&__form-field {
		width: 652px;
	}

	&__textarea {
		white-space: normal;
	}

	&__buttons {
		display: flex;
		justify-content: center;
	}

	&__button {
		width: 180px;

		color: variables.$secondary_default;
	}
}
