@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import 'base/variables';

.dashboard {
  padding: 23px 14px 23px 24px;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  &__logo {
    cursor: pointer;

    a {
      color: $dark_2;
    }
  }

  &__theme-switch {
    margin: 49px 0 30px;

    .switch-checkbox {
      position: absolute;
      z-index: 2;

      width: 52px;
      height: 23px;

      opacity: 0;
    }

    .switch__container {
      width: 52px;
      height: 23px;

      border: 1px solid $accent_positive;
      border-radius: 22px;

      transition: 250ms;

      img {
        z-index: 1;

        display: block;

        height: 100%;

        transition: all 250ms ease-in;
      }
    }

    .switch-checkbox:checked ~ .switch__container {
      background-color: $positive_accent_bright;

      img {
        margin-left: 28px;

        transform: rotate(0.45turn);
      }
    }
  }

  &__links {
    margin-top: 34px;

    display: flex;
    flex-direction: column;

    a {
      display: block;

      cursor: pointer;

      color: $gray;
    }

    a:hover {
      color: $dark_2;
    }
  }
}
