@import '../../../../../stylesheets/abstracts/variables';
@import '../../../../../stylesheets/base/fonts';

.project-wrap {
  margin-bottom: 48px;
}

.project-head {
  font-weight: bold;
  color: $dark_1;
}



