@import '../../../../../stylesheets/base/variables';

.breadcrumbs {
	display: flex;
	align-items: center;

	&__item {
		cursor: pointer;

		&:hover {
			color: #707070;
		}

		&:last-child {
			color: $dark_1;
		}
	}
}
