@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import 'base/variables';

.toolbar {
  padding: 24px;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  &__logo {
    cursor: pointer;

    a {
      color: $dark_2;
    }
  }

  &__theme-switch {
    margin: 50px 0 31px;

    display: flex;

    width: 52px;
    height: 23px;

    border: 1px solid $accent_positive;
    border-radius: 22px;
  }

  &__toolbar__links {
    display: flex;
    flex-direction: column;
  }

  &__links {
    margin-top: 35px;
  }
}
