<div class="member">
  <mat-checkbox class="member__checkbox"></mat-checkbox>
  <div class="member__info">
    <do-profile-image></do-profile-image>
    <p class="info__name">Алтул Пендлагон</p>
    <p class="info__position">Middle QA Tester</p>
  </div>
  <div class="member__project">2 проекта</div>
  <mat-form-field appearance="fill">
    <mat-label>Роль</mat-label>
<!--    <mat-select [(ngModel)]="selectedValue" name="Роль">-->
<!--      <mat-option *ngFor="let food of foods" [value]="food.value">-->
<!--        {{food.viewValue}}-->
<!--      </mat-option>-->
<!--    </mat-select>-->
  </mat-form-field>
</div>
