@import 'abstracts/variables';
@import 'base/fonts';

$select-height: 24px;

.new-member {
  display: flex;
  align-items: center;
  width: 672px;
  height: 80px;
  background-color: $light_1;
  border-radius: 5px;
  margin-left: -25px;
  margin-bottom: 14px;
  &__checkbox {
    margin: 30px 39px auto 24px;
  }
  &__info {
    display: flex;
  }
  &__img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $gray;
    margin-right: 16px;
  }
}

.new-member-form {
  display: flex;
  justify-content: space-between;
  width: 505px;
  align-items: center;
  &__selects {
    height: $select-height;
    margin-top: -10px;
    margin-bottom: 14px;
    //width: 118px;
  }
  &__select-role {
    width: 63px;
    height: $select-height;
  }
}

label.mat-checkbox-layout {
  margin-bottom: 0;
}

::ng-deep .new-member{
  .mat-form-field-wrapper,
  .mat-form-field-flex,
  .mat-form-field-appearance-legacy,
  .mat-form-field-label-wrapper{
    padding: 0;
  }

  .mat-checkbox-frame  {
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .mat-select-value{
    padding: 0 0 0 0.5em;
    line-height: $select-height;
    .mat-select-placeholder{
      @extend .regular_text;
      @extend .text_color_dark-1;
    }
  }
  .mat-select-arrow{
    border: none;
    height: 3px;
    width: 6px;
    margin: 0 9px 0 0;

  }

  .mat-select-arrow.ng-tns-c184-5,
  .mat-select-arrow.ng-tns-c184-7{
    background-image: none;
  }

  .mat-form-field {
    margin-left: -10px;
    background-color: #FFFFFF;
    background-image: none;
  }

  .mat-form-field-infix{
    padding: 0;
    border: none;
    .mat-form-field-label-wrapper{
      position: static;
      height: 0;
      overflow: visible;
    }
  }
}

::ng-deep .new-member-form {
  &__select-spec {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    .mat-select-arrow-wrapper {
      border: none;
      height: 3px;
      width: 6px;
      padding: 0 9px 0 0;
      background-image: url('/assets/svg/arrow-down-dark-small.svg');
      background-repeat: no-repeat;
      background-position-y: center;
    }
  }
  &__select-role {
    .mat-select-arrow-wrapper {
      border: none;
      height: 3px;
      width: 6px;
      margin: 0 9px 0 0;
      background-image: url('/assets/svg/arrow-down-grey-small.svg');
      background-repeat: no-repeat;
      background-position-y: center;
    }
    .mat-select-value {
      .mat-select-placeholder {
        @extend .text_color_gray;
        font-size: 14px;
        line-height: $select-height;
      }
    }
  }
}
