<ng-container *ngIf="state$ | async as state">
	<do-department-info [department]="state.department"></do-department-info>
	<mat-tab-group>
		<!--		<mat-tab label="Команда">-->
		<!--			<do-project-users class="tab-content"></do-project-users>-->
		<!--		</mat-tab>-->
		<mat-tab label="Общая информация">
			<div class="tab-content">
				<mat-card class="description">{{
					state.department.description | placeholder: 'Описание отсутствует'
				}}</mat-card>
			</div>
		</mat-tab>
	</mat-tab-group>
</ng-container>
