<mat-card class="card">
	<div class="header">
		<do-title-datepicker
			title="Таймлист для ДД за"
			(dateSelection)="chosenMonthHandler($event)"
		></do-title-datepicker>
		<button mat-flat-button color="accent" (click)="onDownload()">
			<mat-icon [svgIcon]="Icons.Download"></mat-icon><span>Выгрузить часы</span>
		</button>
	</div>
	<ng-container *ngIf="statInfo$ | async as statInfo; else loader">
		<div class="timelist" *ngIf="(totalCount | async) ?? 0 > 0; else emptyList">
			<mat-form-field appearance="fill" class="timelist__search-form">
				<mat-label>Поиск по фамилии и имени</mat-label>
				<input matInput type="search" />
				<mat-icon matPrefix [svgIcon]="Icons.Search"></mat-icon>
			</mat-form-field>
			<h3 class="h3">Найдено {{ totalCount | async | i18nPlural: employeeCountMap }}</h3>
			<table class="table timelist__table">
				<colgroup>
					<col class="column column_width_m" />
					<col class="column column_width_m" />
					<col class="column column_width_m" />
					<col class="column column_width_m" />
				</colgroup>
				<thead>
					<tr>
						<th>Имя</th>
						<th>Часы/Норма</th>
						<th>Проекты</th>
						<th>Доступные дни отпуска</th>
					</tr>
				</thead>
			</table>
			<mat-expansion-panel *ngFor="let stat of statInfo" class="timelist__panel panel">
				<mat-expansion-panel-header collapsedHeight="48px" expandedHeight="48px">
					<table class="table">
						<colgroup>
							<col class="column column_width_m" />
							<col class="column column_width_m" />
							<col class="column column_width_m" />
							<col class="column column_width_m" />
						</colgroup>
						<thead>
							<tr>
								<th>{{ stat.user?.firstName }} {{ stat.user?.lastName }}</th>
								<th>
									{{ stat.totalHours }}/{{
										(stat.limitInfo?.normHours ?? 0) * (stat.user?.rate ?? 1)
									}}
								</th>
								<th>{{ stat.workTimes?.length }}</th>
								<th>???</th>
							</tr>
						</thead>
					</table>
				</mat-expansion-panel-header>
				<ng-template matExpansionPanelContent>
					<div class="panel__table">
						<h4 class="h4">Детализация по проектам</h4>
						<table *ngIf="stat.workTimes?.length; else emptyNote" class="table">
							<colgroup>
								<col class="column column_width_m" />
								<col class="column column_width_m" />
								<col class="column column_width_35" />
								<col class="column column_width_t" />
							</colgroup>
							<thead>
								<tr>
									<th>Название проекта</th>
									<th>Внесённые часы</th>
									<th>Комментарий сотрудника</th>
									<th></th>
								</tr>
							</thead>
							<tbody [formGroup]="hoursGroup">
								<ng-container *ngFor="let workTime of stat.workTimes">
									<tr [ngClass]="{ row: !workTime?.editMode }">
										<td class="cell">{{ workTime?.project?.name }}</td>
										<td class="cell cell_flexible">
											<ng-container *ngIf="!workTime?.editMode; else input">
												<ng-container
													*ngIf="workTime?.managerHours === null; else managerHours"
												>
													<span>{{ workTime?.userHours ?? 0 }}</span>
												</ng-container>
												<ng-template #managerHours>
													<div class="flex flex_ai_center">
														<span>{{ workTime?.managerHours }}&nbsp;&nbsp;</span>
														<span class="mat-caption">
															Изменено
															<mat-icon
																class="vertical-align_middle"
																inline
																[mdePopoverTriggerFor]="popover"
																mdePopoverPositionY="above"
																[mdePopoverOffsetX]="-13"
																>info_outline
															</mat-icon>
														</span>
													</div>
													<mde-popover
														#popover="mdePopover"
														[mdePopoverOverlapTrigger]="false"
													>
														<span class="mat-small">Автор изменения</span>
														<!--TODO replace with real name when backend will send this data-->
														<p>Имя Менеджера</p>
														<span class="mat-small">Дата изменения</span>
														<p>{{ workTime?.modifiedAtUtc | date: 'dd/MM/YYYY' }}</p>
														<span class="mat-small">Часы сотрудника</span>
														<p>{{ workTime?.userHours ?? 0 }}</p>
													</mde-popover>
												</ng-template>
											</ng-container>
											<ng-template #input>
												<mat-form-field appearance="fill">
													<mat-error
														*ngIf="
															hoursGroup.controls['hours_' + workTime.id].errors?.min;
															else errIntNum
														"
													>
														Минимальное значение должно быть не меньше единицы
													</mat-error>
													<ng-template #errIntNum>
														<mat-error
															*ngIf="
																hoursGroup.controls['hours_' + workTime.id].errors
																	?.intNum;
																else errMax
															"
														>
															Значение может быть только целым числом
														</mat-error>
													</ng-template>
													<ng-template #errMax>
														<mat-error
															*ngIf="
																hoursGroup.controls['hours_' + workTime.id].errors?.max;
																else errRequired
															"
														>
															Превышено максимальное значение
														</mat-error>
													</ng-template>
													<ng-template #errRequired>
														<mat-error
															*ngIf="
																hoursGroup.controls['hours_' + workTime.id].errors
																	?.required
															"
														>
															Поле не может быть пустым
														</mat-error>
													</ng-template>
													<input
														matInput
														[formControlName]="'hours_' + workTime?.id"
														ngDefaultControl
														class="text_bold"
													/>
												</mat-form-field>
											</ng-template>
										</td>
										<td class="cell">
											<do-comment [text]="workTime?.description"></do-comment>
										</td>
										<td class="cell cell__icon">
											<button mat-icon-button (click)="toggleEditMode(true, workTime)">
												<mat-icon [svgIcon]="Icons.Edit"></mat-icon>
											</button>
										</td>
									</tr>
									<tr *ngIf="workTime?.editMode" class="row">
										<td colspan="4">
											<div class="controls">
												<button
													mat-button
													(click)="toggleEditMode(false, workTime)"
													class="button controls__button"
												>
													Отменить
												</button>
												<button
													mat-flat-button
													color="primary"
													class="button controls__button"
													[disabled]="hoursGroup.controls['hours_' + workTime.id].invalid"
													(click)="onSubmit('submit', workTime, stat)"
												>
													Сохранить
												</button>
												<button
													mat-flat-button
													color="warn"
													class="button controls__button"
													(click)="onSubmit('reset', workTime, stat)"
												>
													Сбросить
												</button>
											</div>
										</td>
									</tr>
								</ng-container>
							</tbody>
						</table>
					</div>
					<!-- </ng-container> -->
					<div class="panel__table">
						<h4 class="h4">Детализация по отсутствиям</h4>
						<table *ngIf="stat.leaveTimes?.length; else emptyNote" class="table">
							<colgroup>
								<col class="column column_width_m" />
								<col class="column column_width_m" />
								<col class="column column_width_35" />
								<col class="column column_width_t" />
							</colgroup>
							<thead>
								<tr>
									<th>Тип отсутствия</th>
									<th>Дата отсутствия</th>
									<th>Комментарий сотрудника</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<ng-container *ngFor="let leave of stat.leaveTimes">
									<tr class="row">
										<td class="cell cell_flexible">
											<span>{{ leave.leaveType | leaveLabel }}</span>
										</td>
										<td class="cell">
											<span
												>{{ leave.startTime | date: 'd/M/y' }} -
												{{ leave.endTime | date: 'd/M/y' }} ({{ leave.periodInHours }} ч)</span
											>
										</td>
										<td class="cell">
											<do-comment [text]="leave.comment"></do-comment>
										</td>
										<td class="cell"></td>
									</tr>
								</ng-container>
							</tbody>
						</table>
						<ng-template #emptyNote>
							<p class="mat-body-1">Нет данных о введенных часах</p>
						</ng-template>
					</div>
				</ng-template>
			</mat-expansion-panel>
		</div>
	</ng-container>

	<ng-template #loader>
		<div class="loader">
			<mat-spinner></mat-spinner>
		</div>
	</ng-template>

	<mat-paginator
		[length]="totalCount | async"
		[pageIndex]="pageIndex"
		[pageSize]="pageSize"
		[pageSizeOptions]="[20, 35, 50]"
		(page)="onPageChange($event)"
	>
	</mat-paginator>

	<ng-template #emptyList>
		<do-empty-list [emptyMessage]="'Нет данных о сотрудниках'"></do-empty-list>
	</ng-template>
</mat-card>
