<div class="form" [formGroup]="form">
	<do-form-field label="Краткое описание">
		<mat-form-field>
			<textarea
				matInput
				formControlName="shortDescription"
				cdkTextareaAutosize
				[cdkAutosizeMinRows]="2"
				[cdkAutosizeMaxRows]="2"
			></textarea>
			<mat-error>{{ form.controls['shortDescription'].errors | controlErrors }}</mat-error>
		</mat-form-field>
	</do-form-field>
	<do-form-field label="Полное описание">
		<mat-form-field>
			<textarea
				matInput
				formControlName="description"
				cdkTextareaAutosize
				[cdkAutosizeMinRows]="14"
				[cdkAutosizeMaxRows]="14"
			></textarea>
			<mat-error>{{ form.controls['description'].errors | controlErrors }}</mat-error>
		</mat-form-field>
	</do-form-field>
</div>
