.edit-info {
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

	&__edit {
		display: flex;

		justify-content: center;

		align-self: baseline;
	}

	&__edit-button {
		margin-right: 7px;
	}
	
	&__general {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		column-gap: 25px;

		box-sizing: border-box;
	}

	&__field {
		word-wrap: break-word;
	}

	&__field-value {
		padding-top: 6px;
	}

	&__about {
		grid-column: span 2;
	}

	&__buttons {
		grid-column: span 2;

		display: inline-flex;
		justify-content: center;
	}

	&__button {
		margin: 0 6px;

		width: 180px;
	}
}
