.edit-info {
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

	&__edit-button {
		margin-right: 7px;
	}
	
	&__general {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 24px;
		row-gap: 24px;
	}

	&__field {
		word-wrap: break-word;
	}

	&__hours {
		display: inline-flex;
		justify-content: space-between;
	}

	&__hours-input {
		display: inline-flex;

		width: fit-content;
	}

	&__about {
		padding-top: 10px;
		grid-column: span 2;
	}

	&__buttons {
		padding: 30px 0 0;
		grid-column: span 2;

		display: inline-flex;
		justify-content: center;
	}

	&__button {
		margin: 0 6px;

		width: 180px;
	}
}
