//Colors
$accent_color: #FFB78C;
$accent_color_bright: #FA7D57;
$accent_positive: #21D373;
$positive_accent_bright:#CDF4DF;
$light_1:#FCFCFC;
$light_2:#F6F6F4;
$light_3:#F1F1EF;
$gray: #BDBDBD;
$dark_1: #434348;
$dark_2: #323137;
$overtime:#BC7BFA;
$negative_accent: #EB5757;
$preza_dc:#FFBE97;
$ultimate_orange:#C25432;
$font_color: #C4C4C4;

//Fonts
$header_font: 'Gotham Pro';
$regular_font: 'Gill Sans';