<form class="form" [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
	<h1 class="form__title">{{ portalName }}</h1>
	<div class="form__error">
		<small *ngIf="loginError">Неверный логин или пароль :(</small>
	</div>
	<input class="form__input-field" name="email" type="email" placeholder="Корпоративный e-mail или логин" formControlName="email" />
	<input class="form__input-field" name="password" type="password" placeholder="Пароль" formControlName="password" />
	<div class="form__submit">
		<button *ngIf="!isLoading; else spinner" type="submit" id="btn-enter" [disabled]="loginForm.invalid">Войти</button>
		<ng-template #spinner>
			<svg class="spinner" viewBox="0 0 50 50">
				<circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
			</svg>
		</ng-template>
	</div>
	<a class="nav-link__forgot-password" routerLink="/auth/forgotpassword">О нет! Я забыл пароль</a>
</form>
