@import 'abstracts/variables';
@import 'abstracts/placeholders';
@import 'base/fonts';
@import 'layouts/forms';

.nav-link__forgot-password {
  position: relative;
  margin-top: 24px;
  opacity: 0.2;
  text-decoration: underline;
  cursor: pointer;
  &:hover{
    opacity: 0.5;
  }
}

.disabled {
  opacity: 0.5;
}

#btn-enter{
  width: 132px;
}