<form
  class="form"
  [formGroup]="loginForm"
  (ngSubmit)="login()"
  autocomplete="off"
>
  <label class="form__title h1 text_white">Digital Office</label>
  <div class="form__error">
    <small *ngIf="email.touched && email.invalid"
      >Неправильно введен email адрес :(
    </small>
    <small *ngIf="password.touched && password.invalid"
      >Пароль обязателен :(
    </small>
    <small *ngIf="loginError">Неверный логин или пароль :(</small>
  </div>
  <input
    class="form__input-field regular_text"
    name="email"
    type="email"
    placeholder="Корпоративный e-mail"
    formControlName="email"
  />
  <input
    class="form__input-field regular_text"
    name="password"
    type="password"
    placeholder="Пароль"
    formControlName="password"
  />
  <div class="form__submit">
    <button
      class="regular_text"
      *ngIf="!isWaiting; else spinner"
      type="submit"
      [disabled]="email.invalid || password.invalid"
      id="btn-enter"
    >
      <p>Войти</p>
      
    </button>
    <ng-template #spinner>
      <svg class="spinner" viewBox="0 0 50 50">
        <circle
          class="path"
          cx="25"
          cy="25"
          r="20"
          fill="none"
          stroke-width="5"
        ></circle>
      </svg>
    </ng-template>
  </div>
    <a class="nav-link__forgot-password regular_text text_white" routerLink="/auth/forgotpassword">О нет! Я забыл пароль</a>
</form>
