.nav-link__forgot-password {
  position: relative;

  margin-top: 24px;

  text-decoration: underline;

  cursor: pointer;

  opacity: 0.2;

  &:hover {
    opacity: 0.5;
  }
}

.disabled {
  opacity: 0.5;
}

#btn-enter {
  width: 132px;
}
