<mat-card class="add-hours__matcard">
	<h3 doUnderline underlinedSize="sm">
		Внести часы в
		<span class="mat-h3 add-hours__menu primary" [matMenuTriggerFor]="formTypeMenu"
			>{{ isWorktimeForm ? 'проект' : 'отсутствие' }}
			<mat-icon>expand_more</mat-icon>
		</span>
		<mat-menu #formTypeMenu="matMenu">
			<button mat-menu-item (click)="toggleFormType(true)">Проект</button>
			<button mat-menu-item (click)="toggleFormType(false)">Отсутствие</button>
		</mat-menu>
	</h3>
	<ng-container *ngIf="isWorktimeForm; else leaveTimeForm">
		<do-add-work-time-hours></do-add-work-time-hours>
	</ng-container>
</mat-card>

<ng-template #leaveTimeForm>
	<do-add-leave-hours></do-add-leave-hours>
</ng-template>
