.header {
	margin-bottom: 20px;

	display: flex;
	justify-content: space-between;
}

.navigation {
	margin-bottom: 50px;

	&__link {
		display: inline-block;

		height: 24px;

		vertical-align: top;

		color: inherit;
	}

	&__link:hover {
		text-decoration: underline;
	}
}
