<div class="navigation" doText color="gray">
	<a class="navigation__link" routerLink="/admin/dashboard">Администрирование</a>
	<span doText color="gray">
		<mat-icon>chevron_right</mat-icon>
	</span>
	<a class="navigation__link">Список департаментов</a>
</div>
<div class="card card_standard">
	<div class="header">
		<h3 doText underlined underlinedSize="sm">Сотрудники</h3>
		<button mat-flat-button color="orange" (click)="onAddDepartmentClick()">+ Добавить сотрудника</button>
	</div>
	<table class='table' matSort (matSortChange)="sortData($event)">
		<colgroup>
			<col class='column column_width_m'>
			<col class='column column_width_m'>
			<col class='column column_width_m'>
			<col class='column column_width_sm'>
		</colgroup>
		<thead doText color='gray1'>
			<tr class='row'>
				<th class='cell heading' mat-sort-header="name">
					<p class='regular_text heading__content'>Наименование</p>
				</th>
				<th class='cell heading' mat-sort-header="description">
					<p class='regular_text heading__content'>Описание</p>
				</th>
				<th class='cell heading' mat-sort-header="director">
					<p class='regular_text heading__content'>Директор</p>
				</th>
				<th class='cell heading' mat-sort-header="amount">
					<p class='regular_text heading__content'>Количество сотрудников</p>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let departmentInfo of departmentsInfo" (click)="onDepartmentClick(departmentInfo.id)"
				class='row row_activable'>
				<td class='cell'>
					<ng-container *ngIf="departmentInfo?.name; else empty">
						<p class='regular_text cell__content cell__content_ellipsissed'>{{ departmentInfo.name }}</p>
					</ng-container>
				</td>
				<td class='cell'>
					<ng-container *ngIf="departmentInfo?.description; else empty">
						<p class='regular_text cell__content cell__content_ellipsissed'>{{ departmentInfo.description }}
						</p>
					</ng-container>
				</td>
				<td class='cell'>
					<ng-container *ngIf="departmentInfo?.director; else empty">
						<p class='regular_text cell__content cell__content_ellipsissed'>{{
							departmentInfo.director?.firstName }} {{
							departmentInfo.director?.lastName }}</p>
					</ng-container>
				</td>
				<td class='cell'>
					<p class='regular_text'>{{ departmentInfo.countUsers }}</p>
				</td>
			</tr>
		</tbody>

	</table>
	<mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50]"
		(page)="onPageChange($event)">
	</mat-paginator>
</div>

<ng-template #empty>
	<p class='regular_text cell__content'>—</p>
</ng-template>