<do-breadcrumbs
	[paths]="[{ title: 'Администрирование', url: 'admin/dashboard' }, { title: 'Список департаментов' }]"
></do-breadcrumbs>
<mat-card class="card card_standard">
	<div class="header">
		<h3 doUnderline underlinedSize="sm">Департаменты</h3>
		<button mat-flat-button color="accent" (click)="onAddDepartmentClick()">+ Создать департамент</button>
	</div>
	<div class="filters" [formGroup]="filters">
		<mat-form-field class="filters__status" appearance="fill">
			<mat-label>Статус</mat-label>
			<mat-select formControlName="showDeactivated">
				<mat-option [value]="false">Активные</mat-option>
				<mat-option [value]="true">Все</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<ng-container *ngIf="departments$ | async as departments">
		<table
			*ngIf="departments.totalCount ?? 0 > 0; else emptyList"
			class="table"
			matSort
			(matSortChange)="sortData($event)"
		>
			<colgroup>
				<col class="column column_width_m" />
				<col class="column column_width_m" />
				<col class="column column_width_m" />
				<col class="column column_width_sm" />
			</colgroup>
			<thead>
				<tr class="row">
					<th class="cell heading" mat-sort-header="name">
						<p class="heading__content">Наименование</p>
					</th>
					<th class="cell heading" mat-sort-header="description">
						<p class="heading__content">Описание</p>
					</th>
					<th class="cell heading" mat-sort-header="director">
						<p class="heading__content">Директор</p>
					</th>
					<th class="cell heading" mat-sort-header="amount">
						<p class="heading__content">Количество сотрудников</p>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr
					*ngFor="let department of departments.body"
					class="row row_activable"
					[routerLink]="'/departments/' + department?.id"
				>
					<td class="cell">
						<ng-container *ngIf="department?.name; else empty">
							<p class="cell__content cell__content_ellipsissed">{{ department.name }}</p>
						</ng-container>
					</td>
					<td class="cell">
						<ng-container *ngIf="department?.description; else empty">
							<p class="cell__content cell__content_ellipsissed">{{ department.description }}</p>
						</ng-container>
					</td>
					<td class="cell">
						<ng-container *ngIf="department?.director; else empty">
							<p class="cell__content cell__content_ellipsissed">
								{{ department.director?.firstName }} {{ department.director?.lastName }}
							</p>
						</ng-container>
					</td>
					<td class="cell">
						<p class="">{{ department.countUsers }}</p>
					</td>
					<td class="cell text-align_right">
						<!--						<button *ngIf="department.director?.isActive; else restore" mat-icon-button (click)="onDeleteDepartment(department,-->
						<!--						$event)">-->
						<!--							<mat-icon>-->
						<!--								<img src="assets/svg/delete.svg" alt="edit" />-->
						<!--							</mat-icon>-->
						<!--						</button>-->
						<!--						<ng-template #restore>-->
						<!--							<button mat-icon-button (click)="onRestoreDepartment(department)">-->
						<!--								<mat-icon class="restore-icon">restore</mat-icon>-->
						<!--							</button>-->
						<!--						</ng-template>-->
					</td>
				</tr>
			</tbody>
		</table>
		<ng-template #emptyList>
			<do-empty-list [emptyMessage]="'Нет данных о департаментах'"></do-empty-list>
		</ng-template>
	</ng-container>
	<mat-paginator [pageSizeOptions]="[10, 25, 50]"> </mat-paginator>
</mat-card>

<ng-template #empty>
	<p class="cell__content">—</p>
</ng-template>
