@use 'base/variables';

.card {
	&__header {
		padding: 0 0 40px;

		display: flex;
		justify-content: space-between;

		border-bottom: 1px solid variables.$light_3;
		flex-wrap: wrap;
	}

	&__splitter {
		width: 124px;
		height: 4px;

		background: variables.$accent_color_bright;
	}

	&__content {
		margin-right: 60px;
		padding: 20px 0;

		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.description {
	&__title {
		margin-bottom: 24px;
	}

	&__body {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;

		max-width: 320px;

		text-align: left;
	}

	&__column {
		margin-right: 20px;
	}
}

.table-wrapper {
	padding: 25px;

	&__header {
		margin-bottom: 20px;

		display: flex;
	}

	&__icon {
		margin-right: 8px;
		margin-bottom: 24px;
	}

	&__label-orange {
		fill: variables.$accent_color_bright;
	}

	&__label-grey {
		fill: variables.$gray1;
	}
}

.column {
	&_width-little {
		width: 60px;
	}
}

.table {
	&__status {
		width: 67px;
		height: 24px;

		text-align: center;

		background-color: #00e676;

		border-radius: 10px;
	}
}
