@import 'base/variables';
@import 'base/fonts';

.projectPage{
    max-width: 100%;
    margin-top: 10px;
    padding: 40px;
    @media(max-width: 420px) {
        padding: 10px;
    }

    background: #FCFCFC;
    border-radius: 5px 5px 0px 0px;

    h1 {
        font-family: Gotham Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 40px;

        color: $dark_2;
    }

    p {
        font-family: "GillSansWGL";
        color: $gray;
        font-size: 16px;
        line-height: 24px;
    }

    hr {
        border: 1px solid #F1F1EF;
        margin: 40px 0 20px;
    }
    
    .header{
        display: flex;
        justify-content:  space-between;
        flex-wrap: wrap;

        .header__title {  
            
            .header__splitter {
                width: 124px;
                height: 4px;
                background: $accent_color_bright;
            }
            
        }
        .header__menu {
            .header__button {
                width: 132px;
                height: 32px;
                margin-top: 20px;

                background-color: $accent_color_bright;
                
                font-family: "GillSansWGL";
                font-size: 16px;
                line-height: 24px;
                color: $light_1;
            }
        }
    }
    .content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-right: 60px;
        
        h4{
            font-family: Gotham Pro;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: $dark_1;

            margin-bottom: 25px;

        }
        .time {

            h4 {
                margin-top: 20px;
            }
            .time__elements {

                display: flex;
                flex-wrap: nowrap;

                div:first-child {
                    margin-right: 50px;
                }
            }
        }
        .details{
            .description {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                max-width: 320px;

                text-align:  left;

                tr {
                    font-family: "GillSansWGL";
                    font-size: 16px;
                    line-height: 30px;
                    font-weight: 400;
                }
                .description__name{
                    max-width: 110px;

                    margin-right: 60px;
                    @media(max-width: 420px) {
                        margin-right: 0px;
                    }

                    tr {
                        color: $gray;                        
                    }
                    
                }
                .description__text{

                    tr {                        
                        color: $dark_1;                        
                    }
                    
                }
            }
        }
        
        .team {
            @media(max-width: 420px) {
                h4 {
                    margin-top: 30px;
                }
            }
            .team__content {
                .leaders {
                    display: flex;
                    @media(max-width: 1024px) {
                        display: inline;
                    }
                    margin-bottom: 32px;

                    .leaders__el {
                        display: flex;
                        flex-wrap: nowrap;
        
                        img {
                            margin-right: 10px;
                            @media(max-width: 420px) {
                                height: 48px;
                            }
                        }
        
                        &:first-child {
                            margin-right: 30px;
                        }
        
                        .leader__name{
                            color: #000000;
                        }
                    }
                }   
                .team__all {
                    margin-bottom: 35px;

                    img{
                        margin-right: 4px;
                        @media(max-width: 1024px) {
                            margin-right: -10px;
                        }
                    }
                }
            
            
            }
        }
    }
}