<div class='card card_standard'>
    <div class='table'>
        <div class='table__header'>
            <h3 doText underlined underlinedSize='sm'>{{title}}</h3>
            <button mat-button color='accent' (click)="onAddButtonClick()">{{addButtonText}}</button>
        </div>
        <table class='table__content' matSort>
            <tr doText color="gray" regularTextSize='regular'>
                <th *ngFor="let head of headings" [mat-sort-header]="head" class='table__heading'>{{head.headingName}}
                </th>
            </tr>
            <tr *ngFor="let record of list" class='table__row' (click)="showMoreInfo(record)"
                [ngClass]="isActive()? 'table__row_active' : ''">
                <td doText *ngFor="let property of record.item">
                    <div [ngSwitch]='property.type'>
                        <div *ngSwitchCase="'user'" class="table__user">
                            <do-profile-image [image]='property?.avatar' class='table__img'></do-profile-image>
                            <div class="table__info">
                                <p>{{(property && property.mainInfo) ? property.mainInfo : '—'}}</p>
                                <p>{{(property && property.shortInfo)? property.shortInfo : '—'}}</p>
                            </div>
                        </div>
                        <p *ngSwitchCase="'status'">
                            <ng-container *ngIf="property?.status; else archived">
                                <p>Активен</p>
                            </ng-container>
                        </p>
                        <p *ngSwitchDefault>{{(property && property.mainInfo) ? property.mainInfo : '—'}}</p>
                        <ng-template #archived>
                            <p class="table__archived" doText color="light_1">В архиве</p>
                        </ng-template>
                    </div>
                </td>
            </tr>
        </table>
        <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50]"
            (page)="onPageChange($event)"></mat-paginator>
    </div>
</div>