<mat-form-field class="password" appearance="fill">
	<mat-label>Пароль</mat-label>
	<input
		matInput
		[errorStateMatcher]="repeatPasswordErrorMatcher"
		[placeholder]="placeholder"
		[type]="hide ? 'password' : 'text'"
		(blur)="onTouched()"
		[formControl]="control"
	/>
	<button
		mat-icon-button
		matSuffix
		(click)="hide = !hide"
		[attr.aria-label]="'Hide password'"
		[attr.aria-pressed]="hide"
	>
		<mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
	</button>
	<mat-error *ngIf="control.errors?.required"> Поле обязательное</mat-error>
	<mat-error *ngIf="formGroupDirective.errors?.matchingPasswords">Пароль не совпадает</mat-error>
</mat-form-field>
