<mat-form-field class="input-width" appearance="fill">

    <label>
        <input class='input-width' #input="ngModel" [ngModel]="value" (ngModelChange)="value=$event;onChange($event)"
               matInput
               [errorStateMatcher]="errorMatcher()"
               [placeholder]="placeholder"
               [type]="hide ? 'password' : 'text'"
               (blur)="onTouched()"
        >
    </label>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="control?.errors?.required">
         {{placeholder}}
    </mat-error>
    <mat-error *ngIf="errors?.errorMatch">
        Пароль не совпадает
    </mat-error>

</mat-form-field>
