<!-- <div class="wrapper">
    <div class='task'>
        <ng-container *ngIf="!editMode; else editForm">
            <div doText class='task__title'>
                <p>{{task.title}}</p>
            </div>
            <div doText class='task__minutes'>
                {{task.minutes | hours}}
            </div>
            <ng-container *ngIf="false; else period">
            </ng-container>
            <ng-template #period>
                <div *ngIf="startTime.day === endTime.day && startTime.month === endTime.month" doText
                    class='task__period'>
                    {{task.startTime | date: 'd MMMM'}}
                </div>
                <div *ngIf="startTime.day !== endTime.day && startTime.month === endTime.month" doText
                    class='task__period'>
                    {{task.startTime | date: 'd'}} - {{task.endTime | date: 'd MMMM'}}
                </div>
                <div *ngIf="startTime.day !== endTime.day && startTime.month !== endTime.month" doText
                    class='task__period'>
                    {{task.startTime | date: 'd MMMM'}} - {{task.endTime | date: 'd MMMM'}}
                </div>
            </ng-template>
            <div doText class='task__description'>
                <p #description [ngClass]="{'task__description-full': descriptionOpened}">
                    {{task.description}}
                </p>
                <div *ngIf='descriptionIsHuge'>
                    <button *ngIf="!descriptionOpened" mat-menu-item class='task__description-more-button'
                        (click)="onShowDescriptionClick()">
                        <span doText color='gray1'>Показать полностью</span>
                        <mat-icon doText color='gray1'>keyboard_arrow_down</mat-icon>
                    </button>
                    <button *ngIf="descriptionOpened" doText color='gray1' mat-menu-item
                        class='task__description-more-button' (click)="onShowDescriptionClick()">
                        <span doText color='gray1'>Свернуть</span>
                        <mat-icon doText color='gray1'>keyboard_arrow_up</mat-icon>
                    </button>
                </div>
            </div>
            <div doText color='gray1' class='task__more-button' *ngIf="canEdit">
                <button mat-icon-button [matMenuTriggerFor]='menu'>
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu='matMenu'>
                    <button mat-menu-item (click)='toggleEditMode()'>
                        <mat-icon>edit</mat-icon>
                        <span>Редактировать</span>
                    </button>
                    <button mat-menu-item (click)="openDeleteModal()">
                        <mat-icon>delete</mat-icon>
                        <span>Удалить</span>
                    </button>
                </mat-menu>
            </div>
        </ng-container>

        <ng-template #editForm>
            <div>
                <form autocomplete="off" [formGroup]="taskInfoForm" (ngSubmit)="onSubmit()">
                    <div class='task'>
                        <mat-form-field appearance="fill" class='task__title'>
                            <mat-label>Задача</mat-label>
                            <textarea matInput id="title" formControlName="title" required></textarea>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class='task__time'>
                            <mat-label>Часы</mat-label>
                            <input matInput id="minutes" formControlName="minutes" required>
                        </mat-form-field>
                        <div doText class='task__period'>
                            <label for='period'>Дата</label>
                            <ng-container *ngIf="false; else period"></ng-container>
                            <ng-template #period>
                                <div *ngIf="startTime.day === endTime.day && startTime.month === endTime.month" doText
                                    class='task__period'>
                                    {{task.startTime | date: 'd MMMM'}}
                                </div>
                                <div *ngIf="startTime.day !== endTime.day && startTime.month === endTime.month" doText
                                    class='task__period'>
                                    {{task.startTime | date: 'd'}} - {{task.endTime | date: 'd MMMM'}}
                                </div>
                                <div *ngIf="startTime.day !== endTime.day && startTime.month !== endTime.month" doText
                                    class='task__period'>
                                    {{task.startTime | date: 'd MMMM'}} - {{task.endTime | date: 'd MMMM'}}
                                </div>
                            </ng-template>
                        </div>
                        <mat-form-field appearance="fill" class='task__description'>
                            <mat-label>Комментарий</mat-label>
                            <textarea class='textarea' matInput cdkTextareaAutosize id="description"
                                formControlName="description"></textarea>
                        </mat-form-field>
                    </div>
                </form>
                <div>
                    <button mat-flat-button (click)="onReset()">Отмена</button>
                    <button mat-button color='accent' (click)="onSubmit()">Сохранить</button>
                </div>
            </div>
        </ng-template>
    </div>
</div> -->