<div class="modal">
	<button mat-icon-button (click)="closeModal()" class="modal__close-button">
		<mat-icon>close</mat-icon>
	</button>
	<div class="post">
		<div *ngIf="article$ | async as article; else loader">
			<div class="post__info">
				<div class="post__tag">
					<do-profile-image class="post__image" label="Lanit Tercom"></do-profile-image>
					<div>
						<div>
							<b>Общий канал</b>
						</div>
						<div class="mat-body-1">{{ article.createdAtUtc | date: 'dd.MM.YYYY' }}</div>
					</div>
				</div>
				<div [matMenuTriggerFor]="menu" class="post__menu-trigger">
					<div>Действия</div>
					<div><mat-icon [svgIcon]="Icons.ArrowDown"></mat-icon></div>
				</div>
				<mat-menu #menu class="post__menu">
					<button mat-menu-item (click)="openEditor()">Редактировать</button>
					<button mat-menu-item (click)="onNewsDelete(article.id)">Удалить</button>
				</mat-menu>
			</div>
			<div class="post__content">
				<div class="ce-block">
					<div class="ce-block__content">
						<h2>{{ article.subject }}</h2>
					</div>
				</div>
				<div [innerHTML]="article.content | safeHtml"></div>
			</div>
		</div>
		<ng-template #loader>
			<mat-spinner class="post__loader"></mat-spinner>
		</ng-template>
	</div>
</div>
