@use '~@angular/material' as mat;
@use 'base/palettes' as *;

.modal {
	position: relative;

	&__close-button {
		position: absolute;
		top: 63px;
		right: 21px;

		color: mat.get-color-from-palette($do-grey, 300);
	}
}

.post {
	margin: 0 auto;
	padding-top: 60px;

	max-width: 938px;

	&__info {
		margin-bottom: 55px;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__tag {
		display: flex;
		align-items: center;
	}

	&__image {
		margin-right: 13px;
	}

	&__content {
		word-break: break-all;
	}

	&__loader {
		margin: 0 auto;
	}

	&__menu-trigger {
		padding: 10px 16px;

		display: flex;
		justify-content: space-between;

		width: 200px;

		cursor: pointer;

		background-color: mat.get-color-from-palette($do-grey, 100);
		border-radius: 5px;
	}
}
