<div class="members-board flex-container flex-container_direction_column">
  <button mat-icon-button
          class="members-board__close-button">
    <img src="/assets/svg/cross.svg" 
         alt="cross">
  </button>
  <h3 class="members-board__title h3 text_color_dark-1">Добавить участника</h3>
  <form class="members-form">
    <div  class="members-form__search">
      <do-search (searchClick)="onSearchClick($event)"></do-search>
    </div>
    <div class="members-form__selects flex-container flex-container_justify_space-between">
      <mat-form-field class="select members-form__select-spec"
                      floatLabel="never">
        <mat-select class="regular_text text_color_dark-1"
                    placeholder="Специализация"
                    ariaLabel="">
          <mat-option *ngFor="let specialization of specializations" 
                      [value]="specialization"
                      class="regular_text text_color_dark-1">
            {{specialization}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="select members-form__select-lvl" 
                      floatLabel="never">
        <mat-select class="regular_text text_color_dark-1"
                    placeholder="Уровень">
          <mat-option *ngFor="let level of levels" 
                      [value]="level"
                      class="regular_text text_color_dark-1">
            {{level}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="members-form__background flex-container flex-container_justify_center flex-container_align_center">
      <div *ngIf="this.members.length == 0" 
           class="no-members-icon flex-container flex-container_direction_column">
        <img src="/assets/images/tumbleweed.png" alt="tumbleweed">
        <span class="regular_text text_color_gray">Пока тут никого...</span>
      </div>
    </div>
    <div class="flex-container flex-container_justify_end">
      <button mat-flat-button
        color="accent"
        disabled
        (click)="onChooseMemberClick()"
        class="members-board__add-members-button">
        Добавить участников
      </button>
    </div>
  </form>
</div>
