<div class="members-board flex-container flex-container_direction_column">
  <button mat-icon-button
          class="members-board__close-button">
    <img src="/assets/svg/cross.svg" 
         alt="cross">
  </button>
  <h3 class="members-board__title h3 text_color_dark-1">Добавить участника</h3>
  <form class="members-form">
    <div class="search members-form__search">
      <img src="/assets/svg/magnifier.svg"
           alt="magnifier"
           class="search__icon">
      <input class="search__input" type="text">
    </div>
    <div class="flex-container">
      <mat-form-field class="members-form__select-spec"
                      appearance="fill">
        <mat-label>Специализация</mat-label>
        <mat-select class="select regular_text text_color_dark-1">
          <mat-option *ngFor="let specialization of specializations" 
                      [value]="specialization"
                      class="regular_text text_color_dark-1">
            {{specialization}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="members-form__select-lvl"
                      appearance="fill">
        <mat-label>Уровень</mat-label>
        <mat-select class="select regular_text text_color_dark-1">
          <mat-option *ngFor="let level of levels" 
                      [value]="level"
                      class="regular_text text_color_dark-1">
            {{level}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="members-form__background">
      <img src="/assets/images/tumbleweed.png" alt="tumbleweed">
      <p>Пока тут никого...</p>
    </div>
    <div class="flex-container flex-container_justify_end">
      <button mat-flat-button
        color="accent"
        disabled
        (click)="onChooseMemberClick()"
        class="button members-board__add-members-button">
        Добавить участников
      </button>
    </div>
  </form>
</div>
