@import 'abstracts/variables';
@import 'base/fonts';
@import 'layouts/containers';
@import 'components/search';
@import 'components/selects';

.members-board {
  position: relative;
  max-width: 720px;
  background: white;
  padding: 48px;
  &__close-button{
    position: absolute;
    top: 15px;
    right: 15px; 
  }
  &__title{
    margin-bottom: 34px;
  }
}

.members-form{
  &__search{
    margin-bottom: 14px;
  }
  &__select-spec{
    width: 271px;
  }
  &__select-lvl{
    width: 103px;
  }
}

.form-content{
  display: flex;
  flex-direction: column;

  min-width: 624px;

  padding-top: 34px;
  .form-content__select-row{
    display:flex;
    flex-flow: row wrap;

  }/*кнопка*/
  .form-content__bttn-wrap {
    position: absolute;
    right:0;
    bottom:0;
    margin-right: 48px;
    margin-bottom: 32px;
    width: 169px;
    height: 32px;
    font-family: Gill Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $gray;
  }
}

.form-content__search {
  width: 624px;
  height: 32px;
  margin-bottom: 14px;
  outline: none;
  border: none;
  background: $light_2 url(src/assets/svg/magnifier.svg) no-repeat center left;
  background-position: 20px;
  border-radius: 5px;
  padding-left: 40px;
}

select{
  display: block;
  outline: none;
  border: none;
  background:#fff;
  border: 1px solid $light_2;
  box-shadow:none;
  border-radius: 5px;
  appearance: none;
  background-image: url("src/assets/svg/arrow-down-dark.svg"), linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  padding: 5px 5px 5px 15px; width: 100%;
  margin-right: 5px;
  font-family: Gill Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $dark_1;
  height: 36px;
}

.select-row__spec{
  width: 271px;
}

.select-row__lvl{
  width: 103px;
}

.form-content__back-img {
  display: flex;
  flex-flow: column wrap;
  align-items: center;


  p{
    padding-top:14px;
    font-family: Gill Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color:$gray;
  }
}




