$textColor: #434348;
$backgroundColor: #FFFFFF;


.select__role-disabled {
  position: relative ;
  overflow: hidden;
  width: 110px;
  height: 50px;
  background-color: white;

  &:after {
    background: url("../dark.svg") no-repeat;
    content: "";
    height: 38px;
    pointer-events: none;
    position: absolute;
    right: 35px;
    top: 10px;
    width: 28px;
    display: block;
  }

  select {
    border: none;
    width: 32px;
    height: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: $backgroundColor;
    margin-left: 5px;
    padding-left: 4px;
    color: $textColor;
    font-family: "Gill Sans";
    font-size: 13px;
    border-radius: 0;
    outline: none;
  }
}
