@import 'base/variables';

.chart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  height: 100%;

  &__doughnut {
    position: relative;
    z-index: 1;

    max-width: 184px;
    max-height: 183px;

    .chart__hours {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;

      margin-right: -50%;

      font-size: 16px;
      text-align: center;

      transform: translate(-50%, -50%);

      .hour__char {
        color: #bdbdbd;
      }

      .time__description {
        display: block;

        text-align: center;

        border-radius: 4px;
      }

      .time__description_remains {
        background-color: $negative_accent;
      }

      .time__description_empty {
        background-color: #fff;
      }
    }
  }

  &__tags {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    min-height: 183px;

    p {
      color: $dark_1;
    }

    div {
      color: $dark_2;
    }

    .color__pointer {
      display: inline-block;

      width: 15px;
      height: 15px;

      border-radius: 50%;
    }
  }
}

canvas {
  max-width: 184px;
  max-height: 183px;

  border-radius: 1px;
}
