<mat-card class="card">
	<h2 class="card__title h3">
		<span doText underlined underlinedSize="sm">Часы за</span>
		<mat-form-field appearance="fill" class="card__hidden">
			<input matInput [matDatepicker]="picker" [(ngModel)]="startDate" />

			<mat-datepicker #picker startView="year" [startAt]="startDate" (monthSelected)="chosenMonthHandler($event, picker)">
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			</mat-datepicker>
		</mat-form-field>
		<a (click)="picker.open()" class="card__title-orange">
			{{ startDate | date: 'LLLL YYYY' | titlecase }}
			<mat-icon>keyboard_arrow_down</mat-icon>
		</a>
	</h2>

	<div class="card__diagram-wrapper">
		<button (click)="onPreviousMonthClicked()" class="bg-light_3" mat-mini-fab [class.mat-elevation-z0]="true">
			<mat-icon>chevron_left</mat-icon>
		</button>

		<div class="card__doughnut">
			<div class="card__time-container">
				<canvas #canvas class="card__canvas"></canvas>
				<div class="card__time-info h3">
					<p *ngIf="!isPeriodEmpty" class="card__time-spent">
						{{ spentTime.hours | number: '2.0' }}:{{ this.spentTime.minutes | number: '2.0' }} /
						<span class="card__time-status card__time-status_style_{{ remainingTimeStatus }}">
							{{ remainingTime.hours | number: '2.0' }}
						</span>
					</p>
				</div>
			</div>
		</div>
		<button (click)="onNextMonthClicked()" class="bg-light_3" mat-mini-fab [class.mat-elevation-z0]="true">
			<mat-icon>chevron_right</mat-icon>
		</button>
	</div>
</mat-card>
