<mat-card class='card_grid'>
  <div class="chart">
    <div class="chart__doughnut">
      <canvas #canvas height="184" width="184" class="chart__canvas"></canvas>
      <div class="chart__time-info">
        <p *ngIf="!isPeriodEmpty; else recommendedTimeElement" class="chart__time-spent">
          {{ spentTime.hours | number: '2.0'  }}:{{ this.spentTime.minutes | number: '2.0' }}
        </p>

        <ng-template #recommendedTimeElement>
          <p class="chart__time-spent chart__time-spent_initial">
            {{ recommendedTime.hours | number: '2.0' }}:{{ recommendedTime.minutes | number: '2.0' }}
          </p>
        </ng-template>

        <p *ngIf="!isPeriodEmpty; else plannedTimeDescription"
           class="chart__time-status chart__time-status_style_{{ remainingTimeStatus }}"
        >
          {{ abs(remainingTime.hours) | number: '2.0' }}:{{ abs(remainingTime.minutes) | number: '2.0' }}
        </p>

        <ng-template #plannedTimeDescription>
          <p class="chart__time-status chart__time-status_style_initial">Запланировано</p>
        </ng-template>
      </div>
    </div>

    <div class="chart__tags">
      <h2 class="chart__tags-heading">Проекты</h2>
      <div *ngFor="let project of projects; index as i">
        <span [style.background-color]="COLORS[i]" class="chart__tag-marker"></span>{{ project.name }}</div>
    </div>
  </div>
</mat-card>
