@import 'base/variables';
@import 'base/fonts';

.chart {
	padding: 0 48px 32px 48px;

	display: flex;
	flex-direction: column;

	&__tags {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		width: 90%;
		flex-wrap: wrap;

		&-bold {
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;
			text-align: left;
		}
	}

	&__time-info {
		position: absolute;
		top: 52%;
		left: 50%;

		margin-top: 5px;

		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		font-size: 16px;
		text-align: center;

		transform: translate(-50%, -50%);
	}

	&__time-spent {
		font-size: 22px;
		font-weight: 700;
		line-height: 33px;

		color: $dark_1;

		&_initial {
			color: $gray;
		}
	}

	&__time-status {
		padding: 0;

		width: max-content;

		font-size: 16px;
		text-align: center;

		color: $dark_5;
		border-radius: 5px;
	}

	&__diagram-wrapper {
		padding-bottom: 30px;

		display: flex;
		justify-content: space-between;
		align-items: center;

		width: 100%;
	}

	&__doughnut {
		display: flex;
		justify-content: space-between;
		align-items: baseline;

		width: 184px;
		height: 184px;
	}

	&__left-arrow {
		top: 47%;
		left: 32px;

		background-color: #f5f5f5;
	}

	&__right-arrow {
		top: 47%;
		right: 32px;

		background-color: #f5f5f5;
	}

	.orange-icon {
		color: #ff8a65;
	}

	&__hiding {
		visibility: hidden;

		width: 0;
		height: 0;
	}

	&__title {
		font-size: 22px;
		font-weight: 700;
		font-style: normal;
		line-height: 33px;
		text-align: left;
		letter-spacing: 0;

		&-orange {
			color: #ff8a65;
		}
	}

	&__tag-marker {
		display: inline-block;

		width: 15px;
		height: 15px;

		border-radius: 50%;
	}
}
