<mat-card class='card_grid'>
  <div class="chart">

       <div class="chart__content">
           <div class="chart__content-heading">

                   <h2>Часы за
                       <mat-form-field appearance="fill" class='chart__content-heading-hiding'>
                           <input matInput [matDatepicker]="picker"/>

                           <mat-datepicker
                               #picker startView="year"
                               (monthSelected)="chosenMonthHandler($event, picker)"
                               [startAt]="startDate"
                           >
                           </mat-datepicker>
                       </mat-form-field>
                       <a (click) = "picker.open()">
                       <span doText underlined underlinedSize='sm'>
                           {{month}} {{year}}
                       </span>
                       </a>
                   </h2>

                   <mat-datepicker-toggle matSuffix [for]="picker">
                       <mat-icon class='orange-icon' matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                   </mat-datepicker-toggle>

           </div>
        </div>

        <div class='chart__wrapper'>
            <button (click)=changeMonth(-1) class='chart__left-arrow' mat-mini-fab [class.mat-elevation-z0]='true'>
                <mat-icon>expand_more</mat-icon>
            </button>

            <div class="chart__wrapper__doughnut">
                <canvas #canvas height="184" width="184" class="chart__canvas"></canvas>

                <div class="chart__time-info">
                    <p *ngIf="!isPeriodEmpty; else recommendedTimeElement" class="chart__time-spent">{{ spentTime.hours | number: '2.0'  }}:{{ this.spentTime.minutes | number: '2.0' }}</p>
                    <ng-template #recommendedTimeElement>
                        <p class="chart__time-spent chart__time-spent_initial">{{ recommendedTime.hours | number: '2.0' }}:{{ recommendedTime.minutes | number: '2.0' }}</p>
                    </ng-template>

                    <p *ngIf="!isPeriodEmpty; else plannedTimeDescription"
                       class="chart__time-status chart__time-status_style_{{ remainingTimeStatus }}"
                    >{{ abs(remainingTime.hours) | number: '2.0' }}</p>
<!--                        {{ abs(remainingTime.hours) | number: '2.0' }}:{{ abs(remainingTime.minutes) | number: '2.0' }}-->

                    <ng-template #plannedTimeDescription>
                        <p class="chart__time-status chart__time-status_style_initial">Запланировано</p>
                    </ng-template>
                </div>


            </div>

            <button (click)=changeMonth(1) class='chart__right-arrow' mat-mini-fab [class.mat-elevation-z0]='true'>
                <mat-icon>expand_more</mat-icon>
            </button>
        </div>


       <div class='chart__tags__projects'>
              <span>Проекты:</span>
              <div *ngFor="let project of projects; index as i">
                  <span [style.background-color]="COLORS[i]" class="chart__tag-marker"></span>
                      {{ project.name }}
              </div>
       </div>

  </div>
</mat-card>
