@import 'base/variables';
@import 'base/fonts';

.chart {
	padding: 0 50px 32px;

	display: flex;
	flex-direction: column;

	&__time-container {
		position: relative;

		width: 444px;
		height: 185px;
	}

	&__link {
		display: flex;
		align-items: center;
	}

	&__tags {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		width: 90%;
	}

	&__time-info {
		position: absolute;
		top: 40%;
		left: 41%;

		margin-top: 5px;
	}

	&__time-spent {
		display: inline;

		&_initial {
			color: $gray;
		}
	}

	&__time-status {
		display: inline;

		font-size: 16px;
	}

	&__diagram-wrapper {
		padding-bottom: 30px;

		display: flex;
		justify-content: space-between;
		align-items: center;

		width: 100%;
	}

	&__hidden {
		visibility: hidden;

		width: 0;
		height: 0;
	}

	&__title {
		font-size: 22px;
		font-weight: 700;
		font-style: normal;
		line-height: 33px;
		text-align: left;
		letter-spacing: 0;
	}

	&__tag-marker {
		display: inline-block;

		width: 15px;
		height: 15px;

		border-radius: 50%;
	}

	.mat-icon {
		vertical-align: middle;
	}
}
