.wrapper {
	padding: 10px 0;

	border-bottom: 1px solid #f5f5f5;
}

.task {
	display: flex;
	justify-content: space-between;

	font-size: 16px;
	line-height: 32px;

	&__title {
		margin: 0 20px 0 0;

		min-width: 168px;

		font-weight: 700;
		flex-basis: 14%;
	}

	&__minutes {
		margin: 0 20px;

		font-weight: 700;
		flex-basis: 5%;
	}

	&__period {
		margin: 0 20px;
		flex-basis: 10%;
	}

	&__description {
		margin: 0 20px;
		flex-basis: 38%;
	}

	&__description-partial {
		overflow: hidden;

		height: 65px;

		white-space: normal;
		text-overflow: ellipsis;
	}

	&__description-full {
		height: fit-content;
	}

	&__description-more-button {
		padding: 0;

		width: fit-content;

		font-size: 16px;
		line-height: 32px;
	}

	&__form-field {
		display: block;
	}
}

.textarea {
	overflow: hidden;

	height: fit-content;
}

// ::ng-deep .mat-expansion-panel-body {
// 	//Без ::ng-deep не работает...
// 	margin-top: 16px;
// 	padding-right: 7px;
// }
