<mat-card class="card">
	<div class="header h3">
		<do-title-datepicker title="Статистика за" (dateSelection)="chosenMonthHandler($event)"></do-title-datepicker>
	</div>
	<ng-container *ngIf="employees$ | async as employees; else loader">
		<table class="table">
			<colgroup>
				<col class="column column_width_m" />
				<col class="column column_width_sm" />
				<col class="column column_width_sm" />
				<col class="column column_width_sm" />
				<col class="column column_width_t" />
			</colgroup>
			<thead class="text-secondary_default">
				<tr>
					<th>Имя</th>
					<th>Часы за проект/Норма</th>
					<th>Отсутствия</th>
					<th>Кол-во проектов</th>
					<th></th>
				</tr>
			</thead>
			<tbody [formGroup]="hoursGroup">
				<ng-container *ngFor="let employee of employees">
					<tr [ngClass]="{ row: !employee.editMode }">
						<td class="cell avatar">
							<do-profile-image class="avatar__photo" [userInitials]="$any(employee)"></do-profile-image>
							<div>
								<div>{{ employee?.firstName }} {{ employee?.lastName }}</div>
								<div>{{ employee?.position }}</div>
							</div>
						</td>
						<td class="cell">
							<div class="cell__hours">
								<ng-container *ngIf="!employee?.editMode; else input">
									<ng-container *ngIf="!employee?.managerHours; else managerHours">
										<strong
											>{{ employee?.projectHours }}/<span class="text-secondary_default">{{
												employee?.normHours ?? 0
											}}</span></strong
										>
									</ng-container>
									<ng-template #managerHours>
										<strong>
											{{ employee?.managerHours }}/
											<span class="text-secondary_default">
												{{ employee?.normHours ?? 0 }}&nbsp;
											</span>
										</strong>
										<span class="mat-caption">
											Изменено
											<mat-icon
												class="vertical-align_middle"
												inline
												[mdePopoverTriggerFor]="popover"
												mdePopoverPositionY="above"
												[mdePopoverOffsetX]="-13"
												>info_outline
											</mat-icon>
										</span>
										<mde-popover #popover="mdePopover" [mdePopoverOverlapTrigger]="false">
											<span class="mat-small">Автор изменения</span>
											<!--TODO replace with real name when backend will send this data-->
											<p>Имя Менеджера</p>
											<span class="mat-small">Дата изменения</span>
											<p>{{ employee?.modifiedAtUtc | date: 'dd/MM/YYYY' }}</p>
											<span class="mat-small">Часы сотрудника</span>
											<p>{{ employee?.projectHours ?? 0 }}</p>
										</mde-popover>
									</ng-template>
								</ng-container>
								<ng-template #input>
									<div>
										<mat-form-field appearance="fill">
											<mat-error
												*ngIf="
													hoursGroup.controls['hours_' + employee.id].errors?.min;
													else errIntNum
												"
											>
												Минимальное значение должно быть больше 0
											</mat-error>
											<ng-template #errIntNum>
												<mat-error
													*ngIf="
														hoursGroup.controls['hours_' + employee.id].errors?.intNum;
														else errMax
													"
												>
													Значение может быть только целым числом
												</mat-error>
											</ng-template>
											<ng-template #errMax>
												<mat-error
													*ngIf="
														hoursGroup.controls['hours_' + employee.id].errors?.max;
														else errRequired
													"
												>
													Превышено максимальное значение
												</mat-error>
											</ng-template>
											<ng-template #errRequired>
												<mat-error
													*ngIf="hoursGroup.controls['hours_' + employee.id].errors?.required"
												>
													Поле не может быть пустым
												</mat-error>
											</ng-template>
											<input
												matInput
												[formControlName]="'hours_' + employee?.id"
												ngDefaultControl
												class="text_bold"
										/></mat-form-field>
										/{{ employee?.normHours ? employee?.normHours : 0 }}
									</div>
								</ng-template>
							</div>
						</td>
						<td class="cell" [ngClass]="{ cell__leaves: employee.leaves?.length! > 1 }">
							<ng-container *ngIf="employee.leaves?.length; else empty">
								<div *ngFor="let leave of employee.leaves" class="cell__leave-label">
									{{ leave.leaveType | leaveLabel }}&nbsp;
									<span class="mat-caption">
										<mat-icon
											class="vertical-align_middle"
											inline
											[mdePopoverTriggerFor]="popover"
											mdePopoverPositionY="above"
											[mdePopoverOffsetX]="-13"
											>info_outline
										</mat-icon>
									</span>
									<mde-popover #popover="mdePopover" [mdePopoverOverlapTrigger]="false">
										<p class="text-align_center">
											<strong>{{ leave.leaveType | leaveLabel: false }}</strong>
										</p>
										<span class="mat-small">Даты отсутствия</span>
										<p>
											{{ leave.startTime | date: 'dd/MM/YYYY' }}-{{
												leave.endTime | date: 'dd/MM/YYYY'
											}}
											({{ (leave?.minutes ?? 0) / 60 }} ч)
										</p>
									</mde-popover>
								</div>
							</ng-container>
							<ng-template #empty>
								<span class="text-secondary_default">{{ '-' }}</span>
							</ng-template>
						</td>
						<td class="cell">
							<p>{{ employee?.projectsCount }}</p>
						</td>
						<td class="cell cell__icon">
							<button mat-icon-button (click)="toggleEditMode(true, employee)">
								<mat-icon [svgIcon]="Icons.Edit"></mat-icon>
							</button>
						</td>
					</tr>
					<tr *ngIf="employee.editMode" class="row">
						<td colspan="5">
							<div class="controls">
								<button mat-button (click)="toggleEditMode(false, employee)" class="controls__button">
									Отменить
								</button>
								<button
									mat-flat-button
									color="primary"
									class="controls__button"
									[disabled]="hoursGroup.controls['hours_' + employee.id].invalid"
									(click)="onSubmit('submit', employee)"
								>
									Сохранить
								</button>
								<button mat-flat-button color="warn" (click)="onSubmit('reset', employee)">
									Сбросить
								</button>
							</div>
						</td>
					</tr>
				</ng-container>
			</tbody>
		</table>
	</ng-container>
	<ng-template #loader>
		<div class="loader">
			<mat-spinner></mat-spinner>
		</div>
	</ng-template>
</mat-card>
