<div class='wrapper'>
    <h3 class='big-text'>Редактирование часов <span doText color='accent_color_bright'>за
            {{leave.type}}</span></h3>
    <form [formGroup]="editForm">
        <div class='wrapper__range'>
            <mat-form-field class='wrapper__range-picker' appearance="fill">
                <mat-label>Выберите диапазон отсутствия</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Начало" formControlName="startTime">
                    <input matEndDate placeholder="Конец" formControlName="endTime">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <div class='wrapper__hours'>
                <p doText color='gray1'>Выбрано</p>
                <strong class='big-text' doText color='gray1'><span doText color='dark_1'>{{leave.hours}}</span> ч
                </strong>
            </div>
        </div>
        <div class='wrapper__description'>
            <mat-form-field appearance="fill" class='wrapper__description'>
                <mat-label>Комментарий</mat-label>
                <textarea matInput controlName="description" class='wrapper__description-field'
                    formControlName="description"></textarea>
            </mat-form-field>
        </div>
        <div class='controls'>
            <button mat-flat-button class='controls controls__button controls__cancel-button' type="button"
                (click)="onCancelClick()">Отмена</button>
            <button mat-flat-button color='accent' class='controls controls__button controls__submit-button'
                type="submit">Сохранить</button>
        </div>
    </form>
</div>