<div class="gradient__graphic do-card bg-white">
  <div class="time__period">
    <p class="h3">
      Часы {{timePeriod}}
    </p>
  </div>

  <div class="graphics__container">
    <div class="graphic__column" *ngFor="let column of amountOfDays, index as column">
      <div class = "graphic__item" *ngFor="let item of amountOfWorkHours, index as item">

        <div class="hours__processing regular_text" *ngIf="item == 0 && processingArray[column] == true">
          {{dailyHoursData[column].hours}}:{{dailyHoursData[column].minutes}}
        </div>
        <div class="item__description" *ngIf="item >= 8 - dailyHoursData[column].hours" [style.background-color]="colorsData[item]">
        </div>
        <div class="item__description" *ngIf="item < 8 - dailyHoursData[column].hours" [style.background-color]="gray">
        </div>

      </div>
    </div>
  </div>

  <div class="dates__container">
    <div class="column__date" *ngFor="let column of amountOfDays">
      {{dailyHoursData[column].day}}
    </div>
  </div>

</div>
