@import 'abstracts/variables';

.content-container{
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, $dark_3 0%, $dark_4 100%);
  display: flex;
  justify-content: center;
  .admin-router {
    position: absolute;
  }

  .waves-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    img {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
}