<div class="project__container">
  <div class="project__description">
    <h3 class="h4 project__name">
      {{ project.name }}
    </h3>

    <p class="regular_text text_color_gray project__customer">
      {{ project.consumer.name }}
    </p>

    <p class="regular_text project__comment">
      {{ project.description }}
    </p>
  </div>

  <div class="project__details">
    <div class="procession-data">
      <div class="contribution">
        <p class="text_color_gray">Мой вклад</p>
        <p class="h4 hours">
          {{ project.contributors[0].totalTime.hours }}:{{
            project.contributors[0].totalTime.minutes | number: '2.0'
          }}ч
        </p>
        <!--i need to get ID-->
      </div>
      <div class="team">
        <div
          class="participant"
          *ngFor="
            let contributor of project.contributors | slice: 0:5;
            let i = index
          "
          [style.background-image]="
            'url(' + contributor.user.avatarFileUrl + ')'
          "
        >
          <div class="regular_text gray__circle" *ngIf="i == 4">
            +{{ amountHiddenPhoto }}
          </div>
        </div>
      </div>
    </div>
    <button
      *ngIf="showStatisticsBtn"
      mat-flat-button
      color="primary"
      class="btn-statistic"
    >
      <span class="regular_text regular_text_light_1">Статистика</span>
    </button>
  </div>
  <p
    class="regular_text text_color_gray history-data"
    *ngIf="project.historyDetails"
  >
    {{ project.historyDetails }}
  </p>
</div>
