@import 'base/variables';

.project__container {
  padding: 32px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 300px;
  min-height: 349px;

  background-color: #fff;
  border-radius: 5px;

  .project__customer {
    margin-bottom: 12px;
  }

  .project__details {
    margin-top: 25px;

    .procession-data {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .team {
        display: flex;
      }

      .participant,
      .gray__circle {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 36px;
        height: 36px;

        background-size: contain;
        border-radius: 50%;

        .gray__circle {
          margin: 0;

          background-color: $gray;
        }
      }
    }

    .btn-statistic {
      margin-top: 27px;

      width: 100%;
    }
  }

  .history-data {
    margin-top: 20px;
  }
}
