.info {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.name {
	margin-bottom: 16px;

	overflow: hidden;

	white-space: pre;
	text-overflow: ellipsis;
}

.date {
	margin-left: 30px;

	white-space: pre;
}

.field-title {
	margin-bottom: 8px;
}

.images {
	display: grid;
	grid-template-columns: repeat(auto-fill, 128px);
	gap: 8px 28px;
}
