.time-input {
	display: flex;
	align-items: baseline;

	font-size: 22px;
	font-weight: 700;

	&__input {
		width: 1.5em;

		&_align_right {
			text-align: right;
		}
	}

	&__colon {
		color: rgba(0, 0, 0, 0.42);
	}
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;

	margin: 0;
}
