<div class="time-input" [formGroup]="time">
	<input
		#hours
		matInput
		class="time-input__input time-input__input_align_right"
		formControlName="hours"
		type="text"
		maxlength="3"
		placeholder="02"
		(ngModelChange)="checkTimeConstraints($event, TimeType.HOURS)"
		(keyup)="autoFocusNext($event, minutes)"
	/>
	<span [ngClass]="time.pristine ? 'time-input__colon' : ''">:</span>
	<input
		#minutes
		matInput
		class="time-input__input"
		formControlName="minutes"
		type="text"
		maxlength="2"
		placeholder="00"
		(ngModelChange)="checkTimeConstraints($event, TimeType.MINUTES)"
		(keyup.backspace)="autoFocusPrev($event, hours)"
	/>
</div>
