@use '~@angular/material' as mat;
@use 'base/palettes' as *;

.form {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__link {
		color: mat.get-color-from-palette($do-grey, 400) !important;

		&:visited {
			color: inherit;
		}

		&:hover,
		&:active {
			color: mat.get-color-from-palette($do-grey, 600) !important;
		}
	}

	&__input-field {
		width: 288px;

		&:not(:last-of-type) {
			margin-bottom: -20px;
		}
	}

	&__error {
		margin-top: 11px;
		margin-bottom: 16px;

		display: flex;
		flex-direction: column;
		align-items: center;

		height: 24px;
	}

	&__description {
		margin: 12px 0 36px;

		width: 288px;
	}

	&__submit.mat-flat-button {
		margin-top: 16px;

		display: flex;
		justify-content: center;
		align-items: center;

		min-width: 132px;
		height: 36px;
	}
}
