@import '../base/variables';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__input-field {
    background-color: transparent;
    margin-bottom: 33px;
    opacity: 0.8;
    border-style: none;
    border-bottom: 1px solid white;
    width: 288px;
    height: 24px;
    &:focus {
      background-color: transparent;
      border-style: none;
      outline: none;
      border-bottom: 1px solid white;
    }
  }
  &__error {
    display: flex;
    align-items: center;
    height: 24px;
    margin-top: 11px;
    margin-bottom: 16px;
    color: $negative_accent;
  }
  &__description {
    display: flex;
    align-items: center;
    width: 284px;
    color: $light_3;
  }
  &__title {
    position: relative;
    display: block;
    text-align: center;
  }
  &__submit {
    position: relative;
    margin-top: 11px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      width: 100%;
      height: 100%;
      border-style: none;
      border-radius: 5px;
      background-color: $button_orange;
      color: white;
    }
    .spinner {
      animation: rotate 2s linear infinite;
      top: 50%;
      left: 50%;
      width: 25px;
      height: 25px;
      & .path {
        stroke: $preza_dc;
        stroke-linecap: round;
        box-shadow: 0px 0px 7px rgba($color: white, $alpha: 0.4);
        animation: dash 1.5s ease-in-out infinite;
      }
    }

    @keyframes rotate {
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes dash {
      0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
      }
      50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
      }
      100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
      }
    }
  }
}
