@use '@angular/material' as mat;
@use 'base/palettes' as *;
@use 'base/variables' as variables;

// Styles for table
.table {
	width: 100%;

	table-layout: fixed;
	border-collapse: collapse;

	text-align: left;
}

.row {
	border-bottom: 1px solid #f5f5f5;

	&_activable {
		&:hover {
			cursor: pointer;

			.cell {
				background-color: #f1f1ef;
			}
		}
	}
}

.cell {
	padding: 13px 35px 13px 0;

	vertical-align: top;

	&_vertical-middle {
		vertical-align: middle;
	}

	&__content {
		&_breakable {
			word-break: break-all;
		}

		&_ellipsissed {
			overflow: hidden;

			text-overflow: ellipsis;
		}
	}
}

.column {
	&_width_t {
		width: 5%;
	}

	&_width_little {
		width: 10%;
	}

	&_width_sm {
		width: 15%;
	}

	&_width_m {
		width: 20%;
	}

	&_width_35 {
		width: 35%;
	}

	&_width_l {
		width: 45%;
	}
}

.heading {
	// Для выравнивания заголовка mat-sort-header по левой стороне
	&__content {
		text-align: left;
	}
}

.user-status {
	width: 67px;
	height: 24px;

	text-align: center;

	color: mat.get-color-from-palette($do-grey, 50);

	background-color: mat.get-color-from-palette($do-green, 500);
	border-radius: 10px;

	&_archived {
		color: mat.get-color-from-palette($do-grey, 500);

		background-color: mat.get-color-from-palette($do-grey, 100);
	}
}

do-table {
	cdk-row.file-row,
	cdk-header-row.file-row {
		padding: 0;

		box-shadow: none;

		&:hover {
			box-shadow: none;
		}
	}

	cdk-row.timelist,
	cdk-header-row.timelist {
		margin-bottom: 0 !important;
		padding: 8px 34px;

		border-radius: 0;

		box-shadow: none;

		&:hover {
			box-shadow: none;
		}

		&:nth-child(2n) {
			background: variables.$light_1;
		}

		.mat-form-field-outline * {
			background: variables.$light_1;
		}
	}
}
