@import '../base/variables';

.table__header {
	width: 1240px;
	padding: 49px 48px 32px 48px;
	display: grid;
	flex-direction: row;
	grid-template-columns: 12.5% 70.25% 17.25%;
	h3 {
		font-family: Montserrat;
		font-size: 22px;
		font-weight: 700;
		line-height: 33px;
		letter-spacing: 0em;
		text-align: left;
		color: #263238;
	}
	button {
		width: 200px;
		background-color: $accent_color_light;
		height: 36px;
		border-radius: 5px;
		color-text: #FF8A65;
	}
}
