@import 'base/variables';

.grid {
  margin-top: 40px;

  display: grid;
  grid-template-columns: 53% 47%;
  grid-auto-rows: auto;
  grid-template-areas:
    'add-hours doughnut'
    'add-hours bar-graph';
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  do-add-hours {
    grid-area: add-hours;
  }

  do-doughnut-chart {
    grid-area: doughnut;
  }

  do-gradient-graphics {
    grid-area: bar-graph;
  }
}

do-user-tasks {
  margin-top: 48px;

  display: block;
}
