.header {
	margin-bottom: 20px;

	display: flex;
	justify-content: space-between;
}

.table {
	&__status {
		width: 67px;
		height: 24px;

		text-align: center;

		background-color: #00e676;

		border-radius: 10px;

		&_archived {
			background-color: #f5f5f5;
		}
	}

	&__delete-button {
		text-align: right;

		opacity: 0;
	}
}

.row {
	&:hover {
		.table__delete-button {
			opacity: 1;
		}
	}
}

.column {
	&_width_little {
		width: 60px;
	}
}
