@use 'base/variables';

.content-container {
	display: flex;
	overflow: auto;
	justify-content: center;
	align-items: center;

	.wrapper {
		padding: 31px 100px 120px;

		width: 100%;
		max-width: 1440px;
		height: 100%;
	}
}

.spacer {
	flex: 1 1 auto;
}

.avatar {
	display: flex;
}

.sidenav {
	height: 100%;

	&__nav {
		width: 280px;
	}

	&__header {
		margin: 28px 24px 0 39px;

		display: flex;
		align-items: baseline;
	}

	&__group {
		margin-left: 24px;
	}

	&__content {
		display: flex;
		overflow: hidden;
		flex-direction: column;
	}
}
