<mat-sidenav-container class="sidenav" (click)="onClick($event)">
	<mat-sidenav #menu [autoFocus]="false" fixedInViewport [opened]="navOpened" class="sidenav__nav">
		<h4 matSubheader>
			<button mat-icon-button (click)="closeNav()">
				<mat-icon>menu</mat-icon>
			</button>
			{{ portalName$ | async }}
		</h4>
		<mat-nav-list dense class="sidenav__group">
			<a (click)="closeNav()" mat-list-item routerLink="/user/attendance">
				<mat-icon matListIcon>watch_later</mat-icon>
				<span class="mat-body">Учет времени</span>
			</a>
			<a *ngIf="departmentId$ | async as departmentId" (click)="onStatClick(departmentId)" mat-list-item>
				<mat-icon matListIcon>poll</mat-icon>
				<span class="mat-body">Таймлист</span>
			</a>
			<a (click)="closeNav()" mat-list-item routerLink="/user/projects-table">
				<mat-icon matListIcon>desktop_mac</mat-icon>
				<span class="mat-body">Проекты</span>
			</a>
			<a (click)="closeNav()" mat-list-item routerLink="/admin/manage-users">
				<mat-icon matListIcon>group</mat-icon>
				<span class="mat-body">Сотрудники</span>
			</a>
			<a (click)="closeNav()" mat-list-item routerLink="/departments">
				<mat-icon matListIcon>groups</mat-icon>
				<span class="mat-body">Департаменты</span>
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content class="sidenav__content">
		<do-header (menuClick)="onMenuClick($event)"></do-header>
		<div class="content-container">
			<div class="wrapper">
				<router-outlet></router-outlet>
			</div>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
