@use 'base/variables';

.content-container {
	padding: 31px 100px 120px;

	overflow: auto;

	.wrapper {
		margin: 0 auto;

		width: 100%;
		max-width: 1440px;
	}
}

.sidenav-container {
	height: 100%;

	.sidenav {
		width: 92px;

		box-shadow: 1px (variables.$header-height + 1) 2px variables.$light_4;
	}

	.header {
		z-index: 3;

		box-shadow: 0 1px 2px variables.$light_4;
	}

	.content {
		display: flex;
		overflow: hidden;
		flex-direction: column;
	}
}
