@use 'base/variables';

.content-container {
	display: flex;
	justify-content: center;
	align-items: center;

	.wrapper {
		z-index: 1;

		padding: 56px 0 0 0;

		overflow: auto;

		width: 100%;
		max-width: 1440px;
		height: 100%;
	}
}

.spacer {
	flex: 1 1 auto;
}

.avatar {
	display: flex;
}

.sidenav {
	height: 100%;

	&__nav {
		width: 280px;
	}

	&__header {
		margin: 28px 24px 0 39px;

		display: flex;
		align-items: baseline;
	}

	&__group {
		margin-left: 24px;
	}
}
