@use 'base/variables' as variables;

.mat-datepicker-content {
	mat-calendar.mat-calendar {
		width: 306px;
		height: 308px;
	}

	.mat-calendar-period-button {
		text-transform: lowercase;

		&::first-letter {
			text-transform: uppercase;
		}
	}

	.mat-calendar-header {
		.mat-calendar-controls {
			margin: 0;
		}
	}

	.mat-calendar-table-header-divider {
		display: none;
	}

	.mat-calendar-content {
		padding: 0 24px 30px;
	}

	.mat-calendar-body-cell-content {
		width: 30px;
		height: 30px;

		border-radius: 7px;
	}

	.mat-calendar-body-label {
		padding-top: 0 !important;
		padding-bottom: 0 !important;

		visibility: hidden;
	}
}

.mat-datepicker-toggle {
	&.mat-datepicker-toggle-active {
		color: revert;
	}

	.mat-button-focus-overlay {
		opacity: 0 !important;
	}
}

.datepicker-weekend {
	.mat-calendar-body-cell-content {
		color: variables.$alert;
	}
}
