@import '../base/variables';

.mat-form-field {
  .mat-form-field-wrapper {
    .mat-input-element {
      padding: 10px 15px;

      width: 100%;
      min-height: 36px;

      color: $dark_1;
      background-color: $light_3;
      border-radius: 5px;
      caret-color: $dark_1;
    }

    textarea.mat-input-element {
      min-height: 82px;
    }

    .mat-form-field-infix {
      padding: 0;

      border: 0;
    }

    .mat-form-field-underline {
      display: none;
    }
  }
}

//styles for FormControl
.ng-pristine input,
.ng-valid input,
.ng-pristine textarea,
.ng-valid textarea {
  padding: 10px 15px;

  width: 100%;
  min-height: 36px;

  color: $dark_1;
  background-color: $light_3;
  border: none;
  border-radius: 5px;
  caret-color: $dark_1;

  &:focus {
    outline: none;
  }
}
