@import '../base/variables';

//styles for FormControl
.ng-pristine input,
.ng-valid input,
.ng-invalid input,
.ng-pristine textarea,
.ng-valid textarea,
.ng-invalid textarea {
  padding: 5px 5px;

  min-height: 30px;

  &:focus {
    outline: none;
  }
}

.mat-form-field_time-input {
  .mat-input-element {
    padding: 0;

    background-color: transparent;
  }
}

.mat-form-field {
  .mat-input-element,
  input.mat-input-element,
  textarea.mat-input-element {
    padding: 10px 15px;

    width: 100%;
    height: 36px;

    color: $dark_1;
    background-color: $light_2;
    border-radius: 5px;
    caret-color: $dark_1;
  }

  textarea.mat-input-element {
    min-height: 82px;
  }
}

// type="number"
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}
