@import '../base/variables';

.mat-form-field,
.mat-form-field.mat-form-field-appearance-legacy {
  .mat-form-field-wrapper {
    .mat-input-element {
      padding: 10px 15px;

      width: 100%;
      height: 36px;

      color: $dark_1;
      background-color: $light_2;
      border-radius: 5px;
      caret-color: $dark_1;
    }

    textarea.mat-input-element {
      min-height: 82px;
    }

    .mat-form-field-infix {
      padding: 0;

      border: 0;

      .mat-input-element {
        font-family: $header_font;
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
      }
    }

    .mat-form-field-underline {
      display: none;
    }
  }

  .mat-form-field-subscript-wrapper {
    margin-top: 0;
  }

  &.mat-form-field_time-input {
    .mat-input-element {
      padding: 0;

      background-color: transparent;
    }

    .mat-form-field-infix {
      .mat-input-element {
        font-family: $header_font;
        font-size: 28px;
        font-weight: bold;
        font-style: normal;
        line-height: 32px;
        text-align: center;

        color: $dark_1;
      }
    }
  }
}

//styles for FormControl
.ng-pristine input,
.ng-valid input,
.ng-invalid input,
.ng-pristine textarea,
.ng-valid textarea,
.ng-invalid textarea {
  padding: 5px 5px;

  min-height: 30px;

  color: #fff;
  caret-color: #fff;

  &:focus {
    outline: none;
  }
}

// type="number"
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}
