@import '../base/variables';
@import '../base/fonts';

// Могло поломать другие стили, нужно проверить на остальных инпутах
.mat-form-field,
.mat-form-field.mat-form-field-appearance-legacy {
  display: block;

  .mat-form-field-wrapper {
    padding: 1em 0;

    .mat-form-field-infix {
      padding: 0;

      border: 0;

      .mat-form-field-label-wrapper {
        padding-top: 0;

        overflow: visible;

        .mat-form-field-label {
          top: 0;

          display: inline;
          overflow: visible;

          width: 100%;

          font-size: 16px;
          line-height: 24px;

          color: $gray1;

          transform: none;

          @extend %regular_font_basic;

          .mat-placeholder-required {
            color: $negative_accent;
          }
        }
      }
    }

    .mat-form-field-underline {
      display: none;
    }
  }

  .mat-form-field-subscript-wrapper {
    margin-top: 0;
  }
}

.mat-form-field__stepper {
  .mat-form-field-wrapper {
    .mat-form-field-infix {
      .mat-input-element {
        text-align: center;
      }

      .mat-form-field-label-wrapper {
        left: -40px;
      }
    }
  }
}

//styles for FormControl
.ng-pristine input,
.ng-valid input,
.ng-invalid input,
.ng-pristine textarea,
.ng-valid textarea,
.ng-invalid textarea {
  padding: 5px 5px;

  min-height: 30px;

  &:focus {
    outline: none;
  }
}

// type="number"
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}
