@import 'base/fonts';
@import 'base/variables';

.mat-flat-button.mat-flat-button-override {
  margin: 0;
  padding: 4px 12px;

  color: transparent;
  border-radius: 5px;

  .mat-button-focus-overlay {
    background-color: transparent;
  }

  .mat-button-wrapper {
    @extend %regular_font_basic;
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 24px;

    color: $dark_1;
  }
}
