.mat-mini-fab.mat-mini-fab-override {
  width: 36px;
  height: 36px;
  .mat-button-wrapper {
    padding: 0;
    line-height: 36px;
    .mat-icon {
      svg {
        width: 100%;
        height: 1px;
        padding-bottom: 100%;
        overflow: visible;
      }
    }
  }
  &:not([class*='mat-elevation-z']) {
    box-shadow: none;
    &:not([disabled]):active {
      box-shadow: none;
    }
  }
}
