.mde-popover-content {
	margin-bottom: 8px;
	padding: 12px;

	color: #fff;
	background-color: #263238;
	border-radius: 8px;
}

.mde-popover-direction-arrow {
	border-color: #263238 transparent transparent !important;
}
