div.mat-radio-container,
div.mat-radio-inner-circle,
div.mat-radio-outer-circle {
  width: 16px;
  height: 16px;
}

div.mat-radio-container {
  margin-right: 8px;

  .mat-radio-outer-circle {
    border-width: 1px;
    border-color: $gray;
    border-radius: 5px;
  }
}

.mat-radio-button.mat-accent.mat-radio-checked div.mat-radio-outer-circle {
  border-color: $gray;
}

.mat-radio-checked div.mat-radio-inner-circle {
  transform: scale(0.75);
}
