@use '~@angular/material' as mat;
@use '../theme' as theme;
@use 'base/variables' as variables;

.mat-tab-list {
	.mat-tab-label {
		padding: 0;

		min-width: 10px;

		&:not(:last-child) {
			margin-right: 40px;
		}

		&.mat-tab-label-active {
			opacity: 1;

			.mat-tab-label-content {
				&::after {
					content: '';

					position: absolute;
					right: 0;
					bottom: 0;

					display: block;

					width: 100%;
					height: 4px;

					background: variables.$accent_controls_default;
				}
			}
		}

		.mat-tab-label-content {
			@include mat.typography-level(theme.$custom-typography, 'subheading-1');
		}
	}

	.mat-tab-links {
		gap: 24px;

		.mat-tab-link {
			@include mat.typography-level(theme.$custom-typography, 'subheading-1');
			padding: 0;

			min-width: 0;

			&.mat-tab-label-active {
				opacity: 1;

				&::after {
					content: '';

					position: absolute;
					right: 0;
					bottom: 0;

					display: block;

					width: 100%;
					height: 4px;

					background: variables.$accent_controls_default;
				}
			}
		}
	}

	.mat-ink-bar {
		display: none;
	}
}
