@import '../abstracts/variables';
@import '../base/fonts';

.mat__input{
  width: 100%;
  background-color: $light_3;
  //margin: 8px 0 0;
  min-height: 36px;
  border-radius: 5px;
  padding: 0 17px;
  color: $dark_1;
}
//@extend %regular_text
