<mat-horizontal-stepper #stepper class="wizard">
	<mat-step [stepControl]="companyForm" editable>
		<form [formGroup]="companyForm">
			<ng-template matStepLabel>Введите данные о компании</ng-template>
			<div class="wizard__form">
				<mat-form-field appearance="fill">
					<mat-label>Название компании</mat-label>
					<input matInput formControlName="companyName" placeholder="Введите название компании" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Название портала</mat-label>
					<input matInput formControlName="portalName" placeholder="Введите название портала" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Доменное имя</mat-label>
					<input matInput formControlName="siteUrl" placeholder="Введите доменное имя" required />
				</mat-form-field>
				<div class="wizard__buttons">
					<button mat-button matStepperNext>Далее</button>
				</div>
			</div>
		</form>
	</mat-step>
	<mat-step [stepControl]="adminForm" editable>
		<form [formGroup]="adminForm">
			<ng-template matStepLabel>Введите данные об админе</ng-template>
			<div class="wizard__form">
				<mat-form-field appearance="fill">
					<mat-label>Имя</mat-label>
					<input matInput formControlName="firstName" placeholder="Иван" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Фамилия</mat-label>
					<input matInput formControlName="lastName" placeholder="Иванов" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Отчество</mat-label>
					<input matInput formControlName="middleName" placeholder="Иванович" />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>E-mail</mat-label>
					<input matInput formControlName="email" placeholder="example@mail.com" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Логин</mat-label>
					<input matInput formControlName="login" placeholder="Введите логин" required />
				</mat-form-field>
				<mat-form-field class="wizard__input-width" appearance="fill">
					<mat-label>Пароль</mat-label>
                    <do-password formControlName="password" placeholder="Придумайте пароль"></do-password>
<!--					<input matInput formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Придумайте пароль" required />-->
<!--                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
				</mat-form-field>
                <mat-form-field class="wizard__input-width" appearance="fill">
                    <mat-label>Повторите пароль</mat-label>
                    <do-password placeholder="Повторите пароль" formControlName="confirmPassword" [errors]="myForm.errors?.errorMatch?myForm.errors:null" >
                    </do-password>
<!--                    <input matInput formControlName="confirmPassword" [errors]="myForm.errors?.errorMatch?myForm.errors:null" [type]="hidePassword ? 'password' : 'text'" placeholder="Повторите пароль" required />-->
<!--                    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--                    <mat-error *ngIf="adminForm.hasError('notSame')">-->
<!--                        Пароль не совпадает-->
<!--                    </mat-error>-->
                </mat-form-field>
				<div>
					<button mat-button matStepperPrevious>Назад</button>
					<button mat-button matStepperNext>Далее</button>
				</div>
			</div>
		</form>
	</mat-step>
	<mat-step editable>
		<form [formGroup]="smtpForm">
			<ng-template matStepLabel>Введите SMTP-данные</ng-template>
			<div class="wizard__form">
				<mat-form-field appearance="fill">
					<mat-label>Хост</mat-label>
					<input matInput formControlName="host" placeholder="хост" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Порт</mat-label>
					<input matInput formControlName="port" placeholder="порт" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>E-mail</mat-label>
					<input matInput formControlName="email" placeholder="example@mail.com" required />
				</mat-form-field>
				<mat-form-field class="wizard__input-width" appearance="fill">
					<mat-label>Пароль</mat-label>
                    <do-password formControlName="password" placeholder="Придумайте пароль"></do-password>
<!--					<input matInput formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Придумайте пароль" required  />-->
<!--                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
				</mat-form-field>
                <mat-form-field class="wizard__input-width" appearance="fill">
                    <mat-label>Повторите пароль</mat-label>
                    <do-password placeholder="Повторите пароль" formControlName="confirmPassword" [errors]="myForm.errors?.errorMatch?myForm.errors:null" ></do-password>
<!--                    </app-custom-input>-->
<!--                    <input matInput formControlName="confirmPassword" [errors]="myForm.errors?.errorMatch?myForm.errors:null" [type]="hide ? 'password' : 'text'" placeholder="Повторите пароль" required />-->
<!--                    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--                    <mat-error *ngIf="smtpForm.hasError('notSame')">-->
<!--                        Пароль не совпадает-->
<!--                    </mat-error>-->
                </mat-form-field>
				<mat-checkbox formControlName="enableSsl" required>Включить SSL</mat-checkbox>
				<div>
					<button mat-button matStepperPrevious>Назад</button>
					<button mat-button type="submit" (click)='submitForm()'>Завершить</button>
				</div>
			</div>
		</form>
	</mat-step>
</mat-horizontal-stepper>
