<h1>Новый проект</h1>
<mat-card class="card">
	<form class="project-info" [formGroup]="projectForm" (ngSubmit)="createProject()" autocomplete="off">
		<div class="project-info__section">
			<div class="section__title">
				<div class="section__title_left">
					<h3 doUnderline underlinedSize="sm">Общая информация</h3>
				</div>
				<div class="section__title_right">
					<span class="project-info__title warn">* Обязательное поле</span>
				</div>
			</div>
			<div class="section__content section__content_general">
                <do-form-row label="Название проекта">
                    <mat-form-field>
                        <input
                            #name
                            matInput
                            type="text"
                            formControlName="name"
                            placeholder="Введите название проекта"
                            maxlength="{{ MAX_NAME_LENGTH }}"
                            required
                        />
                        <mat-hint align="end">{{ name.value.length }}/{{ MAX_NAME_LENGTH }}</mat-hint>
                        <mat-error align='right' *ngIf="projectForm.controls['name'].errors?.['required']"
                        >Название не должно быть пустым!
                        </mat-error>
                        <mat-error align='right' *ngIf="projectForm.controls['name'].errors?.['whitespace']"
                        >Название не может состоять только из пробелов!
                        </mat-error>
                    </mat-form-field>
                </do-form-row>
                <do-form-row label="Департамент">
                    <mat-form-field>
                        <mat-select formControlName="departmentId" placeholder="Выберите департамент">
                            <mat-option *ngFor="let department of departments" [value]="department.id">
                                {{ department.name }}
                            </mat-option>
                        </mat-select>
				    </mat-form-field>
                </do-form-row>
                <do-form-row label="Короткое описание">
                    <mat-form-field>
                        <input
                            matInput
                            type="text"
                            formControlName="shortDescription"
                            maxlength="100"
                            placeholder="Короткое описание"
                        />
                    </mat-form-field>
                </do-form-row>
                <do-form-row label="Статус">
                    <mat-form-field>
                        <mat-select formControlName="status">
                            <mat-option *ngFor="let status of statuses" [value]="status.type">
                                {{ status.type | projectType | titlecase }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </do-form-row>
                <do-form-row label="Описание">
                    <mat-form-field class="project-info__description">
                        <mat-label></mat-label>
                        <textarea
                            matInput
                            formControlName="description"
                            placeholder="Дайте описание проекту"
                        ></textarea>
                    </mat-form-field>
                </do-form-row>
			</div>
		</div>

		<div class="project-info__section">
			<div class="section__title">
				<div class="section__title_left">
					<h3 doUnderline underlinedSize="sm">Команда</h3>
					&nbsp;
					<h3 class="primary">{{ membersAll.length | i18nPlural: pluralTeamCount }}</h3>
				</div>
				<!--				<div class="section__title_right">-->
				<!--					<button mat-flat-button color="primary" type="button" (click)="showProjectTeam()">Посмотреть всю команду</button>-->
				<!--				</div>-->
			</div>
			<div class="section__content">
				<!--				<do-team-card *ngFor="let team of teams" [teamCard]="team" [users]="teams"></do-team-card>-->
				<div class="user-row" *ngFor="let member of membersAll">
					<div class="user-row__image">
						<do-profile-image [image]="member?.avatar" [userInitials]="member"></do-profile-image>
					</div>
					<div class="user-row__general-info">
						<div class="name">{{ member.firstName }} {{ member.lastName }}</div>
						<div class="position">{{ member.position?.name | placeholder }}</div>
					</div>
					<div>{{ member.department?.name | placeholder }}</div>
				</div>
				<button mat-flat-button color="accent" type="button" (click)="openAddEmployeeModal()">
					Добавить сотрудников
				</button>
			</div>
		</div>

		<div class="project-info__actions">
			<button mat-stroked-button color="warn" class="border-accent_color_bright" type="button" (click)="goBack()">
				Отмена
			</button>
			<button
				mat-flat-button
				color="primary"
				[loading]="(loading$$ | async) ?? false"
				[disabled]="projectForm.invalid"
				type="submit"
			>
				Создать проект
			</button>
		</div>
	</form>
</mat-card>
