@import 'base/variables';
@import 'base/fonts';

$select-height: 36px;

.members-board {
  position: relative;

  padding: 48px;

  display: flex;
  flex-direction: column;

  max-width: 720px;

  background: #fff;

  &__close-button {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  &__title {
    margin-bottom: 34px;
  }
}

.members-form {
  &__search {
    margin-bottom: 14px;
  }

  &__selects {
    margin-bottom: 14px;

    display: flex;
    justify-content: space-between;
    column-gap: 5px;

    width: 379px;
    height: $select-height;
  }

  &__select-spec {
    width: 271px;
  }

  &__select-lvl {
    width: 125px;
  }

  &__background {
    margin-bottom: 14px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 424px;
  }

  &__button-container {
    display: flex;
    justify-content: flex-end;
  }
}

.new-members-icon {
  display: flex;
  flex-direction: column;

  text-align: center;

  &__-dummy {
    width: 36px;
    height: 36px;

    background-color: $gray;
    border-radius: 50%;
  }
}

::ng-deep .members-board {
  .mat-form-field-wrapper,
  .mat-form-field-flex,
  .mat-form-field-appearance-legacy,
  .mat-form-field-label-wrapper {
    padding: 0;
  }

  .mat-select-value {
    padding: 0 0 0 0.5em;

    line-height: $select-height;

    .mat-select-placeholder {
      @extend .regular_text;
      @extend .text_color_dark-1;
    }
  }

  .mat-select-arrow {
    margin: 0 14px 0 4px;

    width: 10px;
    height: 6px;

    background-image: url('../../../../../assets/svg/arrow-down-dark.svg');
    border: none;
  }

  .mat-form-field-infix {
    padding: 0;

    border: none;

    .mat-form-field-label-wrapper {
      position: static;

      overflow: visible;

      height: 0;
    }
  }
}

::ng-deep .cdk-overlay-pane {
  transform: translateY($select-height - 1) !important;

  .mat-select-panel {
    min-width: 100% !important;

    border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
  }
}
