@use 'base/variables';
@use 'layouts/card';
@use 'layouts/forms';
@use 'layouts/table';
@use 'do/underlined';
@use '~@angular/cdk/overlay-prebuilt';

@import './stylesheets/material/expansion-panel';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

div,
p {
	margin: 0;
	padding: 0;
}

a,
a:visited,
a:hover {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
}

button:focus {
	outline: none;
}

textarea {
	resize: none !important;
}

.nav-link {
	margin-bottom: 24px;

	display: flex;
	align-items: center;

	text-decoration: none;

	cursor: pointer;

	color: variables.$dark_4;

	svg {
		margin-right: 13px;

		width: 5px;
		height: 10px;
		stroke: variables.$dark_2;
		fill: none;
	}

	&:hover {
		opacity: 0.5;
	}
}
