@import 'base/variables';
@import 'base/fonts';
@import 'layouts/card';
@import 'layouts/forms';
@import 'material/input';
@import 'material/mat-mini-fab';
@import 'material/mat-tabs';
@import 'material/selects';
@import 'material/mat-error';
@import 'material/datepicker';
@import 'material/button';
@import 'material/checkbox';
@import 'material/menu';
@import 'material/radio';
@import 'material/tooltip';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

div,
p {
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

::placeholder {
  @extend .regular_text;
  opacity: 0.8;
}

button:focus {
  outline: none;
}

textarea {
  resize: none !important;
}

.nav-link {
  margin-bottom: 24px;

  display: flex;
  align-items: center;

  text-decoration: none;

  cursor: pointer;

  color: $dark_4;

  svg {
    margin-right: 13px;

    width: 5px;
    height: 10px;
    stroke: $dark_2;
    fill: none;
  }

  &:hover {
    opacity: 0.5;
  }
}
