@import 'base/variables';
@import 'base/fonts';
@import 'layouts/card';
@import 'layouts/forms';
@import 'material/input';
@import 'material/mat-mini-fab';
@import 'material/mat-tabs';
@import 'material/selects';
@import 'material/mat-error';
@import 'material/datepicker';
@import 'src/stylesheets/material/mat-flat-button';
@import 'material/button';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

div,
p {
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

::placeholder {
  @extend .regular_text;
  opacity: 0.8;
}

button:focus {
  outline: none;
}

textarea {
  resize: none;
}
