<mat-dialog-content class="upload-photo">
	<h3 class="upload-photo__heading" doText color="dark_1">
		Загрузка новой фотографии
		<mat-icon mat-dialog-close>close</mat-icon>
	</h3>
	<ng-container *ngIf="!isPhotoUploaded; else preview">
		<div
			class="upload-photo__dropzone"
			doDnd
			(fileDropped)="onFileDropped($event)"
		>
			<p doText color="dark_1">
				Коллегам будет проще узнать вас, если вы загрузите свою
				настоящую фотографию. Вы можете загрузить изображение в формате
				JPG, GIF или PNG.
			</p>
			<p doText color="gray1">Перетащите файл сюда или</p>
			<button
				mat-flat-button
				(click)="uploadFile.click()"
				color="primary"
			>
				Выбрать файл
			</button>
			<input
				#uploadFile
				hidden
				type="file"
				accept="image/png, image/jpeg, image/gif"
				(change)="onFileChanged($event)"
			/>
		</div>
		<p class="upload-photo__hint" doText color="gray1">
			Если у вас возникают проблемы с загрузкой, попробуйте выбрать
			фотографию меньшего размера.
		</p></ng-container
	>
</mat-dialog-content>

<ng-template #preview>
	<div class="upload-photo__preview">
		<p doText color="dark_1">
			Выбранная область будет показываться на вашей странице и на
			миниатюрах. Если изображение ориентировано неправильно, фотографию
			можно повернуть.
		</p>
		<div class="upload-photo__images">
			<img [src]="photoPreview" alt="User photo" height="180" />
			<div class="upload-photo__miniatures">
				<div
					class="upload-photo__miniature upload-photo__miniature_size_medium"
				>
					<img
						[src]="photoPreview"
						alt="Photo miniature"
						height="48"
					/>
				</div>
				<div
					class="upload-photo__miniature upload-photo__miniature_size_small"
				>
					<img
						[src]="photoPreview"
						alt="Photo miniature"
						height="36"
					/>
				</div>
			</div>
		</div>
		<mat-dialog-actions>
			<button
				mat-flat-button
				type="button"
				doText
				color="gray1"
				(click)="isPhotoUploaded = false"
			>
				Вернуться назад
			</button>
			<button
				mat-flat-button
				[mat-dialog-close]="resultFile"
				type="submit"
				class="bg-dark_1"
				color="primary"
			>
				Сохранить изменения
			</button>
		</mat-dialog-actions>
	</div>
</ng-template>
