.modal {
	&__title {
		margin-bottom: 11px;
	}

	&__error {
		margin: 10px 0;
	}

	&__period {
		margin-left: 16px;
	}

	&__date {
		padding: 4px 0 12px 0;
	}

	&__hours-wrapper {
		display: flex;
		align-items: center;
	}

	&__hours {
		margin-right: 5px;
		padding: 0;

		width: 80px;
	}

	&__description {
		width: 100%;
	}

	&__description-field {
		height: 142px;
	}
}

.controls {
	display: flex;
	justify-content: space-around;
}
