<div class="modal">
	<h3 class="modal__title">
		Редактирование часов за проект
		<span class="mat-h3">
			{{ project.name }}
		</span>
	</h3>

	<form [formGroup]="editForm" (ngSubmit)="onSubmitClick()">
		<div class="modal__time">
			<mat-form-field
				appearance="outline"
				class="modal__hours"
				matTooltipPosition="right"
				[matTooltip]="inputErrorMessage"
				matTooltipClass="tooltip"
			>
				<mat-label>Колличество часов</mat-label>
				<input (input)="onHoursInput()" matInput formControlName="userHours" placeholder="0" required />
			</mat-form-field>
			<span class="mat-h3">ч за {{ projectDate | date: 'LLLL YYYY' }}</span>
		</div>

		<div class="modal__comment">
			<mat-form-field appearance="outline" class="modal__description">
				<mat-label>Комментарий</mat-label>
				<textarea matInput formControlName="description" class="modal__description-field"></textarea>
			</mat-form-field>
		</div>

		<div class="controls">
			<button mat-flat-button type="button" class="controls__button" (click)="onClose()">Отмена</button>
			<button
				mat-flat-button
				color="primary"
				type="submit"
				class="controls__button"
				[loading]="(loading | async) ?? false"
				[disabled]="editForm.invalid"
			>
				Сохранить
			</button>
		</div>
	</form>
</div>
