.modal {
	&__title {
		margin-bottom: 11px;
	}

	&__span-subtitle {
		color: #ff8a65;
	}

	&__error {
		margin: 10px 0;
	}

	&__period {
		margin-left: 16px;
	}

	&__hours {
		margin-right: 5px;
		padding: 0;

		width: 149px;
	}

	&__description {
		width: 100%;
	}

	&__description-field {
		min-height: 246px;
	}
}

.controls {
	display: flex;
	justify-content: space-around;
}
