<div class="header">
	<h1 doUnderline class="break-word">{{ project.shortName }}</h1>
	<do-actions class="controls">
		<a *ngIf="canEditProject$ | async" doButton [routerLink]="ProjectsRoutes.EditProject">Редактировать</a>
		<a
			*ngIf="canAccessTeamStatistics$ | async"
			mat-flat-button
			color="primary"
			[routerLink]="ProjectsRoutes.TeamStats"
			>Статистика команды</a
		>
	</do-actions>
</div>
<h5 class="short-name break-word">{{ project.name }}</h5>
<div class="stats">
	<ng-container *ngFor="let stat of stats">
		<div class="stat" [style.grid-area]="stat.gridArea">
			<mat-icon class="text-secondary_hover" [svgIcon]="stat.icon"></mat-icon>
			<span class="text-secondary_hover label">{{ project | execute: stat.label }}</span>
		</div>
		<div class="stat" [style.grid-area]="stat.gridArea + '-v'">
			<span class="value" [ngStyle]="stat.style ? (project | execute: stat.style) : null">{{
				project | execute: stat.valueGetter | placeholder: '-'
			}}</span>
		</div>
	</ng-container>
</div>
