@use '~@angular/material' as mat;
@use 'base/palettes' as *;

.projects-table {
	&__card-title {
		margin-bottom: -10px;
	}

	&__section {
		margin-top: 48px;
	}

	&__group-title {
		margin-bottom: 26px;
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
		grid-gap: 40px;
	}

	&__project {
		padding: 32px 32px 20px;

		background-color: mat.get-color-from-palette($do-grey, 100);

		border-radius: 5px;

		flex: 0 1 256px;
	}

	&__project-name {
		display: -webkit-box;
		overflow: hidden;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;

		height: 48px;
	}

	&__label {
		padding: 0 8px;

		display: inline-block;

		background-color: #3cc984;
		border-radius: 10px;
	}

	&__description {
		display: -webkit-box;
		overflow: hidden;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;

		height: 72px;
	}

	&__more-button,
	&__show-all-button {
		margin-top: 30px;

		display: flex;
		align-items: center;

		cursor: pointer;

		&:hover {
			color: #808080;
		}
	}
}
