.projects-table {
	&__card-title {
		margin-bottom: -10px;
	}

	&__section {
		margin-top: 48px;
	}

	&__group-title {
		margin-bottom: 26px;
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
		grid-gap: 40px;
	}

	&__project {
		padding: 32px 32px 20px;

		flex: 0 1 256px;

		border-radius: 5px;
	}

	&__description {
		display: -webkit-box;
		overflow: hidden;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;

		height: 72px;
	}

	&__more-button {
		margin-top: 30px;

		display: flex;
		align-items: center;

		cursor: pointer;

		&:hover {
			color: #808080;
		}
	}
}
