<div class="projects-table">
	<h3 class="projects-table__card-title" doUnderline underlinedSize="sm">Проекты</h3>
	<ng-container *ngFor="let section of projects$ | async">
		<section class="projects-table__section">
			<h4 class="projects-table__group-title">
				{{ section.name }}
				<span class="mat-h4 primary">{{ section.projects.length | i18nPlural: section.plural }}</span>
			</h4>

			<div *ngIf="section.projects.length > 0; else emptyList" class="projects-table__container">
				<div *ngFor="let project of section.projects | slice: 0: (section.isExpanded ? undefined : 4)" class="projects-table__project bg-light_3">
					<h5 class="projects-table__project-name" [matTooltip]="project.name" [matTooltipPosition]="'above'" doTooltip>
						{{ project.name }}
					</h5>

					<p class="text-gray1" doTooltip>project.customer.name</p>

					<p
						[ngClass]="{
							active: project.status === ProjectStatus.Active,
							suspend: project.status === ProjectStatus.Suspend,
							closed: project.status === ProjectStatus.Closed
						}"
						class="projects-table__status-label text-white"
					>
						{{ project.status | projectType | titlecase }}
					</p>

					<p class="projects-table__description">
						{{ project.shortDescription ? project.shortDescription : 'Описание отсутствует' }}
					</p>

					<span class="text-gray1">Роль в проекте</span>
					<p>Product Manager</p>

					<span class="text-gray1">В проекте</span>
					<p>
						not implemented
					</p>

					<p class="projects-table__more-button text-gray1" (click)="onMoreClicked(project?.id)">
						Подробнее
						<mat-icon>keyboard_arrow_right</mat-icon>
					</p>
				</div>
			</div>

			<ng-container *ngIf="section.projects.length > 4">
				<p class="projects-table__show-all-button text-gray1" (click)="section.isExpanded = !section.isExpanded">
					{{ section.isExpanded ? 'Скрыть все' : 'Показать все' }}
					<mat-icon [ngStyle]="{ transform: section.isExpanded ? 'rotate(180deg)' : '' }"
						>keyboard_arrow_down</mat-icon
					>
				</p>
			</ng-container>

			<ng-template #emptyList>
				<do-empty-list [emptyMessage]="'Нет данных о проектах'"></do-empty-list>
			</ng-template>
		</section>
	</ng-container>
</div>
