.wrapper-empty {
	margin-bottom: 40px;

	display: flex;
	flex-direction: column;

	height: 200px;

	&_img {
		margin: auto;

		width: 30%;
	}

	&_description {
		margin-top: 20px;

		text-align: center;
	}
}
