<form autocomplete="off" [formGroup]="roleForm" (ngSubmit)="onSubmit()">
	<h3 mat-dialog-title class="text-align_center">{{ isEditMode ? 'Редактирования набора прав' : 'Новая роль' }}</h3>
	<mat-dialog-content class="new-role">
		<div class="new-role__form">
			<div class="new-role__input-container">
				<ng-container *ngIf="!isEditMode; else editView">
                    <do-form-row label="Название" class="new-role__field">
                        <mat-form-field>
                            <input matInput type="text" id="name" formControlName="name" maxlength=80 required />
                            <mat-error *ngIf="roleForm.controls['name'].errors?.['required']"
                            >Название не должно быть пустым!
                            </mat-error>
                            <mat-error *ngIf="roleForm.controls['name'].errors?.['whitespace']"
                            >Название не может состоять только из пробелов!
                            </mat-error>
                        </mat-form-field>
                    </do-form-row>
                    <do-form-row label="Описание" class="new-role__field">
                        <mat-form-field>
                            <input matInput type="text" id="description" formControlName="description" maxlength=300 />
                        </mat-form-field>
                    </do-form-row>
                </ng-container>
				<ng-template #editView>
					<div>
						<p class="mat-caption">Название</p>
						<p class="word-wrap_break-word">{{ roleInfo?.localizations?.[0]?.name }}</p>
					</div>
					<div *ngIf="roleInfo?.localizations?.[0]?.description">
						<p class="mat-caption">Описание</p>
						<p class="word-wrap_break-word">{{ roleInfo?.localizations?.[0]?.description }}</p>
					</div>
				</ng-template>
				<mat-divider></mat-divider>
                <do-form-row label="Выберите права" class="new-role__input" [required]='true'
                    matTooltip="Выберите хотя бы одно право" matTooltipPosition='below'
                >
                    <ng-container formGroupName="rights" *ngIf="rights$ | async as rights; else spinner">
                        <p *ngFor="let right of rights">
                            <mat-checkbox [formControlName]="right.rightId!">{{ right?.name }}</mat-checkbox>
                        </p>
                    </ng-container>
                    <ng-template #spinner>
                        <mat-spinner></mat-spinner>
                    </ng-template>
                </do-form-row>
			</div>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions class="flex flex_jc_center">
		<button mat-button mat-dialog-close type="button">Отмена</button>
		<button
			mat-flat-button
			color="primary"
			type="submit"
			[loading]="(loading$$ | async) ?? false"
			[disabled]="roleForm.invalid"
		>
			{{ isEditMode ? 'Редактировать роль' : 'Создать роль' }}
		</button>
	</mat-dialog-actions>
</form>
