@use 'base/variables';

.breadcrumbs {
	margin-bottom: 50px;

	display: flex;
	align-items: center;

	&__item {
		cursor: pointer;

		&:hover {
			color: #707070;
		}

		&:last-child {
			color: variables.$dark_1;
		}
	}
}
