@use 'base/variables';
@use '~@angular/material' as mat;
@use 'base/palettes' as *;

.breadcrumbs {
	margin-bottom: 50px;

	display: flex;
	align-items: center;

	&__item {
		cursor: pointer;

		&:hover {
			color: mat.get-color-from-palette($do-grey, 600);
		}
	}
}
