@use 'layouts/table';

.title {
	margin-bottom: 40px;
}

.department {
	&__header {
		display: flex;
		justify-content: space-between;
	}

	&__info {
		margin-bottom: 40px;
		padding-bottom: 40px;
	}

	&__label {
		margin-top: 16px;

		width: 50%;
	}
}

.table {
	&__header {
		margin-top: 20px;
		margin-bottom: 20px;

		display: flex;
		justify-content: space-between;
	}

	&__content {
		width: 100%;

		border-collapse: collapse;
	}

	&__row {
		height: 76px;

		border-bottom: 1px solid #f1f1ef;

		&:hover {
			cursor: pointer;

			background-color: #f1f1ef;
		}
	}

	&__column {
		&_width_little {
			width: 60px;
		}
	}
}

.navigation {
	margin-bottom: 40px;

	&__link {
		display: inline-block;

		height: 24px;

		vertical-align: top;

		color: inherit;
	}

	&__link:hover {
		text-decoration: underline;
	}
}

.search-actions {
	margin-bottom: 20px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search {
	display: flex;
	flex-basis: 50%;

	&__name {
		width: 100%;
	}

	&__position {
		margin-left: 30px;
		align-self: flex-end;
	}

	&__button {
		margin-right: 15px;
	}
}

.actions {
	display: flex;
	align-items: center;

	&__menu {
		margin-left: 20px;
	}
}

.main-info {
	display: flex;
}

.profile-photo {
	margin-right: 20px;
}
