<div class="navigation" doText color="gray">
	<a class="navigation__link" routerLink="/admin/dashboard">Администрирование</a>
	<span doText color="gray">
		<mat-icon>chevron_right</mat-icon>
	</span>
	<a class="navigation__link" routerLink="/departments">Список департаментов</a>
	<span doText color="gray">
		<mat-icon>chevron_right</mat-icon>
	</span>
	<a class="navigation__link">{{ departmentInfo?.name }}</a>
</div>
<h1 doText class="title">{{ departmentInfo?.name }}</h1>
<mat-card class="card card_standard department">
	<div class="department__info">
		<h3 doText underlined underlinedSize="sm">Общая информация</h3>
		<div class="department__label">
			<p doText regularTextSize="small" color="gray1">Директор</p>
			<ng-container *ngIf="departmentInfo?.director; else empty">
				<p doText>{{ departmentInfo?.director?.firstName }} {{ departmentInfo?.director?.lastName }}</p>
			</ng-container>
		</div>
		<div class="department__label">
			<p doText regularTextSize="small" color="gray1">Описание</p>
			<ng-container *ngIf="departmentInfo?.description; else empty">
				<p doText>{{ departmentInfo?.description }}</p>
			</ng-container>
		</div>
	</div>
	<div class="department__table table">
		<div class="table__header">
			<h3 doText underlined underlinedSize="sm">
				Сотрудники <span class="text-accent_color_bright">{{ totalCount | i18nPlural: peopleCountMap }}</span>
			</h3>
			<button mat-flat-button color="orange" (click)="onAddEmployeeClick()">+ Добавить сотрудника</button>
		</div>
		<table doText class="table__content" matSort (matSortChange)="sortData($event)">
			<colgroup>
				<col class='table__column table__column_width_little'>
			</colgroup>
			<tr>
				<th></th>
				<th mat-sort-header="name">Имя</th>
				<th mat-sort-header="role">Роль</th>
				<th mat-sort-header="rate">Ставка</th>
				<th mat-sort-header="status">Статус</th>
			</tr>
			<ng-container *ngFor="let userInfo of sortedUsersInfo">
				<tr class="table__row" (click)="onUserClick(userInfo.id)">
					<td>
						<do-profile-image [image]="userInfo?.avatar"></do-profile-image>
					</td>
					<td>
						<p>{{ userInfo.firstName }} {{ userInfo.lastName }}</p>
						<p>{{ userInfo?.position?.name }}</p>
					</td>
					<td>
						<ng-container *ngIf="userInfo?.role?.name; else empty">
							{{ userInfo?.role?.name }}
						</ng-container>
					</td>
					<td>
						<ng-container *ngIf="userInfo?.rate; else empty">
							{{ userInfo.rate }}
						</ng-container>
					</td>
					<td>
						<ng-container *ngIf="userInfo?.isActive; else archived">
							<p class="table__status text_color_white small_text">Активен</p>
						</ng-container>
						<ng-template #archived>
							<p class="table__status table__status_archived text_color_gray1 small_text">В архиве</p>
						</ng-template>
					</td>
				</tr>
			</ng-container>
		</table>
		<mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50]"
			(page)="onPageChange($event)"></mat-paginator>
	</div>
</mat-card>

<ng-template #empty>
	<p>—</p>
</ng-template>
