.title {
	margin-bottom: 40px;
}

.department {
	&__info {
		margin-bottom: 40px;
		padding-bottom: 40px;

		border-bottom: 1px solid #fafafa;
	}

	&__label {
		margin-top: 16px;

		width: 50%;
	}
}

.table {
	&__header {
		margin-bottom: 20px;

		display: flex;
		justify-content: space-between;
	}

	&__content {
		width: 100%;

		border-collapse: collapse;
	}

	&__row {
		height: 48px;

		border-bottom: 1px solid #f1f1ef;

		&:hover {
			cursor: pointer;

			background-color: #f1f1ef;
		}
	}
}
