<div class='wrapper'>
    <h3 doText class='wrapper__title'>Удаление записи</h3>
    <div doText class='wrapper__message'>
        <p doText>Вы действительно хотите удалить запись от <span color='gray1'>такой-то
                даты</span>?
        </p>
        <p>
            Отменить это действие будет невозможно.
        </p>
    </div>
    <div class='wrapper__controls'>
        <button mat-flat-button (click)="onCancel()">Отменить</button>
        <button mat-flat-button class='wrapper__confirm-button' (click)="onSubmit()">Да, удалить</button>
    </div>
</div>