<ng-container *ngIf="isEdit; else textBlock">
  <mat-form-field
    class="select__form-field mat-form-field_default-select"
    appearance="fill"
  >
    <mat-label doText color='gray' [regularTextSize]='textSize' *ngIf='label'>{{ label }}</mat-label>
    <mat-select
      class="select__input"
      [formControl]="control"
      [id]="controlName"
      [attr.name]="controlName"
      [required]='required'
      [placeholder]="placeholder"
    >
      <mat-option
        class="select__input"
        *ngFor="let option of options"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>

<ng-template #textBlock>
  <p class="small_text text-gray">{{ label }}</p>
  <p doText>{{ control.value }}</p>
</ng-template>
