<div class="new-office">
	<h1 doText color="dark_2">Новый офис</h1>
	<div class="form__container">
		<form autocomplete="off" class="data-form" [formGroup]="officeForm" (ngSubmit)="createOffice()">
			<div class="new-office__input-container">
				<mat-form-field appearance="fill">
					<mat-label>Город</mat-label>
					<input matInput type="text" id="city" formControlName="city" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Адрес</mat-label>
					<input matInput type="text" id="address" formControlName="address" required />
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Название офиса</mat-label>
					<input matInput type="text" id="name" formControlName="name" />
				</mat-form-field>
			</div>
			<button mat-flat-button color="primary" class="btn-create-department" type="submit" [disabled]="officeForm.invalid">
				<span class="regular_text regular_text_light_1">Добавить офис</span>
			</button>
		</form>
	</div>
</div>
