<form [formGroup]="addHoursForm" (ngSubmit)="onSubmit()" autocomplete="off" class="add-hours__form">
	<div>
		<mat-form-field class="add-hours__time" appearance="fill">
			<input
				matInput
				formControlName="time"
				(keypress)="numberOnly($event)"
				type="text"
				maxlength="3"
				placeholder="0"
			/>
			<mat-error *ngIf="addHoursForm.controls['time'].errors?.required">Поле обязательно</mat-error>
			<mat-error *ngIf="addHoursForm.controls['time'].errors?.min"
				>Минимальное значение должно быть больше 0
			</mat-error>
			<mat-error *ngIf="addHoursForm.controls['time'].errors?.periodExceedsMaxValue"
				>Превышено максимальное значение
			</mat-error>
		</mat-form-field>
		<span class="mat-h3" *ngIf="selectedDate$ | async as selectedDate"
			>ч за
			<a class="mat-h3" *ngIf="monthOptions.length === 0; else selectMonth">
				{{ selectedDate | dateTime: 'LLLL y' }}
			</a>
			<ng-template #selectMonth>
				<a class="mat-h3 add-hours__menu" [matMenuTriggerFor]="monthMenu"
					>{{ selectedDate | dateTime: 'LLLL y' }}
					<mat-icon>expand_more</mat-icon>
				</a>
			</ng-template>
		</span>
		<mat-menu #monthMenu="matMenu">
			<button mat-menu-item *ngFor="let month of monthOptions" (click)="changeDate(month)">
				{{ month | dateTime: 'LLLL y' | titlecase }}
			</button>
		</mat-menu>
	</div>
	<mat-form-field appearance="fill">
		<mat-label>Выберите проект</mat-label>
		<mat-select formControlName="activity" required>
			<mat-option
				*ngFor="let workTime of workTimes$ | async"
				[value]="workTime?.id"
				(onSelectionChange)="patchWorkTimeInfoIntoForm(workTime, $event)"
			>
				{{ workTime?.project?.name }}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field appearance="fill">
		<mat-label>Комментарий</mat-label>
		<textarea matInput formControlName="comment" placeholder="Оставьте комментарий для менеджера"></textarea>
	</mat-form-field>
	<button
		mat-flat-button
		color="primary"
		[loading]="(loading$$ | async) ?? false"
		[disabled]="addHoursForm.invalid || addHoursForm.disabled"
	>
		Сохранить часы
	</button>
</form>
