<form [formGroup]="addHoursForm" (ngSubmit)="onSubmit()" autocomplete="off" class="add-hours__form">
	<div class="add-hours__container">
		<mat-form-field class="add-hours__time">
			<mat-label>Колличество часов</mat-label>
			<input
				matInput
				matTooltip="{{ tooltip.message }}"
				[matTooltipDisabled]="tooltip.disabled"
				formControlName="time"
				type="text"
				placeholder="0"
			/>
		</mat-form-field>

		<mat-form-field class="add-hours__month">
			<mat-label>Месяц</mat-label>
			<mat-select>
				<mat-option>
					{{ selectedDate | dateTime: 'LLLL y' }}
				</mat-option>

				<ng-template #mothOpyions>
					<mat-option>опция</mat-option>
				</ng-template>
			</mat-select>
		</mat-form-field>
	</div>

	<mat-form-field class="add-hours__project">
		<mat-label>Выберите проект</mat-label>
		<mat-select formControlName="activity">
			<mat-option
				*ngFor="let workTime of workTimes$ | async"
				[value]="workTime?.id"
				(onSelectionChange)="patchWorkTimeInfoIntoForm(workTime, $event)"
			>
				{{ workTime?.project?.name ?? 'Другое' }}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-form-field class="add-hours__comments">
		<mat-label>Комментарий</mat-label>
		<textarea
			class="add-hours__comment-textarea"
			#textarea
			minlength="0"
			maxlength="500"
			matInput
			formControlName="comment"
			placeholder="Оставьте комментарий для менеджера"
		>
		</textarea>
		<mat-hint class="add-hours__hint">{{ textarea.value?.length || 0 }}/500</mat-hint>
	</mat-form-field>

	<button
		mat-flat-button
		color="primary"
		[loading]="(loading$$ | async) ?? false"
		[disabled]="addHoursForm.invalid || addHoursForm.disabled"
	>
		Сохранить часы
	</button>
</form>
