$textColor: #434348;
$backgroundColor: #FFFFFF;

.select__specialization {
  position: relative ;
  overflow: hidden;
  width: 300px;
  height: 100px;
  background-color: white;

  &:after {
    background: url("../dark.svg") no-repeat;
    content: "";
    height: 38px;
    pointer-events: none;
    position: absolute;
    right: 24px;
    top: 17px;
    width: 28px;
    display: block;
  }

  select {
    border: 2px solid #F1F1EF;
    width: 271px;
    height: 36px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: $backgroundColor;
    padding-left: 10px;
    color: $textColor;
    font-family: "Gill Sans";
    font-size: 13px;
    border-radius: 5px;
    outline: none;
  }
}
