@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import '../../../../stylesheets/base/variables';
@import '../../../../stylesheets/base/fonts';

.header {
	padding-right: 45px;
	padding-left: 36px;

	display: flex;
	justify-content: space-between;

	height: 56px;

	background-color: $light_1;

	&__search {
		display: flex;
		align-items: center;

		width: 53%;
		height: 100%;

		background-color: $light_1;
		border-radius: 5px;

		.mat-form-field_default-select {
			width: 130px;
		}

		do-search {
			width: 100%;
		}

		.select {
			margin: 0;

			width: 130px;
			height: 32px;

			background-color: $accent_color;

			::ng-deep .mat-select-placeholder {
				@extend .small_text;
			}

			::ng-deep .mat-select-arrow {
				margin-right: 6px;
			}

			::ng-deep .mat-select-value {
				padding: 0 0 0 8px;

				line-height: 30px;
			}
		}
	}

	&__privacy {
		display: flex;
		align-items: center;

		* {
			margin-right: 5px;

			&:last-child {
				margin-right: 0;
			}
		}

		&__greeting {
			display: flex;
			align-items: center;

			img {
				width: 36px;
				height: 36px;

				border-radius: 50%;
			}

			p {
				padding: 0 15px 0 19px;
			}
		}

		&__notification {
			margin-top: 5px;

			cursor: pointer;

			&__bell {
				width: 18px;
				height: 23px;
			}

			&__light {
				width: 8px;
				height: 8px;
			}
		}
	}
}

.theme-switch {
	&__checkbox {
		position: absolute;
		z-index: 2;

		width: 52px;
		height: 23px;

		opacity: 0;
	}

	&__checkbox:hover ~ &__container,
	&__checkbox:checked:hover ~ &__container {
		background-color: $accent_positive;
		border-color: $light_3;
	}

	&__checkbox:checked ~ &__container {
		background-color: $accent_positive_dark;
		border-color: $light_3;

		img {
			margin-left: 28px;

			transform: rotate(0.45turn);
		}
	}

	&__container {
		width: 52px;
		height: 23px;

		border: 1px solid $accent_positive;
		border-radius: 22px;

		transition: 250ms;

		img {
			z-index: 1;

			display: block;

			height: 100%;

			transition: all 250ms ease-in;
		}
	}
}

.header-navigation {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;

	&__logo {
		margin-right: 40px;

		cursor: pointer;
	}

	&__links {
		line-height: 25px;

		a {
			margin-right: 45px;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}
