<div class="header">
  <div class="header__search">
    <mat-form-field class="mat-form-field_default-select" appearance="none">
      <mat-select class="select" placeholder="Выбрать раздел">
        <mat-option></mat-option>
      </mat-select>
    </mat-form-field>
    <do-search
      magnifierLocation="right"
      placeholder="глобальный поиск по сайту"
    ></do-search>
  </div>
  <div class="header__privacy">
    <a class="header__privacy__greeting" routerLink="/user/attendance">
      <img src="../../../../assets/svg/greeting-photo.svg" alt="" />
      <p class="regular_text">
        Привет, <span class="h4">{{ userName }}</span>
      </p>
    </a>
    <div
      class="header__privacy__notification"
      (click)="this.hasNotification = !this.hasNotification"
    >
      <img
        src="../../../../assets/svg/notification.svg"
        alt="notification"
        class="toolbar__notification__bell"
      />
      <img
        src="../../../../assets/svg/notification-light.svg"
        alt="notification"
        class="header__notification__light"
        *ngIf="hasNotification"
      />
    </div>
  </div>
</div>
