<nav class="header">
	<ng-container *ngIf="currentUser$ | async as currentUser">
		<div class="avatar" [matMenuTriggerFor]="menu">
			<do-profile-image [image]="currentUser?.avatar" size="s"></do-profile-image>
			<span class="avatar__greeting">
				Привет, <strong>{{ currentUser?.firstName }}</strong>
			</span>
		</div>

		<mat-menu #menu="matMenu" xPosition="before">
			<button mat-menu-item [routerLink]="[AppRoutes.Users, currentUser?.id]">Карточка сотрудника</button>
			<button mat-menu-item (click)="onChangePasswordClick()">Сменить пароль</button>
			<button mat-menu-item (click)="onLogoutClick()">Выход</button>
		</mat-menu>
	</ng-container>
</nav>
<ngx-loading-bar [includeSpinner]="false" [fixed]="false" color="#FF8F65"></ngx-loading-bar>
