@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import '../../../../stylesheets/base/variables';
@import '../../../../stylesheets/base/fonts';

.header {
	padding: 0 16px;

	background-color: $light_1;

	&__burger {
		position: relative;

		padding: 0 24px;

		display: inline-flex;
		overflow: hidden;
		justify-content: center;
		align-items: center;

		box-sizing: border-box;
		height: 48px;

		text-align: center;
		vertical-align: top;
		white-space: nowrap;
		text-decoration: none;

		cursor: pointer;

		opacity: 0.6;
	}
}

.theme-switch {
	&__checkbox {
		position: absolute;
		z-index: 2;

		width: 52px;
		height: 23px;

		opacity: 0;
	}

	&__checkbox:hover ~ &__container,
	&__checkbox:checked:hover ~ &__container {
		background-color: $accent_positive;
		border-color: $light_3;
	}

	&__checkbox:checked ~ &__container {
		background-color: $accent_positive_dark;
		border-color: $light_3;

		img {
			margin-left: 28px;

			transform: rotate(0.45turn);
		}
	}

	&__container {
		width: 52px;
		height: 23px;

		border: 1px solid $accent_positive;
		border-radius: 22px;

		transition: 250ms;

		img {
			z-index: 1;

			display: block;

			height: 100%;

			transition: all 250ms ease-in;
		}
	}
}

.spacer {
	flex: 1 1 auto;
}

.avatar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 150px;
}

.logo {
	font-size: 1rem;
	font-weight: bold;
}
