@use 'base/variables';

.header {
	padding: 0 16px;

	background-color: variables.$light_1;

	&__menu-button {
		display: flex;
		align-items: center;
	}
}

.theme-switch {
	&__checkbox {
		position: absolute;
		z-index: 2;

		width: 52px;
		height: 23px;

		opacity: 0;
	}

	&__checkbox:hover ~ &__container,
	&__checkbox:checked:hover ~ &__container {
		background-color: variables.$accent_positive;
		border-color: variables.$light_3;
	}

	&__checkbox:checked ~ &__container {
		background-color: variables.$accent_positive_dark;
		border-color: variables.$light_3;

		img {
			margin-left: 28px;

			transform: rotate(0.45turn);
		}
	}

	&__container {
		width: 52px;
		height: 23px;

		border: 1px solid variables.$accent_positive;
		border-radius: 22px;

		transition: 250ms;

		img {
			z-index: 1;

			display: block;

			height: 100%;

			transition: all 250ms ease-in;
		}
	}
}

.spacer {
	flex: 1 1 auto;
}

.avatar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 150px;

	cursor: pointer;
}

.logo {
	font-size: 1rem;
	font-weight: bold;
}
