<nav class="header" mat-tab-nav-bar>
	<ng-container *ngIf="currentUser$ | async as currentUser">
		<div class="header__menu-button">
			<button mat-icon-button (click)="onMenuClick($event)">
				<mat-icon>menu</mat-icon>
			</button>
		</div>

		<h4 mat-tab-link class="logo" [routerLink]="['user', currentUser?.id]" routerLinkActive="active">
			{{ portalName | async }}
		</h4>
		<a mat-tab-link routerLink="/time" routerLinkActive="active">Учет времени</a>
		<a mat-tab-link routerLink="/projects" routerLinkActive="active">Доска проектов</a>
		<a mat-tab-link routerLink="/news" routerLinkActive="active">Новости</a>
		<a *ngIf="currentUser?.isAdmin" mat-tab-link routerLink="/admin/dashboard" routerLinkActive="active"
			>Администрирование</a
		>
		<span class="spacer"></span>

		<div class="avatar" [matMenuTriggerFor]="menu">
			<do-profile-image [image]="currentUser?.avatar" size="s"></do-profile-image>
			<p class="avatar__greeting">
				Привет, <strong>{{ currentUser?.firstName }}</strong>
			</p>
		</div>

		<mat-menu #menu="matMenu" xPosition="before">
			<button mat-menu-item [routerLink]="['user', currentUser?.id]">Карточка сотрудника</button>
			<button mat-menu-item (click)="onChangePasswordClick()">Сменить пароль</button>
			<button mat-menu-item (click)="onLogoutClick()">Выход</button>
		</mat-menu>
	</ng-container>
</nav>
<ngx-loading-bar [includeSpinner]="false" [fixed]="false" color="#FF8F65"></ngx-loading-bar>
