<div class="header">
	<h1>Доска проектов</h1>
	<button
		*hasPermission="UserRights.AddEditRemoveProjects"
		mat-flat-button
		color="primary"
		[routerLink]="[ProjectsRoutes.CreateProject]"
		data-test="create-project"
	>
		Добавить проект
	</button>
</div>
<do-dynamic-filter class="filter" [filters]="filters" (filterChange)="handleFilter($event)"></do-dynamic-filter>
<div
	infiniteScroll
	[fromRoot]="true"
	[infiniteScrollContainer]="'.content-container'"
	[infiniteScrollThrottle]="0"
	[alwaysCallback]="true"
	(scrolled)="handleScroll()"
>
	<do-table
		[dataSource]="tableData"
		[columns]="columns"
		rowHeight="96"
		(rowClick)="handleRowClick($event)"
	></do-table>
</div>
