.header {
	margin-bottom: 24px;

	display: flex;
	align-items: baseline;

	.total-count {
		margin-left: 24px;
	}

	.add-project-button {
		margin-left: auto;
	}

	h1 {
		margin: 0;
	}
}

.filter {
	margin-bottom: 24px;
}

do-paginator {
	margin-top: 24px;
}
