<ng-container *ngIf="isEdit; else textBlock">
  <mat-form-field class="input__form-field mat-form-field__form-control" appearance="fill" floatLabel='always'>
    <mat-label doText color='gray' [regularTextSize]='textSize' *ngIf='label'>{{ label }}</mat-label>
    <input
      matInput
      class="bg-light_2"
      [formControl]="control"
      [required]='required'
      [id]="controlName"
      [name]="controlName"
      [type]="type"
      [placeholder]="placeholder"
  /></mat-form-field>
</ng-container>

<ng-template #textBlock>
  <p doText regularTextSize='small' color='gray'>{{ label }}</p>
  <div doText>{{ control.value }}</div>
</ng-template>
