<ng-container *ngIf="isEdit; else textBlock">
  <label class="small_text text-gray input__label" [for]="controlName"
    >{{ label
    }}<sup *ngIf="required" class="input__required">*</sup></label
  >
  <mat-form-field class="input__form-field" appearance="fill">
    <input
      matInput
      class="bg-light_2 input__input"
      [formControl]="control"
      [id]="controlName"
      [name]="controlName"
      [type]="type"
      [placeholder]="placeholder"
  /></mat-form-field>
</ng-container>

<ng-template #textBlock>
  <h3 class="small_text text-gray">{{ label }}</h3>
  <div>{{ value }}</div>
</ng-template>
