@use 'base/variables';

.input {
	&__label {
		display: block;

		text-align: start;
	}

	&__required {
		margin-left: 1px;

		vertical-align: top;

		color: variables.$negative_accent;
	}

	&__form-field {
		display: block;
	}

	&__input {
		font-family: variables.$regular_font !important;
	}
}
